<!-- Welcome Modal -->
<!-- <div class="overlay-wrapper" *ngIf="!showWelcomePopUp && productAccessModel.powerGaugeAnalytics && !isMobile "> -->
<div class="overlay-wrapper" *ngIf="!showWelcomePopUp && userAccess.userPermission.welcomePopup">
    <div class="modal-container modal-container--onboard">
        <div class="modal-close-button" (click)="hideWelcomePopUp()">
            <i class="bi bi-x-circle"></i>
        </div>
        <div class="modal-content">
            <div class="modal-header" >
                <div class="logo-container px-2">
                    <img src="assets/PGA__logo--fullColor.svg" id="logo-pga">
                </div>
            </div>

            <div class="modal-body px-0 p-md-4">
                <div class="d-flex flex-column w-100">
                    <h1>Welcome to Power Gauge Analytics!</h1>
                    <ol>
                        <li><b>Home</b>:  access your Chaikin or personal lists, on-screen alerts with option to turn on email alerts, earnings info for any stock in your list, and industry exposure of the selected list.</li>
                        <li><b>Stock/ETF detail</b>: Click on any ticker or search a symbol/company name to see charts, stats and additional Power Gauge details</li>
                        <li><b>Advanced Search</b>: Use the Chaikin Advanced Search to get additional investment ideas </li>
                    </ol>
                    <p class="mb-0">You can come back to this menu at any time by clicking <em>“Getting Started”</em> in your My Account menu, or access additional resources and FAQs <a target="_blank" href="https://www.chaikinanalytics.com/CPGR-resources/">here</a>.</p>
                </div>
            </div>
                
            <div class="modal-actions pb-3" (click)="hideWelcomePopUp()">
                <button type="button" class="btn btn-primary">Continue to Home <i class="bi bi-arrow-right-square ms-3"></i></button>
            </div>
                
            <div class="modal-footer">
                <div class="d-flex flex-column flex-sm-row flex-grow-1 align-items-center">
                    <form action="" class="d-flex flex-row align-items-center">
                        <input class="checkbox" type="checkbox" id="onboard-show-again" name="onboard-show-again" [value]=""  [(ngModel)]="welcomePopUpCheckBoxValue" (change)="setWelcomePopUpChecboxValue(welcomePopUpCheckBoxValue)">
                        <label class="mb-0 ms-2" for="onboard-show-again"> Don’t show this message again</label>
                    </form>
                    <span class="flex-spacer"></span>
                    <button class="btn border-0 " type="button" (click)="hideWelcomePopUp()">
                        <i class="bi bi-x-circle me-1"></i>Close this window
                    </button>
                </div>
            </div>                    
        </div>
    </div>    
</div>

<!-- Page Header -->
<div class="sticky-header sticky-top">
    <!-- HEADER TOP -->
   <app-top-header  (openSubscriptionPopup)="openLogoutPopup($event)" (selectedSymbolFromLookUp) = "onSymbolSelect($event)"  (selectedListId) = getWatchListUpdate($event)  (showWelcomePopUp)="showWelcomePopUpForPGA($event)"></app-top-header>

    <!-- HEADER CRAWL -->
    <app-crawl-header ></app-crawl-header>  

    <!-- PRODUCT MENU -->
    <app-products  [productPopUpShow]="productPopUpShow"></app-products> 

    <!-- HEADER BOTTOM -->
    <app-bottom-header [headerDataModel]="headerDataModel"   [selectedListId]="selectedListId" (selectedWatchListId)="getSelectedList($event)" [projectAccessDashboard]='true'  [emailAlertModeValue]="emailAlertModeValue" (setEmailAlertModeValue)="getEmailAlertModeValueFromHeader($event)" class="sticky-header-shadow"></app-bottom-header>

    <!-- HEADER SUBNAV -->
    <app-subnav-header  [alertComponentData]="alertComponentData"  [earningCalenderDataLength1]="earningCalenderDataCount"></app-subnav-header>
</div>

<!-- Page Body -->
<section id="dash-body" class="container-fluid app-body-wrapper">
    <div class="container app-body-container">
        <div class="row">

            <!-- COLUMN LEFT -->
            <div class="col-12 col-lg-8 pt-0 pt-md-3">
                <div class="tab-content" id="nav-tabContent">

                    <!-- Price Movement Chart -->
                    <div class="tab-pane show active" id="nav-performance" role="tabpanel" aria-labelledby="nav-performance-tab">
                        <app-price-movement  [updateSentToPriceMovement]="updateSentToPriceMovement"  [selectedListId] = 'selectedListId' (dashBoardDataUpdate) = "updateSendToDashboard1($event)" [sendSelectedListData]="sendSelectedListData" ></app-price-movement>
                    </div>

                    <!-- Alerts Table -->
                    <div class="tab-pane" id="nav-alerts" role="tabpanel" aria-labelledby="nav-alerts-tab">

                        <!-- Mobile Alerts Panel -->
                        <div class="mt-3" *ngIf="userAccess.userPermission.alertpanel">
                            <app-alerts-panel   [selectedListId] = 'selectedListId'  [updateSentToAlerts]="updateSentToAlerts"  (dashBoardDataUpdate)="getAlertData($event)" (emailAlertModeValue) ="getEmailAlertModeValue($event)"  [emailAlertModeValueFromHeader]="emailAlertModeValueFromHeader" ></app-alerts-panel>
                        </div>
                        <!-- Desktop Alerts Table -->
                        <app-alerts-table  *ngIf="userAccess.userPermission.alertTable" [selectedListId] = 'selectedListId'  [updateSentToAlerts]="updateSentToAlerts"  (dashBoardDataUpdate)="getAlertData($event)"  (emailAlertModeValue) ="getEmailAlertModeValue($event)"  [emailAlertModeValueFromHeader]="emailAlertModeValueFromHeader" ></app-alerts-table>
                    </div>

                    <!-- Earnings Calendar -->
                    <div class="tab-pane" id="nav-earnings" role="tabpanel" aria-labelledby="nav-earnings-tab" *ngIf="userAccess.userPermission.earning">
                        <app-earnings-calendar [updateSentToEarnings]="updateSentToEarnings" [sentToEarningCalendar]="sentToEarningCalendar" [selectedListId]='selectedListId'  (earningCalenderDataLength)="getEarningCalenderDataLength($event)"></app-earnings-calendar>
                    </div>

                    <!-- Industry Exposure -->
                    <div class="tab-pane" id="nav-exposure" role="tabpanel" aria-labelledby="nav-exposure-tab">
                        <app-industry-exposure [selectedListId] = 'selectedListId' [sentUpdateToIndustryExposure] ="sentUpdateToIndustryExposure" (strengthCountObject)="getStrengthCountIndustryExposure($event)"></app-industry-exposure>
                    </div>
                </div>
                <!-- Section Separator -->
                <div class="d-flex w-100 d-lg-none section-separator"></div>
            </div>

            <!-- COLUMN RIGHT -->
            <div class="col-12 col-lg-4 pt-4 ps-lg-4">

                <!---- Powerfeed Article Panel ---->
                <app-pub-panel  *ngIf="userAccess.userPermission.powerFeed"></app-pub-panel>

                <!---- Powerfeed Markets Panel ---->
                <app-markets-panel *ngIf="userAccess.userPermission.majorIndex"></app-markets-panel>

                <!-- ****** POWERPULSE ONLY ****** -->
                <!-- Alerts Panel -->
                <app-alerts-panel  *ngIf="userAccess.userPermission.alertpanel" [selectedListId] = 'selectedListId'  [updateSentToAlerts]="updateSentToAlerts"  (dashBoardDataUpdate)="getAlertData($event)" (emailAlertModeValue) ="getEmailAlertModeValue($event)"  [emailAlertModeValueFromHeader]="emailAlertModeValueFromHeader" ></app-alerts-panel>
            </div>
        </div>

        <!-- DISCLAIMER -->
        <div class="row mt-4">
            <div class="col-12">
                <app-disclaimer></app-disclaimer>
            </div>
        </div>
    </div>
</section>