<!-- SECTION: Price Movement Chart -->
<section id="component-price-movement" class="component-price-movement">
  <!-- Panel: B -->
  <div class="panel b-panel">
    <!-- ROW: Panel Header -->
    <div class="panel-header pb-2">
      <h1>Price movement (%) over the last:</h1>

      <!-- Toggle Toolbar: Timespan -->
      <div class="toggle-toolbar pt-3 pb-1">
        <nav class="nav nav-pills" id="pills-tab" role="tablist">
          <a
            class="nav-link active"
            id="pills-1d-tab"
            data-bs-toggle="pill"
            href="#pills-home"
            role="tab"
            aria-controls="pills-1d"
            aria-selected="true"
            (click)="selectTimeFrame('1day')"
          >
            <span class="show">1D</span>
            <span class="hide">1 day</span>
          </a>
          <a
            class="nav-link"
            id="pills-1m-tab"
            data-bs-toggle="pill"
            href="#pills-home"
            role="tab"
            aria-controls="pills-1m"
            aria-selected="true"
            (click)="selectTimeFrame('1month')"
          >
            <span class="show">1M</span>
            <span class="hide">1 month</span>
          </a>
          <a
            class="nav-link"
            id="pills-3m-tab"
            data-bs-toggle="pill"
            href="#pills-home"
            role="tab"
            aria-controls="pills-m3"
            aria-selected="true"
            (click)="selectTimeFrame('3month')"
          >
            <span class="show">3M</span>
            <span class="hide">3 months</span>
          </a>
          <a
            class="nav-link"
            id="pills-1y-tab"
            data-bs-toggle="pill"
            href="#pills-home"
            role="tab"
            aria-controls="pills-1y"
            aria-selected="true"
            (click)="selectTimeFrame('1year')"
          >
            <span class="show">1Y</span>
            <span class="hide">1 year</span>
          </a>
          <a
            class="nav-link"
            id="pills-5y-tab"
            data-bs-toggle="pill"
            href="#pills-home"
            role="tab"
            aria-controls="pills-5y"
            aria-selected="true"
            (click)="selectTimeFrame('5year')"
          >
            <span class="show">5Y</span>
            <span class="hide">5 years</span>
          </a>
        </nav>
      </div>
    </div>

    <!-- ROW: Stock List -->
    <div class="d-flex flex-column position-relative w-100">
      <div class="vertical-list-wrapper">
        <div class="list-group">
          <!-- List Sort Header -->
          <div class="list-group-item list-sort-header">
            <div class="d-flex flex-row list-item-row">
              <span
                class="cell cell-rating"
                (click)="priceMovementSorting('finalRating', 'symbol')"
                >Rating
                <i
                  *ngIf="
                    appDataService.priceMovementSortingModel.sortingOrderPgr ===
                    'asc'
                  "
                  class="bi bi-caret-down-fill ms-1"
                ></i>
                <i
                  *ngIf="
                    appDataService.priceMovementSortingModel.sortingOrderPgr ===
                    'desc'
                  "
                  class="bi bi-caret-up-fill ms-1"
                ></i>
              </span>
              <span
                class="cell cell-symbol flex-row"
                (click)="priceMovementSorting('symbol', '')"
                >Symbol
                <i
                  *ngIf="
                    appDataService.priceMovementSortingModel
                      .sortingOrderSymbols === 'asc'
                  "
                  class="bi bi-caret-down-fill ms-1"
                ></i>
                <i
                  *ngIf="
                    appDataService.priceMovementSortingModel
                      .sortingOrderSymbols === 'desc'
                  "
                  class="bi bi-caret-up-fill ms-1"
                ></i>
              </span>
              <span
                class="cell cell-price"
                (click)="priceMovementSorting('last', '')"
                >Price
                <i
                  *ngIf="
                    appDataService.priceMovementSortingModel
                      .sortingOrderPrice === 'asc'
                  "
                  class="bi bi-caret-down-fill ms-1"
                ></i>
                <i
                  *ngIf="
                    appDataService.priceMovementSortingModel
                      .sortingOrderPrice === 'desc'
                  "
                  class="bi bi-caret-up-fill ms-1"
                ></i>
              </span>
              <span
                class="cell cell-change flex-grow-1"
                (click)="priceMovementSorting('percent_change', 'symbol')"
                >% Change
                <i
                  *ngIf="
                    appDataService.priceMovementSortingModel.sortingOrder ===
                    'asc'
                  "
                  class="bi bi-caret-down-fill ms-1"
                ></i>
                <i
                  *ngIf="
                    appDataService.priceMovementSortingModel.sortingOrder ===
                    'desc'
                  "
                  class="bi bi-caret-up-fill ms-1"
                ></i>
              </span>
              <span class="cell cell-alerts">Alerts</span>
              <span class="cell cell-remove">Remove</span>
            </div>
          </div>

          <!-- List of Items -->
          <div
            class="list-group-item"
            *ngFor="
              let data of appDataService.listSymbolsPriceForSelectedTimeFrameArray;
              let i = index
            "
          >
            <div class="d-flex flex-row list-item-row">
              <!-- Rating -->
              <span
                class="cell cell-rating pointer"
                (click)="redirectOnPgr(data.symbol)"
              >
                <img src="{{ data.imgSrc }}" class="rating-icon" />
              </span>
              <!-- Symbol -->
              <span
                class="cell cell-symbol pointer"
                (click)="redirectOnPgr(data.symbol)"
              >
                <span class="symbol pointer">{{ data.symbol }}</span>
                <span class="company-name">{{ data.companyName }}</span>
              </span>
              <!-- Price -->
              <span
                class="cell cell-price pointer"
                (click)="redirectOnPgr(data.symbol)"
              >
                <span class="d-flex price">${{ data.last }}</span>
              </span>
              <!-- % Change -->
              <span
                class="cell cell-change pointer"
                (click)="redirectOnPgr(data.symbol)"
              >
                <span
                  class="d-flex price-change bold"
                  [ngClass]="data.listPriceClass"
                  >{{ data.modifiedChangeValue }}</span
                >
                <!-- <span class="d-flex price-change up bold" *ngIf= "data.sliderValue && data.percent_change !== 0">{{data.modifiedChangeValue}}</span> -->
                <!-- <span class="d-flex price-change grey bold" *ngIf="data.percent_change === 0" >0.00</span>
                                <span class="d-flex price-change down bold" *ngIf= "!data.sliderValue && data.percent_change !== 0">{{data.modifiedChangeValue}}</span> -->
                <span class="spacer" style="width: 15px"></span>
                <span
                  *ngIf="data.sliderValue"
                  class="d-flex change-bar up-bg"
                  [ngStyle]="{ width: data.calculateWidth + '%' }"
                ></span>
                <span
                  *ngIf="!data.sliderValue"
                  class="d-flex change-bar down-bg"
                  [ngStyle]="{ width: data.calculateWidth + '%' }"
                ></span>
              </span>
              <!-- Alerts -->
              <span
                class="cell cell-alerts"
                (click)="addActiveClass()"
                *ngIf="userAccess.userPermission.tabs"
              >
                <a
                  class="nav-link"
                  *ngIf="data.alertTrue === true"
                  data-bs-toggle="tab"
                  href="#nav-alerts"
                  role="tab"
                  aria-controls="nav-alerts"
                  aria-selected="false"
                  matTooltip="{{ data.alertType }}"
                  matTooltipClass="action-tooltip"
                  matTooltipPosition="below"
                >
                  <i class="bi bi-bell-fill"></i>
                </a>
              </span>

              <span
                class="cell cell-alerts"
                *ngIf="!userAccess.userPermission.tabs"
              >
                <a
                  class="nav-link"
                  *ngIf="data.alertTrue === true"
                  aria-selected="false"
                  matTooltip="{{ data.alertType }}"
                  matTooltipClass="action-tooltip"
                  matTooltipPosition="below"
                >
                  <i class="bi bi-bell-fill"></i>
                </a>
              </span>
              <!-- Remove -->
              <span class="cell cell-remove" (click)="removeList(data)">
                <button type="button" class="btn border-0 py-0">
                  <i class="bi bi-x-circle"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Time/Date Stamp -->
      <div
        class="d-flex flex-row pt-3 align-items-center justify-content-center"
      >
        <span class="time-stamp"
          >Price and rating data as of: {{ dateForDashboard }}
        </span>
      </div>
    </div>
  </div>
</section>
