@import 'src/styles/variables';
// SECTION -- Price Change list

// Hard Global Overwrite ID
#component-price-movement {

}
.component-price-movement {
	.vertical-list-wrapper {
		.list-group {
			.list-group-item {
				.list-item-row {
					.cell {
						&.cell-rating {
							width:70px;
							align-items:center;
							justify-content:center;
							.rating-icon {
								width:42px;
							}
							@media (max-width:576px) {
								width:60px;
							}
						}
						&.cell-symbol {
							width:100px;
							flex-direction:column;
							.symbol {
								font-weight:700;
								font-size:20px;
								line-height:1.25;
							}
							.company-name {
								white-space:nowrap;
								font-size:14px;
								font-weight:300;
								line-height:1.25;
							}
							@media (max-width:576px) {
								width:90px;
							}
						}
						&.cell-price {
							width:80px;
							align-self:flex-start;
							.price {
								font-size:.875em;
								font-weight:500;
							}
							@media (max-width:576px) {
								display:none;
							}
						}
						&.cell-change {
							white-space:nowrap;
							align-self:flex-start;
							align-items:center;
							flex-grow:1;

							.change-bar {
								height:12px;
								border-radius:6px;
							}
							.price-change {
								font-size:.875em;
								width:50px;
								justify-content:flex-end;
							}
						}
						&.cell-alerts {
							width:50px;
							align-items:center;
							justify-content:center;
							.bi-bell-fill {
								color:$chart-color-2;
							}
							@media (max-width:576px) {
								display:none;
							}
						}
						&.cell-remove {
							width:50px;
							align-items:center;
							justify-content:center;
							.btn {
								color:$button-color;
							}
						}
					}
				}
				&.list-sort-header {
					.cell {
						&.cell-alerts {
							@media (max-width:576px) {
								display:none;
							}
						}
					}
				}
			}
		}
	}
	.toggle-toolbar {
		@media (max-width:575px) {
			.nav {
				max-width:100%;
			}
		}
		@media (min-width:1200px) {
			.nav {
				max-width:80%;
			}
		}
	}
}