<section class="container-fluid" id="app-header-subnav" *ngIf="setAccessValue.internalTabOnDashboard">
   <div class="container">
      <!-- *IF -- Dashboard  -->
      <div class="row g-0">
         <div class="col">
            <div class="d-flex subnav-tabs-wrapper">
               <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-link active" id="nav-performance-tab" data-bs-toggle="tab" href="#nav-performance" role="tab" aria-controls="nav-performance" aria-selected="true">Performance</a>
                  <a class="nav-link" id="nav-alerts-tab" data-bs-toggle="tab" href="#nav-alerts" role="tab" aria-controls="nav-alerts" aria-selected="false">Alerts 
                     <!-- Alerts Badge -->
                     <span class="ms-1 alerts-badge" [ngClass]="alertComponentData1?.totalAlertCount < 1 ? 'no-alerts' : ''">{{alertComponentData1?.totalAlertCount}}</span>
                  </a>
                  <a *ngIf="setAccessValue.earning" class="nav-link" id="nav-earnings-tab" data-bs-toggle="tab" href="#nav-earnings" role="tab" aria-controls="nav-earnings" aria-selected="false">Earnings
                     <!-- Earnings Badge -->
                     <span class="ms-1 alerts-badge" [ngClass]="earningCalenderTotalDatalength < 1 ? 'no-alerts' : ''">{{earningCalenderTotalDatalength}}</span>
                  </a>
                  <!-- <a *ngIf="setAccessValue.industryExposure" class="nav-link" id="nav-exposure-tab" data-bs-toggle="tab" href="#nav-exposure" role="tab" aria-controls="nav-exposure" aria-selected="false"> -->
                  <a class="nav-link" id="nav-exposure-tab" data-bs-toggle="tab" href="#nav-exposure" role="tab" aria-controls="nav-exposure" aria-selected="false">Exposure</a>
               </nav>
            </div>
         </div>
      </div>
   </div>
</section>