@import 'src/styles/variables';

#app-header-subnav {
	background-color: $bg-dark;
	padding:0;
	// border-bottom:1px solid $border-color;
	
	.subnav-tabs-wrapper {
		overflow:hidden;
		overflow-x:scroll;
		height: 40px;
		
		.nav-tabs {
			flex-wrap:nowrap;
			border:0;
			.nav-link {
				min-height: 40px;
				padding:0.5em 1.5em;
				color: $white;
				font-weight: 300;
				border-radius: 0;
    			border-top: 0px;
    			white-space: nowrap;

    			&:hover {
    				border-color: transparent;
    				background: rgba(0,0,0,0.3);
    			}

				&.active {
					color: $text-color;
					background-color: $white;
					font-weight:400;

					.alerts-badge {
						background-color: $chart-color-2;
						color:$white;

						&.no-alerts {
							background-color:$bg-dark;
							color:$white;
							font-weight: 500;
						}
					}
				}
				.alerts-badge {
					display: inline-flex;
					margin-right:-6px;
					background-color: $white;
					color:$chart-color-2;
					height:24px;
					min-width:25px;
					padding: 0 2px;
					border-radius:13px;
					justify-content:center;
					font-weight: 700;

					&.no-alerts {
						color:$bg-dark;
						font-weight: 500;
					}
				}
			}
		}
	}
}
.nav-link {
	min-height: 40px;
	padding:0.5em 1.5em;
	color: $white;
	font-weight: 300;
	border-radius: 0;
	border-top: 0px;
	white-space: nowrap;
}
.active {
	color: $text-color;
	background-color: $white;
	font-weight:400;
}