<div class="container-fluid login-portal position-fixed"  *ngIf="hideProductDiv" (click)="hideProductPopUp()">

	<div class="d-flex justify-content-md-center align-items-center w-100 h-100 login-wrapper">

		<div class="d-block login-container">
			<div class="row header-row align-item-center">
				<div class="col-6 d-flex align-items-center logo-container">
					<img class="logo" src="./assets/logo__chaikin.svg" alt="Chaikin">
				</div>
				<div class="col-6 d-flex justify-content-end">
					<button type="button" class="btn border-0 py-0" aria-label="Close" (click)="hideProductPopUp()">
                		<i class="bi bi-x-lg"></i>
              		</button>
				</div>
			</div>
			<div class="row body-row">
               
				<div class="col-12">
					<div class="d-block">
						<h2>Select a subscription:</h2>
						<span class="divider"></span>
					</div>
				</div>
				<div class="col-12 product-array-wrapper">
					<div class="d-flex product-array-container justify-content-center align-items-center" >

						<div class="d-flex product-card product--newsletter" (click)="productsList.powerGaugeInvestor.productAccess ? loginToPgi() : $event.stopPropagation()" id="pgi-tile-bg">
							<div class="d-flex product-card-logo" [ngClass]="{'product-card-logo-locked' : !productsList.powerGaugeInvestor.productAccess}" id="pgi-tile-bg">
								<img src="./assets/PGI__Logo-White.png" alt="PowerGauge Investor">
							</div>
							<div class="d-flex flex-column product-card-content">
								<span class="product-name">Power Gauge Investor</span>
								<span class="product-type" *ngIf="productsList.powerGaugeInvestor.productAccess">Newsletter</span>
								<span class="product-type product-type--locked" *ngIf="!productsList.powerGaugeInvestor.productAccess"><i>Locked Subscription</i></span>
							</div>
							<div class="product-card-icon" *ngIf="productsList.powerGaugeInvestor.productAccess">
								<i class="bi bi-newspaper" ></i>
								
							</div>
							<div class="product-card-icon" *ngIf="!productsList.powerGaugeInvestor.productAccess">
								<i class="bi bi-lock-fill"></i>
							</div>
						</div>


						<div class="d-flex product-card product--newsletter" (click)="productsList.powerTactics.productAccess ? loginToTac() : $event.stopPropagation()" id="pgi-tile-bg">
							<div class="d-flex product-card-logo" [ngClass]="{'product-card-logo-locked' : !productsList.powerTactics.productAccess}" id="pgi-tile-bg">
								<img src="./assets/ctac.png" alt="PowerGauge Investor">
							</div>
							<div class="d-flex flex-column product-card-content">
								<span class="product-name">Chaikin PowerTactics</span>
								<span class="product-type" *ngIf="productsList.powerTactics.productAccess">Newsletter</span>
								<span class="product-type product-type--locked" *ngIf="!productsList.powerTactics.productAccess"><i>Locked Subscription</i></span>
							</div>
							<div class="product-card-icon" *ngIf="productsList.powerTactics.productAccess">
								<i class="bi bi-newspaper" ></i>
								
							</div>
							<div class="product-card-icon" *ngIf="!productsList.powerTactics.productAccess">
								<i class="bi bi-lock-fill"></i>
							</div>
						</div>
						<div class="d-flex product-card product--newsletter" (click)="productsList.powerTrader.productAccess ? loginToCPTR() : $event.stopPropagation()" id="pgi-tile-bg">
							<div class="d-flex product-card-logo" [ngClass]="{'product-card-logo-locked' : !productsList.powerTrader.productAccess}" id="pgi-tile-bg">
								<img src="./assets/LOGO__CPTR-light.svg" alt="PowerTrader">
							</div>
							<div class="d-flex flex-column product-card-content">
								<span class="product-name">Chaikin PowerTrader</span>
								<span class="product-type" *ngIf="productsList.powerTrader.productAccess">Newsletter</span>
								<span class="product-type product-type--locked" *ngIf="!productsList.powerTrader.productAccess"><i>Locked Subscription</i></span>
							</div>
							<div class="product-card-icon" *ngIf="productsList.powerTrader.productAccess">
								<i class="bi bi-newspaper" ></i>
								
							</div>
							<div class="product-card-icon" *ngIf="!productsList.powerTrader.productAccess">
								<i class="bi bi-lock-fill"></i>
							</div>
						</div>

						

						<div class="d-flex product-card product--newsletter" (click)="productsList.powerGaugeReport.productAccess ? loginToPgr(productsList.powerGaugeReport) : $event.stopPropagation()">
							<div class="d-flex product-card-logo" [ngClass]="{'product-card-logo-locked' : !productsList.powerGaugeReport.productAccess}" id="pgr-tile-bg">
								<img src="./assets/PGRe__Logo--white.svg" alt="Power Gauge Report">
							</div>
							<div class="d-flex flex-column product-card-content">
								<span class="product-name">Power Gauge Report</span>
								<span class="product-type" *ngIf="productsList.powerGaugeInvestor.productAccess">Newsletter</span>
								<span class="product-type product-type--locked" *ngIf="!productsList.powerGaugeReport.productAccess"><i>Locked Subscription</i></span>
							</div>
							<div class="product-card-icon">
								<i class="bi bi-newspaper" *ngIf="productsList.powerGaugeReport.productAccess"></i>
								<i class="bi bi-lock-fill" *ngIf="!productsList.powerGaugeReport.productAccess"></i>
							</div>
						</div>

						<div class="d-flex product-card product--software" (click)="productsList.chaikinAnalytics.productAccess ? loginToChaikinAnalytics(productsList.chaikinAnalytics) : $event.stopPropagation()">
							<div class="d-flex product-card-logo" [ngClass]="{'product-card-logo-locked' : !productsList.chaikinAnalytics.productAccess}" id="ca-tile-bg">
								<img src="./assets/logo_CA-hs_2000x400_white.png" alt="Chaikin Analytics">
							</div>
							<div class="d-flex flex-column product-card-content">
								<span class="product-name">Chaikin Analytics&trade;</span>
								<span class="product-type" *ngIf="productsList.chaikinAnalytics.productAccess">Software</span>
								<span class="product-type product-type--locked" *ngIf="!productsList.chaikinAnalytics.productAccess"><i>Locked Subscription</i></span>
							</div>
							<div class="product-card-icon">
								<i class="bi bi-laptop" *ngIf="productsList.chaikinAnalytics.productAccess"></i>
								<i class="bi bi-lock-fill" *ngIf="!productsList.chaikinAnalytics.productAccess"></i>
							</div>
						</div>
						<div class="d-flex product-card product--software" (click)="productsList.powerPulse.productAccess ? loginToPulse(productsList.powerPulse) : $event.stopPropagation()">
							<div class="d-flex product-card-logo" [ngClass]="{'product-card-logo-locked' : !productsList.powerPulse.productAccess}" id="ppp-tile-bg">
								<img src="./assets/PPP__logo--onDark.svg" alt="PowerPulse" style="width:90%;">
							</div>
							<div class="d-flex flex-column product-card-content">
								<span class="product-name">PowerPulse&trade; Premium</span>
								<span class="product-type" *ngIf="productsList.powerPulse.productAccess">Software</span>
								<span class="product-type product-type--locked" *ngIf="!productsList.powerPulse.productAccess"><i>Locked Subscription</i></span>
							</div>
							<div class="product-card-icon">
								<i class="bi bi-laptop" *ngIf="productsList.powerPulse.productAccess"></i>
								<i class="bi bi-lock-fill" *ngIf="!productsList.powerPulse.productAccess"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>