.login-portal {
	z-index:99999;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: rgba(0,0,0,0.75);

	@media screen and (max-width: 576px){
		min-height:600px;
		height:100%;
		padding:0;
	}
}	
.login-container {
	width:100%;
	background: #FFFFFF;
	border: 1px solid #101429;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	border-radius: 8px;
	border:8px solid white;
	padding:0 12px;
	overflow:hidden;
	max-width:960px;
	font-size:16px;

	@media screen and (max-width: 576px){
		height:100%;
		border-radius:0;
	}
	h2 {
		font-size:1.5em;
		margin-bottom:13px;
		text-align:center;
		font-weight:300 !important;
	}
	.logo {
		margin:2px 0 0px;
	}
	.divider {
		display:flex;
		flex-grow:1;
		width:90%;
		border-top:1px solid rgba(255,255,255,0.25);
		margin:10px auto 0;
	}
	.header-row {
		padding-bottom:8px;
		a {
			color:#1199ff;
			text-decoration:none;
			line-height:1;
			font-size:1.25em;

			i {
				margin-right:5px;
			}
		}
	}
	.body-row {
		background-image: linear-gradient(135deg, #4A5164 0%, #262E43 100%);
		border-radius: 8px;
		color:#ffffff;
		padding:15px 0 0;
		overflow:hidden;
		.product-array-wrapper {
			max-height:580px;
			height:100%;
			min-height:100px;
			overflow:hidden;
			overflow-y:scroll;

			@media screen and (max-width: 576px){
				max-height: calc(100vh - 110px);
			}
			.product-array-container {
				flex-flow: row wrap;
				padding-bottom:10px;
				margin-top:5px;

				.product-card {
					position:relative;
					width:280px;
					height: 255px;
					border-radius:8px;
					background-color:#ffffff;
					margin:10px;
					box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35);
					flex-direction:column;
					align-items: center;
    				justify-content: flex-start;

    				&:hover {
    					box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
    					transition:0.25s;

    					.product-card-logo {
    						opacity:0.95;
    						&.product-card-logo-locked {
    							transition:0.25s;
    							opacity:1;
								img {
									transition:0.25s;
									filter: grayscale(0%);
									opacity:1;
								}
							}
    					}
    					.product-card-icon {
    						.bi-lock-fill {
    							color:#1199ff !important;
    							transition:0.25s;
    						}
    					}
    				}
					&.product--newsletter {
						.product-card-content {
							.product-type {
								color:#B38227;
							}
						}
						.product-card-icon {
							color:#B38227;
						}
					}
					&.product--software {
						.product-card-content {
							.product-type {
								color:#4894AB;
							}
						}
						.product-card-icon {
							color:#4894AB;
						}
					}
					&.product--advisor {
						.product-card-content {
							.product-type {
								color:#855497;
							}
						}
						.product-card-icon {
							color:#855497;
						}
					}
					.product-card-logo {
						width:270px;
						height:180px;
						margin-top:5px;
						background: #010124;
						align-items: center;
    					justify-content: center;
						background-image: linear-gradient(145deg, #010131 0%, #000014 100%);
						border-radius: 6px;
						cursor:pointer;

						&#pgi-tile-bg {
							background-image: url("../../../../../assets/SubTile__bg--PGI.png");
							background-size:cover;
						}
						&#pgr-tile-bg {
							background-image: url("../../../../../assets/SubTile__bg--PGR.png");
							background-size:cover;
						}
						&#ca-tile-bg {
							background-image: url("../../../../../assets/SubTile__bg--CA.png");
							background-size:cover;
						}
						&#ppp-tile-bg {
							background-image: url("../../../../../assets/SubTile__bg--PPP.png");
							background-size:cover;
						}
						&.product-card-logo-locked {
							img {
								opacity:0.75;
								filter: grayscale(100%);
							}
							filter: grayscale(100%);
						}
						img {
							width:85%;
							max-height:170px;
						}
					}
					.product-card-content {
						height:75px;
						width: calc(100% - 30px);
						justify-content:center;
						z-index:2;

						.product-name {
							font-size:20px;
							color:#343949;
							cursor:default;
							font-weight:400;
						}
						.product-type {
							font-size:14px;
							color:#010124;
							cursor:default;
							text-transform:uppercase;
							font-weight:700;

							&.product-type--locked {
								color:#999999 !important;
							}
						}
					}
					.product-card-icon {
						display:flex;
						justify-content:center;
						align-items:center;
						position:absolute;
						top:0px;
						left:0px;
						width:48px;
						height:48px;
						border-radius:6px 0 12px 0;
						background-color:#ffffff;
						color:#010124;
						z-index:1;
						font-size:25px;
						cursor:pointer;

						i {
							margin-top:2px;
						}
						.bi-lock-fill {
							color:#010124 !important;
						}
					}
				}
			}
		}
	}
}