<mat-form-field class="example-full-width" appearance="fill">
    <!-- <mat-label>Favorite food</mat-label> -->
    <input #inputElement matInput [placeholder]="inputPlaceholder" [value]="inputValue" [id]="id" [type]="inputType" [formControlName]="inputFormControlName">
</mat-form-field>