<div class="d-flex flex-column p-2">
    <h5>*Footnote</h5>
    <div class="p-block">
      <p class="text fine-print">Colors on the rating bar below the chart represent a pro forma projection of the latest model’s rating results during the period of time represented by the chart. The more recent dates represent actual historical ratings, while further in the past is a simulation of what the model results would have produced.</p>
    </div>
  </div>