// body {
//     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//   }
  #quarterlyEpsChart {
    width: 100%;
    height: 300px;
  }
  #annualEpsChart {
    width: 100%;
    height: 300px;
  }
  #annualRevenueChart {
    width: 100%;
    height: 300px;
  }
  #earningAnnouncementChart {
    width: 100%;
    height: 300px;
  }