<div class="row section-rating-breakdown my-5">
    <div class="col">
        <div class="panel c-panel">
            <!-- Panel Header -->
            <!-- <div class="d-flex flex-row align-items-center w-100 panel-header">
                <span class="header-icon"><i class="bi bi-sliders mx-2"></i></span>
                <h3> Earnings Component Summary</h3>
                <span class="flex-spacer"></span>
                <a href="" class="text-link me-2">Learn More »</a>
            </div> -->
            <!-- Panel Object -->
            <div class="d-flex flex-row panel-object">
                <div class="row w-100 g-0">
                    <!-- COL -- Rating Statement -->
                    <div class="col-lg-3 col-md-6 col-sm-12 border-sm-right-0 border-md-right">
                        <div class="d-flex align-items-center h-100 position-relative ps-3 ps-md-4 ps-lg-3 ps-xl-4"
                            style="min-height:80px;">
                            <div class="panel-id-stripe" [ngClass]="earningsContextSummary.earningRatingBgColorClass">
                            </div>
                            <button type="button" id="earningDescription" class="btn border-0 info-icon" data-bs-container="body"
                                data-bs-toggle="popover" data-bs-placement="bottom"
                                data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                data-bs-original-title="" title="" (click)="openQuickDescriptionPopup(wordpressIdMapping.Earnings,'Earnings',$event);">
                                <i class="bi bi-question-circle"></i>
                            </button>
                            <div #qickDescriptionPopup *ngIf="showQuickScanDescription" class="info-tool-tip" [style.top.px]="createQickDescriptionYPosition" [style.left.px]="createQickDescriptionXPosition" [style.position]="'absolute'">
                                <app-quick-description [id]='quickDescriptionId' [defaultTextForPopup]="quickDescriptionDefaultText" (messageToClose)="onCloseQuickDescriptionPopupEvent();">
                                </app-quick-description>
                            </div>
                            <h2>Earnings: <span class="bold"
                                    [ngClass]="earningsContextSummary.earningRatingLableColorClass">{{earningsContextSummary.status}}</span>
                            </h2>
                        </div>
                    </div>
                    <!-- COL -- Rating Factor Bars -->
                    <div
                        class="col-xl-3 col-lg-4 col-md-6 col-sm-12 bg-lighter border-md-right-0 border-lg-right border-top border-md-top-0">
                        <div class="d-flex flex-column h-100">
                            <div class="factor-row">
                                <span class="factor-label">Earnings Growth</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningGrowth==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningGrowth==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningGrowth==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningGrowth==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningGrowth==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row">
                                <span class="factor-label">Earnings Surprise</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningSurprise==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningSurprise==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningSurprise==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningSurprise==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningSurprise==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row">
                                <span class="factor-label">Earnings Trend</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningTrend==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningTrend==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningTrend==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningTrend==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningTrend==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row">
                                <span class="factor-label">Projected P/E</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningProfitToEarning==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningProfitToEarning==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningProfitToEarning==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningProfitToEarning==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningProfitToEarning==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row">
                                <span class="factor-label">Earnings Consistency</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningConsistency==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningConsistency==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningConsistency==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningConsistency==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningConsistency==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COL -- Rating Description -->
                    <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 border-top border-lg-top-0 bg-medium">
                        <div class="d-flex flex-column p-block p-4 p-lg-3 ">
                            <span class="text">{{earningsContextSummary.generalSentence}}</span>
                            <span class="text">{{earningsContextSummary.explanatorySentence}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Panel Details -->
            <div class="row mt-3 g-0">
                <div class="col-12 col-lg-6 py-3 ps-3 pe-1">
                    <div class="d-flex flex-column border-md-right-0 border-lg-right">
                        <h4>Annual EPS</h4>
                        <div class="d-flex">
                            <div id="annualEpsChart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 py-3 ps-3 pe-1">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <h4>Quarterly EPS</h4>
                            <span class="chart-legend"><i class="bi bi-circle-fill chart-color-1"></i>Q1  <i class="bi bi-circle-fill chart-color-2"></i>Q2 <i class="bi bi-circle-fill chart-color-3"></i>Q3  <i class="bi bi-circle-fill chart-color-4"></i>Q4</span>
                        </div>
                        <div class="d-flex">
                            <div id="quarterlyEpsChart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 py-3 ps-3 pe-1">
                    <div class="d-flex flex-column border-md-right-0 border-lg-right">
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <h4>Earnings Announcement</h4>
                            <span class="chart-legend"><i class="bi bi-circle-fill chart-color-3"></i>Actual  <i class="bi bi-circle-fill chart-color-1"></i>Estimate</span>
                        </div>
                        <div class="d-flex">
                            <div id="earningAnnouncementChart"></div>
                        </div>
                       <div class="d-flex align-items-center justify-content-center">
                            <p class="time-stamp">Next report: {{headerDataModel.nextReportDate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 py-3 ps-3 pe-1">
                    <div class="d-flex flex-column">
                        <h4>Annual Revenue</h4>
                        <div class="d-flex">
                            <div id="annualRevenueChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>