@import "src/styles/variables";

.admin-component-screenForm {
  margin-top: 150px;
  font-size: 14px;

  h2 {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    margin: 10px 0 20px;
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin: 15px 0;
    color: #003366;
  }
}

.disabledNoOfCasesDiv {
  pointer-events: none;
  opacity: 2;
  color: rgb(192, 192, 192);
}

// SECTION -- Top Bar
.screener-form {
  padding-top: 1.34375em;

  .form-full-width {
    width: 400px;
    .mat-form-field-flex {
      border-radius: 0;
    }
    input {
      font-size: 1.25em;
    }
  }
}
button {
  font-size: 1em;
}

// SECTION -- Screener Form
.screener-form-wrapper {
  position: relative;
  width: 440px;
  overflow-y: scroll;
  height: calc(100vh - 150px);

  .label {
    margin-right: 1em;
    font-weight: 500;
    display: inline-flex;
    width: 125px;
  }
  .form-actions {
    position: fixed;
    width: 439px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $bg-medium;
    display: flex;
    justify-content: center;
    box-shadow: 5px -2px 2px rgba(0, 0, 0, 0.05);
    button {
      font-size: 1.15em;
      background-color: white;
      padding: 0.4em 1em;
      margin: 0 5px;
    }
  }
}

// SECTION -- Screener Results
.screener-results-wrapper {
  overflow-y: scroll;
  height: calc(100vh - 150px);
}
