<div class="d-flex flex-row w-100 align-items-center">
  <form class="screener-form ms-3">
    <mat-form-field class="form-full-width" appearance="fill">
      <mat-label>{{ selectedListName }}</mat-label>
      <input
        type="text"
        placeholder=""
        aria-label="Number"
        matInput
        [formControl]="screenerListControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selectScreenerList.emit($event.option.value)"
      >
        <mat-option
          *ngFor="let option of investorListData"
          [value]="option.listName"
        >
          {{ option.listName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button
    class="btn btn-primary ms-3"
    *ngIf="selectedListName == 'Select a screen'"
    (click)="saveScreen.emit()"
  >
    Save Screen
  </button>
  <button
    class="btn btn-primary ms-3"
    *ngIf="selectedListName != 'Select a screen'"
    (click)="updateScreen.emit()"
  >
    Update Screen
  </button>
</div>
