<div class="dialog-wrapper dialog-wrapper--confirm">
	<div class="dialog-container">

		<section class="row dialog-header mb-4">
			<div class="col-12 d-flex align-items-center">
                <h3>{{title}}</h3>
            </div>
        </section>

        <section class="row dialog-body mb-2">
            <div class="col-12  d-flex flex-column">
				<div class="p-block">
		    		<p class="text">{{message}}</p>
		    	</div>
		    </div>
	    </section>

		<section class="row dialog-footer">
			<div class="col-12">
		        <div class="d-flex flex-row dialog-buttons-wrapper">
				    <button mat-button color="secondary" *ngIf="noButtonText" (click)="onDismiss()">{{noButtonText}}</button>
				    <span class="flex-spacer"></span>
				    <button mat-flat-button color="primary" *ngIf="yesButtonText" (click)="onConfirm()">{{yesButtonText}}</button>
		        </div>
		    </div>
	    </section>
	</div>
</div>