<div class="d-flex flex-column p-2">
    <h5>Disclaimer</h5>
    <div class="p-block">
      <p class="text fine-print">Chaikin Analytics (CA) is not registered as a securities Broker/Dealer or Investment Advisor with either the U.S. Securities and Exchange Commission or with any state securities regulatory authority. The information presented in our reports does not represent a recommendation to buy or sell stocks or any financial instrument nor is it intended as an endorsement of any security or investment. The information in this report does not take into account an individual's specific financial situation. The user bears complete responsibility for their own investment research and should consult with their financial advisor before making buy/sell decisions. Read the full <a class="text-link" target="_blank" href="https://www.chaikinanalytics.com/disclaimer/">disclaimer</a> for more information. <a class="text-link d-print-none" target="_blank" href="https://www.chaikinanalytics.com/attributions/" >See Attributions »</a></p>
    </div>
  </div>