<div class="sticky-header sticky-top">

<!-- HEADER TOP -->
  <!-- <app-top-header [headerData]="topHeaderData"></app-top-header> -->

<!-- HEADER CRAWL -->
  <!-- <app-crawl-header></app-crawl-header> -->

<!-- HEADER MIDDLE -->
  <!-- <app-middle-header></app-middle-header> -->

<!-- HEADER BOTTOM -->
  <!-- <app-bottom-header [headerDataModel]="headerDataModel" (selectedWatchListId)="getSelectedList($event)" [projectAccessDashboard]='true'></app-bottom-header> -->

<!-- HEADER SUBNAV -->
  <!-- <app-subnav-header></app-subnav-header> -->

<!-- PRODUCT MENU -->
  <!-- <app-products  (productList)="productData($event)"  (productAccessArrayCount) = "productAccessCount($event)" [productPopUpShow]="productPopUpShow"></app-products>  -->

</div>