.dialog-wrapper.dialog-wrapper--stepper {
    width: 650px;
}

.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 75vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.dialog-wrapper .mat-dialog-content h1 {
    color: #d4b67a!important;
    padding-bottom: 12px;
}

.dialog-header {
    width: 100%;
    display: flex;
    border-bottom: #ccc 1px solid;
}

.dialog-wrapper .mat-dialog-content h2 {
    padding-bottom: 8px;
    font-weight: 300;
}

.dialog-wrapper.dialog-wrapper--stepper .mat-dialog-content .component-body .wrapper {
    height: 260px;
    margin-bottom: 4px;
}

.dialog-wrapper .mat-dialog-content .component-body .wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    border-radius: 4px;
    background-color: hsla(40,51%,65%,.1);
    border: 1px solid #d4b67a;
    padding: 15px;
}

.dialog-wrapper .mat-dialog-content .component-body .wrapper-flow {
    flex-flow: inherit !important;
}

.dialog-wrapper .mat-dialog-content .component-body .wrapper-new {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #d4b67a;
    padding: 15px;
}

.dialog-wrapper .mat-dialog-content .component-body .wrapper .choose-file-form {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #fff;
    margin-bottom: 25px;
    border: 1px solid #d4b67a;
    border-radius: 4px;
    padding: 30px 0;
}

.dialog-wrapper .mat-dialog-content .component-body .direction-text {
    line-height: 22px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 15px 20px 10px;
    max-width: 80%;
}
.bolder {
    font-weight: 900;
}

.dialog-wrapper .mat-dialog-content .component-body .wrapper .watchlist-error {
    color: red;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 15px;
}

.dialog-wrapper .mat-dialog-content .stepper-buttons-wrapper {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    padding: 20px 0 0;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #03a9f4;
}

.wrapper-new .form-field-row {
    display: flex;
}

.wrapper-new .form-field-label {
    min-width: 175px;
    margin: auto 0px;
}

.wrapper-new .form-field-value {
   display: block;
}

::ng-deep .mat-horizontal-stepper-header-container { 
    display: none !important; 
 }

 .error-msg {
    color: red;
    padding: 10px;
 }

 .dialog-wrapper .mat-dialog-content .component-body .wrapper.wrapper--create-list .option {
    flex-grow: 1;
    width: 33.333%;
    height: 100%;
    margin: 20px 5px;
    border: 2px solid hsla(40,51%,65%,.5);
    border-radius: 3px;
    white-space: normal;
 }

 .mat-button-toggle-button {
    border: 0;
    background: none;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 48px;
}
.dialog-wrapper .mat-dialog-content .component-body .wrapper.wrapper--create-list .option .option-contents{
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    justify-content: flex
}
.mat-button-toggle-label-content>*{
    vertical-align: middle;
}

.dialog-wrapper .mat-dialog-content .component-body .wrapper.wrapper--create-list .option .option-contents .icon-wrapper {
    padding: 35px 0 20px
}

.dialog-wrapper .mat-dialog-content .component-body .wrapper.wrapper--create-list .option .option-contents .icon-wrapper .mat-icon {
    transform: scale(3);
    line-height: 35px;
    color: hsla(40,51%,65%,.5);
}

.dialog-wrapper .mat-dialog-content .component-body .wrapper.wrapper--create-list .option .option-contents .direction-text {
    padding: 15px 5px 0;
}

.dialog-wrapper .mat-dialog-content .component-body .direction-text {
    line-height: 22px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 15px 20px 10px;
    max-width: 80%;
}