<div class="dialog-wrapper dialog-wrapper--stepper">
    <div class="mat-dialog-content">
        <div class="dialog-header">
            <h1>{{headerText}}</h1>
        </div>

        <div *ngIf="isLoading" class="result-loader">
            <mat-icon>
                <mat-spinner diameter="30">
                </mat-spinner>
            </mat-icon>
        </div>

        <mat-horizontal-stepper [linear]="false" [selectedIndex]="currentStep" #stepper (selectionChange)="stepperChange($event)">
            
            <mat-step>
                <section class="component-body">
                    <h2>{{AddListScreentitleText}}</h2>
                    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="listType" (change)="onlistTypeChange(group.value)" class="wrapper wrapper--create-list wrapper-flow" disableRipple>
                        <mat-button-toggle value="import" aria-label="" class="option" disableRipple>
                            <div class="option-contents">
                                <div class="icon-wrapper">
                                    <mat-icon>post_add</mat-icon>
                                </div>
                                <div class="direction-text">Import a list from any of the following file types: <span class="bolder">.csv</span>.</div>
                            </div>
                        </mat-button-toggle>
                        <mat-button-toggle value="manual" aria-label="" class="option" disableRipple>
                            <div class="option-contents">
                                <div class="icon-wrapper">
                                    <mat-icon>queue</mat-icon>
                                </div>
                                <div class="direction-text">Manually add one or more items to create your list.</div>
                            </div>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </section>
                <section class="stepper-buttons-wrapper">
                    <button mat-button color="secondary" (click)="onClose()">Cancel</button>
                    <span class="flex-spacer"></span>
                    <button mat-flat-button color="primary" matStepperNext>Continue</button>
                </section>
            </mat-step>

            <mat-step>
                <section class="component-body">
                    <h2>{{EditScreentitleText}}</h2>
                    <article class="wrapper-new">
                        <form class="example-form" [formGroup]="listDetailForm" (ngSubmit)="onSubmitListDetail(listDetailForm)">
                            <div class="form-field-row">
                                <div class="form-field-label"> Name:</div>
                                <div class="form-field-value">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <input matInput placeholder="" value="" type="text"
                                            formControlName="listName" autocomplete="off" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-field-row">
                                <div class="form-field-label"> Description:</div>
                                <div class="form-field-value"> 
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <textarea matInput placeholder="" formControlName="description"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-field-row">
                                <div class="form-field-label"> Guru:</div>
                                <div class="form-field-value"> 
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <input matInput placeholder="" value="" type="text"
                                            formControlName="guru" autocomplete="off">
                                    </mat-form-field> 
                                </div>
                            </div>
                            <div class="form-field-row">
                                <div class="form-field-label"> Primary Sort by:</div>
                                <div class="form-field-value"> 
                                    <mat-form-field appearance="fill">
                                        <!-- <mat-label>Choose an option</mat-label> -->
                                        <select matNativeControl  formControlName="primarySort"  (change)="onChangeSortPrimary($event)">
                                          <option *ngFor="let option of primarySort1" [value]="option.view" [selected]="(selectedValueForPrimary && option.view == selectedValueForPrimary.view)" > {{option.view}}</option>
                                        </select>
                                    </mat-form-field>
                                    
                                </div>
                            </div>
                            <div class="form-field-row">
                                <div class="form-field-label">Secondary Sort by:</div>
                                <div class="form-field-value"> 
                                    <mat-form-field appearance="fill">
                                    <select matNativeControl  formControlName="secondarySort"  (change)="onChangeSortSecondary($event)">  
                                        <option *ngFor="let option of secondarySort1" [value]="option.view"  [selected]="selectedValueForSecondary && option.view === selectedValueForSecondary.view">{{option.view}}</option>
                                      </select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-field-row">
                                <div class="form-field-label"> Limit:</div>
                                <div class="form-field-value"> 
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <input matInput placeholder="" value="" type="number"
                                            formControlName="limit" autocomplete="off">
                                    </mat-form-field>  
                                </div>
                            </div>
                            <div class="form-field-row">
                                <div class="form-field-label"> Associated PUB Codes:</div>
                                <div class="form-field-value"> 
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <input matInput placeholder="" value="" type="text"
                                            formControlName="pubCodes" autocomplete="off">
                                    </mat-form-field> 
                                </div>
                            </div>
                            <div class="form-field-row">
                                <div class="form-field-label">Show List</div>
                                <div class="form-field-value"> 
                                    <mat-slide-toggle  formControlName="isActive"></mat-slide-toggle>
                                </div>
                            </div>
                            <div class="form-field-row">
                                <span class="error-msg" *ngIf="listDetailScreenErrorMsg.length > 0">{{listDetailScreenErrorMsg}}</span>
                            </div>
                            <section class="stepper-buttons-wrapper">
                                <button mat-button color="secondary" type="button" (click)="onClose()">Cancel</button>
                                <span class="flex-spacer"></span>
                                <button mat-flat-button color="primary" [disabled]="isUploadStepBtnDisabled"
                                    type="submit">{{editScreenButtonText}}</button>
                            </section>
                        </form>

                    </article>
                </section>
            </mat-step>

            <mat-step>
              <section class="component-body">
                    <h2>Select a file to import:</h2>
                    <article class="wrapper">
                        <div class="choose-file-form">
                            <input id="myform" #fileInput type="file" name="file" (change)="onuploadFileChange($event.target.files)" accept=".csv" />
                        </div>
                        <div class="direction-text">Import a list from the following file types: <span class="bolder">.csv</span></div>
                        <span class="watchlist-error">{{ invalidFileMsg}}</span>
                    </article>
                </section>
                <section class="stepper-buttons-wrapper">
                    <button mat-button color="secondary" (click)="onClose()">Cancel</button>
                    <span class="flex-spacer"></span>
                    <button mat-flat-button color="primary"  (click)="onUploadStepContinue()">Continue</button>
                </section>
            </mat-step>

            <mat-step>
                <section class="component-body">
                    <h2>Enter the tickers of the symbols you'd like to add:</h2>
                    <article class="wrapper">
                        <div class="add-tickers">
                            <textarea type="text" #txttickers placeholder="Add ticker to my list" [value]="manualcsvTickers" class="text-area"></textarea>
                        </div>
                        <span class="direction-text">Separate each ticker with a comma. Tickers not identified in database will not be added.</span>
                        <span class="watchlist-error"> {{manualSaveMsg}} </span>
                    </article>
                </section>
                <section class="stepper-buttons-wrapper">
                    <button mat-button color="secondary" (click)="onClose()">Cancel</button>
                    <span class="flex-spacer"></span>
                    <!-- <button mat-flat-button color="secondary" matStepperPrevious>Back</button> -->
                    <button mat-flat-button color="primary" (click)="onManualSave(txttickers.value)">Save</button>
                </section>
            </mat-step>

            <mat-step>
                <section class="component-body">
                    <h2>{{AcknowledgeNoticeHeader}}</h2>
                    <article class="wrapper notice-scroll-wrapper">
                        <div class="notice-details">
                            <span>
                                {{updationMsg}}
                             </span>
                        </div>
                    </article>
                </section>
                <section class="wrapper stepper-buttons-wrapper">
                    <button mat-button color="secondary" (click)="onClose()">Cancel</button>
                    <span class="flex-spacer"></span>
                    <!-- <button mat-flat-button color="secondary" (click)="onAckStepBack()">Back</button> -->
                    <button mat-flat-button color="primary" (click)="onCompleteFileImport()">Acknowledge and close</button>
                </section>
            </mat-step>
           
        </mat-horizontal-stepper>
    </div>
</div>