@import "src/styles/variables";

.screener-results-panel {
  .results-wrapper {
    display: flex;
    flex-flow: row wrap;

    .result {
      display: flex;
    }
  }
  .panelContainer {
    position: relative;
    padding: 8px 10px 0px;
    width: 140px;
    height: 120px;
    background-color: white;
    border: 1px solid $border-color;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

    .symbol {
      display: inline-flex;
      cursor: default;
      font-size: 20px;
      position: relative;
      font-weight: 700;
    }
    .name {
      display: inline-flex;
      cursor: default;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.25;
      white-space: nowrap;
      margin-top: 3px;

      &:hover {
        white-space: initial;
      }
    }
    .data {
      display: inline-flex;
      cursor: default;
      font-size: 14px;
      font-weight: 400;
    }
    .rating-icon {
      margin-right: 5px;
    }
    .rating-label {
      cursor: default;
    }
  }
}
