<div class="screener-results-panel">
  <div class="results-wrapper p-2 w-100">
    <div class="result p-1" *ngFor="let data of screenerResultData">
      <div class="panelContainer">
        <span class="symbol">{{ data.symbol }}</span>
        <div class="d-flex">
          <img [src]="data.pgrImage" class="rating-icon" />
          <span class="rating-label" [ngClass]="data.ratingTypeColorLabel">{{
            data.pgrName
          }}</span>
        </div>
        <span class="name">{{ data.name }}</span>
        <div class="d-flex justify-content-between pt-1">
          <span class="d-flex data" [ngClass]="data.changeFormattedClass">
            {{ data.lastFormatted }}
          </span>
          <span class="d-flex data" [ngClass]="data.changeFormattedClass">
            {{ data.percentageFormatted }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
