<!-- COMPONENT -- Rating Overview -->
<div class="panel c-panel component-ratingOverview" *ngIf="!headerDataModel.isEtf">
    <!-- Panel Header -->
    <div class="d-flex flex-row align-items-center w-100 panel-header">
        <span class="header-icon"><i class="bi bi-speedometer mx-2"></i></span>
        <h3> Power Gauge Rating</h3>
        <span class="flex-spacer"></span>
        <span class="time-stamp d-none d-sm-flex me-2">{{headerDataModel.generalDate}}</span>
        <span class="text-link d-sm-none print-none" *ngIf="shrinkRatingPanel" (click)="toggleRatingPanel()"><i class="bi bi-arrows-angle-expand me-1"></i> Expand panel</span>
        <span class="text-link d-sm-none print-none" *ngIf="!shrinkRatingPanel" (click)="toggleRatingPanel()"><i class="bi bi-arrows-angle-contract me-1"></i> Shrink panel</span>
    </div>
    <!-- Panel Object -->
    <div class="d-flex flex-row panel-object">
        <div class="row g-0 w-100">
            <!-- COL -- Rating -->
            <div class="col-lg-3 col-md-6 col-sm-12 border-sm-right-0 border-md-right">
                <div class="d-flex flex-grow-1 align-items-center h-100 position-relative ps-3 ps-md-4 ps-lg-3 ps-xl-4"
                    style="min-height:80px;">
                    <div class="panel-id-stripe" [ngClass]="headerDataModel.ratingTypeColorBg"></div>
                    <button type="button" id="powerGaugeDescription" class="btn border-0 info-icon" data-bs-container="body"
                        data-bs-toggle="popover" data-bs-placement="bottom"
                        data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                        data-bs-original-title="" title="" (click)="openQuickDescriptionPopup(wordpressIdMapping.Power_Gauge_Rating,'Power_Gauge_Rating',$event);">
                        <i class="bi bi-question-circle"></i>
                    </button>
                    <div #qickDescriptionPopup *ngIf="showQuickScanDescription" class="info-tool-tip" [style.top.px]="createQickDescriptionYPosition" [style.left.px]="createQickDescriptionXPosition" [style.position]="'absolute'">
                        <app-quick-description [id]='quickDescriptionId' [defaultTextForPopup]="quickDescriptionDefaultText" (messageToClose)="onCloseQuickDescriptionPopupEvent();">
                        </app-quick-description>
                      </div>
                    <h2><span class="bold">{{headerDataModel.symbol}}</span> is <span
                            class="rating-label" [ngClass]="headerDataModel.ratingTypeColorLabel">{{headerDataModel.ratingType}}</span></h2>
                </div>
            </div>
            <!-- COL -- Rating Factor Bars -->
            <div class="col-lg-3 col-md-6 col-sm-12 bg-lighter border-md-right-0 border-lg-right border-top border-md-top-0" *ngIf="!shrinkRatingPanel">
                <div class="d-flex flex-column h-100">
                    <div class="factor-row">
                        <span class="factor-label" (click)="sentToEarningCalnder('Financials')">Financials</span>
                        <div class="sliderProgress" *ngIf="headerDataModel.financialRating==1">
                            <div class="slider-disc slider-veryBearish"></div>
                                <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.financialRating==2">
                            <div class="slider-disc slider-bearish"></div>
                                <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.financialRating==3">
                            <div class="slider-disc slider-neutral"></div>
                                <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.financialRating==4">
                            <div class="slider-disc slider-bullish"></div>
                                <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.financialRating==5">
                            <div class="slider-disc slider-veryBullish"></div>
                                <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                    role="progressbar"></div>
                        </div>
                        <!-- <div [ngSwitch]="headerDataModel.financialRating">
                            <div class="sliderProgress" *ngSwitchCase="'1'">
                                <div class="slider-disc slider-veryBearish"></div>
                                <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                    role="progressbar"></div>
                            </div>
                            <div class="sliderProgress" *ngSwitchCase="'2'">
                                <div class="slider-disc slider-bearish"></div>
                                <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                    role="progressbar"></div>
                            </div>
                            <div class="sliderProgress" *ngSwitchCase="'3'">
                                <div class="slider-disc slider-neutral"></div>
                                <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                    role="progressbar"></div>
                            </div>
                            <div class="sliderProgress" *ngSwitchCase="'4'">
                                <div class="slider-disc slider-bullish"></div>
                                <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                    role="progressbar"></div>
                            </div>
                            <div class="sliderProgress" *ngSwitchCase="'5'">
                                <div class="slider-disc slider-veryBullish"></div>
                                <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                    role="progressbar"></div>
                            </div>
                        </div> -->
                        
                    </div>
                    <div class="factor-row">
                        <span class="factor-label" (click)="sentToEarningCalnder('Earnings')">Earnings</span>
                        <div class="sliderProgress" *ngIf="headerDataModel.earningRating==1">
                            <div class="slider-disc slider-veryBearish"></div>
                                <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.earningRating==2">
                            <div class="slider-disc slider-bearish"></div>
                                <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.earningRating==3">
                            <div class="slider-disc slider-neutral"></div>
                                <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.earningRating==4">
                            <div class="slider-disc slider-bullish"></div>
                                <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.earningRating==5">
                            <div class="slider-disc slider-veryBullish"></div>
                                <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                    role="progressbar"></div>
                        </div>
                    </div>
                    <div class="factor-row">
                        <span class="factor-label" (click)="sentToEarningCalnder('Technicals')">Technicals</span>
                        <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==1">
                            <div class="slider-disc slider-veryBearish"></div>
                                <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==2">
                            <div class="slider-disc slider-bearish"></div>
                                <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==3">
                            <div class="slider-disc slider-neutral"></div>
                                <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==4">
                            <div class="slider-disc slider-bullish"></div>
                                <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==5">
                            <div class="slider-disc slider-veryBullish"></div>
                                <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                    role="progressbar"></div>
                        </div>
                    </div>
                    <div class="factor-row">
                        <span class="factor-label" (click)="sentToEarningCalnder('Experts')">Experts</span>
                        <div class="sliderProgress" *ngIf="headerDataModel.expertRating==1">
                            <div class="slider-disc slider-veryBearish"></div>
                                <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.expertRating==2">
                            <div class="slider-disc slider-bearish"></div>
                                <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.expertRating==3">
                            <div class="slider-disc slider-neutral"></div>
                                <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.expertRating==4">
                            <div class="slider-disc slider-bullish"></div>
                                <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                    role="progressbar"></div>
                        </div>
                        <div class="sliderProgress" *ngIf="headerDataModel.expertRating==5">
                            <div class="slider-disc slider-veryBullish"></div>
                                <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                    role="progressbar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COL -- Rating Description -->
            <div class="col-lg-6 col-md-12 col-sm-12 border-top border-lg-top-0 bg-medium" *ngIf="!shrinkRatingPanel">
                <div class="d-flex flex-column p-block p-3 p-lg-3 ">
                    <span class="text">{{pgrContextSummary.mainSentence}}</span>
                    <span class="text">{{pgrContextSummary.additonalSentence}}</span>
                    <span class="text">{{pgrContextSummary.neutralSentence}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
