@import 'src/styles/variables';

.component-ratingOverview {
	.factor-row {
		padding:10px 25px 10px 15px;
		cursor:pointer;
		&:hover {
			background-color:#ffffff;
		}
	}
	.factor-label {
		min-width: 100px;
    	font-size: 16px;
	}
}