<!-- SECTION -- RATING + SCORECARD -->
<div class="row section-rating-overview section-rating-checklist my-3" *ngIf="!headerDataModel.isEtf && setCheckListAccess">
    <div class="col-12 col-md-6 mb-4"  >
        <div class="panel c-panel h-100">
            <!-- Panel Header  [ngStyle]="{'width': setWidth + '%'}" -->  
            <div class="d-flex flex-row align-items-center w-100 panel-header">
                <span class="header-icon"><i class="bi bi-speedometer mx-2"></i></span>
                <h3>Power Gauge Rating</h3>
                <span class="flex-spacer"></span>
                <span class="time-stamp me-2">{{headerDataModel.generalDate}}</span>
            </div>
            <!-- Panel Object -->
            <div class="d-flex flex-row panel-object">
                <div class="row g-0 w-100">
                    <!-- COL -- Rating Statement -->
                    <div class="col-12">
                        <div class="d-flex align-items-center h-100 position-relative ps-4" style="min-height:100px;">
                            <div class="panel-id-stripe" [ngClass]="headerDataModel.ratingTypeColorBg"></div>
                            <button type="button" id="powerGaugeDescription" class="btn border-0 info-icon" data-bs-container="body"
                                data-bs-toggle="popover" data-bs-placement="bottom"
                                data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                data-bs-original-title="" title="" (click)="openQuickDescriptionPopup(wordpressIdMapping.Power_Gauge_Rating,'Power_Gauge_Rating',$event);">
                                <i class="bi bi-question-circle"></i>
                            </button>
                            <div #qickDescriptionPopup *ngIf="showQuickScanDescription" class="info-tool-tip" [style.top.px]="createQickDescriptionYPosition" [style.left.px]="createQickDescriptionXPosition" [style.position]="'absolute'">
                                <app-quick-description [id]='quickDescriptionId' [defaultTextForPopup]="quickDescriptionDefaultText" (messageToClose)="onCloseQuickDescriptionPopupEvent();">
                                </app-quick-description>
                            </div>
                            <h2>
                                <span class="bold">{{headerDataModel.symbol}}</span> is <span class="rating-label" [ngClass]="headerDataModel.ratingTypeColorLabel">{{headerDataModel.ratingType}}</span>
                            </h2>
                        </div>
                    </div>
                    <!-- COL -- Rating Factor Bars -->
                    <div class="col-12 bg-lighter border-top">
                        <div class="d-flex flex-column h-100 position-relative">
                            <div class="panel-id-stripe" [ngClass]="headerDataModel.ratingTypeColorBg"></div>
                            <div class="factor-row px-4">
                                <span class="factor-label">Financials</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialRating==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialRating==2">
                                    <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialRating==3">
                                    <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialRating==4">
                                    <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialRating==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                </div>
                                <!-- <div [ngSwitch]="headerDataModel.financialRating">
                                    <div class="sliderProgress" *ngSwitchCase="'1'">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngSwitchCase="'2'">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngSwitchCase="'3'">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngSwitchCase="'4'">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngSwitchCase="'5'">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                </div> -->  
                            </div>
                            <div class="factor-row px-4">
                                <span class="factor-label">Earnings</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningRating==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningRating==2">
                                    <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningRating==3">
                                    <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningRating==4">
                                    <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningRating==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row px-4">
                                <span class="factor-label">Technicals</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==2">
                                    <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==3">
                                    <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==4">
                                    <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row px-4">
                                <span class="factor-label">Experts</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRating==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRating==2">
                                    <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRating==3">
                                    <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRating==4">
                                    <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRating==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row w-100">
                <div class="d-flex flex-column p-block p-3">
                    <span class="text">{{pgrContextSummary.mainSentence}}</span>
                    <span class="text">{{pgrContextSummary.additonalSentence}}</span>
                    <span class="text">{{pgrContextSummary.neutralSentence}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-4"  *ngIf = "setCheckListAccess">
        <div class="panel c-panel h-100">
            <!-- Panel Header -->
            <div class="d-flex flex-row align-items-center w-100 panel-header">
                <span class="header-icon"><i class="bi bi-list-check mx-2"></i></span>
                <h3>Pre-Trade Checklist</h3>
                <span class="flex-spacer"></span>
            </div>
            <!-- Panel Body -->
            <div class="d-flex flex-row">
                <div class="row g-0 w-100">
                    <div class="col">
                        <!-- Panel Object -->
                        <div class="d-flex flex-row panel-object position-relative mb-2">
                          <div class="panel-id-stripe" [ngClass]="checklistModel?.strengthOverallColor"></div>
                          <table class="table">
                            <thead>
                              <tr class="table-header">
                                <th scope="col" colspan="2">
                                  <span class="table-name ms-2">Strength</span>
                                </th>
                                <th scope="col" align="center" class="text-center">
                                  <span class="bolder me-2" [ngClass]="checklistModel.strengthCountClass">{{checklistModel.strengthCount}}</span> / <span class="bolder ms-2">3</span>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">
                                  <span class="label ms-2">Power Gauge Rating</span>
                                </th>
                                <td align="center">
                                  <span class="data" [ngClass]="checklistModel.pgrColor">{{checklistModel.pgr}}</span>
                                </td>
                                <td align="center">
                                  <span class="checklist-icon" [ngClass]="checklistModel.pgrIconColor"><i class="bi" [ngClass]="checklistModel.pgrIconClass"></i></span>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">
                                  <span class="label ms-2">Rel. Strength vs SPY</span>
                                </th>
                                <td align="center">
                                  <span class="data" [ngClass]="checklistModel.relativeStrengthColor">{{checklistModel.relativeStrength}}</span>
                                </td>
                                <td align="center">
                                  <span class="checklist-icon" [ngClass]="checklistModel.relativeStrengthIconColor"><i class="bi" [ngClass]="checklistModel.relativeStrengthIconClass"></i></span>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">
                                  <span class="label ms-2">Industry Strength</span>
                                </th>
                                <td align="center">
                                  <span class="data" [ngClass]="checklistModel.industryColor">{{checklistModel.industry}}</span>
                                </td>
                                <td align="center">
                                  <span class="checklist-icon" [ngClass]="checklistModel.industryIconColor"><i class="bi" [ngClass]="checklistModel.industryIconClass"></i></span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <!-- Panel Object -->
                        <div class="d-flex flex-row panel-object position-relative ">
                          <div class="panel-id-stripe" [ngClass]="checklistModel.timingOverallColor"></div>
                          <table class="table">
                            <thead>
                              <tr class="table-header">
                                <th scope="col" colspan="2">
                                  <span class="table-name ms-2">Timing</span>
                                </th>
                                <th scope="col" align="center" class="text-center">
                                  <span class="bolder me-2" [ngClass]="checklistModel.timingCountClass">{{checklistModel.timingCount}}</span> / <span class="bolder ms-2">3</span>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">
                                  <span class="label ms-2">Overbought / Oversold</span>
                                </th>
                                <td align="center">
                                  <span class="data" [ngClass]="checklistModel.overboughtOversoldColor">{{checklistModel.overboughtOversold}}</span>
                                </td>
                                <td align="center">
                                  <span class="checklist-icon" [ngClass]="checklistModel.overboughtOversoldIconColor"><i class="bi" [ngClass]="checklistModel.overboughtOversoldIconClass"></i></span>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">
                                  <span class="label ms-2">Long Term Trend</span>
                                </th>
                                <td align="center">
                                  <span class="data" [ngClass]="checklistModel.ltTrendColor">{{checklistModel.ltTrend}}</span>
                                </td>
                                <td align="center">
                                  <span class="checklist-icon" [ngClass]="checklistModel.ltTrendIconColor"><i class="bi" [ngClass]="checklistModel.ltTrendIconClass"></i></span>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">
                                  <span class="label ms-2">Money Flow Persistency</span>
                                </th>
                                <td align="center">
                                  <span class="data" [ngClass]="checklistModel.moneyFlowColor">{{checklistModel.moneyFlow}}</span>
                                </td>
                                <td align="center">
                                  <span class="checklist-icon" [ngClass]="checklistModel.moneyFlowIconColor"><i class="bi" [ngClass]="checklistModel.moneyFlowIconClass"></i></span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row w-100">
                <div class="d-flex flex-column p-block p-3">
                    <!-- <span class="text">{{checklistModel.sentence1}}</span> -->
                    <span class="text">
                        <span>{{checklistModel.sentenceBreakFirst}}</span>
                        <span [ngClass]="checklistModel.strengthCountClass">{{checklistModel.sentenceBreakSecond}} </span>
                        <span> {{checklistModel.sentenceBreakThird}}</span>
                        <span [ngClass]="checklistModel.timingCountClass">{{checklistModel.sentenceBreakFourth}} </span>
                        <span> {{checklistModel.sentenceBreakFifth}}</span>


                    </span>
                    <span class="text">{{checklistModel.sentence2}} <a href="https://www.chaikinanalytics.com/chaikin-method/" target="_blank">Learn more about our methodology.</a></span>
                </div>
            </div>
        </div>
    </div>
</div>