
<div class="row section-rating-breakdown my-5" >
   
    <div class="col">
        <div class="panel c-panel">
            <!-- Panel Header -->
            <!-- <div class="d-flex flex-row align-items-center w-100 panel-header">
                <span class="header-icon"><i class="bi bi-sliders mx-2"></i></span>
                <h3> Experts Component Summary</h3>
                <span class="flex-spacer"></span>
                <a href="" class="text-link me-2">Learn More »</a>
            </div> -->
            <!-- Panel Object -->
            <div class="d-flex flex-row panel-object" >
                <div class="row g-0">
                    <!-- COL -- Rating Statement -->
                    <div class="col-lg-3 col-md-6 col-sm-12 border-sm-right-0 border-md-right">
                        <div class="d-flex align-items-center h-100 position-relative ps-3 ps-md-4 ps-lg-3 ps-xl-4"
                            style="min-height:80px;">
                            <div class="panel-id-stripe"
                                [ngClass]="expertOpnionsContextSummary.expertRatingBgColorClass"></div>
                            <button type="button" id="expertDescription" class="btn border-0 info-icon" data-bs-container="body"
                                data-bs-toggle="popover" data-bs-placement="bottom"
                                 (click)="openQuickDescriptionPopup(wordpressIdMapping.Experts,'Experts',$event);">
                                <i class="bi bi-question-circle"></i>
                            </button>
                            <div #qickDescriptionPopup style="z-index:100;" *ngIf="showQuickScanDescription" class="info-tool-tip" [style.top.px]="createQickDescriptionYPosition" [style.left.px]="createQickDescriptionXPosition" [style.position]="'absolute'">
                                <app-quick-description [id]='quickDescriptionId' [defaultTextForPopup]="quickDescriptionDefaultText" (messageToClose)="onCloseQuickDescriptionPopupEvent();">
                                </app-quick-description>
                            </div>
                            <h2>Experts: <span class="bold"
                                    [ngClass]="expertOpnionsContextSummary.expertRatingLableColorClass">{{expertOpnionsContextSummary.status}}</span>
                            </h2>
                        </div>
                    </div>
                    <!-- COL -- Rating Factor Bars -->
                    <div
                        class="col-xl-3 col-lg-4 col-md-6 col-sm-12 bg-lighter border-md-right-0 border-lg-right border-top border-md-top-0">
                        <div class="d-flex flex-column h-100">
                            <div class="factor-row">
                                <span class="factor-label">Estimate Trend</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertEstimateTrend==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertEstimateTrend==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertEstimateTrend==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertEstimateTrend==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertEstimateTrend==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row">
                                <span class="factor-label">Short Interest</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertShortInterest==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertShortInterest==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertShortInterest==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertShortInterest==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertShortInterest==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row">
                                <span class="factor-label">Insider Activity</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertInsiderActivity==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertInsiderActivity==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertInsiderActivity==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertInsiderActivity==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertInsiderActivity==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row">
                                <span class="factor-label">Analyst Rating Trend</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRatingTrend==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRatingTrend==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRatingTrend==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRatingTrend==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRatingTrend==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row">
                                <span class="factor-label">Industry Rel. Strength</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertIndustrialRelStrength==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertIndustrialRelStrength==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertIndustrialRelStrength==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertIndustrialRelStrength==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertIndustrialRelStrength==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COL -- Rating Description -->
                    <div class="col-xl-6 col-lg-5 col-lg-5 col-md-12 col-sm-12 border-top border-lg-top-0 bg-medium">
                        <div class="d-flex flex-column p-block p-4 p-lg-3 ">
                            <span class="text">{{expertOpnionsContextSummary.generalSentence}}</span>
                            <span class="text">{{expertOpnionsContextSummary.explanatorySentence}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Panel Details -->
            <div class="row my-3 g-0">
                <div class="col-12 col-lg-6 py-3 ps-3 pe-1">
                    <div class="d-flex flex-column border-sm-right-0 border-md-right border-bottom border-md-bottom-0">
                        <h4>Earnings Estimate Revisions</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th class="label ps-0" scope="row"></th>
                                    <td class="label text-end pe-3">Current</td>
                                    <td class="label text-end pe-3">30D Ago</td>
                                    <td class="label text-end pe-3">% Change</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">Current Quarter</th>
                                    <td class="data text-end pe-3">{{expertDataModel.currentQuarterCurrent}}</td>
                                    <td class="data text-end pe-3">{{expertDataModel.currentQuarter30Dago}}</td>
                                    <td class="data text-end pe-3">{{expertDataModel.currentQuarterPercentChange}}</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">Next Quarter</th>
                                    <td class="data text-end pe-3">{{expertDataModel.nextQuarterCurrent}}</td>
                                    <td class="data text-end pe-3">{{expertDataModel.nextQuarter7Dago}}</td>
                                    <td class="data text-end pe-3">{{expertDataModel.nextQuarterPercentChange}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6 py-3 ps-3 pe-1">
                    <div class="d-flex flex-column border-sm-right-0 border-md-right border-bottom border-md-bottom-0">
                        <h4>Short Interest</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="data text-center pe-3"> <span [ngClass]="expertDataModel.shortIntrestHighColor">High</span></td>
                                </tr>
                                <tr>
                                    <td class="data text-center pe-3"><span [ngClass]="expertDataModel.shortIntrestMediumColor">Medium</span></td>
                                </tr>
                                <tr>
                                    <td class="data text-center pe-3"><span [ngClass]="expertDataModel.shortIntrestLowColor">Low</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6 py-3 ps-3 pe-1">
                    <div class="d-flex flex-column">
                        <h4>Wall Street Consensus</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th class="label ps-0" scope="row">This Week</th>
                                    <td class="data text-end pe-3"><span [ngClass]="expertDataModel.meanThisWeekColor">{{expertDataModel.meanThisWeek}}</span></td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">Last Week</th>
                                    <td class="data text-end pe-3"><span [ngClass]="expertDataModel.meanLastWeekColor">{{expertDataModel.meanLastWeek}}</span></td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">5 Weeks Ago</th>
                                    <td class="data text-end pe-3"><span [ngClass]="expertDataModel.fiveweekagoColor">{{expertDataModel.fiveweekago}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>