<div class="dialog-wrapper dialog-wrapper--confirm" id="info-popup">
	<div class="dialog-container">

		<section class="row dialog-header mb-4" *ngIf="title">
			<div class="col-12 d-flex align-items-center">
                <h3 >{{title}}</h3>
            </div>
        </section>

        <section class="row dialog-body mb-4">
            <div class="col-12  d-flex flex-column">
				<div class="p-block">
		    		<h4 class="text">{{message}}</h4>
		    		<h4 class="error" *ngIf="errorMessage">{{errorMessage}}</h4>
		    	</div>
		    </div>
	    </section>

	    <section class="row dialog-footer" *ngIf="noButtonText || yesButtonText">
	    	<div class="col-12">
		        <div class="d-flex flex-row dialog-buttons-wrapper">
				    <button mat-button color="secondary" *ngIf="noButtonText" (click)="onDismiss()" style="margin:0;">{{noButtonText}}</button>
				    <span class="flex-spacer"></span>
				    <button mat-flat-button color="primary" *ngIf="yesButtonText" (click)="onConfirm()">{{yesButtonText}}</button>
				</div>
			</div>
		</section>
	</div>
</div>