<div class="row section-rating-breakdown my-5" >
    <div class="col">
        <div class="panel c-panel">
            <!-- Panel Header -->
            <!-- <div class="d-flex flex-row align-items-center w-100 panel-header">
                <span class="header-icon"><i class="bi bi-sliders mx-2"></i></span>
                <h3> Financial Component Summary</h3>
                <span class="flex-spacer"></span>
                <a href="" class="text-link me-2">Learn More »</a>
            </div> -->

            <!-- Panel Object -->
            <div class="d-flex flex-row panel-object" id="financial">
                <div class="row g-0">
                    <!-- COL -- Rating Statement -->
                    <div class="col-lg-3 col-md-6 col-sm-12 border-sm-right-0 border-md-right">
                        <div class="d-flex align-items-center h-100 position-relative ps-3 ps-md-4 ps-lg-3 ps-xl-4"
                            style="min-height:80px;">
                            <div class="panel-id-stripe"
                                [ngClass]="financialContextSummary.financialRatingBgColorClass"></div>
                            <button type="button" id="financialDescription" class="btn border-0 info-icon" data-bs-container="body"
                                data-bs-toggle="popover" data-bs-placement="bottom"
                                (click)="openQuickDescriptionPopup(wordpressIdMapping.Financials,'Financials',$event);">
                                <i class="bi bi-question-circle"></i>
                            </button>
                            <div #qickDescriptionPopup style="z-index:100;" *ngIf="showQuickScanDescription" class="info-tool-tip" [style.top.px]="createQickDescriptionYPosition" [style.left.px]="createQickDescriptionXPosition" [style.position]="'absolute'">
                                <app-quick-description [id]='quickDescriptionId' [defaultTextForPopup]="quickDescriptionDefaultText" (messageToClose)="onCloseQuickDescriptionPopupEvent();">
                                </app-quick-description>
                            </div>
                            <h2>Financials: <span class="bold"
                                    [ngClass]="financialContextSummary.financialRatingLableColorClass">{{financialContextSummary.status}}</span>
                            </h2>
                        </div>
                    </div>
                    <!-- COL -- Rating Factor Bars -->
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 bg-lighter border-md-right-0 border-lg-right border-top border-md-top-0">
                        <div class="d-flex flex-column h-100">
                            <div class="factor-row">
                                <span class="factor-label">LT Debt to Equity</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialDebtToEquity==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialDebtToEquity==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialDebtToEquity==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialDebtToEquity==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialDebtToEquity==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row">
                                <span class="factor-label">Price to Book</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToBook==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToBook==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToBook==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToBook==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToBook==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row">
                                <span class="factor-label">Return on Equity</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialReturnOnEquity==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialReturnOnEquity==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialReturnOnEquity==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialReturnOnEquity==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialReturnOnEquity==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row">
                                <span class="factor-label">Price to Sales</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToSales==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToSales==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToSales==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToSales==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToSales==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div class="factor-row">
                                <span class="factor-label">Free Cash Flow</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialFreeCashFlow==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialFreeCashFlow==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialFreeCashFlow==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialFreeCashFlow==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                        role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialFreeCashFlow==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                        role="progressbar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COL -- Rating Description -->
                    <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 border-top border-lg-top-0 bg-medium">
                        <div class="d-flex flex-column p-block p-4 p-lg-3 ">
                            <span class="text">{{financialContextSummary.generalSentence}}</span>
                            <span class="text">{{financialContextSummary.explanatorySentence}}</span>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Panel Details -->
            <div class="row my-3 g-0">
                <div class="col-12 col-lg-3 col-md-6 py-3 ps-3 pe-1">
                    <div class="d-flex flex-column border-sm-right-0 border-md-right border-bottom border-md-bottom-0">
                        <h4>Assets & Liabilities</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th class="label ps-0" scope="row">Current Ratio</th>
                                    <td class="data text-end pe-3">{{financialData.current_ratioFormatted}}</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">LT Debt/Equity</th>
                                    <td class="data text-end pe-3">{{financialData.debtEquityFormatted}}</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">Market Cap</th>
                                    <td class="data text-end pe-3">{{financialData.marketCapFormatted}}</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">Revenue</th>
                                    <td class="data text-end pe-3">{{financialData.revenueFormatted}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6 py-3 ps-3 pe-1">
                    <div class="d-flex flex-column border-md-right-0 border-lg-right border-bottom border-md-bottom-0">
                        <h4>Valuation</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th class="label ps-0" scope="row">Price/Earnings</th>
                                    <td class="data text-end pe-3">{{financialData.priceEarningFormatted}}</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">PEG</th>
                                    <td class="data text-end pe-3">{{financialData.pegFormatted}}</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">Price to Book</th>
                                    <td class="data text-end pe-3">{{financialData.priceToBookFormatted}}</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">Price to Sales</th>
                                    <td class="data text-end pe-3">{{financialData.priceToSaleFormatted}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6 py-3 ps-3 pe-1">
                    <div class="d-flex flex-column border-sm-right-0 border-md-right border-bottom border-md-bottom-0">
                        <h4>Dividends</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th class="label ps-0" scope="row">Div per Share</th>
                                    <td class="data text-end pe-3">{{financialData.dividendPerShareFormatted}}</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">Payout</th>
                                    <td class="data text-end pe-3">{{financialData.payoutRatioFormatted}}</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">Yield</th>
                                    <td class="data text-end pe-3">{{financialData.yieldFormatted}}</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">Annual 5Y Growth Rate</th>
                                    <td class="data text-end pe-3">{{financialData.growthRate5YearFormatted}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6 py-3 ps-3 pe-1">
                    <div class="d-flex flex-column">
                        <h4>Returns</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th class="label ps-0" scope="row">1Y Return on Invest
                                    </th>
                                    <td class="data text-end pe-3">{{financialData.returnOnInvestmentFormatted}}</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">1Y Return on Equity</th>
                                    <td class="data text-end pe-3">{{financialData.returnOnEquityFormatted}}</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">1 Month Return</th>
                                    <td class="data text-end pe-3">{{financialData.returnOneMonthFormatted}}</td>
                                </tr>
                                <tr>
                                    <th class="label ps-0" scope="row">3 Month Return</th>
                                    <td class="data text-end pe-3">{{financialData.returnThreeMonthFormatted}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>