<div class="row section-etf-info my-4">
    <div class="col">
      <div class="panel c-panel">
        <!-- Panel Header -->
        <div class="d-flex flex-row align-items-center w-100 panel-header">
          <span class="header-icon"><i class="bi bi-list-ol mx-2"></i></span>
          <h3> ETF Stats</h3>
          <span class="flex-spacer"></span>
        </div>

        <!-- Panel Object -->
        <div class="d-flex flex-row panel-object">
          <div class="row g-0 w-100">
            <div class="col-12 col-md-4 py-3 ps-3 pe-1">
              <div class="d-flex flex-column border-sm-right-0 border-md-right border-bottom border-md-bottom-0">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <th class="label ps-0" scope="row">Assets</th>
                      <td class="data text-end pe-3">{{etfTickerData.assetsFormatted}}</td>
                    </tr>
                    <tr>
                      <th class="label ps-0" scope="row">Expense Ratio</th>
                      <td class="data text-end pe-3">{{etfTickerData.expenseRatioFormatted}}</td>
                    </tr>
                    <tr>
                      <th class="label ps-0" scope="row">Management</th>
                      <td class="data text-end pe-3">{{etfTickerData.management}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-12 col-md-4 py-3 ps-3 pe-1">
              <div class="d-flex flex-column border-sm-right-0 border-md-right border-bottom border-md-bottom-0">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <th class="label ps-0" scope="row">ETF Group Name</th>
                      <td class="data text-end pe-3">{{etfTickerData.etfGroup}}</td>
                    </tr>
                    <tr>
                      <th class="label ps-0" scope="row">Long/Short</th>
                      <td class="data text-end pe-3">{{etfTickerData.strategy}}</td>
                    </tr>
                    <tr>
                      <th class="label ps-0" scope="row">Holdings</th>
                      <td class="data text-end pe-3">{{etfTickerData.holdings}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-12 col-md-4 py-3 ps-3 pe-1">
              <div class="d-flex flex-column">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <th class="label ps-0" scope="row">Beta</th>
                      <td class="data text-end pe-3">{{etfTickerData.beta}}</td>
                    </tr>
                    <tr>
                      <th class="label ps-0" scope="row">Yield</th>
                      <td class="data text-end pe-3">{{etfTickerData.dividentYieldFormatted}}</td>
                    </tr>
                    <tr>
                      <th class="label ps-0" scope="row">Avg Daily Volume</th>
                      <td class="data text-end pe-3">{{etfTickerData.avgDailyVolumeFormatted}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>