#component-pgrWidget {
	max-width: 414px;
	min-width: 295px;

	.panel-header {
		h3 {
			text-transform: none;
			font-size: 14px;
			font-weight: 400;
		}
		.text-link {
			font-size:18px;
			color:rgba(255,255,255,.5);
		}
	}
	.panel-object {
		.stock-details {
			.ticker-container {
				width:110px;
				color:#141D36;
				.ticker {
					font-size:28px;
					font-weight:700;
					line-height: 1.2;
				}
				.name {
					font-size:14px;
					font-weight:400;
					white-space: nowrap;
				}
			}
			.price-details {
				font-size: 16px;
				padding-top:4px;
				flex-grow:1;
				justify-content:space-between;
				.change-icon {
					font-size:18px;
					line-height: 1;
				}
			}
		}
		.stock-rating {
			height: 76px;
			background-color: #141D36;
			.rating-arc-container {
				.large-rating-arc {
					height: 60px;
					width: 128px;
					align-self:end;
				}
				@media (max-width:360px) {
					.large-rating-arc {
						height: 52px;
						width: auto;
					}
				}
			}
			.rating-text-container {
				color:white;
				overflow: hidden;
				.label {
					color:white;
					font-weight:400;
					font-size: 12px;
					line-height: 1;
					margin:4px 0 0px 2px;
					text-transform: uppercase;
				}
				.rating-text {
					font-size: 48px;
					line-height: 1;
					white-space: nowrap;

					@media (max-width:410px) {
						font-size: 44px;

						&.veryBullish-label {
							font-size: 32px !important;
						}
						&.veryBearish-label {
							font-size: 32px !important;
						}
					}
					@media (max-width:360px) {
						font-size: 40px;

						&.veryBullish-label {
							font-size: 26px !important;
						}
						&.veryBearish-label {
							font-size: 26px !important;
						}
					}

					&.veryBullish-label {
						font-size: 39px;
					}
					&.veryBearish-label {
						font-size: 39px;
					}
				}
			}
		}
		.rating-factors {
			.label {
				color:#141D36;
				font-weight:400;
				font-size: 12px;
				line-height: 1;
				text-transform: uppercase;
			}
			.callout {
				font-size: 12px;
				line-height: 1;
				color:#666666;
				i {
					color:#61B9FF;
				}
			}
			.accordion {
				border-bottom: 1px solid rgba(0,0,0,.125);
				.accordion-item {
				    border-top: 1px solid rgba(0,0,0,.125);
				    border-bottom: 0px;
				    border-left: 0px;
				    border-right: 0px;
				    border-radius:0 !important;

				    .accordion-header {
					    .accordion-button {
					    	border-radius:0 !important;
					    	box-shadow: none !important;
					    	padding:.75em .75em .75em 1.125em;
					    	background-color: #ffffff;
					    	&.collapsed {
					    		background-color: rgba(16,22,41,0.03);
					    	}
					    	&:after {
					    		opacity: 0.5;
					    	}
					    	.factor-row {
					    		padding-right:10px;

					    		.factor-label {
					    			color:#141D36;
						    		font-size:16px;
						    		min-width:100px;
						    	}
						    	.sliderProgress {
								    height: 18px;
								}
								.slider-disc {
								  	height: 18px;
								  	width: 18px;
								}
								.slider-veryBullish {
								  	margin-left: -16px;
								}

					    	}
					    }
					}
					.accordion-collapse {
						.accordion-body {
							padding:0em;
							border-top: 1px solid rgba(0,0,0,.125);
							.factor-row {
								padding:0.33em 2.5em 0.33em 1.25em;
					    		.factor-label {
					    			color:#141D36;
						    		min-width:130px;
						    		font-weight: 300;
						    	}
					    	}
						}
					}
				}
			}
		}
	}
}