<!-- COMPONENT -- PGR Widget -->
<div class="panel c-panel h-100" id="component-pgrWidget" >
    <!-- Panel Header -->
    <div class="d-flex flex-row align-items-center w-100 panel-header">
        <span class="header-icon"><i class="bi bi-speedometer2 mx-2"></i></span>
        <h3>Chaikin PowerGauge™ Rating</h3>
        <span class="flex-spacer"></span>
        <!-- <span class="text-link"><i class="bi bi-question-circle"></i></span> -->
    </div>

    <!-- Panel Object -->
    <div class="panel-object flex-column">
        <!-- Stock Details -->
        <div class="d-flex flex-row stock-details px-3 py-2">
            <div class="d-flex flex-column ticker-container ">
                <span class="d-inline-flex ticker">{{headerDataModel.symbol}}</span>
                <span class="d-inline-flex name">{{headerDataModel.name}}</span>
            </div>
            <span class="flex-spacer"></span>
            <div class="d-flex price-details">
                <!-- <span class="d-inline-flex change-icon up"><i class="bi bi-arrow-up"></i></span> -->
                <span class="d-inline-flex price">{{headerDataModel.lastFormattedString}}</span>
                <span class="d-inline-flex change" [ngClass]="headerDataModel.percentageChangeColor">{{headerDataModel.changeFormattedString}}</span>
                <span class="d-inline-flex change" [ngClass]="headerDataModel.percentageChangeColor"><em>{{headerDataModel.percentageChangeFormattedString}}</em></span>
            </div>
        </div>
        <!-- Stock Rating -->
        <div class="d-flex flex-row stock-rating">
            <div class="d-flex rating-arc-container ps-2">
                <img class="large-rating-arc" [src]="headerDataModel.pgrImageSrcGradient">
                <div class="d-flex flex-column justify-content-center rating-text-container ps-2">
                    <span class="label">Overall Rating:</span>
                    <span class="rating-text" [ngClass]="headerDataModel.ratingTypeColorLabel">{{headerDataModel.ratingType}}</span>

                </div>
            </div>
        </div>
        <!-- Rating Breakdown -->
        <div class="d-flex flex-column rating-breakdown p-3">
            <!-- <h2>{{headerDataModel.name}} (<b>{{headerDataModel.symbol}}</b>) </h2> -->
            <!-- <p class="text">The Chaikin PowerGauge Rating for <b>KO</b> is <b class="bullish-label">Bullish</b> due to strong price/volume activity and positive expert activity. The stock also has poor financial metrics.</p> -->
            <span class="text">{{pgrContextSummary.mainSentence}}</span>
            <span class="text">{{pgrContextSummary.additonalSentence}}</span>
            <span class="text">{{pgrContextSummary.neutralSentence}}</span>
        </div>
        <!-- Rating Factors -->
        <div class="d-flex flex-column rating-factors">
            <div class="d-flex flex-row pb-2 px-3">
                <span class="label">Rating Factors:</span>
                <span class="flex-spacer"></span>
                <span class="callout">Click <i class="bi bi-chevron-down"></i> for more details</span>
            </div>
            <div class="accordion" id="accordionFactors">
                <!-- Financials -->
                <div class="accordion-item">
                    <div class="accordion-header" id="factorOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <div class="factor-row">
                                <span class="factor-label">Financials</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialRating==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish" role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialRating==2">
                                    <div class="slider-disc slider-bearish"></div>
                                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish" role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialRating==3">
                                    <div class="slider-disc slider-neutral"></div>
                                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral" role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialRating==4">
                                    <div class="slider-disc slider-bullish"></div>
                                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish" role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.financialRating==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish" role="progressbar"></div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="factorOne" data-bs-parent="#accordionFactors">
                        <div class="accordion-body">
                            <div class="d-flex flex-column h-100">
                                <div class="factor-row">
                                    <span class="factor-label">LT Debt to Equity</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialDebtToEquity==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialDebtToEquity==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialDebtToEquity==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialDebtToEquity==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialDebtToEquity==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="factor-row">
                                    <span class="factor-label">Price to Book</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToBook==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToBook==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToBook==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToBook==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToBook==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="factor-row">
                                    <span class="factor-label">Return on Equity</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialReturnOnEquity==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialReturnOnEquity==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialReturnOnEquity==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialReturnOnEquity==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialReturnOnEquity==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="factor-row">
                                    <span class="factor-label">Price to Sales</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToSales==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToSales==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToSales==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToSales==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialPriceToSales==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="factor-row">
                                    <span class="factor-label">Free Cash Flow</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialFreeCashFlow==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialFreeCashFlow==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialFreeCashFlow==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialFreeCashFlow==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.financialFreeCashFlow==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Earnings -->
                <div class="accordion-item">
                    <div class="accordion-header" id="factorTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="factor-row">
                                <span class="factor-label">Earnings</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningRating==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningRating==2">
                                    <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningRating==3">
                                    <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningRating==4">
                                    <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.earningRating==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="factorTwo" data-bs-parent="#accordionFactors">
                        <div class="accordion-body">
                            <div class="d-flex flex-column h-100">
                                <div class="factor-row">
                                    <span class="factor-label">Earnings Growth</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningGrowth==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningGrowth==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningGrowth==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningGrowth==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningGrowth==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="factor-row">
                                    <span class="factor-label">Earnings Surprise</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningSurprise==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningSurprise==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningSurprise==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningSurprise==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningSurprise==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="factor-row">
                                    <span class="factor-label">Earnings Trend</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningTrend==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningTrend==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningTrend==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningTrend==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningTrend==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="factor-row">
                                    <span class="factor-label">Projected P/E</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningProfitToEarning==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningProfitToEarning==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningProfitToEarning==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningProfitToEarning==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningProfitToEarning==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="factor-row">
                                    <span class="factor-label">Earnings Consistency</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningConsistency==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningConsistency==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningConsistency==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningConsistency==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.earningConsistency==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Technicals -->
                <div class="accordion-item">
                    <div class="accordion-header" id="factorThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="factor-row">
                                <span class="factor-label">Technicials</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==2">
                                    <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==3">
                                    <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==4">
                                    <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.technicalRating==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="factorThree" data-bs-parent="#accordionFactors">
                        <div class="accordion-body">
                            <div class="d-flex flex-column h-100">
                                <div class="factor-row">
                                    <span class="factor-label">Rel Strength vs Market</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalRelativeStrengthVsMarket==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalRelativeStrengthVsMarket==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalRelativeStrengthVsMarket==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalRelativeStrengthVsMarket==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalRelativeStrengthVsMarket==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                    </div>
                                    <div class="factor-row">
                                      <span class="factor-label">Chaikin Money Flow</span>
                                      <div class="sliderProgress" *ngIf="headerDataModel.technicalChaikinMoneyFlow==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalChaikinMoneyFlow==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalChaikinMoneyFlow==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalChaikinMoneyFlow==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalChaikinMoneyFlow==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                    </div>
                                    <div class="factor-row">
                                      <span class="factor-label">Price Strength</span>
                                      <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceStrength==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceStrength==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceStrength==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceStrength==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceStrength==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                    </div>
                                    <div class="factor-row">
                                      <span class="factor-label">Price Trend ROC</span>
                                      <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceTrendRoc==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceTrendRoc==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceTrendRoc==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceTrendRoc==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceTrendRoc==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                    </div>
                                    <div class="factor-row">
                                      <span class="factor-label">Volume Trend</span>
                                      <div class="sliderProgress" *ngIf="headerDataModel.technicalVolumeTrend==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalVolumeTrend==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalVolumeTrend==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalVolumeTrend==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.technicalVolumeTrend==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experts -->
                <div class="accordion-item">
                    <div class="accordion-header" id="factorFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <div class="factor-row">
                                <span class="factor-label">Experts</span>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRating==1">
                                    <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRating==2">
                                    <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRating==3">
                                    <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRating==4">
                                    <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                </div>
                                <div class="sliderProgress" *ngIf="headerDataModel.expertRating==5">
                                    <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="factorFour" data-bs-parent="#accordionFactors">
                        <div class="accordion-body">
                            <div class="d-flex flex-column h-100">
                                <div class="factor-row">
                                    <span class="factor-label">Estimate Trend</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertEstimateTrend==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertEstimateTrend==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertEstimateTrend==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertEstimateTrend==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertEstimateTrend==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="factor-row">
                                    <span class="factor-label">Short Interest</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertShortInterest==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertShortInterest==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertShortInterest==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertShortInterest==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertShortInterest==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="factor-row">
                                    <span class="factor-label">Insider Activity</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertInsiderActivity==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertInsiderActivity==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertInsiderActivity==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertInsiderActivity==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertInsiderActivity==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="factor-row">
                                    <span class="factor-label">Analyst Rating Trend</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertRatingTrend==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertRatingTrend==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertRatingTrend==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertRatingTrend==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertRatingTrend==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="factor-row">
                                    <span class="factor-label">Industry Rel. Strength</span>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertIndustrialRelStrength==1">
                                        <div class="slider-disc slider-veryBearish"></div>
                                        <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertIndustrialRelStrength==2">
                                        <div class="slider-disc slider-bearish"></div>
                                        <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertIndustrialRelStrength==3">
                                        <div class="slider-disc slider-neutral"></div>
                                        <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertIndustrialRelStrength==4">
                                        <div class="slider-disc slider-bullish"></div>
                                        <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                                            role="progressbar"></div>
                                    </div>
                                    <div class="sliderProgress" *ngIf="headerDataModel.expertIndustrialRelStrength==5">
                                        <div class="slider-disc slider-veryBullish"></div>
                                        <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                                            role="progressbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Rating Explanation -->
        <div class="d-flex flex-column breakdown p-3">
            <h2>What is <em><b>{{headerDataModel.ratingType}}</b></em>?</h2>
            <p class="text" *ngIf="headerDataModel.pgr==9">Stocks with a Very Bullish rating are highly likely to <b>outperform</b> the market over the next 1-6 months</p>
            <p class="text" *ngIf="headerDataModel.pgr==8">Stocks with a Bullish rating are likely to <b>outperform</b> the market over the next 1-6 months.</p>
            <p class="text" *ngIf="headerDataModel.pgr==6">Stocks with a Neutral+ rating have strong intermediate-term potential, but greater short-term risk</p>
            <p class="text" *ngIf="headerDataModel.pgr==5">Stocks with a Neutral rating are neither likely nor unlikely to outperform the market over the next 1-6 months.</p>
            <p class="text" *ngIf="headerDataModel.pgr==4">Stocks with a Neutral- rating have weak intermediate-term potential, but greater short-term strength</p>
            <p class="text" *ngIf="headerDataModel.pgr==2">Stocks with a Bearish rating are highly likely to <b>underperform</b> the market over the next 1-6 months.</p>
            <p class="text" *ngIf="headerDataModel.pgr==1">Stocks with a Very Bearish rating are highly likely to <b>underperform</b> the market over the next 1-6 months.</p>
            <a target="_blank" href="https://www.chaikinanalytics.com/power-gauge-factors/" class="text-link">Read more about the Chaikin PowerGauge »</a>
        </div>
    </div>
</div>