@import 'src/styles/variables';

#app-header-top {
	background-color: $bg-darker;
	height:42px;
	color:white;

	@media (max-width:575px) {
		padding-right:0;
	}
	a {
		color:white;
	}
	.nav {
		color:white;
		.nav-item {
			font-weight: 300;
			font-size: 1em;
			
			.nav-link {
				height:42px;
				padding:0.5em 1em;

				&:hover {
    				background: rgba(255,255,255,0.15);
    			}
				&.active {
					background-color:white;
					color: $text-color;
					font-weight: 500;
				}
			}
		}
	}
	.btn {
		color:#ffffff !important;
		white-space:nowrap;
		align-items:center;
		&:hover {
			color:#ffffff;
		}
		@media (max-width:575px) {
			padding-right:8px;
			padding-left:8px;
		}
		.icon-large {
			font-size: 24px;
		}
	}
	.dropdown {
		.dropdown-menu {
			background: $bg-darker;
			min-width:300px;
			border-radius:5px;
			border-top: 1px solid rgba(255,255,255,0.25);
			box-shadow:0px 4px 15px rgba(0,0,0,0.5);

			@media screen and (max-width: 576px){
				width:100%;
				border-radius:0 0 5px 5px;
			}
			li {
				h5 {
					color: white;
				    font-size: 11px;
				    text-transform: uppercase;
				    margin-top: 20px;
				    margin-left: 15px;
				    font-weight:500;
				    opacity:0.75; 
				}
				.dropdown-item {
					font-size: 15px;
					color: rgba(255,255,255,0.9);

					i {
						color:$link-color;
					}

					&:hover {
						background-color: rgba(255,255,255,0.1);
						color: rgba(255,255,255,1);
						i {
							color:$button-color;
						}
					}
					.log-out-link {
						color:$link-color; 
						text-decoration: underline;
						font-size: 14px;
					}
				}
				.dropdown-divider {
				    border-top: 1px solid rgba(255,255,255,.95);
				}
				.list-group {
					border-radius:0;
					.list-group-item {
						color: rgba(255,255,255,0.9);
						padding:0.25em 1.5em;
						background-color: transparent;
						cursor:pointer;
						&:hover {
							background-color: rgba(255,255,255,0.1);
							color: rgba(255,255,255,1);
							.link {
								text-decoration: none;
							}
						}
						.link {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	.app-logo {
		width:100%;

		&#app-logo--pp {
			max-height:30px;
			min-width:150px;
			max-width:220px;
		}
		&#arc-logo--pp {
			max-height:28px;
			min-width: 48px;
			width:auto;
		}
		&#app-logo--ppp {
			max-height:28px;
			min-width:180px;
			max-width:280px;
		}
		&#arc-logo--ppp {
			max-height:28px;
			min-width: 48px;
			width:auto;
		}
		&#app-logo--pga {
			height:30px;
			width:auto;
		}
		&#arc-logo--pga {
			max-height:28px;
			min-width: 48px;
			width:auto;
		}
	}
	.offcanvas {
		background: $bg-darker;
		h5 {
			color:$white;
			font-weight: 500;
			margin:0;
		}
		.btn-close {
			color:white !important;
			background: none;
			font-size: 24px;
			line-height: 1;
			opacity: 1;
		}
		.offcanvas-body {
			overflow: scroll-y;
			.nav {
				.nav-item {
					border-top:1px solid $border-color-darker;
					padding:0;
					.nav-link {
						font-weight: 300;
						font-size:18px;
						height:auto;
						padding:1em;

						i {
							color:$link-color;
						}
						.nav-link-toggle-icon {
							font-size:36px; 
							line-height: 1;
							margin: -5px 0;

							&.on {
								i {
									color:$button-color;
								}
							}
							&.off {
								transform:rotate(180deg);
								i {
									color:rgba(255,255,255,0.8);
								}
							}
						}
						&.active {
							border-bottom:0px solid #ffffff;
							border-left:5px solid $link-color;
							font-weight: 500;
							margin-left:-5px;
						}
					}
					&:last-of-type {
						border-bottom:1px solid $border-color-darker;
					}
					&.nav-section-title {
						border-top:2px solid rgba(255,255,255,0.5);
						padding:1em 1.5em;
						h5 {
							margin:1em 0 0;
						}
					}
				}
			}
			.list-group {
				border-radius:0;
				.list-group-item {
					color: rgba(255,255,255,0.9);
					padding:0.5em 1.5em;
					background-color: transparent;
					cursor:pointer;
					font-weight: 400;
					&:hover {
						background-color: rgba(255,255,255,0.1);
						color: rgba(255,255,255,1);
						.link {
							text-decoration: none;
						}
					}
					.link {
						font-size: 1em;

					}
				}
			}
		}
	}
}

.app-header-top {}