<!-- HEADER TOP -->
<section class="container-fluid app-header-top" id="app-header-top">

<!------- *IF -------- POWER GAUGE ANALYTICS ---------------->
    <div class="row align-items-center h-100 g-0"  *ngIf="userAccess.userPermission.earning" >

        <!-- LOGO  -->
        <div class="col-auto d-flex pe-0 pe-sm-1 pe-md-3 align-items-center">
            <img class="app-logo" src="./assets/PGA__logo--arc.svg" id="arc-logo--pga">
        </div>

        <!-- Search + Nav -->
        <div class="col p-0 d-flex align-items-center">

            <!-- Mobile Nav Toggle -->
            <button class="btn btn-large d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMainNav" aria-controls="offcanvasMainNav" >
                <i class="bi bi-list icon-large"></i>
            </button>
                <!-- Mobile Nav Off Canvas Container -->
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMainNav" aria-labelledby="offcanvasMainNavLabel" >
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title ms-2" id="offcanvasMainNavLabel">Site Menu</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </div>
                    <div class="offcanvas-body p-0">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link pointer" aria-current="page" [ngClass]="(tabbedStructureActive.activeTabForHome) ? 'active' : ''" (click)="goToDashboard()">
                                    <i class="bi bi-house-door-fill me-3"></i>Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pointer" (click)="goToMarkets()" [ngClass]="(tabbedStructureActive.activeTabForMarket) ? 'active' : ''" >
                                    <i class="bi bi-bank2 me-3"></i>Markets
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pointer" (click)="goToAdvancedSearch()" [ngClass]="(tabbedStructureActive.activeTabForAdvancedSearch) ? 'active' : ''" >
                                    <i class="bi bi-lightbulb me-3"></i>Investment Ideas
                                </a>
                            </li>
                            <li class="nav-item nav-section-title">
                                <h5>Account</h5>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pointer" (click)="openLogoutPopup($event)">
                                    <i class="bi bi-grid-fill me-3"></i>View Subscriptions
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="productPreferenceApiData.isb2b === 'false'">
                                <a target="_blank" class="nav-link pointer" href="{{manageMembershipUrl}}">
                                    <img class="me-1" style="width: 28px; margin-left:-5px;" src="./assets/icon_account-gear.svg">
                                    <!-- <i class="bi bi-gear me-3"></i> -->
                                    Manage Membership
                                </a>
                             </li>
                            <li class="nav-item">
                                <a class="nav-link pointer" href="http://www.chaikinanalytics.com/CPGR-resources" target="_blank">
                                    <i class="bi bi-question-circle me-3"></i>Resource Center
                                </a>
                            </li>
                            <li class="nav-item nav-section-title">
                                <h5>Disclaimers</h5>
                            </li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">
                               <a  target="_blank" class="link"   href="https://www.chaikinanalytics.com/terms-and-conditions/">Terms of Service</a>
                            </li>
                            <li class="list-group-item">
                               <a target="_blank" class="link" href="https://www.chaikinanalytics.com/attributions/">Attributions</a>
                            </li>
                            <li class="list-group-item">
                               <a  target="_blank" class="link" href="https://www.chaikinanalytics.com/privacy/">Privacy Policy</a>
                            </li>
                            <li class="list-group-item">
                               <a  target="_blank" class="link" href="https://www.chaikinanalytics.com/privacy/#daa">Ad Choices</a>
                            </li>
                            <li class="list-group-item">
                               <a target="_blank" class="link" href="https://beaconstreet-privacy.my.onetrust.com/webform/c246f198-7123-4766-b29c-917342eff0f7/acb7d96e-254f-405c-bf58-34f7919eb6f2">Do Not Sell My Information</a>
                            </li>
                            <li class="list-group-item">
                                <a  (click) = "cookiePreference()">Cookie Preferences</a>
                            </li>
                        </ul>
                    </div>
                </div>

            <!-- Desktop Nav -- aria-current="page" --> 
            <ul class="nav d-none d-lg-flex pe-2">
                <li class="nav-item">
                    <a class="nav-link  pointer"  [ngClass]="(tabbedStructureActive.activeTabForHome) ? 'active' : ''" (click)="goToDashboard()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pointer" (click)="goToMarkets()" [ngClass]="(tabbedStructureActive.activeTabForMarket) ? 'active' : ''" >Markets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pointer" [ngClass]="(tabbedStructureActive.activeTabForAdvancedSearch) ? 'active' : ''" (click)="goToAdvancedSearch()">Investment Ideas</a>
                </li>
            </ul>

            <!-- Search -->
            <app-search class="d-flex flex-grow-1 position-relative" style="max-width: 600px;" (selectedSymbolOnLookUp)="onSymbolSelect($event)"  (selectedListId)=getWatchListUpdate($event)></app-search>
        </div>

        <!-- Account Section -->
        <div class="col-auto p-0 d-flex align-items-center justify-content-end">
            <!-- Advanced Mode Button -->
            <a class="btn border-0 d-none d-md-flex" type="button" target="_blank" (click)="switchToAdvancedMode($event)">
                <i class="bi bi-toggle-on text-link"></i>
                <!-- <i class="bi bi-toggle-off text-link" *ngIf="!toggleIcon"></i> -->
                <span class="ms-2" >Use Advanced Mode</span>
            </a>
            <!-- Manage Subscription Button -->
            <a class="btn border-0 d-none d-lg-flex" type="button" target="_blank" href="{{manageMembershipUrl}}" *ngIf="productPreferenceApiData.isb2b === 'false'" matTooltip="Manage Membership" matTooltipClass="action-tooltip" matTooltipPosition="below">
                <img style="width: 26px;" src="./assets/icon_account-gear.svg"><span class="ms-2 d-none"></span>
            </a>
            <!-- Account Button -->
            <span class="dropdown">
                <button class="btn border-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" matTooltip="My Account" matTooltipClass="action-tooltip" matTooltipPosition="below">
                    <i class="bi bi-person-circle"></i><span class="ms-2 d-none"></span>
                </button>

                <!-- Menu -->
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                            <span>{{userDetails.email}}</span>
                            <span class="link log-out-link ms-3" (click) = "logOut()">Log out</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center py-2 pointer" (click)="openLogoutPopup($event)">
                            <i class="bi bi-grid-fill"></i><span class="ms-3">View Subscriptions</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center py-2 pointer" href="http://www.chaikinanalytics.com/CPGR-resources" target="_blank">
                            <i class="bi bi-question-circle"></i><span class="ms-3">Resource Center</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center py-2 pointer"  *ngIf="userAccess.userPermission.welcomePopup" (click)="showWelcomePopUpForPGA()">
                            <i class="bi bi-ui-checks"></i><span class="ms-3">Getting Started</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <h5>Disclaimers</h5>
                    </li>
                    <li>
                        <ul class="list-group">
                            <li class="list-group-item">
                               <a  target="_blank" class="link"   href="https://www.chaikinanalytics.com/terms-and-conditions/">Terms of Service</a>
                            </li>
                            <li class="list-group-item">
                               <a target="_blank" class="link" href="https://www.chaikinanalytics.com/attributions/">Attributions</a>
                            </li>
                            <li class="list-group-item">
                               <a  target="_blank" class="link" href="https://www.chaikinanalytics.com/privacy/">Privacy Policy</a>
                            </li>
                            <li class="list-group-item">
                               <a  target="_blank" class="link" href="https://www.chaikinanalytics.com/privacy/#daa">Ad Choices</a>
                            </li>
                            <li class="list-group-item">
                               <a target="_blank" class="link" href="https://beaconstreet-privacy.my.onetrust.com/webform/c246f198-7123-4766-b29c-917342eff0f7/acb7d96e-254f-405c-bf58-34f7919eb6f2">Do Not Sell My Information</a>
                            </li>
                            <li class="list-group-item">
                                <a  (click) = "cookiePreference()">Cookie Preferences</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </span>
        </div>
    </div>

<!------- *IF -------- POWER PULSE PREMIUM ---------------->
    <div class="row align-items-center h-100" *ngIf="!userAccess.userPermission.earning && userAccess.userPermission.dashboard">
        <!-- LOGO   -->
        <div class="col-2 col-md-1 col-lg-4 d-flex justify-content-start align-items-center">
            <img class="app-logo d-none d-lg-inline-flex" id="app-logo--ppp" src="./assets/PPP__appLogo--onDark.svg">
            <img class="app-logo d-lg-none" id="arc-logo--ppp" src="./assets/PPP__logo--arc.svg">
        </div>

        <!-- Search -->
        <div class="col-7 col-md-6 col-lg-4 d-flex align-items-center position-relative">
            <app-search class="w-100 pe-0 pe-lg-4 pe-xl-0"  (selectedSymbolOnLookUp)="onSymbolSelect($event)"  (selectedListId)=getWatchListUpdate($event)></app-search>
        </div>

        <!-- Account Section -->
        <div class="col-3 col-md-5 col-lg-4 d-flex align-items-center justify-content-end" >
            <!-- Help -->
            <!-- <a class="btn border-0 " type="button" target="_blank" href="http://www.chaikinanalytics.com/CPGR-resources">
                <i class="bi bi-question-circle"></i><span class="ms-2 d-none d-lg-inline-flex">Help</span>
            </a> -->
            <!-- Subscriptions -->
            <!-- <button class="btn border-0 " type="button" (click)="openLogoutPopup($event)">
                <i class="bi bi-grid-fill"></i><span class="ms-2 d-none d-lg-inline-flex">My Subscriptions</span>
            </button> -->
            <a class="btn border-0" type="button" target="_blank" href="{{manageMembershipUrl}}" *ngIf="productPreferenceApiData.isb2b === 'false'" matTooltip="Manage Membership" matTooltipClass="action-tooltip" matTooltipPosition="below">
                <img style="width: 26px;"   src="./assets/icon_account-gear.svg"><span class="ms-2 d-none d-lg-inline-flex"></span>
            </a>
            <!-- Account -->
            <span class="dropdown">
                <button class="btn border-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" matTooltip="My Account" matTooltipClass="action-tooltip" matTooltipPosition="below">
                    <i class="bi bi-person-circle"></i><span class="ms-2 d-none d-lg-inline-flex"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                            <span>{{userDetails.email}}</span>
                            <span class="link ms-3" (click) = "logOut()">Log out</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center py-2 pointer" (click)="openLogoutPopup($event)">
                            <i class="bi bi-grid-fill"></i><span class="ms-3">My Subscriptions</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center py-2 pointer" href="http://www.chaikinanalytics.com/CPGR-resources" target="_blank">
                            <i class="bi bi-question-circle"></i><span class="ms-3">Resource Center</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <h5>Disclaimers</h5>
                    </li>
                    <li>
                        <ul class="list-group">
                            <li class="list-group-item">
                               <a  target="_blank" class="link"   href="https://www.chaikinanalytics.com/terms-and-conditions/">Terms of Service</a>
                            </li>
                           <!--  <li class="list-group-item" *ngIf="productPreferenceApiData.isb2b === 'false'">
                                <a target="_blank" class="link" href="{{manageMembershipUrl}}">Manage Membership</a>
                             </li> -->
                            <li class="list-group-item">
                               <a target="_blank" class="link" href="https://www.chaikinanalytics.com/attributions/">Attributions</a>
                            </li>
                            <li class="list-group-item">
                               <a  target="_blank" class="link" href="https://www.chaikinanalytics.com/privacy/">Privacy Policy</a>
                            </li>
                            <li class="list-group-item">
                               <a  target="_blank" class="link" href="https://www.chaikinanalytics.com/privacy/#daa">Ad Choices</a>
                            </li>
                            <li class="list-group-item">
                               <a target="_blank" class="link" href="https://beaconstreet-privacy.my.onetrust.com/webform/c246f198-7123-4766-b29c-917342eff0f7/acb7d96e-254f-405c-bf58-34f7919eb6f2">Do Not Sell My Information</a>
                            </li>
                            <li class="list-group-item">
                                <a   (click) = "cookiePreference()">Cookie Preferences</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </span>
        </div>
    </div>

<!------- *IF -------- POWER PULSE ---------------->
    <div class="row align-items-center h-100" *ngIf="!userAccess.userPermission.dashboard">
        <!-- LOGO   -->
        <div class="col-2 col-md-1 col-lg-4 d-flex justify-content-start align-items-center">
            <img class="app-logo d-none d-lg-inline-flex" id="app-logo--pp" src="./assets/PP__logo--onDark.svg">
            <img class="app-logo d-lg-none" id="arc-logo--pp" src="./assets/PPP__logo--arc.svg">
        </div>

        <!-- Search -->
        <div class="col-7 col-md-6 col-lg-4 d-flex align-items-center position-relative">
            <app-search class="w-100"  (selectedSymbolOnLookUp)="onSymbolSelect($event)"  (selectedListId)=getWatchListUpdate($event)></app-search>
        </div>

        <!-- Account Section -->
        <div class="col-3 col-md-5 col-lg-4 d-flex align-items-center justify-content-end" >
            <!-- Help -->
            <!-- <a class="btn border-0 " type="button" target="_blank" href="http://www.chaikinanalytics.com/CPGR-resources">
                <i class="bi bi-question-circle"></i><span class="ms-2 d-none d-lg-inline-flex">Help</span>
            </a> -->
            <!-- Subscriptions -->
            <!-- <button class="btn border-0 " type="button" (click)="openLogoutPopup($event)">
                <i class="bi bi-grid-fill"></i><span class="ms-2 d-none d-lg-inline-flex">My Subscriptions</span>
            </button> -->
            <a class="btn border-0" type="button" target="_blank" href="{{manageMembershipUrl}}" *ngIf="productPreferenceApiData.isb2b === 'false'" matTooltip="Manage Membership" matTooltipClass="action-tooltip" matTooltipPosition="below">
                <img  style="width: 26px;" src="./assets/icon_account-gear.svg"><span class="ms-2 d-none d-lg-inline-flex"></span>
            </a>
            <!-- Account -->
            <span class="dropdown">
                <button class="btn border-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" matTooltip="My Account" matTooltipClass="action-tooltip" matTooltipPosition="below">
                    <i class="bi bi-person-circle"></i><span class="ms-2 d-none d-lg-inline-flex"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                            <span>{{userDetails.email}}</span>
                            <span class="link ms-3" (click) = "logOut()">Log out</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center py-2 pointer" (click)="openLogoutPopup($event)">
                            <i class="bi bi-grid-fill"></i><span class="ms-3">My Subscriptions</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center py-2 pointer" href="http://www.chaikinanalytics.com/CPGR-resources" target="_blank">
                            <i class="bi bi-question-circle"></i><span class="ms-3">Resource Center</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <h5>Disclaimers</h5>
                    </li>
                    <li>
                        <ul class="list-group">
                            <li class="list-group-item">
                               <a  target="_blank" class="link"   href="https://www.chaikinanalytics.com/terms-and-conditions/">Terms of Service</a>
                            </li>
                           <!--  <li class="list-group-item" *ngIf="productPreferenceApiData.isb2b === 'false'">
                                <a target="_blank" class="link" href="{{manageMembershipUrl}}">Manage Membership</a>
                             </li> -->
                            <li class="list-group-item">
                               <a target="_blank" class="link" href="https://www.chaikinanalytics.com/attributions/">Attributions</a>
                            </li>
                            <li class="list-group-item">
                               <a  target="_blank" class="link" href="https://www.chaikinanalytics.com/privacy/">Privacy Policy</a>
                            </li>
                            <li class="list-group-item">
                               <a  target="_blank" class="link" href="https://www.chaikinanalytics.com/privacy/#daa">Ad Choices</a>
                            </li>
                            <li class="list-group-item">
                               <a target="_blank" class="link" href="https://beaconstreet-privacy.my.onetrust.com/webform/c246f198-7123-4766-b29c-917342eff0f7/acb7d96e-254f-405c-bf58-34f7919eb6f2">Do Not Sell My Information</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</section>

