@import 'src/styles/variables';

//********** Market Overwatch **********//

#advanced-search-body {}

.component-ideas-table {
	.list-details-table {
		@media (max-width: 390px) {
			.mat-table-wrapper {
				.mat-table {
					min-width: 500px;
				}
			}
		}
		.mat-table-wrapper {
			.mat-table {
				font-size: 1em;
				.mat-row {
					.mat-cell {
						padding:0 5px;
					}
				}
				.mat-header-row {
					.mat-header-cell {
						padding:0 5px;
					}
				}
			}
			.mat-column-rating {
				width: 64px;
				min-width: 58px;
				.rating {
					display: flex;
					flex-grow:1;
					align-items:center;

					.rating-icon {
						margin-top:-2px;
						width: 38px;
						height: 18px;
					}
				}
			}
			.mat-column-symbol {
				width: 80px;
				.symbol {
					font-weight: 700;
					font-size: 1.25em;
				}
			}
			.mat-column-name {
				max-width: 150px;
				min-width: 85px;
				.name {
					line-height: 1.2;
					font-weight: 300;
					// font-size: .875em;
				}
			}
			.mat-column-alert {
				text-align: center;
				.alert-icon {
					font-size: 18px;
					line-height: 1;
				}
			}
			.mat-column-change, .mat-column-percentage, .mat-column-last {
				text-align: center;
			}
			.mat-column-add {
				width: 40px;
				padding:0 !important;
				text-align: center;
				.btn {
					margin:0 auto;
				}
			}
		}
	}
}