<div class="sticky-header sticky-header-shadow sticky-top">

	<app-top-header (openSubscriptionPopup)="openLogoutPopup($event)"></app-top-header>

    <!-- HEADER CRAWL -->
    <app-crawl-header></app-crawl-header>  

    <!-- PRODUCT MENU -->
    <app-products [productPopUpShow]="productPopUpShow"></app-products>
    
</div>

<section id="advanced-search-body" class="container-fluid app-body-wrapper">
    <div class="container app-body-container">
        <div class="row">
        	<!-- COLUMN LEFT -->
            <div class="d-none d-md-block col-12 col-md-4 col-xl-3 pt-3">

                <section>
                    <!-- Panel: C -->
                    <div class="panel c-panel mt-2"> 
                        <div class="d-flex flex-column align-items-center">

                            <!-- ROW: Panel Header -->
                            <div class="panel-header">
                                <span class="header-icon"><i class="bi bi-list-stars mx-2"></i></span>
                                <h3>Chaikin Top Picks</h3>
                                <span class="flex-spacer"></span>
                                
                            </div>
                            <!-- ROW: Panel Body -->
                            <div class="panel-body">

                                <div class="panel-list selected-panel-list">
                                     <!-- List Item -->
                                     <div class="d-flex flex-row align-items-center list-item py-2 px-3" 
                                     [ngClass]="list.listId===activeListId ? 'active' : ''" *ngFor="let list of chaikinAdvanceLists"
                                     (click)="onSelectAdvanceList(list)" [matTooltip]="list.description" matTooltipClass="description-tooltip" matTooltipPosition="below">
                                        <h2 >{{list.listName}}</h2>
                                        <span class="flex-spacer"></span>
                                        <span class="directional-icon"><i class="bi bi-forward-fill"></i></span>
                                        <span class="panel-id-stripe"></span>
                                    </div>
                                </div>
                                <div class="breakdown  pt-4 p-3 pb-1">
                                    <h3>What are <i>Chaikin Top Picks</i>?</h3>
                                    <p class="text">These are auto-generated lists based on proprietary criteria that evaluate stocks or ETFs according to their Power Gauge Rating and other relevant factors. The top symbols to meet that criteria are shown.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- COLUMN RIGHT -->
            <div class="col-12 col-md-8 col-xl-9 pt-2 pt-md-3 px-0 px-lg-2 overflow-scroll">

                <section class="component-ideas-table overflow-scroll" id="component-ideas-table">
                    <!-- Panel: B -->
                    <div class="panel b-panel">
                        
                        <!-- ROW: Panel Header -->
                        <div class="panel-header d-none d-md-flex pb-2 justify-content-center">
                            <h1>{{activeListName}}</h1>
                            <h4 class="my-2" style="text-align: center;">{{listDescription}}</h4>
                        </div>
                        <!-- ROW: Panel Header -->
                        <div class="panel-header d-md-none p-2 justify-content-center">
                            <div class="btn-group btn-group--fullWidth">
                                <button class="btn border btn-lg dropdown-toggle mb-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{activeListName}}
                                </button>
                                <ul class="dropdown-menu w-100 p-0">
                                    <li class="d-flex dropdown-header">
                                        <h3>Investment Idea Lists</h3>
                                    </li>
                                    <li class="list-item" [ngClass]="list.listId===activeListId ? 'active' : ''" *ngFor="let list of chaikinAdvanceLists" (click)="onSelectAdvanceList(list)">
                                        <h2>{{list.listName}}</h2>
                                    </li>
                                </ul>
                            </div>
                            <h4 class="my-2" style="text-align: center;">{{listDescription}}</h4>
                        </div>
                        
                        <!-- ROW: Ideas List Table -->
                        <div class="list-details-table">
                            <div class="mat-table-wrapper overflow-scroll">
                                <table mat-table [dataSource]="advanceListMatTableData" class="w-100">

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="rating">
                                        <th mat-header-cell *matHeaderCellDef class="pointer" (click)="sortingOnListFromHeader(chaikinAdvanceListsData , 'rating' ,'symbol', advancedSearchSorting.ratingSortingOrder)">
                                          Rating
                                          <i class="bi bi-caret-down-fill " *ngIf= "(advancedSearchSorting.ratingSortingOrder === 'asc' && advancedSearchSorting.selectedKey === 'rating')"></i>
                                          <i  class="bi bi-caret-up-fill " *ngIf= "(advancedSearchSorting.ratingSortingOrder === 'desc' && advancedSearchSorting.selectedKey === 'rating')"></i>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="rating">
                                                <img src="{{element.imgSrc}}" class="rating-icon">
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="symbol">
                                        <th mat-header-cell *matHeaderCellDef  class="pointer" (click)="sortingOnListFromHeader(chaikinAdvanceListsData  ,'symbol','', advancedSearchSorting.symbolSortingOrder)">
                                          Symbol
                                          <i class="bi bi-caret-down-fill " *ngIf= "(advancedSearchSorting.symbolSortingOrder === 'asc' && advancedSearchSorting.selectedKey === 'symbol')"></i>
                                          <i  class="bi bi-caret-up-fill " *ngIf= "(advancedSearchSorting.symbolSortingOrder === 'desc' && advancedSearchSorting.selectedKey === 'symbol')"></i>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <span class="symbol pointer" (click)="redirectOnPgr(element.symbol)">{{element.symbol}}</span>
                                        </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef class="pointer"  (click)="sortingOnListFromHeader(chaikinAdvanceListsData , 'name' ,'', advancedSearchSorting.nameSortingOrder)">
                                          Name<i class="bi bi-caret-down-fill " *ngIf= "(advancedSearchSorting.nameSortingOrder === 'asc' && advancedSearchSorting.selectedKey === 'name')"></i>
                                          <i  class="bi bi-caret-up-fill " *ngIf= "(advancedSearchSorting.nameSortingOrder === 'desc' && advancedSearchSorting.selectedKey === 'name')"></i>
                                        </th>
                                        <td mat-cell *matCellDef="let element" >
                                            <span class="name pointer"  (click)="redirectOnPgr(element.symbol)">{{element.name}}</span>
                                            
                                        </td>
                                    </ng-container>

                                    <!-- Price Column -->
                                    <ng-container matColumnDef="last">
                                        <th mat-header-cell *matHeaderCellDef  class="pointer" (click)="sortingOnListFromHeader(chaikinAdvanceListsData , 'last' ,'symbol', advancedSearchSorting.lastSortingOrder)">
                                          Price
                                          <i class="bi bi-caret-down-fill " *ngIf= "(advancedSearchSorting.lastSortingOrder === 'asc' && advancedSearchSorting.selectedKey === 'last')"></i>
                                          <i  class="bi bi-caret-up-fill " *ngIf= "(advancedSearchSorting.lastSortingOrder === 'desc' && advancedSearchSorting.selectedKey === 'last')"></i>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="data price">{{element.lastFormattedString}}</span>
                                        </td>
                                    </ng-container>

                                    <!-- Change Column -->
                                    <ng-container matColumnDef="change">
                                        <th mat-header-cell *matHeaderCellDef class="pointer" (click)="sortingOnListFromHeader(chaikinAdvanceListsData , 'change' ,'symbol', advancedSearchSorting.changeSortingOrder)">
                                          Change
                                          <i class="bi bi-caret-down-fill " *ngIf= "(advancedSearchSorting.changeSortingOrder === 'asc' && advancedSearchSorting.selectedKey === 'change')"></i>
                                          <i  class="bi bi-caret-up-fill " *ngIf= "(advancedSearchSorting.changeSortingOrder === 'desc' && advancedSearchSorting.selectedKey === 'change')"></i>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="data" [ngClass]="element.percentageChangeColor">{{element.changeFormattedString}}</span>
                                        </td>
                                    </ng-container>

                                    <!-- Percent Column -->
                                    <ng-container matColumnDef="percentage">
                                        <th mat-header-cell *matHeaderCellDef  class="pointer" (click)="sortingOnListFromHeader(chaikinAdvanceListsData , 'percentage' ,'symbol', advancedSearchSorting.percentageSortingOrder)">
                                          Percent
                                          <i class="bi bi-caret-down-fill " *ngIf= "(advancedSearchSorting.percentageSortingOrder === 'asc' && advancedSearchSorting.selectedKey === 'percentage')"></i>
                                          <i  class="bi bi-caret-up-fill " *ngIf= "(advancedSearchSorting.percentageSortingOrder === 'desc' && advancedSearchSorting.selectedKey === 'percentage')"></i>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="data" [ngClass]="element.percentageChangeColor"><i>({{element.percentageChangeFormattedString}})</i></span>
                                        </td>
                                    </ng-container>

                                    <!-- Alert Column -->
                                    <ng-container matColumnDef="alert">
                                        <th mat-header-cell *matHeaderCellDef>
                                          Alert
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span *ngIf="element.alert">
                                                <span class="alert-icon" [ngSwitch]="element.alert.alertName">
                                                    <!-- Est Revision -->
                                                    <span *ngSwitchCase="'Estimate Revision'" matTooltip="Estimate Revision" matTooltipClass="action-tooltip" matTooltipPosition="below">
                                                        <i class="bi bi-pencil-fill red" *ngIf="element.alert.value < 3"></i>
                                                        <i class="bi bi-pencil-fill green" *ngIf="element.alert.value > 3"></i>
                                                    </span>
                                                    <!-- Earn Surprise -->
                                                    <span *ngSwitchCase="'Earnings Surprise'" matTooltip="Earnings Surprise" matTooltipClass="action-tooltip" matTooltipPosition="below">
                                                        <i class="bi bi-exclamation-lg red" *ngIf="element.alert.value < 3"></i>
                                                        <i class="bi bi-exclamation-lg green" *ngIf="element.alert.value > 3"></i>
                                                    </span>
                                                    <!-- Rating Change -->
                                                    <span *ngSwitchCase="'Rating Change'" matTooltip="Rating Change" matTooltipClass="action-tooltip" matTooltipPosition="below">
                                                        <i class="bi bi-arrow-repeat red" *ngIf="element.alert.value < 3"></i>
                                                        <i class="bi bi-arrow-repeat green" *ngIf="element.alert.value > 3"></i>
                                                    </span>
                                                </span>
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="add">
                                        <th mat-header-cell *matHeaderCellDef>
                                          Add
                                        </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <div   class="d-flex dropdown list-select-dropdown">
                                            <button type="button" class="btn border-0 py-0"  class="btn btn-large d-inline-flex print-hide" id="dropdownAddToListButton"   data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                                <i class="bi bi-plus-circle"></i>
                                            </button> 
                                            <ul class="dropdown-menu dropdown-menu--list-selection" aria-labelledby="dropdownAddToListButton">
                                                <li class="d-flex dropdown-header">
                                                   <h3>Add symbol to...</h3>
                                                </li>
                                                <li class="d-flex dropdown-item"  (click)="createNewList($event , element.symbol )">
                                                   <i class="bi bi-file-earmark-plus me-2"></i><span class="list-name" href="#">Create new list...</span>
                                                </li>
                                                <li  *ngFor="let watchlistData of watchlistDataModel.data;let i=index">
                                                   <span class="list-name d-flex dropdown-item" href="#"  (click)="addTickerIntoList(element.symbol , watchlistData)" *ngIf="!watchlistData.priorityList">{{watchlistData.listName}}</span>
                                                </li>
                                             </ul>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                        <!-- ROW: Empty Ideas List Table -->
                        <div class="d-flex flex-row pt-3 align-items-center justify-content-center"  *ngIf="advanceListMatTableData.filteredData.length === 0">
                            <span> Nothing meets the list criteria</span>
                        </div>
                        <!-- ROW: Breakdown Explanation -->
                        <div class="d-flex d-md-none w-100">
                            <div class="d-flex flex-column breakdown p-3">
                                <h2>What are <i>Chaikin Top Picks</i>?</h2>
                                <p class="text">These are auto-generated lists based on proprietary criteria that evaluate stocks or ETFs according to their Power Gauge Rating and other relevant factors. The top symbols to meet that criteria are shown.</p>
                            </div>
                        </div>
                       
                        <!-- ROW: Time/Date Stamp -->
                        <div class="d-flex flex-row pt-3 align-items-center justify-content-center">
                            <span class="time-stamp">Price and rating data as of: {{formattedDate}}</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- DISCLAIMER -->
        <div class="row mt-4">
            <div class="col-12">
                <app-disclaimer></app-disclaimer>
            </div>
        </div>
    </div>
</section>