<!---- SECTION: Alerts List Table ---->
<section id="component-alerts-table" class="component-alerts-table">

   <!-- Panel: B -->
   <div class="panel b-panel position-relative">
      
      <!-- ROW: Panel Header -->
      <div class="panel-header pb-2">
         <h1>This list has <span class="boldest" [ngClass]="alertComponentData1?.totalAlertCount < 1 ? 'no-alerts' : ''">{{alertComponentData1?.totalAlertCount}}</span> alerts</h1>

         <!-- Toggle Toolbar: Alerts -->
         <div class="toggle-toolbar pt-3 pb-0">
            <nav class="nav nav-pills w-100" id="alerts-tab" role="tablist">
               <a class="nav-link" [ngClass]="(!isBullishSelected && isAllAlertSelected) ? 'active': ''" id="pills-all" data-bs-toggle="pill" href="#all-alerts" role="tab" aria-controls="alerts-all" (click)="selectAlertType('All')"  aria-selected="true">
                  <span class="d-flex flex-row">All<span class="ms-2 alerts-badge all" >{{alertComponentData1?.totalAlertCount}}</span></span>
               </a>
               <a class="nav-link"   [ngClass]="(isBullishSelected && !isAllAlertSelected) ? 'active' : ''" id="pills-bullish" data-bs-toggle="pill" (click)="selectAlertType('bullishAlerts')" href="#bullish-alerts" role="tab" aria-controls="alerts-bullish" aria-selected="false">
                  <span class="d-flex flex-row">Bullish <span class="ms-2 alerts-badge bullish">{{alertModel.count.bullish}}</span></span>
               </a>
               <a class="nav-link" [ngClass]="(!isBullishSelected && !isAllAlertSelected) ? 'active' : ''" id="pills-bearish" data-bs-toggle="pill"  (click)="selectAlertType('bearishAlerts')" href="#bearish-alerts" role="tab" aria-controls="alerts-bearish" aria-selected="false">
                  <span class="d-flex flex-row">Bearish <span class="ms-2 alerts-badge bearish">{{alertModel.count.bearish}}</span></span>
               </a>
            </nav>
         </div>
         <!-- Alerts Email Switch -->
         <div class="form-check-wrapper position-absolute  d-none d-md-flex">
            <div class="form-check form-switch">
              <label class="form-check-label" for="flexSwitchCheckDefault">Get email alerts</label>
              <input  #flexSwitchCheckDefault class="form-check-input"  [checked]="saveUsername"   (change)="addListForEnableAlert(flexSwitchCheckDefault.checked)" type="checkbox" id="flexSwitchCheckDefault">
            </div>
         </div>
      </div>
      
      <!-- ROW: Alerts Table -->
      <div class="list-details-table">
         <div class="mat-table-wrapper overflow-scroll"  *ngIf="dataSource.filteredData.length !== 0">
            <table mat-table [dataSource]="dataSource" class="w-100">

               <!-- Date Column -->
               <ng-container matColumnDef="formattedDate">
                  <th mat-header-cell *matHeaderCellDef class="pointer"  (click)="alertTabSorting('date')"> Date 
                  <i class="bi bi-caret-down-fill ms-1" *ngIf= "(alertSortingDataModel.sortingOrder === 'asc') && (alertSortingDataModel.sortingKey ===  'date')"></i>
                  <i  class="bi bi-caret-up-fill ms-1" *ngIf= "(alertSortingDataModel.sortingOrder === 'desc') && (alertSortingDataModel.sortingKey ===  'date')"></i></th>
                  <td mat-cell *matCellDef="let element"> 
                     <span class="date">{{element.formattedDate}}</span> </td>
               </ng-container>

               <!-- Symbol Column -->
               <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef class="pointer"    (click)="alertTabSorting('symbol')">Symbol 
                  <i class="bi bi-caret-down-fill ms-1" *ngIf= "(alertSortingDataModel.sortingOrder === 'asc') && (alertSortingDataModel.sortingKey ===  'symbol')"></i>
                  <i  class="bi bi-caret-up-fill ms-1" *ngIf= "(alertSortingDataModel.sortingOrder === 'desc') && (alertSortingDataModel.sortingKey ===  'symbol')"></i></th>
               
                  <td mat-cell *matCellDef="let element">
                     <span class="symbol pointer" (click) = "redirectOnPgr(element.symbol)">{{element.symbol}}</span>
                  </td>
               </ng-container>

               <!-- Alert Type Column -->
               <ng-container matColumnDef="alertInfo">
                  <th mat-header-cell *matHeaderCellDef> Alert Type </th>
                  <td mat-cell *matCellDef="let element"> 
                      <span class="alert-data">
                        <span class="alert-icon up me-2"  *ngIf="element.alertName=='Earnings Surprise'">
                           <!-- ICON - Estimate Revision -->
                           <i class="bi bi-exclamation-lg "  [ngClass]="(element.value < 3) ? 'red' : ''"></i>
                        </span>
                        <span class="alert-icon up me-2"  *ngIf="element.alertName=='Estimate Revision'">
                           <!-- ICON - Estimate Revision -->
                           <i class="bi bi-pencil-fill"  [ngClass]="(element.value < 3) ? 'red' : ''"></i>
                        </span>
                        <span class="alert-icon up me-2"  *ngIf="element.alertName=='Rating Change'">
                           <!-- ICON - Estimate Revision -->
                           <i class="bi bi-arrow-repeat"  [ngClass]="(element.value < 3) ? 'red' : ''"></i>
                        </span>
                        <span class="alert-type">{{element.alertName}}</span>
                     </span>
                  </td>
               </ng-container>

               <!-- Alert Data Column -->
               <ng-container matColumnDef="alertName">
                  <th mat-header-cell *matHeaderCellDef> Details </th>
                  <td mat-cell *matCellDef="let element"> 
                     <span class="alert-data" *ngIf="element.alertName=='Earnings Surprise'">
                        <span class="estimate me-3">Est: <b>{{element.estimateEps}}</b></span>
                        <span class="actual">Act: <b class="green">{{element.actualEps}}</b></span>
                     </span>
                     <span class="alert-data" *ngIf="element.alertName=='Estimate Revision'">
                        <span class="old me-3">Old: <b>{{element.oldValue}}</b></span>
                        <span class="new">New: <b>{{element.newValue}}</b></span>
                     </span>
                     <span class="alert-data" *ngIf="element.alertName=='Rating Change'"><span [ngClass] = 'element.ratingClass[0]'>{{element.alertInfo[0]}} </span> <i class="bi bi-arrow-right mx-2"></i> <span [ngClass] = 'element.ratingClass[1]'> {{element.alertInfo[1]}}</span></span>
                 
                  </td>
               </ng-container>

               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
         </div>
         <div class="d-flex align-items-center justify-content-center py-3" *ngIf="dataSource.filteredData.length === 0">
            <span class="none-label">No Alerts</span>
         </div>
      </div>

      
      

      <!-- ROW: Time/Date Stamp -->
      <div class="d-flex flex-row pt-3 align-items-center justify-content-center">
          <span class="time-stamp">Earnings and rating data as of:{{dateForDashboard}}  </span>
      </div>
   </div>
</section>