@import 'src/styles/variables';

// SECTION -- Alerts Panel list

#component-alerts-table {}

.component-alerts-table {
	.toggle-toolbar {
		max-width: 550px;
	}
	.form-check-wrapper {
		top:-5px;
		right:-5px;
		.form-switch {
			display: flex;
			align-items:center;
			.form-check-label {
				font-size:.9em;
				color: $text-color-a75;
			}
			.form-check-input {
				margin-top:0;
				&:checked {
				  background-color: $link-color;
				  border-color: $button-color;
				}
				&:focus {
					outline:none;
					border:0;
				}
			}
			&.form-check {
				margin-bottom:0;
			}
		}
		@media (max-width: 576px) {
			top:-20px;
		}
	}
	.list-details-table {
		@media (max-width: 390px) {
			.mat-table-wrapper {
				.mat-table {
					min-width: 565px;
				}
			}
		}
		@media (max-width: 576px) {
			.mat-table-wrapper {
				margin-left:-12px;
				margin-right:-12px;
				.mat-table {
					min-width: 515px;
				}
			}
			.mat-column-symbolCount {
				min-width: 150px;
			}
			.mat-column-industry {
				min-width: 120px;
			}
		}
		.mat-table-wrapper {
			.mat-table {
				.mat-row {
					.mat-cell {
						padding:0.5em;
						font-size: 16px;
						line-height: 1;
					}
				}
			}
		}
		.mat-column-formattedDate {
			max-width: 72px;
			.date {
				font-size: 14px;
				font-weight: 400;
			}
		}
		.mat-column-symbol {
			max-width: 100px;
			.symbol {
				font-size: 18px;
				font-weight:700;
			}
		}
		.mat-column-alertInfo {
			.alert-data {
				display: flex;
				align-items:center;
				i {
					font-size: 24px;
					line-height: 1;
				}
			}
		}
		.mat-column-alertName {
			.alert-data {
				display: flex;
				align-items:center;
				i {
					font-size: 20px;
					line-height: 1;
				}
			}
		}
	}
}