html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size:16px; background-color:#010131; }
.pointer {
	cursor: pointer !important;
}
//LOGIN PORTAL

.login-portal {
	width:100vw;
	min-width:350px;
	height:100vh;
	min-height:100%;
	//background-image: url(assets/CA-Portal__login-bg.png);
	background-size:cover;
	background-position: center center;

	@media screen and (max-width: 576px){
		min-height:600px;
		height:100%;
		padding:0;

		.login-wrapper {
			padding:0;
		}
		.login-container {
			border-radius:0;
		}
	}
	// &.login-portal--chaikinAnalytics {
	// 	background-image: url(assets/CA-app__login-bg.png);
	// }
	// &.login-portal--powerGaugeInvestor {
	// 	background-image: url(assets/PGI-app__login-bg.png);
	// }
	// &.login-portal--powerPulsePremiun {
	// 	background-image: url(assets/PPP-app__login-bg--1.png);
	// }
	// &.login-portal--powerPulse {
	// 	background-image: url(assets/PP-app__login-bg--1.png);
	// }
}	



.login-wrapper {
	width:100%;
	height:100%;
	flex-flow: column nowrap
}
.login-container {
	width:480px;
	background: #FFFFFF;
	border: 1px solid #101429;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	border-radius: 8px;
	border:8px solid white;
	padding:0 12px;
	overflow:hidden;

	h1 {
		font-size:2.25em;
		margin-bottom:15px;
		text-align:center;
		font-weight:300;
		cursor: default;
	}
	h2 {
		font-size:1.5em;
		margin-bottom:13px;
		text-align:center;
		font-weight:400;
		cursor: default;
	}
	p {
		font-size:0.825em;
		text-transform:uppercase;
		margin-bottom:10px;
		text-align:center;
	}
	a {
		color: rgba(255,255,255,0.75);
		font-size:1em;
	}

	.logo {
		margin-top:3px;
	}
	.divider {
		display:flex;
		flex-grow:1;
		width:90%;
		border-top:1px solid rgba(255,255,255,0.25);
		margin:10px auto 0;
	}
	.warning-text {
		font-size:1em;
		color: red; 
		margin-top: -13px;
	}
	.header-row {
		padding-bottom:10px;
		a {
			color:#1199ff;
			text-decoration:none;
			line-height:1;
			font-size:1.25em;

			i {
				margin-right:5px;
			}
		}
	}
	.body-row {
		background-image: linear-gradient(135deg, #4A5164 0%, #262E43 100%);
		border-radius: 6px;
		color:#ffffff;
		padding:15px 0;
		overflow:hidden;
	}
	.login-input-container {
		padding:0px 20px;
		color:white;
		text-align:center;

		@media screen and (max-width: 576px){
			padding:0;
		}
		.login-app-logo {
			padding:6px 0 12px;
		}
		.fine-print {

		}
		form, .form {
			padding:15px;
			.form-control {
				border-radius:6px;
				padding:15px;
				&.form-password {
					border-radius:6px 0 0 6px;
				}
			}
			.input-group {
				.input-group-text {
					&.input-group-text--password {
						background-color:#D5D7DB;
						&:hover {
							background-color:#BEC1C7;
						}
					}
				}
			}
			.form-check {
			    text-align: left;
			    padding-left: 42px;

			    .form-check-label {
			    	display:inline;
			    	text-align:left;
			    }
			    .form-check-input {
			    	width: 24px;
	    			height: 24px;
	    			margin-left: -42px;
	    			background-color: rgba(255,255,255,0.5);
	    			border: 1px solid rgba(255,255,255,1);

	    			&:checked {
					    background-color: #1199ff;
					    border-color: #1199ff;
					}
			    }
			}
			.form-select {
				&.form-select-lg {
					padding:15px;
					font-size:1rem;
				}
			}
		}
		.feedback-form-wrapper {
			.rating-container {
				display: flex;
				flex-direction:row;
				justify-content:center;
				align-items:center;
				font-size:36px; 
				color:white; 
				margin-bottom:30px; 
				margin-top:20px;
				cursor: default;

				i {
					cursor: pointer;
				}
			}
		}
	}
	.login-button {
		width:100%;
		padding:15px 79px;
		margin-bottom:5px;
		background-color:#1199ff;
		text-transform:uppercase;
		border-radius:6px;

		i {
			margin-left:10px;
		}

		&.login-button--green {
			background-color:#2ABE58;
			border-color:#2ABE58;
		}
	}
}
.boiler-container {
	width:100%;
	padding:25px 15px;

	.fine-print {
		color:#ffffff;
		font-size:.75em;
		line-height:1.5;
		text-align:center;

		a {
			text-decoration:underline;
			color:#ffffff;
		}
	}
}

