<div class="container-fluid login-portal">
  <div class="d-flex justify-content-center align-items-center login-wrapper">
    <div
      class="d-block login-container"
      style="z-index: 99999; width: 348px; margin-bottom: -309px"
      *ngIf="showPopOnCAMobile"
    >
      <!-- STEP ONE -->
      <div class="row body-row">
        <div class="col-12">
          <div class="d-block login-input-container" id="login--step1">
            <p>
              <br />You are being redirected to the Chaikin PowerPulse Mobile
              experience.
            </p>
          </div>
          <button
            type="submit"
            class="btn btn-primary login-button"
            type="submit"
            style="width: 78px; height: 46px"
            (click)="onContinueWithMobile()"
          >
            <p>Continue</p>
          </button>
        </div>
      </div>
    </div>
    <div class="d-block login-container">
      <div class="row header-row align-items-center">
        <div class="col-6 logo-container d-flex align-item-center">
          <img class="logo" src="./assets/logo__chaikin.svg" alt="Chaikin" />
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <a href="https://www.chaikinanalytics.com/products/" target="_blank"
            >Get an account now!</a
          >
        </div>
      </div>

      <!-- STEP ONE -->
      <div class="row body-row">
        <div class="col-12">
          <div class="d-block login-input-container" id="login--step1">
            <p>Sign in to access</p>
            <!-- <h1>Your Subscription(s)</h1> -->

            <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Account Email"
                  type="email"
                  formControlName="email"
                />
              </div>

              <div class="mb-3">
                <div class="input-group">
                  <input
                    [type]="showtext ? 'text' : 'password'"
                    class="form-control form-password"
                    id="exampleInputPassword1"
                    placeholder="Password"
                    formControlName="password"
                  />
                  <button
                    class="input-group-text input-group-text--password"
                    type="button"
                    data-bs-toggle="button"
                    id="input-group-button-right"
                    (click)="showPassword()"
                  >
                    <i
                      [ngClass]="{
                        'bi bi-eye-slash': !showtext,
                        'bi bi-eye': showtext
                      }"
                    ></i>
                  </button>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary login-button"
                type="submit"
              >
                Sign In and Continue <i class="bi bi-arrow-right"></i>
              </button>
            </form>
            <div *ngIf="showInvalidMsg" class="warning-text">
              Invalid Username or Password
            </div>
            <!-- <div class="pb-3"><input type="checkbox" [(ngModel)]="rememberMe">&nbsp; Remember Me</div>
						<a  class="my-1" href="./#/forgetPassword">Reset password</a> -->
          </div>

          <!-- <div class="d-block login-input-container" id="login--step2">
						<p>Log in to the</p>
						<h1>Selected Subscription</h1>

						<form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
						  	<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg">
							  <option selected>Please select a subscription</option>
							  <option value="1">Chaikin Analytics</option>
							  <option value="2">Power Pulse Premium</option>
							  <option value="3">PowerGauge Investor</option>
							</select>

						  	<div class="mb-3 d-flex align-items-center" style="height:56px;">
						  		<div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
								  <label class="form-check-label" for="flexCheckDefault">
								    <span>Always log me in to this subscription first. <i>(You can update this in your user preferences.)</i></span>
								  </label>
								</div>
							</div>
						  	<button type="submit" class="btn btn-primary login-button login-button--green disabled" type="submit">Complete login <i class="bi bi-arrow-right"></i></button>
						</form>

						<a href="#" target="_blank">Don't see your subscription?</a>
					</div> -->
        </div>
      </div>
    </div>
    <div class="d-block boiler-container">
      <div class="row">
        <div class="col-12">
          <p class="fine-print">
            You must have a valid subscription to login. If you need assistance,
            contact member services at
            <a href="mailto:info@chaikinanalytics.com">
              info@chaikinanalytics.com </a
            >or call 877-697-6783.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
