<div class="dialog-wrapper dialog-wrapper--short-single">
    <div class="dialog-container">
        <section class="row dialog-header mb-4">
            <div class="col-10 d-flex align-items-center">
                <h3>Add symbols to list</h3>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-end">
                <button mat-icon-button (click)="onNoClick()" disableRipple class="close-window-button">
                    <mat-icon aria-label="close icon">close</mat-icon>
                </button>
            </div>
        </section>

        <section class="row dialog-body mb-2">
            <div class="col-12  d-flex flex-column">
                <textarea type="text" #txttickers placeholder="Add symbol(s) to this list" value="" class="text-input-area mb-2" style="width:100%; height:120px;"></textarea>
                <div class="p-block d-flex flex-row p-2">
                    <p class="text fine-print">Separate each symbol with a comma or new line. Tickers not identified in the database will not be added. Limit 1000 tickers.</p>
                    <span class="text watchlist-error"> {{onTickerSaveErrMsg}} </span>
                </div>
            </div>
        </section>

        <section class="row dialog-footer">
            <div class="col-12">
                <div class="d-flex flex-row dialog-buttons-wrapper">
                    <button mat-button color="secondary" (click)="onNoClick()">Cancel</button>
                    <span class="flex-spacer"></span>
                    <button mat-flat-button color="primary" (click)="onBulkAddTickersInList(txttickers.value)">Save</button>
                </div>
            </div>
        </section>
    </div>
</div>