<header>
  <nav>
    <ul
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <li>
        <a
          routerLink="list-view"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >List View</a
        >
      </li>
      <li>
        <a
          routerLink="screener-view"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Screener View</a
        >
      </li>
    </ul>
  </nav>
  <button type="button" class="btn btn-primary" (click)="logOut()">
    Log out
  </button>
</header>
<main>
  <router-outlet></router-outlet>
</main>
