@import "src/styles/variables";

body {
  height: 125vh;
  font-family: sans-serif;
  margin-top: 80px;
  padding: 30px;
  color: black;
}

header {
  background-color: $bg-darker;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;

  button {
    margin-right: 24px;
  }
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

main {
  margin-top: 40px;
}

nav {
  margin-inline: auto;
  ul {
    margin: 0;
    li {
      a {
        color: rgba(255, 255, 255, 0.8);
        font-weight: 300;
        &.active {
          color: #1199ff;
          font-weight: 500;
        }
      }
    }
  }
}
