@import 'src/styles/variables';

//**********    IP    **********//


// Colors -- IP 
.veryBullish-bg {
	background-color:$ip-verybullish !important;
}
.veryBullish-label {
	color:$ip-verybullish;
	font-weight:700;
}
.bullish-bg {
	background-color:$ip-bullish !important;
}
.bullish-label {
	color:$ip-bullish;
	font-weight:700;
}
.neutral-bg {
	background-color:$ip-neutral !important;
}
.neutral-label {
	color:$ip-neutral;
	font-weight:700;
}
.veryBearish-bg {
	background-color:$ip-verybearish !important;
}
.veryBearish-label {
	color:$ip-verybearish;
	font-weight:700;
}
.bearish-bg {
	background-color:$ip-bearish !important;
}
.bearish-label {
	color:$ip-bearish;
	font-weight:700;
}



/* POWERBAR */
.powerbar-wrapper {
	width: 100%;
	.powerbar-cell {
		display:flex;
		padding:2px;
		border-radius:13px;
		justify-content:flex-start;
		align-items:center;
		margin:2px;
		&.powerbar-cell--bullish {
			flex-grow:1;
			background-color:$ip-verybullish;
		}
		&.powerbar-cell--neutral {
				background-color:$ip-neutral;
				min-width: 26px;
				width: auto !important;
		}
		&.powerbar-cell--bearish {
			flex-grow:1;
			background-color:$ip-verybearish;
		}
		.powerbar-count {
			display:flex;
			height:22px;
			min-width:25px;
			padding:0 4px;
			line-height:1;
			border-radius:11px;
			justify-content:center;
			align-items:center;
			background-color:$white;
			color:$text-color;
			font-size:14px;
			font-weight:700;
		}
		.powerbar-label {
			color:$white;
			font-size:12px;
			font-weight:400;
			text-align:left;
			margin-left:4px;
		}
		&.powerbar-cell--large {
			padding:3px;
			border-radius:21px;
			margin:0px;
			min-width: 108px;

			.powerbar-count {
				height:36px;
				min-width:36px;
				padding:0 4px;
				border-radius:18px;
				color:$text-color;
				font-size:20px;
				font-weight:500;
			}
			.powerbar-label {
				font-size:18px;
				margin-left:6px;
				font-weight:400;
			}
		}
	}
	&.powerbar--no-numbers {
		.powerbar-cell {
			min-height: 10px;
			border-radius:7px;
			&.powerbar-cell--neutral {
					min-width: 20px;
			}
			.powerbar-count {
				display: none;
			}
			.powerbar-label {
				display: none;
			}
		}
	}
}


/*RATING FACTORS*/
.factor-row {
	display: flex;
	flex-direction:row;
	align-items: center;
	flex-grow:1;
	width:100%;
	border-bottom:1px solid $border-color;

	&:last-child {
		border-bottom:0px;
	}
}
/*FACTOR LABELS*/
.factor-label {
	font-size: .8125em;
	margin-top:1px;
	min-width:90px;
	font-weight: 400;
}
/*FACTOR SLIDER BARS*/
.sliderProgress {
    display: inline-flex;
    position: relative;
    padding:0;
    height: 14px;
    overflow: hidden;
    border-radius: 20px;
    background: #ccc;
    border:2px solid white;
    flex-grow:1;
}
.slider-disc {
  z-index: 1;
  height: 14px;
  width: 14px;
  border-radius: 15px;
  border: 2px solid white;
  margin-top: -2px;
  position: absolute;
}
.slider-veryBearish {
  background-color:$ip-verybearish;
  left: 0%;
  margin-left: -2px;
}
.slider-bearish {
  background-color: $ip-bearish;
  left: 25%;
  margin-left: -6px;
}
.slider-neutral {
  background-color: $ip-neutral;
  left: 50%;
  margin-left: -10px;
}
.slider-bullish {
  background-color: $ip-bullish;
  left: 75%;
  margin-left: -12px;
}
.slider-veryBullish {
  background-color: $ip-verybullish;
  left: 100%;
  margin-left: -12px;
}
.sliderBar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-align: center;
}
.sliderbar-veryBearish {
  background: #E00000;
  background: -moz-linear-gradient(left, #E00000 0%, #FE510F 100%);
  background: -webkit-linear-gradient(left, #E00000 0%, #FE510F 100%);
  background: linear-gradient(to right, #E00000 0%, #FE510F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#FE510F', GradientType=1);
  width: 0%;
}
.sliderbar-bearish {
  background: #FE510F;
  background: -moz-linear-gradient(left, #E00000 0%, #FE510F 100%);
  background: -webkit-linear-gradient(left, #E00000 0%, #FE510F 100%);
  background: linear-gradient(to right, #E00000 0%, #FE510F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#FE510F', GradientType=1);
  width: 25%;
}
.sliderbar-neutral {
  background: #FFBE00;
  background: -moz-linear-gradient(left, #E00000 0%, #FE510F 50%, #FFBE00 100%);
  background: -webkit-linear-gradient(left, #E00000 0%, #FE510F 50%, #FFBE00 100%);
  background: linear-gradient(to right, #E00000 0%, #FE510F 50%, #FFBE00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#61c600', GradientType=1);
  width: 50%;
}
.sliderbar-bullish {
  background: #7ED321;
  background: -moz-linear-gradient(left, #E00000 0%, #FE510F 33%, #FFBE00 66%, #7ED321 100%);
  background: -webkit-linear-gradient(left, #E00000 0%, #FE510F 33%, #FFBE00 66%, #7ED321 100%);
  background: linear-gradient(to right, #E00000 0%, #FE510F 33%, #FFBE00 66%, #7ED321 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#7ED321', GradientType=1);
  width: 75%;
}
.sliderbar-veryBullish {
  background: green;
  background: -moz-linear-gradient(left, #E00000 0%, #FE510F 25%, #FBDF66 50%, #7ED321 75%, #219700 100%);
  background: -webkit-linear-gradient(left, #E00000 0%, #FE510F 25%, #FBDF66 50%, #7ED321 75%, #219700 100%);
  background: linear-gradient(to right, #E00000 0%, #FE510F 25%, #FBDF66 50%, #7ED321 75%, #219700 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#219700', GradientType=1);
  width: 100%;
}



