@import 'src/styles/variables';



//**********    UI    **********//

// Panels
.panel {
	h1 {
		.bold {
			font-weight:400;
		}
		@media (max-width:576px) {
			font-size: 24px;
			margin-top:15px;
		}
	}
	h2 {
		font-size:20px;
		font-weight:300;
		margin-bottom:0;
		margin-top:0;
		padding:12px 0;
		line-height:1.25;
		.bolder {
			font-weight:400;
		}
		.bold {
			font-weight:700;
		}
		@media (max-width:576px) {
			font-size: 18px;
		}
	}
	h4 {
		margin-top:0.25em;
		margin-bottom:.8em;
	}
	&.c-panel {
		background: $white;
		border: 1px solid $border-color-darker;
		box-shadow: 0 2px 3px 0 rgba(74,81,100,0.05);
		border-radius: 6px;
		padding:3px;
		margin-bottom:20px;

		h2 {
			font-size:32px;
			margin-top:-4px;

			@media (max-width:576px) {
				font-size:30px;
			}
		}
		.panel-header {
			flex-direction:row;
			min-height:36px;
			padding:0 6px;
			margin-bottom: 3px;
	    color: $white;
	    border-radius: 3px;
	    background-color:$bg-dark;

	    h3 {
				font-size:12px;
				font-weight:700;
				text-transform:uppercase;
				letter-spacing:0.05em;
				margin:0;
				line-height: 1;
				padding:0;
				color: $white;
			}
			.text-link {
				color:$link-color--light;
				font-size:.75em;
				margin-right:8px;
			}
			.header-icon {
				font-size:16px;
			}
			.time-stamp {
				color:$white;
				font-size:.75em;
				text-align:right;
				line-height: 1.2;
			}
			.form-switch {
				display: flex;
				align-items:center;
				.form-check-label {
					font-size:.875em;
				}
				.form-check-input {
					margin-top:0;
					&:checked {
					  background-color: $link-color;
					  border-color: $button-color;
					}
					&:focus {
						outline:none;
						border:0;
					}
				}
				&.form-check {
					margin-bottom:0;
				}
			}
			@media print {
	    	color: $black !important;
	    	background-color:transparent;

	    	.time-stamp {
	    		color:$black !important;
	    	}
	    }
	    @media (max-width: 576px) {
	    	h3 {
	    		white-space: nowrap;
	    	}
	    }
		}
		.panel-body {
			.panel-body-header {
				display: flex;
				flex-flow:row nowrap;
				align-items:center;
				flex-grow:1;
				padding: 0.75em 0.5em;

				h4 {
					margin:0;
				}
			}
			.pub-wrapper {
				display: flex;
				flex-direction:column;
				padding:0px 10px;

				.pub-header {
					border-bottom:1px solid $border-color-lighter;
					padding:4px 0 4px;
					margin-bottom: 8px;

					h1, h2 {
						font-weight: 500;
						line-height: 1.4;
						color:$text-color;
						text-align: left;

						a {
							color: inherit;
						}

						&:hover {
							text-decoration: underline;
						}
					}
					h1 {
						font-size: 20px;
						margin-bottom:8px;
					}
					h2 {
						font-size: 16px;
						padding-top: 8px;
						padding-bottom: 8px;
					}
					h4 {
						font-size: 13px;
						color:$text-color-light;
						text-align: left;
						font-weight: 400;
						margin-bottom:3px;
						line-height: 1.25;
					}
				}
				&:last-child {
					.pub-header {
						border-bottom: 1px solid transparent;
						margin-bottom: 0px;
					}
				}
				.pub-body {
					position: relative;
					border-bottom:1px solid $border-color;
					p {
						font-size: 14px;
					}
					.fade-gradient {
						bottom:0;
						right:0;
						left:0;
						position: absolute;
						height: 60px;
						background-image: linear-gradient(180deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%);
					}
				}
			}
		}
		.section-separator {
			margin:10px auto;
		}
	}
	&.b-panel {
		display:flex;
		flex-direction:column;
		align-items:center;
		padding:15px 10px 20px;

		@media (max-width:576px) {
			padding:10px 0 20px;
		}
		.panel-header {
			flex-direction:column;
			padding-bottom: 1.5em;

			h1 {
				.boldest {
					color:$chart-color;
					&.no-alerts {
						color:$bg-dark;
						font-weight: 500 !important;
					}
				}
			}
		}
	}
	.panel-header {
		display: flex;
		align-items:center;
		position: relative;
		width: 100%;
	}
	.toggle-toolbar {
		display: flex;
		justify-content:center;
		width:100%;
		.nav {
			width: 100%;
			background-color: $bg-light;
	    border-radius: 6px;
			border: 1px solid $border-color-lighter;
		}
		.nav-pills {
			.nav-link {
				display: flex;
				padding:.35rem 1rem;
				color: $text-color-a75;
				text-align:center;
				justify-content:center;
				flex-grow:1;

				.hide {
					display:none;
				}
				.alerts-badge {
					background-color: $bg-medium;
				  color: white; 
				  font-weight: 700;
				  height: 24px;
			    min-width: 25px;
			    border-radius: 13px;
			    justify-content: center;
			    margin-right:-3px;

			    &.bullish {
			    	background-color: $ui-green;
			    }
			    &.bearish {
			    	background-color: $ui-red;
			    }
			    &.all {
			    	background-color: $button-color;
			    }
				}
				&.active {
					margin-top:-1px;
					margin-bottom:-1px;
					border-radius: 6px;
					color:$white;
					background-color:$bg-medium;
					font-weight:700;
					border:1px solid $border-color-darker;

					&#pills-bullish {
						background-color:$ui-green;
						.alerts-badge {
							background-color: #fff;
						  color: $ui-green;
						}
					}
					&#pills-bearish {
						background-color:$ui-red;
						.alerts-badge {
							background-color: #fff;
						  color: $ui-red;
						}
					}
					&#pills-all {
						background-color:$button-color;
						.alerts-badge {
							background-color: #fff;
						  color: $button-color;
						}
					}
					.show {
						display:none;
					}
					.hide {
						display:block;
					}
				}
			}
		}
	}
	.panel-body {
		display: flex;
		flex-direction:column;
		width:100%;

		.label {
			font-size: 0.8em;
			font-weight: 400;
			margin-right: 0.33em;
			color: $text-color-a75;
		}
	}
	.panel-object {
		display: flex;
		background-color: $white;
		border: 1px solid $border-color;
		border-radius: 3px;

		.btn {
			&.info-icon {
				position:absolute; 
				top:0px; 
				right:0px;
				z-index:100;
			}
		}
		.table {
			.table-header {
				font-size:16px;
				padding:10px 0;
				
				.table-name {
					font-weight:400;
				}
			}
			.data {
				font-weight:700;
			}
			.label {
				font-weight:400;
			}
		}
	}
	// Panel List
	.panel-list {
		.list-item {
			background-color: $white;
			border: 1px solid $border-color;
			border-radius: 3px;
			padding:0 6px;
			margin-bottom: 4px;
			overflow:hidden;

			.cell {
				display: flex;
				padding:5px;
			}
		}
		hr {
			background-color: $border-color;
			width:100%;
			margin: 10px 0 14px;
		}
		&.selected-panel-list {
			.list-item {
				cursor:pointer;
				position: relative;
				background-color: $bg-lightest;
				h2 {
					font-size: 16px;
					font-weight: 400;
					margin:3px 0;
					padding:0;
					cursor:pointer;
				}
				.directional-icon {
					visibility: hidden;
				}
				.panel-id-stripe {
					background-color: $button-color;
				}
				&.active {
					background-color: $button-color;
					color:white;
					border: 1px solid $bg-dark;
					h2 {
						font-weight: 500;
						color:white;
					}
					.directional-icon {
						visibility: visible;
						color:white;
						font-size:18px;
						line-height: 1;
						margin-right:-6px;
					}
					.panel-id-stripe {
						background-color: white;
					}
					&:hover {
						background-color: $button-color;
						.panel-id-stripe {
							background-color: white;
						}
					}
				}
				&:hover {
					background-color: white;
					.panel-id-stripe {
						background-color: $bg-dark;
					}
				}
			}
		}
	}
	.panel-list-header {
		display: flex;
		flex-direction:row;
		align-items:center;

		h3 {
			margin:0;
			padding:0;

			&.back-link {
				color:$button-color;
			}
		}
	}
	.list-details-table {
		width:100%;
		position:relative;
		.mat-table-wrapper {
			.mat-table {
				line-height: 1.33;
				.mat-row {
					.mat-cell {
						padding:.125em .365em;
					}
				}
				.mat-header-row {
					height: 48px;
				}
				.mat-header-cell {
	    		font-size: 10px;
	    		color:$text-color;
	    		text-transform: uppercase;
	    		font-weight: 400;
	    		padding:0 .365em 0 .5em;
				}
				.mat-sort-header-arrow {
					margin: 0 0 0 2px;
				}
			}
		}
		@media (max-width: 390px) {
			.mat-table-wrapper {
				.mat-table {
					min-width: 565px;
				}
			}
		}
	}
	.vertical-list-wrapper {
		.list-group {
			.list-group-item {
				padding: 0px;
				border:1px solid rgba(255,255,255,1);
				border-bottom:1px solid $border-color;
				&.list-sort-header {
					.list-item-row {
						&:hover {
							background-color: $white;
						}
						.cell {
							display: flex;
							padding:10px 5px;
							cursor:pointer;
							font-size: 10px;
							color:$text-color;
	    				text-transform: uppercase;
	    				font-weight: 400;
						}
					}
				}
				.list-item-row {
					align-items:center;
					overflow: hidden;
					.cell {
						padding:5px;
						display: flex;
					}
				}
				&:hover {
					background-color: $bg-lightest;
				}
			}
		}
		@media (max-width:575px) {
			margin-left: -12px;
    	margin-right: -12px;
		}
	}
	// Chart
	.chart-wrapper {
		display: flex;
		flex-direction:column;
		width: 100%;
		align-items:center;

		.chart-header {
			display: flex;
			flex-direction:row;
			align-items:center;
			position:relative;
			width: 100%;
			h4 {
				margin:0;
			}
			.form-check-label {
				font-size:14px;
				opacity:0.6;
			}
			.btn {
				&.info-icon {
					padding-top:0;
					padding-bottom:0;
				}
			}
		}
		.chart-container {
			display: flex;
			flex-direction:column;
			position: relative;
			width: 100%;
		}
	}
	.chart-legend {
		font-size:13px;
		padding-right:12px;
		white-space: nowrap;
		color: $text-color-a50;

		i {
			margin-left:10px;
			margin-right:4px;
		}
	}
	.table {
		font-size:14px;
		margin-bottom:0;

		thead {
			th {
				border-bottom-color:$border-color-darker !important;
				border-bottom-width: 1px;

				&.sorted {
					color:$text-color-medium;
					font-weight: 700;

					.bi {
						visibility:visible;
					}
				}
				.bi {
					visibility:hidden;
				}

			}
		}
		th, tr, td {
			vertical-align:middle;
		}
		tr {
			&:last-child {
				border-bottom:transparent;
			}
		}
		&.table-borderless {
			font-size:14px;
			.data {
				font-weight:700;
			}
			.label {
				font-weight:300;
				// opacity:0.85;
			}
		}
	}
	.summary-sentence {
		font-weight:300;
		font-size:1em;
		margin-left:6px;

		a {
			font-weight:400;
			color:$button-color;

			&:hover {
				color:$link-color;
			}
		}
	}
	.breakdown {
		display: flex;
		flex-direction:column;

		.text {
			font-size: .875em;
			font-weight: 400;
			margin-bottom: 10px;
			line-height: 1.4;

			b {
				font-weight:700;
			}
		}
		.text-link {
			color:$link-color;
			font-size: .875em;
		}
	}
	.panel-id-stripe {
		width:5px;
	}
}
