/*  Colors  */
$white:#ffffff;
$black:#000000;
$ltgrey:#cccccc;
$grey:#666666;
$dkgrey:#333333;

$midnight-blue:#101629;
// $midnight-blue:rgba(43,48,64,1);
$steel-blue:#4A5164;
//$steel-blue:rgba(74,81,100,1);
$denim-blue:#557D9E;
//$denim-blue:rgba(115,153,184,1);
$teal-blue:#74B6ED;
//$teal-blue:rgba(98,200,247,1);
$pale-blue:#F3F3F4;
//$pale-blue:rgba(115,153,184,0.1);

//midnight blue
$text-color:#101629;
//denim-blue alpha 50%
$text-color-a50: rgba(43,48,64,.5);
//denim-blue alpha 75%
$text-color-a75: rgba(43,48,64,.75);
//denim-blue
$text-color-medium:#4A5164;
$text-color-light:#557D9E;

//teal-blue
$link-color:#74B6ED;
$link-color--light:#B5DCFF;
//denim-blue
$button-color:#557D9E;
$active-tab:#4A5164;

$ui-green:#13B64D;
$ui-red:#FD154A;
$ui-inactive:#777777;

$ip-verybullish:#24A300;
$ip-bullish:#7ED321;
$ip-neutral:#FFBE00;
$ip-bearish:#FE510F;
$ip-verybearish:#E00000;
$ip-none:#101629;

//midnight blue
$bg-darker:#101629;
//steel blue
$bg-dark:#4A5164;
//denim blue
$bg-medium:#557D9E;
//pale blue
$bg-light:#F3F3F4;
$bg-lighter: rgba(115,153,184,0.1);
$bg-lightest: rgba(115,153,184,0.05);

$border-color-lighter: rgba(16,22,41,0.1);
$border-color: rgba(74,81,100,0.15);
$border-color-darker: rgba(74,81,100,0.25);

//Main Tertiary
$chart-color:#6771dc;

//Sky Blue
$chart-color-1:#67B7DC;
//Periwinkle
$chart-color-2:#6771dc;
//Purple
$chart-color-3:#a367dc;
//Pink
$chart-color-4:#dc67ce;