<!-- COMPONENT -- Checklist -->
<div class="panel c-panel h-100 component-checklist"  *ngIf="userAccess.userPermission.checklist">
    <!-- Panel Header -->
    <div class="d-flex flex-row align-items-center w-100 panel-header">
        <span class="header-icon"><i class="bi bi-list-check mx-2"></i></span>
        <h3>Pre-Trade Checklist</h3>
        <span class="flex-spacer"></span>
        <span class="text-link d-sm-none print-none" *ngIf="shrinkChecklist" (click)="toggleChecklistShrink()"><i class="bi bi-arrows-angle-expand me-1"></i> Expand panel</span>
        <span class="text-link d-sm-none print-none" *ngIf="!shrinkChecklist" (click)="toggleChecklistShrink()"><i class="bi bi-arrows-angle-contract me-1"></i> Shrink panel</span>
    </div>
    <!-- Panel Body -->
    <div class="d-flex flex-row">
        <div class="row g-0 w-100">
            <div class="col">
                <!-- Panel Object -->
                <div class="d-flex flex-row panel-object position-relative mb-2">
                  <div class="panel-id-stripe" [ngClass]="checklistModel?.strengthOverallColor"></div>
                  <table class="table">
                    <thead>
                      <tr class="table-header">
                        <th scope="col" colspan="2">
                          <h4 class="table-name">Strength</h4>
                        </th>
                        <th scope="col" align="center" class="text-center medium-weight px-0">
                          <span class="bold me-1" [ngClass]="checklistModel?.strengthCountClass">{{checklistModel?.strengthCount}}</span>/<span class="mx-1">3</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody *ngIf="!shrinkChecklist">
                      <tr>
                        <th scope="row">
                          <span class="label">Power Gauge Rating</span>
                        </th>
                        <td align="center">
                          <span class="data" [ngClass]="checklistModel?.pgrColor">{{checklistModel?.pgr}}</span>
                        </td>
                        <td align="center">
                          <span class="checklist-icon" [ngClass]="checklistModel?.pgrIconColor" matTooltip="{{checklistModel?.pgr}}" matTooltipClass="checklist-tooltip" matTooltipPosition="left"><i class="bi" [ngClass]="checklistModel?.pgrIconClass"></i></span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <span class="label">Rel. Strength vs SPY</span>
                        </th>
                        <td align="center">
                          <span class="data" [ngClass]="checklistModel?.relativeStrengthColor">{{checklistModel?.relativeStrength}}</span>
                        </td>
                        <td align="center">
                          <span class="checklist-icon" [ngClass]="checklistModel?.relativeStrengthIconColor" matTooltip="{{checklistModel?.relativeStrength}}" matTooltipClass="checklist-tooltip" matTooltipPosition="left"><i class="bi" [ngClass]="checklistModel?.relativeStrengthIconClass"></i></span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <span class="label">Industry Strength</span>
                        </th>
                        <td align="center">
                          <span class="data" [ngClass]="checklistModel?.industryColor">{{checklistModel?.industry}}</span>
                        </td>
                        <td align="center">
                          <span class="checklist-icon" [ngClass]="checklistModel?.industryIconColor" matTooltip="{{checklistModel?.industry}}" matTooltipClass="checklist-tooltip" matTooltipPosition="left"><i class="bi" [ngClass]="checklistModel?.industryIconClass"></i></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Panel Object -->
                <div class="d-flex flex-row panel-object position-relative ">
                  <div class="panel-id-stripe" [ngClass]="checklistModel?.timingOverallColor"></div>
                  <table class="table">
                    <thead>
                      <tr class="table-header">
                        <th scope="col" colspan="2">
                          <h4 class="table-name">Timing</h4>
                        </th>
                        <th scope="col" align="center" class="text-center medium-weight px-0">
                          <span class="bold me-1" [ngClass]="checklistModel?.timingCountClass" >{{checklistModel?.timingCount}}</span>/<span class="mx-1">3</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody *ngIf="!shrinkChecklist">
                      <tr>
                        <th scope="row">
                          <span class="label">Overbought/ Oversold</span>
                        </th>
                        <td align="center">
                          <span class="data" [ngClass]="checklistModel?.overboughtOversoldColor">{{checklistModel?.overboughtOversold}}</span>
                        </td>
                        <td align="center">
                          <span class="checklist-icon" [ngClass]="checklistModel?.overboughtOversoldIconColor" matTooltip="{{checklistModel?.overboughtOversold}}" matTooltipClass="checklist-tooltip" matTooltipPosition="left"><i class="bi" [ngClass]="checklistModel?.overboughtOversoldIconClass"></i></span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <span class="label">Long Term Trend</span>
                        </th>
                        <td align="center">
                          <span class="data" [ngClass]="checklistModel?.ltTrendColor">{{checklistModel?.ltTrend}}</span>
                        </td>
                        <td align="center">
                          <span class="checklist-icon" [ngClass]="checklistModel?.ltTrendIconColor" matTooltip="{{checklistModel?.ltTrend}}" matTooltipClass="checklist-tooltip" matTooltipPosition="left"><i class="bi" [ngClass]="checklistModel?.ltTrendIconClass"></i></span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <span class="label">Money Flow Persist.</span>
                        </th>
                        <td align="center">
                          <span class="data" [ngClass]="checklistModel?.moneyFlowColor">{{checklistModel?.moneyFlow}}</span>
                        </td>
                        <td align="center">
                          <span class="checklist-icon" [ngClass]="checklistModel?.moneyFlowIconColor" matTooltip="{{checklistModel?.moneyFlow}}" matTooltipClass="checklist-tooltip" matTooltipPosition="left"><i class="bi" [ngClass]="checklistModel?.moneyFlowIconClass"></i></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row w-100 mt-1" *ngIf="!shrinkChecklist">
        <div class="d-flex flex-column p-block p-3">
            <span class="text">
                <span>{{checklistModel?.sentenceBreakFirst}}</span>
                <span [ngClass]="checklistModel?.strengthCountClass">{{checklistModel?.sentenceBreakSecond}} </span>
                <span> {{checklistModel?.sentenceBreakThird}}</span>
                <span [ngClass]="checklistModel?.timingCountClass">{{checklistModel?.sentenceBreakFourth}} </span>
                <span> {{checklistModel?.sentenceBreakFifth}}</span>
            </span>
            <span class="text">{{checklistModel?.sentence2}} </span>
            <span class="text d-print-none"><a href="https://www.chaikinanalytics.com/chaikin-method/" target="_blank">Learn more about our methodology.</a></span>
        </div>
    </div>
</div>