@import 'src/styles/variables';

.component-checklist {
	.table {
		margin-left:5px;
		.table-header {
			th {
				@media (max-width:576px) {
					font-size: 1.15em;
				}
			}
			.table-name {
				color:$denim-blue;
				margin:0;
				padding:0;

				@media (max-width:576px) {
					min-width: 90px;
					margin-left:8px;
					font-size: 1.15em;
				}
			}
		}
		th {
			padding-right:0px;
			border-top:0px !important;

			@media (max-width:576px) {
				.label {
					margin-left:8px;
				}
			}
		}
		td {

		}
		.data {
			font-weight:700;
			font-size:14px;

			@media (min-width:993px) AND (max-width:1199px) {
				display:none;
			}
		}
		.label {
			font-size:14px;
			line-height: 1.1;
		}
		.checklist-icon {
			font-size:1.5em;
			line-height:1;
			vertical-align: text-top;
		}
	}
}