<!-- SECTION: Markets Panel -->
<section id="component-markets-panel" class="component-markets-panel">

    <!-- Panel: C -->
    <div class="panel c-panel pb-0"> 
        <div class="d-flex flex-column align-items-center">

            <!-- ROW: Panel Header -->
            <div class="panel-header">
                <span style="margin-top:-2px;" class="header-icon"><i class="bi bi-bank mx-2"></i></span>
                <h3>Major Indexes</h3>
                <span class="flex-spacer"></span>
                <span class="time-stamp me-2">As of {{todayDate}}</span>
            </div>

            <!-- ROW: Panel Body -->
            <div class="panel-body">

                <div class="panel-body-header">
                    <span class="open-icon morning" *ngIf="getMarketPanelDataObject.isMarketOpen"><i class="bi bi-brightness-high-fill me-2"></i></span>
                    <span *ngIf="!getMarketPanelDataObject.isMarketOpen" class="open-icon night"><i class="bi bi-moon-stars me-2"></i></span>
                    <h4>U.S. Markets are 
                        <span class="boldest chart-color" *ngIf="getMarketPanelDataObject.isMarketOpen">OPEN</span>
                        <span class="boldest market-closed" *ngIf="!getMarketPanelDataObject.isMarketOpen">CLOSED</span>
                    </h4>
                    <span class="flex-spacer"></span>
                </div>

                <div class="panel-object"  *ngIf="hideSentancePopUp">
                    <div class="d-flex flex-row align-items-center p-3">
                        <!-- <span class="ps-2 pe-3 breakdown-icon down pointer"  (click)="hideSentancePopUpOnIcon()"><i class="bi bi-x-circle-fill"></i></span> -->
                        <div class="summary">
                            <p class="text mb-0" [innerHTML]="html"></p>
                        </div>
                    </div>
                </div>

                <div class="section-separator"></div>

                <div class="panel-list" >
                    <!-- List Item -->
                    <div class="d-flex list-item position-relative"  *ngFor = 'let marketPanelDataObject of marketPanelDataObjectArray'>
                        <div class="d-flex flex-row  align-items-center w-100 p-2 pe-1 pointer"  (click)="redirectOnPgr(marketPanelDataObject.symbol)">
                            <span class="flex-grow-1">
                                {{marketPanelDataObject.name}}&nbsp; <b>({{marketPanelDataObject.symbol}})</b>
                            </span>
                            <!-- <span class="flex-spacer"></span> -->
                            <span class="data bold" [ngClass]="marketPanelDataObject.colorClass">{{marketPanelDataObject.percentageChangeInString}}</span>
                            <span class="data">${{marketPanelDataObject.lastInString}}</span>
                        </div>
                        <span class="panel-id-stripe"  [ngClass]="marketPanelDataObject.stripeClass"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>