@import 'src/styles/variables';

#component-markets-panel {

}

.component-markets-panel {
	.panel-body-header {
		.open-icon {
			font-size:24px;
			line-height:1;
			margin:0 5px;
		}
	}
	.breakdown-icon {
		font-size:18px;
		line-height:1;
	}
	.list-item {
		font-size: 14px;
		line-height: 1.33;

		.data {
			width: 66px; 
			text-align:right;
		}
	}
}