<div class="dialog-wrapper dialog-wrapper--short-single">
    <div class="dialog-container">
        <section class="row dialog-header mb-4">
            <div class="col-10 d-flex align-items-center">
                <h3>Duplicate list</h3>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-end">
                <button mat-icon-button (click)="onNoClick()" disableRipple class="close-window-button">
                    <mat-icon aria-label="close icon">close</mat-icon>
                </button>
            </div>
        </section>

        <section class="row dialog-body">
            <div class="col-12 d-flex flex-column">
                <h4>Enter a new name for the list you are creating</h4>
                <p class="text watchlist-error">{{listNameExistsMessage}}</p>
                <mat-form-field class="name-watchlist w-100" appearance="outline">
                    <mat-label>New list name</mat-label>
                    <input matInput type="text" placeholder="" value="" #listName>
                </mat-form-field>
            </div>
        </section>

        <section class="row dialog-footer">
            <div class="col-12">
                <div class="d-flex flex-row dialog-buttons-wrapper">
                    <button mat-button color="secondary" (click)="onNoClick()">Cancel</button>
                    <span class="flex-spacer"></span>
                    <button mat-flat-button color="primary" (click)="onCreateWatchlist(listName.value)">Create</button>
                </div>
            </div>
        </section>
    </div>
</div>