<!-- SECTION: Sector List Panel -->
<section class="component-sectors-panel">

    <!-- Panel: C -->
    <div class="panel c-panel mt-2 pb-0"> 
        <div class="d-flex flex-column align-items-center">

            <!-- ROW: Panel Header -->
            <div class="panel-header">
                <span class="header-icon"><i class="bi bi-share mx-2"></i></span>
                <h3>Market Overview</h3>
                <span class="flex-spacer"></span>
            </div>

            <!-- ROW: Panel Body -->
            <div class="panel-body">
                <div class="breakdown p-2">
                    <p class="text">{{extendedListDataModel?.description}}</p>
                </div>

                <!-- Sector Panel List Header -->
                <div class="panel-list-header p-2 pe-0" *ngIf="!showStockList">
                    <h3>{{listName}}</h3>
                    <span class="flex-spacer"></span>
                    <span class="d-flex align-items-center">
                        <!-- <span class="label me-2">Sort&nbsp;By:</span> -->
                        <select class="form-select form-select-sm" aria-label="" (change)="sortListCategory1($event.target.value, extendedListDataModel.children , 'category1')" >
                            <option *ngFor="let  sortingKey of sectorPanelSortingKeyCategory1" [value]="sortingKey.value"  [selected]="sortingKey.selected === true">{{sortingKey.viewValue}}</option>
                        </select>
                    </span>
                </div>

                <!-- Sector Panel List -->
                <div class="panel-list" *ngIf="!showStockList">
                    <!-- List Item -->
                    <div class="d-flex flex-column list-item pe-0 position-relative" *ngFor="let extendedMarketScannerData of  extendedListDataModel?.children">
                        <div class="d-flex flex-row p-2 pb-1" (click)="toggleShowStocks(extendedMarketScannerData)">
                            <span class="sector-name pointer ">{{extendedMarketScannerData.name}} </span>
                            <!-- <span class="boldest"></span> -->
                            <span class="flex-spacer"></span>
                            <button class="btn icon-button" matTooltip="See stocks" matTooltipClass="action-tooltip" matTooltipPosition="left">
                                <i class="bi bi-list-ul"></i>
                            </button>
                        </div>
                        <div class="d-flex flex-row p-2 pt-0 powerbar-wrapper powerbar--no-numbers">
                            <span class="d-inline-flex powerbar-cell powerbar-cell--bearish" [ngStyle]="{'width': extendedMarketScannerData.widthOfRedSlider + '%' }">
                                <span class="powerbar-count" >{{extendedMarketScannerData.red}}</span> <span class="powerbar-label">Bearish</span>
                            </span>
                            <span class="d-inline-flex powerbar-cell powerbar-cell--neutral">
                                <span class="powerbar-count" >{{extendedMarketScannerData.yellow}}</span>
                            </span> 
                            <span class="d-inline-flex powerbar-cell powerbar-cell--bullish" [ngStyle]="{'width': extendedMarketScannerData.widthOfGreenSlider + '%'}">
                                <span class="powerbar-count" >{{extendedMarketScannerData.green}}</span> <span class="powerbar-label">Bullish</span>
                            </span> 
                        </div>
                        <span class="panel-id-stripe"  [ngClass]="[extendedMarketScannerData.stripClass]"></span>
                    </div>
                </div>

                <!-- Selected Sector Panel List Header -->
                <div class="panel-list-header p-2 px-0" *ngIf="showStockList">
                    <button class="btn px-1" matTooltip="Return to previous list" matTooltipClass="action-tooltip" matTooltipPosition="right" (click)="toggleSector()">
                        <i class="bi bi-chevron-left"></i>
                    </button>
                    <h3 class="back-link pointer" (click)="toggleSector()">Back</h3>
                    <span class="flex-spacer"></span>
                    
                    <span class="d-flex flex-row flex-nowrap align-items-center me-2">
                        <!-- <span class="label d-none d-sm-flex d-lg-none me-2">Sort&nbsp;By:</span> -->
                        <select class="form-select form-select-sm" aria-label="" (change)="sortListCategory2($event.target.value , getListSymbolsDataModelArray , 'category2')">
                                <option *ngFor="let  sortingKey of sectorPanelSortingKeyCategory2" [value]="sortingKey.value"  [selected]="sortingKey.selected === true">{{sortingKey.viewValue}}</option>
                        </select>
                    </span>
                </div>

                <!-- Selected Sector Stock List -->
                <div class="panel-list" *ngIf="showStockList">
                    <!-- Selected Sector List Item -->
                    <div class="d-flex flex-column list-item pe-0 position-relative">
                        <div class="d-flex flex-row p-2 pointer">
                            <span class="sector-name selected">{{extendedMarketScannerData.name}}</span>
                            <span class="flex-spacer"></span>
                            <button class="btn border-0 py-0" matTooltip="Export list" matTooltipClass="action-tooltip" matTooltipPosition="left" type="button"  (click)= "exportListReport()">
                                <i class="bi bi-download"></i>
                            </button>
                            <!-- <button class="btn icon-button" matTooltip="Return to previous list" matTooltipClass=" " matTooltipPosition="right" (click)="toggleSector()">
                                <i class="bi bi-x"></i>
                            </button> -->
                        </div>
                        <!-- Powerbar -->
                        <div class="d-flex flex-row p-2 pt-0 powerbar-wrapper" >
                            <span class="d-inline-flex powerbar-cell powerbar-cell--bearish"  [ngStyle]="{'width': extendedMarketScannerData.widthOfRedSlider + '%' , 'max-width': extendedMarketScannerData.widthOfRedSlider=== 0 ? 10+'%':''}">
                                <span class="powerbar-count" >{{extendedMarketScannerData.red}}</span>
                            </span>
                            <span class="d-inline-flex powerbar-cell powerbar-cell--neutral">
                                <span class="powerbar-count" >{{extendedMarketScannerData.yellow}}</span>
                            </span> 
                            <span class="d-inline-flex powerbar-cell powerbar-cell--bullish" [ngStyle]="{'width': extendedMarketScannerData.widthOfGreenSlider + '%', 'max-width': extendedMarketScannerData.widthOfGreenSlider=== 0 ? 10+'%':''}">
                                <span class="powerbar-count" >{{extendedMarketScannerData.green}}</span>
                            </span> 
                        </div>
                        <span class="panel-id-stripe open-list up-bg"></span>
                        <span class="panel-id-stripe"></span>

                        <!-- List of Sector's Stocks -->
                        <div class="vertical-list-wrapper">
                            <div class="list-group">
                                
                                <!-- List of Items -->
                                <div class="list-group-item"  *ngFor ="let symbolData of getListSymbolsDataModelArray">
                                    <div class="d-flex flex-row align-items-center p-2 pb-1 ps-0" (click)="redirectOnPgr(symbolData.symbol)">
                                        <!-- Col-1 -->
                                        <div class="d-flex flex-column cell-rating justify-content-center align-items-center">
                                            <img src="{{symbolData.pgrImage}}" class="rating-icon">
                                            <span class="rating-label">{{symbolData.pgrName}}</span>
                                        </div>
                                        <!-- Col-2 -->
                                        <div class="d-flex flex-column flex-grow-1">
                                            <!-- Top Row -->
                                            <div class="d-flex flex-row align-items-center">
                                                <span class="d-flex cell-symbol pointer" >
                                                    <span class="symbol">{{symbolData.symbol}}</span>
                                                </span>
                                                <span class="d-flex cell-price flex-grow-1 justify-content-between">
                                                    <span class="price">{{symbolData.lastFormatted}}</span>
                                                    <span class="change" [ngClass]="symbolData.changeFormattedClass" >{{symbolData.changeFormatted}}</span>
                                                    <span class="percent d-none d-xl-flex"  [ngClass]="symbolData.percentageFormattedClass"><em>{{symbolData.percentageFormatted}}</em></span>
                                                </span>
                                            </div>
                                            <!-- Bottom Row -->
                                            <div class="d-flex flex-row align-items-center">
                                                <span class="d-flex cell-name">
                                                    <span class="company-name">{{symbolData.name}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>