@import 'src/styles/variables';

//********** Sectors Panel  **********//

.component-sectors-panel {
	width: 325px;
	@media (max-width: 992px) {
		width:100%;
	}
	.btn {
		&.icon-button {
			font-size: 18px;
			line-height: 1;
			padding:0 .25em;
		}
	}
	.panel-body {

	}
	.panel-list {
		.list-item {
			padding:0 5px;
			cursor: pointer;
			.sector-name {
				font-size: 16px;
				color:$text-color;
				margin-left:2px;

				&.selected {
					// color:#0099D9;
				}
				.boldest {
					margin-left:4px;
				}
			}
			.panel-id-stripe {
				background-color: $pale-blue;

				&.open-list {
					max-height:79px;
					border-radius:3px 0 0 0;
					z-index: 10;
				}
			}
			.vertical-list-wrapper {
				border-top:1px solid $border-color;
				.list-group {
					border-radius: 0;
					.list-group-item {
						&:last-of-type {
							border-bottom:0;
						}
						.cell-rating {
							width:68px;
							margin-left: -6px;
							.rating-icon {
								width: 40px;
								height: 20px;
							}
							.rating-label {
								color:#4A5164;
								font-weight:700;
								font-size: 10px;
								text-align: center;	
								text-transform:uppercase;
								line-height:1;
								max-width:50px;
								margin-top:3px;
							}
						}
						.cell-symbol {
							width: 76px;
							.symbol {
								font-size: 18px;
								font-weight:700;
								line-height: 1;
							}
						}
						.cell-name {
							text-overflow:ellipsis;
							overflow:hidden;
							flex-grow:1;
							max-width: 220px;
							.company-name {
								font-size:14px;
								font-weight:300;
								line-height: 1.4;
								margin-top:4px;
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
								white-space: nowrap;
								// width: calc(100% - 40px);
							}
						}
						.cell-price {
							font-size:12px;
						}
					}
				}
			}
		}
	}
}