<div class="dialog-wrapper dialog-wrapper--short-single">
    <div class="dialog-container">
        
        <section class="row dialog-header mb-4">
            <div class="col-10 d-flex align-items-center">
                <h3>{{headerText}}</h3>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-end">
                <button mat-icon-button (click)="close()" disableRipple class="close-window-button">
                    <mat-icon aria-label="close icon">close</mat-icon>
                </button>
            </div>
        </section>

        <section class="row dialog-body mb-2">
            <div class="col-12  d-flex flex-column">
                <h4 *ngIf="componentTaskText">{{componentTaskText}}:</h4>
                <mat-form-field class="name-watchlist mt-3" appearance="outline">
                    <mat-label>{{matInputLabelText}}</mat-label>
                    <input matInput [(ngModel)]="screenName">
                </mat-form-field>

                <span class="watchlist-error">{{errorDisplay}}</span>
            </div>
        </section>

        <section class="row dialog-footer">
            <div class="col-12">
                <div class="d-flex flex-row dialog-buttons-wrapper">
                    <button mat-button color="secondary" (click)="close()">{{btnCancelText}}</button>
                    <span class="flex-spacer"></span>
                    <button mat-flat-button color="primary" (click)="save()" cdkFocusInitial>{{btnSaveText}}</button>
                </div>
            </div>
        </section>
    </div>
</div>