<section class="container-fluid app-header-crawl px-0" style="cursor: pointer;">
    <div id="indice-crawl-row" class="row h-100 g-0">
        <button class="btn btn-border-large" type="button" style="margin-top:1px;" onclick="window.history.back();" matTooltip="Go Back" matTooltipClass="action-tooltip" matTooltipPosition="right">
           <i class="bi bi-arrow-90deg-left"></i>
        </button>
        <div class="col overflow-hidden d-flex ticker-crawl-wrapper border-left">
            <div class="d-flex crawl-nav  scroll-toggle scroll-toggle--left" id="crawl-nav-left" (click)="moveBarToLeftDirection()">
                <button class="btn border-0">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
            </div>
            <div class="d-flex flex-row align-items-center overflow-scroll flex-grow-1" id="viewed-area-of-bar">
                <ul class="chyron-item- list-group list-group-horizontal" >
                    <li class="d-flex flex-row align-items-center list-group-item" (click) = "redirectOnPgr(indices.symbol)"  *ngFor="let indices of marketIndicesData; let i = index"  [id]="'chyron-item-'+indices.symbol">
                        <span class="cell">
                            <mat-icon [ngClass]="indices.colorClass" [id]="'marketBarStep'+i">{{indices.arrowDirection}}</mat-icon>
                        </span>
                        <span class="cell ticker-name">{{indices.listName}} (<span class="fw-bold">{{indices.symbol}}</span>)</span>
                        <span class="cell data" [ngClass]="indices.colorClass">{{indices.lastInString}}</span>
                        <span class="cell data" [ngClass]="indices.colorClass">{{indices.percentageChangeInString}}</span>
                    </li>
                
                </ul>
            </div>
            <div class="d-flex crawl-nav scroll-toggle scroll-toggle--right" id="crawl-nav-right" (click)="moveBarToRightDirection()">
                <button class="btn border-0">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
            </div>
        </div>
    </div>
</section>