@import 'src/styles/variables';

.app-header-crawl {
	height:42px;
	background-color: $bg-light;
	border-bottom:1px solid $border-color;
	.ticker-crawl-wrapper {
		background-color: rgba(16,22,41,0.05);
		border-left:1px solid $border-color;
		.crawl-nav {
			button {
				padding:0.375em;

				i {
					color: $button-color;
				}
				&:hover {
					i {
						color: $link-color;
					}
				}
			}
		}
		.list-group {
			.list-group-item {
				font-size:14px;
				padding:0 4px 0 2px;
				height:36px;
				margin-right:3px;
				border-radius:4px;
				border:1px solid $border-color-darker;

				.cell {
					padding:0 2px;
					font-weight:400;
					display:inline-flex;
					color:$text-color;

					.mat-icon {
						font-size:18px;
						width: 18px;
						height:18px;
					}
				}
				.ticker-name {
					white-space: nowrap;
					line-height:1;
				}
				.data {
					margin-left:5px;
					line-height:1;
				}
			}
		}
	}
}