<section class="section-peformanceChart">
  <div class="panel b-panel">

    <!-- Chart Statement -->
    <div class="panel-header">
      <div class="statement-header">
        <h1><span class="bold">{{name}}</span> was <span class="bold" [ngClass]="changeMovement ? 'positive' : 'negative'" style="white-space: nowrap;"><i class="bi" [ngClass]="changeMovement ? 'bi-arrow-up' : 'bi-arrow-down'"></i> {{ timespanPriceChange }}  <i>({{symbolPriceChangePerc | number:'1.2-2'}}%)</i></span> over&nbsp;the&nbsp;last<span class="d-print-none">:</span></h1>
      </div>
      <!-- Chart Toggle Toolbar -->
      <div class="toggle-toolbar mt-3">
        <nav class="nav nav-pills" id="pills-tab" role="tablist">
          <a class="nav-link" id="pills-1m-tab" data-bs-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-1m" aria-selected="true" (click)="onPricePeriodChange('1month')">
            <span class="show">1M</span>
            <span class="hide">1 month</span>
          </a>
          <a class="nav-link" id="pills-3m-tab" data-bs-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-m3" aria-selected="true" (click)="onPricePeriodChange('3month')">
            <span class="show">3M</span>
            <span class="hide">3 months</span>
          </a>
          <a class="nav-link active" id="pills-1y-tab" data-bs-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-1y" aria-selected="true" (click)="onPricePeriodChange('year')">
            <span class="show">1Y</span>
            <span class="hide">1 year</span>
          </a>
          <a class="nav-link" id="pills-5y-tab" data-bs-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-5y" aria-selected="true" (click)="onPricePeriodChange('5year')">
            <span class="show">5Y</span>
            <span class="hide">5 years</span>
          </a>
        </nav>
      </div>
    </div>

    <div class="chart-wrapper">
      <!-- Chart Header -->
      <div class="chart-header">
        <div class="d-flex align-items-center">
          <h4>Historic Price Chart</h4>
        </div>
        <button type="button" class="btn border-0 info-icon" data-bs-container="body" data-bs-toggle="popover"
          data-bs-placement="bottom" id="historicChartPopup" (click)="openQuickDescriptionPopup(wordpressIdMapping.Historic_Price_Chart,'historic_price_chart',$event);">
          <i class="bi bi-question-circle"></i>
        </button>
        <div #qickDescriptionPopup *ngIf="showQuickScanDescription" class="info-tool-tip" [style.top.px]="createQickDescriptionYPosition" [style.left.px]="createQickDescriptionXPosition" [style.position]="'absolute'">
          <app-quick-description [id]='quickDescriptionId' [defaultTextForPopup]="quickDescriptionDefaultText" (messageToClose)="onCloseQuickDescriptionPopupEvent();">
          </app-quick-description>
        </div>
        <span class="flex-spacer"></span>
        <div class="form-check d-print-none d-none d-md-block">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="onCheckboxChange($event)">
          <label class="form-check-label" for="flexCheckDefault">
            Show explanations
          </label>
        </div>
      </div>
      <!-- Chart -->
      <div class="chart-container">

       <!--  Loading Spinner -->
        <div class="d-flex flex-column position-absolute h-100 w-100 loading-spinner-wrapper" *ngIf="isChartLoaded">
          <div class="spinner-border text-info" role="status">
          </div>
          <span class="spinner-text">Loading...</span>
        </div>

        <!-- Main Chart -->
        <div class="price-chart" id="main-chart"></div>
        <!-- Chart Date Axis -->
        <div class="price-chart-yAxis" id="datex-chart"></div>
        <!-- Chart Title - MoneyFlow -->
        <div class="position-absolute w-100" style="bottom:225px;">
          <div class="d-flex flex-row w-100 align-items-center chart-header">
            <h4>Money Flow</h4>
            <button type="button" id="moneyFlowPopup" class="btn border-0 info-icon" data-bs-toggle="popover" data-bs-placement="bottom" (click)="openQuickDescriptionPopupMoneyFlow(wordpressIdMapping.Money_Flow,'Money_Flow',$event);">
              <i class="bi bi-question-circle"></i>
            </button>
            <div #qickDescriptionPopupMoneyFlow *ngIf="showQuickScanDescriptionMoneyFlow" class="info-tool-tip" [style.top.px]="createQickDescriptionYPositionMoneyFlow" [style.left.px]="createQickDescriptionXPositionMoneyFlow" [style.position]="'absolute'">
              <app-quick-description [id]='quickDescriptionIdMoneyFlow' [defaultTextForPopup]="quickDescriptionDefaultTextMoneyFlow" (messageToClose)="onCloseQuickDescriptionPopupEventMoneyFlow();">
              </app-quick-description>
            </div>
          </div>
        </div>
        <!-- Chart Title - Relative Strength -->
        <div class="position-absolute w-100" style="bottom:130px;">
          <div class="d-flex flex-row w-100 align-items-center chart-header">
            <h4>Relative Strength</h4>
            <button type="button" id="relStrPopup" class="btn border-0 info-icon" data-bs-toggle="popover" data-bs-placement="bottom" (click)="openQuickDescriptionPopupRelStr(wordpressIdMapping.Rel_Strength,'Rel_Strength',$event);">
              <i class="bi bi-question-circle"></i>
            </button>
            <div #qickDescriptionPopupRelStr *ngIf="showQuickScanDescriptionRelStr" class="info-tool-tip" [style.top.px]="createQickDescriptionYPositionRelStr" [style.left.px]="createQickDescriptionXPositionRelStr" [style.position]="'absolute'">
              <app-quick-description [id]='quickDescriptionIdRelStr' [defaultTextForPopup]="quickDescriptionDefaultTextRelStr" (messageToClose)="onCloseQuickDescriptionPopupEventRelStr();">
              </app-quick-description>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>