@import 'src/styles/variables';

.section-peformanceChart {
  .statement-header {
    display: flex;
    flex-direction:row;
  }
  .toggle-toolbar {
    display: flex;
  }
}

#main-chart {
    width: 100%;
    height: 500px;
}

#datex-chart {
  width: calc(100% - 34px);
  height: 40px;
  margin-top:-20px;
  margin-left:0px;
}