<div class="sticky-header sticky-header-shadow sticky-top">

  <!-- HEADER TOP -->
  <app-top-header (openSubscriptionPopup)="openLogoutPopup($event)" (selectedSymbolFromLookUp) = "onSymbolSelect($event)"  (selectedListId) = getWatchListUpdate($event)  [tabbedStructureData] = "tabbedStructureData"></app-top-header>
  <!-- HEADER MIDDLE -->
  <!-- <section class="container-fluid app-header-middle px-0" *ngIf="productAccessModel.dashboard"> -->
    <section class="container-fluid app-header-middle px-0" *ngIf="userAccess.userPermission.dashboard">

    <!-- LIST COMPONENT -->
    <div id="m-head-list-row" class="row g-0 h-100" >
      <!-- List Dropdown -->
      <div class="col col-auto list-dropdown-wrapper">
        <div class="d-flex align-items-center justify-content-center h-100 px-2 border-right">

          <!-- MOBILE TOOLTIP FLAG -->
          <div class="ui-tooltip-wrapper d-sm-none d-print-none" style="left:60px;" id="tooltip-flag--dashReturn" *ngIf="mobileTooltipFlag"  (clickOutside)="onClickedOutside($event)" >
            <div class="ui-tooltip-container">
              <div class="tooltip-body">
                <span class="tooltip-text">Return to Home</span>
              </div>
              <div class="tooltip-caret-wrapper tooltip-caret-left">
                <span class="tooltip-caret"></span>
              </div>
            </div>
          </div>

          <!-- Dashboard Button -->
          <!-- <button class="btn border me-2" type="button" (click)="goToDashboard();" *ngIf="!productAccessModel.powerGaugeAnalytics"> -->
          <button class="btn border btn-border-large me-2" type="button" (click)="goToDashboard();" *ngIf="!userAccess.userPermission.tabs" style="min-height:40px">
            <i class="bi bi-layout-text-sidebar"></i> 
           <!--  <span class="ms-2 mobile-hide">Home</span> -->
          </button>

          <div class="btn-group list-select-dropdown">
            <button type="button" class="btn border list-selection-button justify-content-between dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
               <span class="d-flex me-1 ">{{selectedListIdData.listName}}</span>
            </button>
            <ul class="dropdown-menu dropdown-menu--list-selection " aria-labelledby="dropdownMenuReference">
              <!-- Chaikin Lists -->
              <li class="d-flex dropdown-header">
                <h3>Chaikin Lists</h3>
              </li>
              <li class="d-flex dropdown-item" (click) = "selectRecentViewed()">
                <span class="list-name pointer">Recently Viewed</span>
                <span class="flex-spacer"></span>
                <span class="d-flex flex-row dropdown-item-actions">
                  <!-- <button class="btn border-0" type="button" matTooltip="Refresh recents" matTooltipClass="action-tooltip" matTooltipPosition="left">
                    <i class="bi bi-arrow-clockwise"></i>
                  </button> -->
                </span>
              </li>
              <li class="d-flex dropdown-item" *ngFor="let watchlistData of pulseChaikinDataModel.data;let i=index">
                <span class="list-name"  (click) = "loadWatchlistData(watchlistData)">{{watchlistData.listName}}</span>
                <span class="flex-spacer"></span>
                <span class="count px-2 fw-bold" matTooltip="List assets" matTooltipClass="action-tooltip" matTooltipPosition="left">({{watchlistData.symbolCount}})</span>
                 <span class="d-flex flex-row dropdown-item-actions"></span>
              </li>
              <!-- User Lists -->
              <li class="d-flex dropdown-header">
                <h3>{{watchlistDataModel.title}}</h3>
              </li>
              <li class="d-flex dropdown-item" *ngFor="let watchlistData of watchlistDataModel.data;let i=index">
                <span class="list-name" href="#"  (click) = "loadWatchlistData(watchlistData)">{{watchlistData.listName}}</span>
                <span class="flex-spacer"></span>
                <span class="count px-2 fw-bold" matTooltip="List assets" matTooltipClass="action-tooltip" matTooltipPosition="left">({{watchlistData.symbolCount}})</span>
                <span class="d-flex flex-row dropdown-item-actions">
                   <button class="btn border-0" type="button" (click)="editList($event,watchlistData)" *ngIf = "(watchlistData.listName != 'My Stocks') && !watchlistData.priorityList" matTooltip="Edit list name" matTooltipClass="action-tooltip" matTooltipPosition="left">
                      <i class="bi bi-pencil"></i>
                   </button>
                   <button class="btn border-0" type="button" (click)="deleteList($event,watchlistData)" *ngIf = "(watchlistData.listName != 'My Stocks') && !watchlistData.priorityList" matTooltip="Delete this list" matTooltipClass="action-tooltip" matTooltipPosition="left">
                      <i class="bi bi-trash"></i>
                   </button>
             </span>
             </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- List Scroll Wrapper -->
      <div class="col overflow-hidden d-flex list-scroll-wrapper">
        <!-- Scroll Toggle Left -->
        <div class="d-flex list-scroll-nav h-100" id="list-scroll-nav-left"   (click)="moveBarToLeftDirection()">
          <button class="btn border-0">
            <i class="bi bi-caret-left-fill"></i>
          </button>
        </div>
         <!-- Scroll Container -->
        <div class="d-flex flex-row flex-grow-1 align-items-center overflow-scroll" id="viewed-area-of-bar">
          <ul class="chyron-item- list-group list-group-horizontal">

            <!-- Stock -->
            <li class="d-flex flex-column justify-content-center position-relative list-group-item pointer" [ngClass]="{'select': indices.symbol===headerDataModel.symbol}" (click)="selectSymbolForReport(indices.symbol);"
            *ngFor="let indices of getListSymbolData?.symbols; let i = index" [id]="'chyron-item-'+indices.symbol">
              <span class="panel-id-stripe" [ngStyle]="{'background-color' : indices.percentageChangeColor ? indices.percentageChangeColor : 'rgba(0,0,0,.54)' }"></span>
              <div class="d-flex flex-row align-items-center ">

                <span class="d-inline-flex cell cell-rating">
                  <img [src]="indices.pgrImageSrc" class="rating-icon">
                </span>
                <span class="cell cell-ticker flex-grow-1 me-2">{{indices.symbol}}</span>
                <span class="cell cell-price">{{indices.lastFormattedString}}</span>
              </div>
              <div class="d-flex flex-row align-items-center ">
                <span class="cell cell-company-name flex-grow-1 me-2">
                  <span class="company-name">{{indices.name}}</span>
                  </span>
                <span class="cell cell-change" [ngClass]="indices.percentageChangeColor">{{indices.percentageChangeFormattedString}}</span>
              </div>
              <span class="selected-tick"></span>
            </li>
          </ul>
        </div>
        <!-- Scroll Toggle Right -->
        <div class="d-flex list-scroll-nav" id="list-scroll-nav-right" (click)="moveBarToRightDirection()">
          <button class="btn border-0">
            <i class="bi bi-caret-right-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- HEADER BOTTOM -->
  <app-bottom-header [headerDataModel]="headerDataModel" [projectAccess]= "false"  [watchlistDataModel1] = "watchlistDataModel"   (watchlistDataUpdate) = watchlistDataUpdate($event)></app-bottom-header>

</div>

<section id="pgr-body" class="container-fluid app-body-wrapper">
  <div class="container app-body-container">

    <!-- PRINT -- HEADER BOTTOM -->
    <app-bottom-header [headerDataModel]="headerDataModel" [projectAccess]= "false"   (watchlistDataUpdate) = watchlistDataUpdate($event) class="d-print-block"></app-bottom-header>

    <!-- POPUP -- Product list -->
    <app-products   [productPopUpShow]="productPopUpShow"></app-products> 

    <!-- SECTION -- Rating Overview -->
    <div class="row mt-3" *ngIf="!headerDataModel.isEtf && headerDataModel.pgr>0">
      <div class="col">
        <!-- Component -- Rating Overview -->
        <app-pgr-overview [headerDataModel]="headerDataModel" [pgrContextSummary]="pgrContextSummary" ></app-pgr-overview>
      </div>
    </div>
    
    <!-- SECTION -- Main Chart + Checklist -->
    <div class="row mb-3 g-0">
      <div class="col-12 col-md-4 col-lg-3" *ngIf = "userAccess.userPermission.checklist &&  !headerDataModel.isEtf && headerDataModel.pgr>0">
        <!-- Component -- CHECKLIST -->
        <app-checklist [headerDataModel]="headerDataModel"  *ngIf="!headerDataModel.isEtf && headerDataModel.pgr>0"></app-checklist>
      </div>
      <div class="col pt-2 pt-md-0 ps-md-2 ps-lg-3">
        <!-- Component -- PRICE CHART -->
        <app-historic-price-chart [name]="headerDataModel.name" [symbolstr]="headerDataModel.symbol" [isETF]="headerDataModel.isEtf"></app-historic-price-chart>
      </div>
    </div>

    <!-- SECTION -- ETF Stats-->
    <app-etf-stats *ngIf="headerDataModel.isEtf" [headerDataModel]="headerDataModel">
    </app-etf-stats>

    <!-- *PRINT* -- HEADER BOTTOM -->
    <app-bottom-header [headerDataModel]="headerDataModel" [projectAccess]= "false"   (watchlistDataUpdate) = watchlistDataUpdate($event) class="d-print-block page-break-before"></app-bottom-header>
    
    <!-- SECTION -- Rating Summary -- FINANCIALS -->
    <div class="anchor-wrapper">
      <div id="financial" class="anchor"></div>
    </div>
    <app-financial [headerDataModel]="headerDataModel"  [financialContextSummary]="financialContextSummary" *ngIf="!headerDataModel.isEtf && headerDataModel.pgr>0">
    </app-financial>

    <!-- *PRINT* -- HEADER BOTTOM -->
    <app-bottom-header [headerDataModel]="headerDataModel" [projectAccess]= "false"   (watchlistDataUpdate) = watchlistDataUpdate($event) class="d-print-block page-break-before"></app-bottom-header>

    <!-- SECTION -- Rating Summary -- EARNINGS -->
    <div class="anchor-wrapper">
      <div id="earning" class="anchor"></div>
    </div>
    <app-earning [headerDataModel]="headerDataModel" [earningsContextSummary]="earningsContextSummary"
      *ngIf="!headerDataModel.isEtf && headerDataModel.pgr>0"></app-earning>

    <!-- *PRINT* -- HEADER BOTTOM -->
    <app-bottom-header [headerDataModel]="headerDataModel" [projectAccess]= "false"   (watchlistDataUpdate) = watchlistDataUpdate($event) class="d-print-block page-break-before"></app-bottom-header>
   
    <!-- SECTION -- Rating Summary -- TECHNICALS -->
    <div class="anchor-wrapper">
      <div id="technical" class="anchor"></div>
    </div>
    <app-technical [headerDataModel]="headerDataModel" [priceVolumeContextSummary]="priceVolumeContextSummary" *ngIf="!headerDataModel.isEtf && headerDataModel.pgr>0">
    </app-technical>

    <!-- SECTION -- Rating Summary -- EXPERTS -->
    <div class="anchor-wrapper">
      <div id="expert" class="anchor"></div>
    </div>
    <app-expert [headerDataModel]="headerDataModel" [expertOpnionsContextSummary]="expertOpnionsContextSummary"
      *ngIf="!headerDataModel.isEtf && headerDataModel.pgr>0" >
    </app-expert>
  
    <!-- SECTION -- Company Info -->
    <div class="row section-company-info my-4" >
      <div class="col">
        <div class="panel c-panel">
          <!-- Panel Header -->
          <div class="d-flex flex-row align-items-center w-100 panel-header">
            <span class="header-icon"><i class="bi bi-house-door mx-2"></i></span>
            <h3> Company Profile</h3>
            <span class="flex-spacer"></span>
          </div>

          <!-- Panel Object -->
          <div class="d-flex flex-row panel-object">
            <div class="row g-0 w-100">
              <div class="col-12 col-md-6 py-3 ps-3 pe-1">
                <div class="d-flex flex-column  border-md-right border-bottom border-md-bottom-0">
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <th class="label ps-0" scope="row">Company Name</th>
                        <td class="data pe-3">{{companyProfileObject.CompanyName}}</td>
                      </tr>
                      <tr>
                        <th class="label ps-0" scope="row">Sector</th>
                        <td class="data pe-3">{{companyProfileObject.Sector}}</td>
                      </tr>
                      <tr>
                        <th class="label ps-0" scope="row" style="min-width: 150px;">Full-time Employees</th>
                        <td class="data pe-3" *ngIf="companyProfileObject.formattedEmployeesCount">{{companyProfileObject.formattedEmployeesCount}}</td>
                        <td class="data pe-3" *ngIf="!companyProfileObject.formattedEmployeesCount">{{companyProfileObject.EmployeesCount}}</td>
                      </tr>
                      <tr>
                        <th class="label ps-0 align-text-top" scope="row">Address</th>
                        <td class="data pe-3">
                          <span>{{companyProfileObject.Address1}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-12 col-md-6 p-3">
                <div class="d-flex flex-column pb-2">
                  <h4>Company Description</h4>
                  <span class="company-description" style="font-size:14px;font-weight:400;line-height:1.45;">{{companyProfileObject.Profile}} </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION -- Disclaimer -->
    <div class="row section-disclaimer mt-3 mb-1 print-break">
      <div class="col-12">
        <app-footer></app-footer>
        <app-disclaimer></app-disclaimer>
      </div>
    </div>

  </div>
</section>
