@import 'src/styles/variables';

// SECTION -- 

#admin-component-screenlibrary {
	.mat-table-wrapper {
		.mat-table {
			font-size: 1em;
			font-weight:400;

			.mat-cell, .mat-header-cell {
				padding:8px 12px;
			}
			.mat-column-name {
				max-width: 400px;
				.list-name {
					font-size: 18px;
					font-weight:500;
				}
			}
			.mat-column-description {
				max-width: 300px;
				line-height: 1.2;
				padding:12px;
				.description {
					font-size: 12px;
					font-weight:400;
				}
			}
			.mat-column-guru {
				text-align: center;
				.guru {
					
				}
			}
			.mat-column-limit {
				text-align: center;
			}
			.mat-column-showHide {
				text-align: center;
			}
			.mat-column-products {
				.products {
					display: flex;
					flex-flow:row wrap;
					.product {
						margin-right:12px;
						font-weight: 700;
					}
				}
			}
			.mat-column-action {
				width: 60px;
				padding-left:0;
				padding-right:0;
				text-align: center;

				button {
					font-size: 24px;
				}
				.dropdown {
					.dropdown-menu {
						.dropdown-item {
							font-size: 18px;
							cursor: pointer;
							padding:0.5em 1em;
						}
					}
				}
			}
		}
	}
}