<section class="admin-component" id="admin-component-screenlibrary">
	
	<div class="p-4">
		<h5 class="m-0">Screener Library Admin</h5>
	</div>

	<div class="bg-medium p-3 px-4">
		<div class="row">
			<div class="col-12 pb-2">
				<button class="btn btn-primary" (click)="importList()">Import a new screen</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12 py-2">
				<div class="mat-table-wrapper border">
					<table mat-table [dataSource]="screenerLibrary" class="w-100">

					  <!-- Position Column -->
					  <ng-container matColumnDef="listName">
					    <th mat-header-cell *matHeaderCellDef> Screen Name </th>
					    <td mat-cell *matCellDef="let screen"> 
					    	<span class="list-name">{{screen.listName}}</span>
					    </td>
					  </ng-container>

					  <!-- Name Column -->
					  <ng-container matColumnDef="description">
					    <th mat-header-cell *matHeaderCellDef> Description </th>
					    <td mat-cell *matCellDef="let screen"> 
					    	<span class="description">{{screen.description}}</span>
					    </td>
					  </ng-container>

					  <!-- Weight Column -->
					  <ng-container matColumnDef="guru">
					    <th mat-header-cell *matHeaderCellDef> Guru </th>
					    <td mat-cell *matCellDef="let screen"> 
					    	<span class="guru">{{screen.guru}}</span>
					    </td>
					  </ng-container>

					  <!-- Symbol Column -->
					  <ng-container matColumnDef="limit">
					    <th mat-header-cell *matHeaderCellDef> Limit To </th>
					    <td mat-cell *matCellDef="let screen"> {{screen.limit}} </td>
					  </ng-container>

					  <!-- Symbol Column -->
					  <ng-container matColumnDef="showHide">
					    <th mat-header-cell *matHeaderCellDef> Show/Hide </th>
					    <td mat-cell *matCellDef="let screen"> {{screen.isActive}} </td>
					  </ng-container>

					  <!-- Symbol Column -->
					  <ng-container matColumnDef="associatedPubCodes">
					    <th mat-header-cell *matHeaderCellDef> Associated Products </th>
					    <td mat-cell *matCellDef="let screen"> 
					    	<span class="products">
					    		<span class="product">{{screen.associatedPubCodes.join(',')}}</span>
					    	</span>
					    </td>
					  </ng-container>

					  <!-- Symbol Column -->
					  <ng-container matColumnDef="action">
					    <th mat-header-cell *matHeaderCellDef> </th>
					    <td mat-cell *matCellDef="let screen"> 
	                        <div  class="d-flex dropdown list-select-dropdown">
                                <button type="button" class="btn border-0 py-0" id="dropdownAddToListButton"   data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button> 
                                <ul class="dropdown-menu" aria-labelledby="dropdownAddToListButton">
                                    <li class="d-flex dropdown-item" (click)="editList(screen);">
                                        <i class="bi bi-pencil-fill me-3"></i><span class="">Edit</span>
                                    </li>
									<li class="d-flex dropdown-item" *ngIf="screen.updationMode=='mannual'" (click)="AddSymbols(screen);">
                                        <i class="bi bi-file-plus-fill me-3"></i><span class="">Add Symbols</span>
                                    </li>
									<li class="d-flex dropdown-item" *ngIf="screen.updationMode=='screener'" (click)="screenerCriteria(screen);">
                                        <i class="bi bi-node-plus-fill me-3"></i><span class="">Screener Criteria</span>
                                    </li>
                                    <li class="d-flex dropdown-item" (click)="deleteList(screen);" >
                                        <i class="bi bi-trash me-3"></i> <span class="">Remove</span>
                                    </li>
                                </ul>
                            </div>
					    </td>
					  </ng-container>

					  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>