<!------------ POWERPULSE PREMIUM ------------>
<!-- LIST COMPONENT -->
    <div id="m-head-list-row" class="row g-0 h-100" *ngIf="false">
      <!-- List Dropdown -->
      <div class="col col-auto">
        <div class="d-flex align-items-center justify-content-center h-100 px-2 border-right">
          <!-- Back Button -->
          <button class="btn border btn-border-large me-1" type="button">
             <i class="bi bi-arrow-left"></i>
          </button>

          <div class="btn-group list-select-dropdown">
            <button type="button" class="btn border list-selection-button justify-content-between">
               <span class="d-flex me-1 text-truncate">PowerGauge Investor Portfolio</span>
            </button>
            <button type="button" class="btn border dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
               <span class="visually-hidden">Toggle Dropdown</span>
            </button>

            <ul class="dropdown-menu dropdown-menu--list-selection " aria-labelledby="dropdownMenuReference">
               <li class="d-flex dropdown-header">
                  <h3>Chaikin Lists</h3>
               </li>
               <li class="d-flex dropdown-item">
                  <a class="list-name" href="#">Recently Viewed</a>
                  <span class="flex-spacer"></span>
                  <span class="d-flex flex-row dropdown-item-actions">
                     <button class="btn border-0" type="button">
                        <i class="bi bi-arrow-clockwise"></i>
                     </button>
                  </span>
               </li>
               <li class="d-flex dropdown-item">
                  <a class="list-name" href="#">PowerGauge Investor Portfolio</a>
                  <span class="flex-spacer"></span>
                  <span class="d-flex flex-row dropdown-item-actions">
                     <button class="btn border-0" type="button">
                        <i class="bi bi-files"></i>
                     </button>
                  </span>
               </li>
               <li class="d-flex dropdown-header">
                  <h3>My Lists</h3>
               </li>
               <li class="d-flex dropdown-item">
                  <a class="list-name" href="#">Sash’s Vanguard IRA — Acct. #96753232</a>
                  <span class="flex-spacer"></span>
                  <span class="count px-2 fw-bold">(6)</span>
                  <span class="d-flex flex-row dropdown-item-actions">
                     <button class="btn border-0" type="button">
                        <i class="bi bi-pencil"></i>
                     </button>
                     <button class="btn border-0" type="button">
                        <i class="bi bi-trash"></i>
                     </button>
                  </span>
               </li>
               <li class="d-flex dropdown-item">
                  <a class="list-name" href="#">Fidelity retirement account</a>
                  <span class="flex-spacer"></span>
                  <span class="count px-2 fw-bold">(24)</span>
                  <span class="d-flex flex-row dropdown-item-actions">
                     <button class="btn border-0" type="button">
                        <i class="bi bi-pencil"></i>
                     </button>
                     <button class="btn border-0" type="button">
                        <i class="bi bi-trash"></i>
                     </button>
                  </span>
               </li>
               <li class="d-flex dropdown-item">
                  <a class="list-name" href="#">New untitled watchlist</a>
                  <span class="flex-spacer"></span>
                  <span class="count px-2 fw-bold">(0)</span>
                  <span class="d-flex flex-row dropdown-item-actions">
                     <button class="btn border-0" type="button">
                        <i class="bi bi-pencil"></i>
                     </button>
                     <button class="btn border-0" type="button">
                        <i class="bi bi-trash"></i>
                     </button>
                  </span>
               </li>
               <li class="d-flex dropdown-item">
                  <a class="list-name" href="#">My 2021 Small Cap watchlist</a>
                  <span class="flex-spacer"></span>
                  <span class="count px-2 fw-bold">(6)</span>
                  <span class="d-flex flex-row dropdown-item-actions">
                     <button class="btn border-0" type="button">
                        <i class="bi bi-pencil"></i>
                     </button>
                     <button class="btn border-0" type="button">
                        <i class="bi bi-trash"></i>
                     </button>
                  </span>
               </li>
               <li class="d-flex dropdown-item">
                  <a class="list-name" href="#">Mike’s 2021 Large Cap watchlist January through August — Retirement account</a>
                  <span class="flex-spacer"></span>
                  <span class="count px-2 fw-bold">(33)</span>
                  <span class="d-flex flex-row dropdown-item-actions">
                     <button class="btn border-0" type="button">
                        <i class="bi bi-pencil"></i>
                     </button>
                     <button class="btn border-0" type="button">
                        <i class="bi bi-trash"></i>
                     </button>
                  </span>
               </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- List Scroll Wrapper -->
      <div class="col overflow-hidden d-flex list-scroll-wrapper">
        <!-- Scroll Toggle Left -->
        <div class="d-flex list-scroll-nav h-100" id="list-scroll-nav-left">
          <button class="btn border-0 disabled">
            <i class="bi bi-caret-left-fill"></i>
          </button>
        </div>
         <!-- Scroll Container -->
        <div class="d-flex flex-row flex-grow-1 align-items-center overflow-scroll">
          <ul class="list-group list-group-horizontal">

            <!-- Stock -->
            <li class="d-flex flex-column justify-content-center position-relative list-group-item">
              <span class="panel-id-stripe up-bg"></span>
              <div class="d-flex flex-row align-items-center ">
                <span class="d-inline-flex cell cell-rating">
                  <img src="./assets/Arc-Small_verybullish.svg" class="rating-icon">
                </span>
                <span class="cell cell-ticker flex-grow-1 me-2">AMZN</span>
                <span class="cell cell-price">$1232.32</span>
              </div>
              <div class="d-flex flex-row align-items-center ">
                <span class="cell cell-company-name flex-grow-1 me-2">Amazon, Inc.</span>
                <span class="cell cell-change up">+2.33%</span>
              </div>
            </li>
            <!-- Stock -->
            <li class="d-flex flex-column justify-content-center position-relative list-group-item">
              <span class="panel-id-stripe up-bg"></span>
              <div class="d-flex flex-row align-items-center ">
                <span class="d-inline-flex cell cell-rating">
                  <img src="./assets/Arc-Small_verybullish.svg" class="rating-icon">
                </span>
                <span class="cell cell-ticker flex-grow-1 me-2">AMZN</span>
                <span class="cell cell-price">$1232.32</span>
              </div>
              <div class="d-flex flex-row align-items-center ">
                <span class="cell cell-company-name flex-grow-1 me-2">Amazon, Inc.</span>
                <span class="cell cell-change up">+2.33%</span>
              </div>
            </li>
            <!-- Stock -->
            <li class="d-flex flex-column justify-content-center position-relative list-group-item">
              <span class="panel-id-stripe up-bg"></span>
              <div class="d-flex flex-row align-items-center ">
                <span class="d-inline-flex cell cell-rating">
                  <img src="./assets/Arc-Small_Bullish.svg" class="rating-icon">
                </span>
                <span class="cell cell-ticker flex-grow-1 me-2">AMZN</span>
                <span class="cell cell-price">$1232.32</span>
              </div>
              <div class="d-flex flex-row align-items-center ">
                <span class="cell cell-company-name flex-grow-1 me-2">Amazon, Inc.</span>
                <span class="cell cell-change up">+2.33%</span>
              </div>
            </li>
            <!-- Stock -->
            <li class="d-flex flex-column justify-content-center position-relative list-group-item">
              <span class="panel-id-stripe up-bg"></span>
              <div class="d-flex flex-row align-items-center ">
                <span class="d-inline-flex cell cell-rating">
                  <img src="./assets/Arc-Small_Neutral_Negative.svg" class="rating-icon">
                </span>
                <span class="cell cell-ticker flex-grow-1 me-2">MSFT</span>
                <span class="cell cell-price">$67.32</span>
              </div>
              <div class="d-flex flex-row align-items-center ">
                <span class="cell cell-company-name flex-grow-1 me-2">Microsoft Corporation</span>
                <span class="cell cell-change up">+1.88%</span>
              </div>
            </li>
            <!-- Stock -->
            <li class="d-flex flex-column justify-content-center position-relative list-group-item">
              <span class="panel-id-stripe down-bg"></span>
              <div class="d-flex flex-row align-items-center ">
                <span class="d-inline-flex cell cell-rating">
                  <img src="./assets/Arc-Small_Bearish.svg" class="rating-icon">
                </span>
                <span class="cell cell-ticker flex-grow-1 me-2">GOOGL</span>
                <span class="cell cell-price">$452.17</span>
              </div>
              <div class="d-flex flex-row align-items-center ">
                <span class="cell cell-company-name flex-grow-1 me-2">Google Inc</span>
                <span class="cell cell-change down">-3.61%</span>
              </div>
            </li>
            <!-- Stock -->
            <li class="d-flex flex-column justify-content-center position-relative list-group-item">
              <span class="panel-id-stripe up-bg"></span>
              <div class="d-flex flex-row align-items-center ">
                <span class="d-inline-flex cell cell-rating">
                  <img src="./assets/Arc-Small_verybullish.svg" class="rating-icon">
                </span>
                <span class="cell cell-ticker flex-grow-1 me-2">AMZN</span>
                <span class="cell cell-price">$1232.32</span>
              </div>
              <div class="d-flex flex-row align-items-center ">
                <span class="cell cell-company-name flex-grow-1 me-2">Amazon, Inc.</span>
                <span class="cell cell-change up">+2.33%</span>
              </div>
            </li>
            <!-- Stock -->
            <li class="d-flex flex-column justify-content-center position-relative list-group-item">
              <span class="panel-id-stripe up-bg"></span>
              <div class="d-flex flex-row align-items-center ">
                <span class="d-inline-flex cell cell-rating">
                  <img src="./assets/Arc-Small_Bullish.svg" class="rating-icon">
                </span>
                <span class="cell cell-ticker flex-grow-1 me-2">T</span>
                <span class="cell cell-price">$232.32</span>
              </div>
              <div class="d-flex flex-row align-items-center ">
                <span class="cell cell-company-name flex-grow-1 me-2">AT&T</span>
                <span class="cell cell-change up">+2.33%</span>
              </div>
            </li>
            <!-- Stock -->
            <li class="d-flex flex-column justify-content-center position-relative list-group-item">
              <span class="panel-id-stripe down-bg"></span>
              <div class="d-flex flex-row align-items-center ">
                <span class="d-inline-flex cell cell-rating">
                  <img src="./assets/Arc-Small_verybullish.svg" class="rating-icon">
                </span>
                <span class="cell cell-ticker flex-grow-1 me-2">AMZN</span>
                <span class="cell cell-price">$1232.32</span>
              </div>
              <div class="d-flex flex-row align-items-center ">
                <span class="cell cell-company-name flex-grow-1 me-2">Amazon, Inc.</span>
                <span class="cell cell-change down">-2.33%</span>
              </div>
            </li>
            <!-- Stock -->
            <li class="d-flex flex-column justify-content-center position-relative list-group-item">
              <span class="panel-id-stripe up-bg"></span>
              <div class="d-flex flex-row align-items-center ">
                <span class="d-inline-flex cell cell-rating">
                  <img src="./assets/Arc-Small_verybullish.svg" class="rating-icon">
                </span>
                <span class="cell cell-ticker flex-grow-1 me-2">AMZN</span>
                <span class="cell cell-price">$1232.32</span>
              </div>
              <div class="d-flex flex-row align-items-center ">
                <span class="cell cell-company-name flex-grow-1 me-2">Amazon, Inc.</span>
                <span class="cell cell-change up">+2.33%</span>
              </div>
            </li>
          </ul>
        </div>
        <!-- Scroll Toggle Right -->
        <div class="d-flex list-scroll-nav" id="list-scroll-nav-right">
          <button class="btn border-0">
            <i class="bi bi-caret-right-fill"></i>
          </button>
        </div>
      </div>
    </div>

<!------------  CPGR  ------------>
<!-- SEARCH COMPONENT -->
    <div id="m-head-search-row" class="row g-0 h-100" *ngIf="true">
      <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 d-flex align-items-center justify-content-center position-relative">
        <!-- Search Input -->
        <div class="input-group search-wrapper">
          <span class="input-group-text">
            <i class="bi bi-search"></i>
          </span>
          <input #symbolSearch class="form-control" type="search" placeholder="Search symbol or company name"
            aria-label="Search" (keyup)="lookupSymbol(symbolSearch.value)" [(ngModel)]="searchSymbolText"
            [ngModelOptions]="{standalone: true}">
        </div>
        <!-- Search Dropdown -->
        <div class="list-group search-dropdown position-absolute" *ngIf="searchSymbolText.length > 0">
          <!-- Stocks -->
          <div class="d-flex flex-row px-3 py-2 list-group-header" *ngIf="StockSymbolLookupData.length>0">
            <span>Stocks</span>
          </div>
          <a href="#" class="list-group-item list-group-item-action" *ngFor="let data of StockSymbolLookupData">
            <div class="d-flex flex-row">
              <span title="Click to view report" class="ticker"
                (click)="onSymbolSelect($event, data)">{{data.Symbol}}</span>
              <span title="Click to view report" class="company-name"
                (click)="onSymbolSelect($event, data)">{{data.CompanyName}}</span>
            </div>
          </a>
          <!-- ETFs -->
          <div class="d-flex flex-row px-3 py-2 list-group-header" *ngIf="etfSymbolLookupData.length>0">
            <span>ETFs</span>
          </div>
          <a href="#" class="list-group-item list-group-item-action" *ngFor="let data of etfSymbolLookupData">
            <div class="d-flex flex-row">
              <span title="Click to view report" class="d-inline-flex ticker"
                (click)="onSymbolSelect($event, data)">{{data.Symbol}}</span>
              <span title="Click to view report" class="d-inline-flex company-name"
                (click)="onSymbolSelect($event, data)">{{data.CompanyName}}</span>
            </div>
          </a>

          <!-- No Match -->
          <a href="#" class="list-group-item list-group-item-action" *ngIf="symbolLookupData.length === 0">
            <div class="d-flex flex-row">
              <span>No matches found.</span>
            </div>
          </a>
        </div>
      </div>
    </div>