<div  id="logoutPopupComponent" class="popup-component popup-component--info">
    <!-- <div class="d-flex flex-row popup-header align-items-center">
        <h4>More Info</h4>
        <span class="flex-spacer"></span>
        <span class="header-icon" (click)="onClose()"><i class="bi bi-x"></i></span>
    </div> -->
    <div class="d-flex flex-row popup-body">
        <div class="p-block">
            <div class="text">
                <span class="content">{{id}}</span>
            </div>
        </div>
    </div>
</div>