

.popup-component {
	box-shadow:0px 4px 15px rgba(0,0,0,0.4);
	border-radius: 5px;
   	background-color:#ffffff;
   	padding:3px;
   	width:100%;
   	max-width:400px;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }

	.popup-header {
		min-height:36px;
		padding:0 12px;
		margin-bottom: 3px;
	    color: #ffffff;
	    border-radius: 3px;
	    background-color:#4A5164;

		h4 {
			font-weight:700;
			font-size: 12px;
			color: #ffffff;
			letter-spacing: 0.55px;
			padding:0;
			margin:0;
			line-height: 1;
			text-transform:uppercase;
		}
		.header-icon {
			font-size: 24px;
		    color: #ffffff;
		    line-height: 1;
		    cursor:pointer;
		}
	}
	.popup-body {
		padding:10px 10px 15px;
		.p-block {
			.text {
				font-size:14px;
				line-height:1.45;
				font-weight:400;
				color:#101629;
			}
		}
	}
	&.popup-component--info {
		max-width: 400px;
		min-width:120px;
	}
}
