<div class="popup-component popup-component--info">
    <div class="d-flex flex-row popup-header align-items-center">
        <h4>More Info</h4>
        <span class="flex-spacer"></span>
        <span class="header-icon" (click)="onClose()"><i class="bi bi-x"></i></span>
    </div>
    <div class="d-flex flex-row popup-body">
        <div class="p-block">
            <p class="text" [innerHtml]="description"></p>
        </div>
    </div>
</div>