<app-top-bar
  class="top-bar border-bottom"
  [investorListData]="investorListData"
  [screenerListControl]="screenerListControl"
  [selectedListName]="selectedListName"
  (selectScreenerList)="selectScreenerList($event)"
  (saveScreen)="saveScreen()"
  (updateScreen)="updateScreen()"
></app-top-bar>

<section class="admin-component-screenForm" id="admin-component-screenForm">
  <div class="row g-0">
    <div class="col-auto border-right screener-form-wrapper">
      <!-- Starting Universe pannel  -->
      <div
        class="border-bottom p-2 ps-3"
        *ngIf="screenerInitialData"
      >
        <h2>Select a starting universe</h2>
        <ul class="ps-0 mb-0" style="list-style: none">
          <li>
            <app-native-select
              [data]="
                screenerInitialData['Starting Universe'].factor
              "
              [isFactor]="true"
              [headerName]="'Starting Universe'"
              (onChangeSelection)="updateValueOnChange($event)"
            >
            </app-native-select>
          </li>
          <li
            *ngIf="
              selectedUniverse &&
              selectedUniverse.name === 'Select an Industry...'
            "
          >
            <app-native-select
              [data]="screenerInitialData['Industry'].factor"
              [isFactor]="true"
              [headerName]="'Industry'"
              (onChangeSelection)="updateValueOnChange($event)"
            >
            </app-native-select>
          </li>
          <li
            *ngIf="
              selectedUniverse &&
              selectedUniverse.name === 'Select Sectors...'
            "
          >
            <app-checkbox-select
              [data]="screenerInitialData['Sector'].factor"
              [isFactor]="true"
              [headerName]="'Sector'"
            >
            </app-checkbox-select>
          </li>
          <li
            *ngIf="
              selectedUniverse &&
              selectedUniverse.name === 'Select Subsectors...'
            "
          >
            <app-checkbox-select
              [data]="screenerInitialData['SubSector'].factor"
              [isFactor]="true"
              [headerName]="'SubSector'"
            >
            </app-checkbox-select>
          </li>
          <li
            *ngIf="
              selectedUniverse &&
              selectedUniverse.name === 'Select a User List...'
            "
          >
            <app-native-select
              [data]="screenerInitialData['User Lists'].factor"
              [isFactor]="true"
              [headerName]="'User Lists'"
              (onChangeSelection)="updateValueOnChange($event)"
            >
            </app-native-select>
          </li>
        </ul>
      </div>
      <!-- Screening Criteria Panel  -->
      <div
        class="border-bottom p-2 ps-3"
        *ngIf="screenerInitialData"
      >
        <h2>Select screening criteria</h2>

        <!-- Power Gauge Rating -->
        <div
          class="criteria-section"
          *ngIf="screenerInitialData"
        >
          <h3>Power Gauge Rating</h3>
          <div class="criteria">
            <span class="label">Stock Rating</span>

            <!-- <mat-form-field>
                            <mat-label>Rating</mat-label>
                            <mat-select [(value)]="viewValue" #multipleSelect multiple>
                                <ng-container *ngFor="let property of ratingDropdownProperties">
                                    <mat-option [value]="property.value">
                                        {{ property.value }}
                                    </mat-option>
                                    <div>
                                        <mat-radio-group>
                                            <mat-radio-button *ngFor="let subProperty of property.subProperties"
                                                [value]="subProperty.value"
                                                style="display: block; padding: 12px 12px 12px 32px;">
                                                {{ subProperty.value }}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </ng-container>
                            </mat-select>
                        </mat-form-field> -->

            <mat-form-field
              style="width: 266px"
              *ngIf="currentRating.length > 0"
            >
              <mat-label>{{ stockRatingLabel }}</mat-label>
              <mat-select>
                <mat-option style="height: 0"></mat-option>
                <div class="complex-form-wrapper" style="padding: 10px">
                  <form
                    [formGroup]="stockRatingForm"
                    style="font-size: 15px"
                  >
                    <input
                      type="radio"
                      value="currentRating"
                      formControlName="radioGroup"
                    />
                    &nbsp;Rating
                    <div
                      formGroupName="currentRatingGp"
                      [ngClass]="
                        stockRatingForm.value.radioGroup !=
                        'currentRating'
                          ? 'disabledNoOfCasesDiv'
                          : ''
                      "
                      style="
                        margin-left: 20px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                      "
                    >
                      <div *ngFor="let rating of currentRating">
                        <input
                          type="checkbox"
                          [formControlName]="rating.value"
                        />
                        <label class="ms-2"> {{ rating.data.name }}</label>
                      </div>
                    </div>

                    <input
                      type="radio"
                      value="ratingChange"
                      formControlName="radioGroup"
                    />
                    &nbsp;Rating Change
                    <div style="margin-left: 20px">
                      <mat-form-field>
                        <select
                          matNativeControl
                          [disabled]="
                            stockRatingForm.value.radioGroup !=
                            'ratingChange'
                          "
                          formControlName="ratingChange"
                          [ngClass]="
                            stockRatingForm.value.radioGroup !=
                            'ratingChange'
                              ? 'disabledNoOfCasesDiv'
                              : ''
                          "
                        >
                          <option
                            *ngFor="let option of ratingChange"
                            [value]="option.value"
                            [selected]="option.data.defaultStatus === 1"
                          >
                            {{ option.data.name }}
                          </option>
                        </select>
                      </mat-form-field>
                    </div>

                    <input
                      type="radio"
                      value="ratingPersistency"
                      formControlName="radioGroup"
                    />
                    &nbsp;Rating Persistency
                    <div style="margin-left: 20px">
                      <mat-form-field>
                        <select
                          matNativeControl
                          [disabled]="
                            stockRatingForm.value.radioGroup !=
                            'ratingPersistency'
                          "
                          formControlName="ratingPersistency"
                          [ngClass]="
                            stockRatingForm.value.radioGroup !=
                            'ratingPersistency'
                              ? 'disabledNoOfCasesDiv'
                              : ''
                          "
                        >
                          <option
                            *ngFor="
                              let option of ratingPersistency
                            "
                            [value]="option.value"
                            [selected]="option.data.defaultStatus === 1"
                          >
                            {{ option.data.name }}
                          </option>
                        </select>
                      </mat-form-field>
                    </div>
                  </form>
                </div>
              </mat-select>
            </mat-form-field>

            <!-- <app-native-select [data]="screenerInitialData['Power Gauge Rating'].factor" [isFactor]="true"
                                [headerName]="'Power Gauge Rating'" (onChangeSelection)="updateValueOnChange($event)">
                            </app-native-select> -->
          </div>
          <div class="criteria mb-2">
            <span class="label">Factors</span>
            <div class="mt-2">
              <span class="me-2">
                <app-native-select
                  [data]="
                    screenerInitialData[
                      'Rating Components & Factors1'
                    ].factor
                  "
                  [isFactor]="true"
                  [headerName]="'Rating Components & Factors1'"
                  (onChangeSelection)="updateValueOnChange($event)"
                >
                </app-native-select>
              </span>
              <span>
                <app-native-select
                  [data]="
                    screenerInitialData[
                      'Rating Components & Factors1'
                    ].value
                  "
                  [isFactor]="false"
                  [headerName]="'Rating Components & Factors1'"
                  (onChangeSelection)="updateValueOnChange($event)"
                >
                </app-native-select>
              </span>
            </div>
            <div>
              <span class="me-2">
                <app-native-select
                  [data]="
                    screenerInitialData[
                      'Rating Components & Factors2'
                    ].factor
                  "
                  [isFactor]="true"
                  [headerName]="'Rating Components & Factors2'"
                  (onChangeSelection)="updateValueOnChange($event)"
                >
                </app-native-select>
              </span>
              <span>
                <app-native-select
                  [data]="
                    screenerInitialData[
                      'Rating Components & Factors2'
                    ].value
                  "
                  [isFactor]="false"
                  [headerName]="'Rating Components & Factors2'"
                  (onChangeSelection)="updateValueOnChange($event)"
                >
                </app-native-select>
              </span>
            </div>
            <div>
              <span class="me-2">
                <app-native-select
                  [data]="
                    screenerInitialData[
                      'Rating Components & Factors3'
                    ].factor
                  "
                  [isFactor]="true"
                  [headerName]="'Rating Components & Factors3'"
                  (onChangeSelection)="updateValueOnChange($event)"
                >
                </app-native-select>
              </span>
              <span>
                <app-native-select
                  [data]="
                    screenerInitialData[
                      'Rating Components & Factors3'
                    ].value
                  "
                  [isFactor]="false"
                  [headerName]="'Rating Components & Factors3'"
                  (onChangeSelection)="updateValueOnChange($event)"
                >
                </app-native-select>
              </span>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>

        <!-- Performance -->
        <div
          class="criteria-section pt-2"
          *ngIf="screenerInitialData"
        >
          <h3>Preformance</h3>
          <div class="criteria">
            <span class="label">Price Return</span>
            <div class="mt-2">
              <span class="me-2">
                <app-native-select
                  [data]="
                    screenerInitialData['Price Return'].factor
                  "
                  [isFactor]="true"
                  [headerName]="'Price Return'"
                  (onChangeSelection)="updateValueOnChange($event)"
                >
                </app-native-select>
              </span>
              <span>
                <app-native-select
                  [data]="
                    screenerInitialData['Price Return'].value
                  "
                  [isFactor]="false"
                  [headerName]="'Price Return'"
                  (onChangeSelection)="updateValueOnChange($event)"
                >
                </app-native-select>
              </span>
            </div>
          </div>
          <div class="criteria">
            <span class="label">Price Return 2</span>
            <div class="mt-2">
              <span class="me-2">
                <app-native-select
                  [data]="
                    screenerInitialData['Price Return2'].factor
                  "
                  [isFactor]="true"
                  [headerName]="'Price Return2'"
                  (onChangeSelection)="updateValueOnChange($event)"
                >
                </app-native-select>
              </span>
              <span>
                <app-native-select
                  [data]="
                    screenerInitialData['Price Return2'].value
                  "
                  [isFactor]="false"
                  [headerName]="'Price Return2'"
                  (onChangeSelection)="updateValueOnChange($event)"
                >
                </app-native-select>
              </span>
            </div>
          </div>
          <div class="criteria mb-2">
            <span class="label">Return vs. SPY</span>
            <div class="mt-2">
              <span class="me-2">
                <app-native-select
                  [data]="
                    screenerInitialData['Rel Return'].factor
                  "
                  [isFactor]="true"
                  [headerName]="'Rel Return'"
                  (onChangeSelection)="updateValueOnChange($event)"
                >
                </app-native-select>
              </span>
              <span>
                <app-native-select
                  [data]="
                    screenerInitialData['Rel Return'].value
                  "
                  [isFactor]="false"
                  [headerName]="'Rel Return'"
                  (onChangeSelection)="updateValueOnChange($event)"
                >
                </app-native-select>
              </span>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>

        <!-- Technicals -->
        <div
          class="criteria-section pt-2"
          *ngIf="screenerInitialData"
        >
          <h3>Technicals</h3>
          <div class="criteria mb-2">
            <span class="label">Price Level</span>
            <span class="me-2">
              <app-native-select
                [data]="
                  screenerInitialData['Price Levels'].factor
                "
                [isFactor]="true"
                [headerName]="'Price Levels'"
                (onChangeSelection)="updateValueOnChange($event)"
              >
              </app-native-select>
            </span>
          </div>
          <div class="criteria">
            <span class="label">Price Level 2</span>
            <span class="me-2">
              <app-native-select
                [data]="
                  screenerInitialData['Price Levels 2'].factor
                "
                [isFactor]="true"
                [headerName]="'Price Levels 2'"
                (onChangeSelection)="updateValueOnChange($event)"
              >
              </app-native-select>
            </span>
          </div>
          <div class="criteria">
            <span class="label">Money Flow</span>
            <span class="me-2">
              <app-native-select
                [data]="
                  screenerInitialData['Chaikin Money Flow']
                    .factor
                "
                [isFactor]="true"
                [headerName]="'Chaikin Money Flow'"
                (onChangeSelection)="updateValueOnChange($event)"
              >
              </app-native-select>
            </span>
          </div>
          <div class="criteria">
            <span class="label">Rel Strength</span>
            <span class="me-2">
              <app-native-select
                [data]="
                  screenerInitialData['Chaikin Rel Strength']
                    .factor
                "
                [isFactor]="true"
                [headerName]="'Chaikin Rel Strength'"
                (onChangeSelection)="updateValueOnChange($event)"
              >
              </app-native-select>
            </span>
          </div>
          <div class="criteria">
            <span class="label">Relative Volume</span>
            <span class="me-2">
              <app-native-select
                [data]="
                  screenerInitialData['Relative Volume'].factor
                "
                [isFactor]="true"
                [headerName]="'Relative Volume'"
                (onChangeSelection)="updateValueOnChange($event)"
              >
              </app-native-select>
            </span>
          </div>
          <div class="criteria">
            <span class="label">Min Price</span>
            <span class="me-2">
              <app-native-select
                [data]="screenerInitialData['Min Price'].factor"
                [isFactor]="true"
                [headerName]="'Min Price'"
                (onChangeSelection)="updateValueOnChange($event)"
              >
              </app-native-select>
            </span>
          </div>
          <div class="criteria mb-2">
            <span class="label">Max Price</span>
            <span class="me-2">
              <app-native-select
                [data]="screenerInitialData['Max Price'].factor"
                [isFactor]="true"
                [headerName]="'Max Price'"
                (onChangeSelection)="updateValueOnChange($event)"
              >
              </app-native-select>
            </span>
          </div>
          <mat-divider></mat-divider>
        </div>

        <!-- Fundamentals -->
        <div
          class="criteria-section pt-2"
          *ngIf="screenerInitialData"
        >
          <h3>Fundamentals</h3>
          <div class="criteria">
            <span class="label">Market Cap</span>
            <span>
              <app-native-select
                [data]="
                  screenerInitialData['Market Cap'].factor
                "
                [isFactor]="true"
                [headerName]="'Market Cap'"
                (onChangeSelection)="updateValueOnChange($event)"
              >
              </app-native-select>
            </span>
          </div>
          <div class="criteria">
            <span class="label">Div Yield</span>
            <span>
              <app-native-select
                [data]="screenerInitialData['Div Yield'].factor"
                [isFactor]="true"
                [headerName]="'Div Yield'"
                (onChangeSelection)="updateValueOnChange($event)"
              >
              </app-native-select>
            </span>
          </div>
          <div class="criteria">
            <span class="label">Earnings Date</span>
            <span>
              <app-native-select
                [data]="
                  screenerInitialData['Earnings Report Date']
                    .factor
                "
                [isFactor]="true"
                [headerName]="'Earnings Report Date'"
                (onChangeSelection)="updateValueOnChange($event)"
              >
              </app-native-select>
            </span>
          </div>
          <div class="criteria mb-2">
            <span class="label">Beta</span>
            <span>
              <app-native-select
                [data]="screenerInitialData['Beta'].factor"
                [isFactor]="true"
                [headerName]="'Beta'"
                (onChangeSelection)="updateValueOnChange($event)"
              >
              </app-native-select>
            </span>
          </div>
          <mat-divider></mat-divider>
        </div>

        <!-- Signals -->
        <div
          class="criteria-section pt-2"
          *ngIf="screenerInitialData"
        >
          <h3>Signals</h3>
          <div class="criteria mb-2">
            <span class="label">Stocks has had</span>
            <span class="me-2">
              <app-native-select
                [data]="
                  screenerInitialData['Stock has triggered']
                    .factor
                "
                [isFactor]="true"
                [headerName]="'Stock has triggered'"
                (onChangeSelection)="updateValueOnChange($event)"
              >
              </app-native-select>
            </span>

            <span class="label">Within</span>
            <span class="me-2">
              <app-native-select
                (onChangeSelection)="updateValueOnChange($event)"
                [data]="
                  screenerInitialData['Stock has triggered']
                    .value
                "
                [headerName]="'Stock has triggered'"
                [isFactor]="false"
              >
              </app-native-select>
            </span>
          </div>
        </div>

        <span class="d-flex flex-row" style="margin-top: 75px"></span>
      </div>

      <app-form-actions
        (getResult)="getResult()"
        (resetFilters)="resetFilters()"
        (saveScreen)="saveScreen()"
        (updateScreen)="updateScreen()"
        [selectedListName]="selectedListName"
        class="form-actions border-top p-3 px-2"
      ></app-form-actions>
    </div>
    <app-screener-results
      [screenerResultData]="screenerResultData"
      class="col bg-light screener-results-wrapper"
    ></app-screener-results>
  </div>
</section>
