<div class="dialog-wrapper dialog-wrapper--stepper">
    <div mat-dialog-content class="dialog-container">

        <section class="row dialog-header">
            <div class="col-10 d-flex align-items-center">
                <h3>Create a new list</h3>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-end">
                <button mat-icon-button (click)="onNoClick()" disableRipple class="close-window-button">
                    <mat-icon aria-label="close icon">close</mat-icon>
                </button>
            </div>
        </section>

        <section class="row dialog-body pt-3" *ngIf="symbol">
            <div class="col-12  d-flex flex-column">
                <ng-template matStepLabel>Enter a name for your new watchlist</ng-template>
                <mat-form-field class="name-watchlist w-100" appearance="outline">
                    <mat-label>New list name</mat-label>
                    <input matInput type="text" placeholder="" value="" #listName>
                </mat-form-field>
                <p class="watchlist-error">{{watchlistNameExistMessage}}</p>
            </div>
        </section>
        <section class="row dialog-footer" *ngIf="symbol">
            <div class="col-12">
                <div class="d-flex flex-row dialog-buttons-wrapper">
                    <button mat-button color="secondary" (click)="onNoClick()">Cancel</button>
                    <span class="flex-spacer"></span>
                    <button mat-flat-button color="primary" (click)="onNameStepContinue(listName)">Add and continue</button>
                </div>
            </div>
        </section>

        <section class="row dialog-body overflow-scroll" style="max-height:400px;" *ngIf = "!symbol">
            <mat-vertical-stepper #stepper>

                <mat-step>
                    <section>
                        <div class="flex-column">
                            <ng-template matStepLabel>Enter a name for your new watchlist</ng-template>
                            <mat-form-field class="name-watchlist w-100" appearance="outline">
                                <mat-label>New list name</mat-label>
                                <input matInput type="text" placeholder="" value="" #listName>
                            </mat-form-field>
                            <p class="watchlist-error">{{watchlistNameExistMessage}}</p>
                        </div>
                    </section>
                    <section class="d-flex flex-row stepper-buttons-wrapper">
                        <button mat-button color="secondary" (click)="onNoClick()">Cancel</button>
                        <span class="flex-spacer"></span>
                        <button mat-flat-button color="primary"  (click)="onNameStepContinue(stepper,listName.value)">Continue</button>
                        <!-- <button mat-flat-button color="primary" matStepperNext  (click)="onNameStepContinue(stepper,listName.value)">Continue</button> -->
                    </section>
                </mat-step>

                <mat-step>
                    <section>
                        <div class="flex-column" >
                            <ng-template matStepLabel>Enter the symbols you want to add</ng-template>
                        
                            <div class="add-tickers">
                                <textarea type="text" #txttickers placeholder="Add ticker to my list" value="" class="text-input-area w-100" style="height:80px;"></textarea>
                            </div>
                            <div class="p-block p-1">
                                <p class="text fine-print">Separate each symbol with a comma or new line. Tickers not identified in the database will not be added. Limit 1000 tickers.</p>
                                <p class="text watchlist-error"> {{manualSaveMsg}} </p>
                            </div>
                        </div>
                    </section>
                    <section class="d-flex flex-row stepper-buttons-wrapper">
                        <button mat-button color="secondary" (click)="onNoClick()">Cancel</button>
                        <span class="flex-spacer"></span>
                        <button mat-flat-button color="secondary" matStepperPrevious>Back</button>
                        <button  mat-flat-button color="primary" (click)="onManualSave(txttickers.value)">Save</button>
                    </section>
                </mat-step>

                <mat-step>
                    <section>
                        <div class="flex-column">
                            <ng-template matStepLabel>Watchlist created with the following notices</ng-template>

                            <div class="flex-row">
                                <div class="scroll-wrapper-y">
                                    <span>
                                        {{updationMsg}}
                                     </span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="d-flex flex-row stepper-buttons-wrapper">
                        <button mat-button color="secondary" (click)="onNoClick()">Cancel</button>
                        <span class="flex-spacer"></span>
                        <button mat-flat-button color="secondary" (click)="onAckStepBack()">Back</button>
                        <button mat-flat-button color="primary" (click)="onCompleteFileImport()">Acknowledge and close</button>
                    </section>
                </mat-step>
                
            </mat-vertical-stepper>
        </section>
    </div>
</div>