@import 'src/styles/variables';

//********** MarketWatch Chart  **********//

#component-market-chart {
    #chartdiv {
        width: 100%;
        max-width: 100%;
        height: 700px;
        margin-top:-15px;
    }
}

.component-market-chart {
    .chart-header {
        .chart-legend {
            display: flex;
            flex-direction:row;
            .color-dot {
                height: 12px;
                width: 12px;
                border-radius: 7px;
                background-color: $ui-inactive;
            }
            .legend-label {
                font-size: 12px;
                font-weight: 500;
                color: $text-color-a75;
                line-height: 1;
            }
        }
    }
}






