<!-- SECTION: Market Drill Down Chart -->
<section id="component-market-chart" class="component-market-chart">

    <!-- Panel: B -->
    <div class="panel b-panel">

        <!-- ROW: Panel Header -->
        <div class="panel-header pb-1">
            <h1>Current areas of market strength</h1>
            <h4 class="mt-2" style="text-align: center;">As visualized by Chaikin Stock Ratings</h4>
            <div class="p-block mt-1">
                <p class="text">The Chaikin Market Scan uses the Power gauge rating to unlock trends and opportunities in the US Stock Market by Sector, Industry, Market Cap, and Index. Click on any of these areas, or click “By Rating”, to show strong (green) or weak (red) subcategories based on the number of bullish or bearish stocks. Click the subcategory to get a list of the corresponding stocks.</p>
            </div>
        </div>

        <!-- ROW: Panel Body -->
        <div class="panel-body pb-1">

            <!-- Drill Down Chart -->
            <div class="chart-wrapper">
                <!-- Chart Header -->
                <div class="chart-header">
                    <span class="flex-spacer"></span>
                    <div class="chart-legend">
                        <div class="d-flex me-3 align-items-center">
                            <span class="color-dot veryBearish-bg me-1"></span>
                            <span class="legend-label">Bearish</span>
                        </div>
                        <div class="d-flex me-3 align-items-center">
                            <span class="color-dot neutral-bg me-1"></span>
                            <span class="legend-label">Neutral</span>
                        </div>
                        <div class="d-flex me-2 align-items-center">
                            <span class="color-dot veryBullish-bg me-1"></span>
                            <span class="legend-label">Bullish</span>
                        </div>
                    </div>
                </div>
                <!-- Chart Body -->
                <div class="chart-container">
                    <!-- AMCHARTS ID -->
                    <div id="chartdiv"></div>
                </div>
                <!-- Chart Footer -->
                <div class="chart-footer">
                    <div class="d-flex flex-row">
                        <span class="footnote"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>