<div class="input-group search-wrapper" >
    <span class="input-group-text" id="input-group-left-example">
         <i class="bi bi-search"></i>
    </span>
    <input #symbolSearch class="form-control" type="search" placeholder="Search symbol or company name" aria-label="Search" (keyup)="lookupSymbol(symbolSearch.value)" (keyup.enter)="symbolLoadOnEnter()" [(ngModel)]="searchSymbolText"  >
</div>

<!-- Search Dropdown -->

<div class="list-group search-dropdown position-absolute" *ngIf="searchSymbolText.length > 0 && showBox"  (clickOutside)="onClickedOutside($event)" >
    <!-- Stocks -->
    <div class="d-flex flex-row px-3 py-2 list-group-header" *ngIf="StockSymbolLookupData.length>0">
       <span>Stocks</span>
    </div>
    <a  class="list-group-item list-group-item-action" *ngFor="let data of StockSymbolLookupData">
        <div class="d-flex flex-row align-items-center">
            <span class="d-flex rating">
                <img [src]="data.imageSrc" class="rating-arc">
            </span>
            <span title="Click to view report" class="ticker" href="#" (click)="onSymbolSelect($event, data); redirectOnPgr(data.Symbol)">{{data.Symbol}}</span>
            <span title="Click to view report" class="company-name" href="#" (click)="onSymbolSelect($event, data); redirectOnPgr(data.Symbol)">{{data.CompanyName}}</span>
            <span class="search-item-actions" *ngIf="userAccess.userPermission.dashboard">
                <button class="btn border-0" type="button" id="dropdownAddToListButton" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                    <i class="bi bi-plus-circle"></i>
                </button>
                <!-- Dropdown List -->
                <ul class="dropdown-menu dropdown-menu--list-selection" aria-labelledby="dropdownAddToListButton">
                    <li class="d-flex dropdown-header">
                        <h3>Add symbol to...</h3>
                    </li>
                    <li class="d-flex dropdown-item">
                        <i class="bi bi-file-earmark-plus me-2"></i><span class="list-name"  (click)="createNewList($event , data.Symbol )">Create new list...</span>
                    </li>
                    <li  *ngFor="let watchlistData of userList;let i=index" >
                        <span class="list-name d-flex dropdown-item"  (click)="addTickerIntoList(data.Symbol , watchlistData)" *ngIf="!watchlistData.priorityList">{{watchlistData?.listName}}</span>
                    </li>
                </ul>
            </span>
        </div>
    </a>
    <!-- ETFs -->
    <div class="d-flex flex-row px-3 py-2 list-group-header" *ngIf="etfSymbolLookupData.length>0">
       <span>ETFs</span>
    </div>
    <a class="list-group-item list-group-item-action" *ngFor="let data of etfSymbolLookupData">
      <div class="d-flex flex-row align-items-center">
        <span class="d-flex rating">
            <img [src]="data.imageSrc" class="rating-arc">
        </span>
        <span title="Click to view report" class="ticker" href="#" (click)="onSymbolSelect($event, data)">{{data.Symbol}}</span>
            <span title="Click to view report" class="company-name" href="#" (click)="onSymbolSelect($event, data)">{{data.CompanyName}}</span>
            <span class="search-item-actions" *ngIf="userAccess.userPermission.dashboard">
                <button class="btn border-0" type="button"   id="dropdownAddToListButton" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                    <i class="bi bi-plus-circle"></i>
                </button>
                <!-- Dropdown List -->
                <ul class="dropdown-menu dropdown-menu--list-selection" aria-labelledby="dropdownAddToListButton">
                    <li class="d-flex dropdown-header">
                        <h3>Add symbol to...</h3>
                    </li>
                    <li class="d-flex dropdown-item">
                        <i class="bi bi-file-earmark-plus me-2"></i><span class="list-name"  (click)="createNewList($event , data.Symbol )">Create new list...</span>
                    </li>
                    <div *ngFor="let watchlistData of userList;let i=index" >
                    <li  class="d-flex dropdown-item" *ngIf="!watchlistData.priorityList">
                        <span class="list-name"  (click)="addTickerIntoList(data.Symbol , watchlistData)" >{{watchlistData?.listName}}</span>
                    </li>
                </div>
                </ul>
            </span>
        </div>
    </a>
    <!-- <div class="list-select-dropdown"  aria-labelledby="dropdownAddToListButton">
        <ul class="dropdown-menu dropdown-menu--list-selection">
            <li class="d-flex dropdown-header" style = "color: black">
                <h3>Add symbol to...</h3>
            </li>
            <li class="d-flex dropdown-item" *ngFor="let watchlistData of userList;let i=index" style = "color: black">
                <i class="bi bi-file-earmark-plus me-2"></i><span class="list-name"   (click)="createNewList($event , data.Symbol )">Create new list...</span>
            </li>
            <li class="d-flex dropdown-item" style = "color: black" >
                <span class="list-name"  (click)="addTickerIntoList(data.Symbol , watchlistData)">{{watchlistData?.listNameFormatted}}</span>
            </li>
        </ul>
    </div> -->
    <!-- No Match -->
    <a class="list-group-item list-group-item-action" *ngIf="symbolLookupData.length === 0">
        <div class="d-flex flex-row">
            <span>No matches found.</span>
        </div>
    </a>
</div>
     