@import 'src/styles/variables';

// Search
.search-wrapper {
	color: $text-color;
}
.search-dropdown {
  z-index: 900;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 15%);
  width: 100%;
  background-color:$white;

  @media screen and (max-width: 576px){
    width: 100vw;
    margin-left: -33.33%;
    height: calc(100vh - 40px);
    top:40px !important;
  }

  .list-group-header {
  	border-radius: 3px;
    background-color:$bg-dark;
    flex-grow:1;
    margin:3px;
    max-height:34px;
    padding:0.5em 0.75em; 
  	font-size: 12px;
  	color:$white; 
  	font-weight:700; 
  	text-transform: uppercase;
  }
  .list-group-item {
  	color: $text-color;
  	background-color:$white;
  	padding:0.25rem 2px 0.25rem 12px;

  	.ticker {
  		font-size:1em;
  		font-weight:700;
  		width:64px;
      cursor: pointer;
  	}
  	.company-name {
  		font-weight:300;
  		flex-grow:1;
      cursor: pointer;
  	}
    .rating {
      .rating-arc {
        width: 30px;
        margin-right:8px;
      }
    }
  	&:hover {
  		background-color: $bg-lightest;
  	}
  }
}