@import 'src/styles/variables';

//********** INDUSTRY EXPOSURE  **********//

.component-industry-exposure {
	// Industry Details Table
	.list-details-table {
		@media (max-width: 576px) {
			.scroll-shadow {
				display: block;
			}
			.mat-table-wrapper {
				margin-left:-12px;
				margin-right:-12px;
				.mat-table {
					min-width: 550px;
				}
			}
			.mat-column-symbolCount {
				min-width: 150px;
			}
			.mat-column-industry {
				min-width: 120px;
			}
		}
		.mat-table-wrapper {
			.mat-table {
				.mat-row {
					.mat-cell {
						padding:0.5em;
					}
				}
				.mat-header-cell {
		    		padding:0 0 0 .5rem;
				}
			}
		}
		.mat-column-strength {
			width: 80px;
			min-width: 72px;
			text-align: center;
			.strength {
				font-weight:500;
			}
		}
		.mat-column-industryIcon {
			width:40px;
			padding:0;
			.industry-icon {
				display:flex;
				align-items:center;
				justify-content:center;
				height:28px;
				width:28px;
			}
		}
		.mat-column-industry {
			max-width:115px;
			.industry-name {
				line-height: 1.4;
				font-weight: 500;
			}
		}
		.mat-column-symbolCount {
			.exposure-data {
				width: 26px;
				font-weight:500;
			}
			.exposure-bar-wrapper {
				.exposure-bar {
					display: flex;
					height:12px;
					border-radius:8px;
					background-color: $chart-color-2;
					opacity: 0.75;
				}
			}
		}
		.mat-column-symbolList {
			min-width: 80px;
			max-width: 130px;
			.symbol {
				font-weight: 700;
			}
			img {
				margin-top:-1px;
			}
		}
		.scroll-shadow {
			top:0;
			display:none;
			margin-right: -12px;
		}
	}
	// Industry Count
	.industry-count {
		display: flex;
		justify-content:center;
		.count-wrapper {
			display: flex;
			flex-flow:row wrap;
			padding:0.25em;

			.count-container {
				display: flex;
				justify-content:center;
				align-items:center;
				height: 64px;
				width: 64px;
				border-radius: 32px;
				border:3px solid $bg-dark;
				margin:0 0.25em 0.5em;
				cursor: default;

				.count {
					font-size: 30px;
					font-weight: 500;
					color:$text-color;
					cursor: default;
				}
				img {
					display: inline-flex;
					width: 40px;
					height: 40px;
				}
			}
			.label{
				font-weight: 700;
			    font-size: .75em;
			    color: #4a5164;
			    line-height: 1.25;
			    text-transform: uppercase;
			}
			&.weak-industry {
				.count-container {
					border-color:$ui-red;
					&:hover {
						background-color:$ui-red;

						img {
							filter:none;
						}
					}
					&.count-number {
						&:hover {
							background-color:white;
						}
					}
				}
			}
			&.strong-industry {
				.count-container {
					border-color:$ui-green;
					&:hover {
						background-color:$ui-green;

						img {
							filter:none;
						}
					}
					&.count-number {
						&:hover {
							background-color:white;
						}
					}
				}
			}
		}
	}
}

#component-industry-exposure {}
