<!-- SECTION: Industry Exposure -->
<section id="component-industry-exposure" class="component-industry-exposure">

   <!-- Panel: B -->
   <div class="panel b-panel">
      
      <!-- ROW: Panel Header -->
      <div class="panel-header">
         <h1>Industry Exposure: <span class="boldest chart-color-2" >{{industryExposureData.length}}</span> of <span class="bold">71 </span></h1>
      </div>

      <!-- ROW: Industry Count -->
      <div class="industry-count mb-2">
         <div class="d-flex w-100 row g-0">
            <!-- Strong Industries -->
            <div class="col-12 col-xl-auto ">
               <div class="row me-3">
                  <!-- Strong Count Col -->
                  <div class="col-auto border-right">
                     <!-- Count Wrapper -->
                     <div class="count-wrapper flex-column align-items-center strong-industry">
                        <!-- Count Container -->
                        <div class="count-container count-number">
                           <span class="count">{{strengthCountObjectData.strong}}</span>
                        </div>
                        <h5 class="label">Strong</h5>
                     </div>
                  </div>
                  <!-- Strong Icons Col -->
                  <div class="col">
                     <!-- Icons Wrapper -->
                     <div class="count-wrapper strong-industry" >
                        <div *ngFor="let industryExposureData of industryExposureMatTableData.filteredData;let i=index">
                           <div class="count-container" [matTooltip]="industryExposureData.industry" matTooltipClass="action-tooltip" matTooltipPosition="below"  *ngIf="industryExposureData.strengthClass === 'green'">
                              <img  class="svg-greencolor-set" src="{{industryExposureData.imgSrcBind}}" width="100%" height="100%">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Weak Industries -->
            <div class="col-12 col-xl-auto">
               <div class="row">
                  <!-- Weak Count Col -->
                  <div class="col-auto border-right">
                     <!-- Count Wrapper -->
                     <div class="count-wrapper flex-column align-items-center weak-industry">
                        <!-- Count Container -->
                        <div class="count-container count-number">
                           <span class="count">{{strengthCountObjectData.weak}}</span>
                        </div>
                        <h5 class="label">Weak</h5>
                     </div>
                  </div>
                  <!-- Weak Icons Col -->
                  <div class="col">
                     <!-- Icons Wrapper -->
                    
                     <div class="count-wrapper weak-industry" >
                        <div *ngFor="let industryExposureData of industryExposureMatTableData.filteredData;let i=index">
                           <div class="count-container" [matTooltip]="industryExposureData.industry" matTooltipClass="action-tooltip" matTooltipPosition="below" *ngIf="industryExposureData.strengthClass === 'red'">
                              <img class="svg-redcolor-set"   src="{{industryExposureData.imgSrcBind}}" width="100%" height="100%">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- ROW: Industry Details Table -->
      <div class="list-details-table">
         <div class="position-absolute scroll-shadow scroll-shadow--right"></div>
         <div class="mat-table-wrapper overflow-scroll">
            <table mat-table [dataSource]="industryExposureMatTableData"  class="w-100">

               <!-- Strength Column -->
               <ng-container matColumnDef="strength">
                  <th mat-header-cell *matHeaderCellDef class="pointer" (click)="sortIndustryDataFromUi(industryExposureData,'powerBarRating')">Strength
                     <i class="bi bi-caret-down-fill" *ngIf= "(industryExposureSortingDataModel.sortingOrder === 'asc') && (industryExposureSortingDataModel.sortingKey ===  'powerBarRating')"></i>
                     <i  class="bi bi-caret-up-fill" *ngIf= "(industryExposureSortingDataModel.sortingOrder === 'desc') && (industryExposureSortingDataModel.sortingKey ===  'powerBarRating')"></i>
                  </th>
                  <td mat-cell *matCellDef="let element"> 
                     <span class="strength" [ngClass]="element.strengthClass">{{element.strength}}</span>
                  </td>
               </ng-container>

               <!-- Industry Icon Column -->
               <ng-container matColumnDef="industryIcon">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                     <span class="industry-icon">
                        <img height="100%" width="100%" [ngClass]= "element.svgColorSet"  src="{{element.imgSrcBind}}">
                        <!-- <img height="28" width="28" class="svg-blackcolor-set" src="{{element.imgSrcBind}}"> -->
                     </span>
                  </td>
               </ng-container>

               <!-- Industry Column -->
               <ng-container matColumnDef="industry">
                  <th mat-header-cell *matHeaderCellDef  class="pointer" (click)="sortIndustryDataFromUi(industryExposureData,'industry')">Industry   <i class="bi bi-caret-down-fill ms-1" *ngIf= "(industryExposureSortingDataModel.sortingOrder === 'asc') && (industryExposureSortingDataModel.sortingKey ===  'industry')"></i>
                     <i  class="bi bi-caret-up-fill ms-1" *ngIf= "(industryExposureSortingDataModel.sortingOrder === 'desc') && (industryExposureSortingDataModel.sortingKey ===  'industry')"></i></th>
                  <td mat-cell *matCellDef="let element">
                     <span class="industry-name">{{element.industry}}</span>
                  </td>
               </ng-container>

               <!-- Exposure Column -->
               <ng-container matColumnDef="symbolCount">
                  <th mat-header-cell *matHeaderCellDef class="pointer" (click)="sortIndustryDataFromUi(industryExposureData,'symbolCount')" >Exposure (# of stocks) 
                      <i class="bi bi-caret-down-fill ms-1" *ngIf= "(industryExposureSortingDataModel.sortingOrder === 'asc') && (industryExposureSortingDataModel.sortingKey ===  'symbolCount')"></i>
                     <i  class="bi bi-caret-up-fill ms-1" *ngIf= "(industryExposureSortingDataModel.sortingOrder === 'desc') && (industryExposureSortingDataModel.sortingKey ===  'symbolCount')"></i></th>
                  
                 
                  <td mat-cell *matCellDef="let element">
                    
                     <div class="d-flex flex-row align-items-center">
                        <span class="exposure-data">{{element.symbolCount}}</span>
                        <span class="exposure-bar-wrapper w-100">
                           <span class="exposure-bar" [ngStyle]="{'width': element.sliderwidth + '%'}"></span>
                        </span>
                     </div>
                  </td>
               </ng-container>

               <!-- Symbols Column -->
               <ng-container matColumnDef="symbolList">
                  <th mat-header-cell *matHeaderCellDef>Symbols</th>
                  <td mat-cell *matCellDef="let element">
                     <!-- List container -->
                     <span class="d-flex flex-row flex-wrap"  >
                        <!-- List item  -->
                        <span class="d-flex align-items-center me-1 pointer" *ngFor ="let symbolList of element.symbolList; let last=last">
                           <img class="d-inline-flex" [src]="symbolList.pgrImg" width="26px" height="13px">
                           <span class="symbol" (click)="redirectOnPgr(symbolList.symbol)" >{{symbolList.symbol}}{{last?'':', '}}</span>
                        </span>
                     </span>
                  </td>
               </ng-container>

               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
         </div>
      </div>
   </div>
</section>