<app-top-bar
  class="top-bar border-bottom"
  [investorListData]="investorListData"
  [screenerListControl]="screenerListControl"
  [selectedListName]="selectedListName"
  (selectScreenerList)="selectScreenerList($event)"
  (saveScreen)="saveScreen()"
  (updateScreen)="updateScreen()"
></app-top-bar>
<section class="admin-component-screenForm" id="admin-component-screenForm">
  <div class="row g-0">
    <div class="col-auto border-right screener-form-wrapper">
      <!-- Starting Universe pannel  -->
      <div class="border-bottom p-2 ps-3" *ngIf="screenerInitialData">
        <h2>Select a starting universe</h2>
        <ul class="ps-0 mb-0" style="list-style: none">
          <li>
            <app-native-select
              [data]="screenerInitialData['ETF Starting Universe'].factor"
              [isFactor]="true"
              [headerName]="'ETF Starting Universe'"
              (onChangeSelection)="updateValueOnChange($event)"
            >
            </app-native-select>
          </li>
          <li *ngIf="subStartingUniverse?.value">
            <app-native-select
              [data]="subStartingUniverse?.value"
              [isFactor]="true"
              [headerName]="subStartingUniverse?.name"
              (onChangeSelection)="handleChange($event)"
            >
            </app-native-select>
            <ng-container *ngIf="subSubStartingUniverse?.value2">
              <br />
              <app-native-select
                [data]="subSubStartingUniverse?.value2"
                [isFactor]="true"
                [headerName]="subSubStartingUniverse?.name"
                (onChangeSelection)="handleThirdUniverseChange($event)"
              ></app-native-select>
            </ng-container>
          </li>
        </ul>
      </div>

      <!-- Screening Criteria Panel  -->
      <div class="border-bottom p-2 ps-3" *ngIf="screenerInitialData">
        <h2>Select screening criteria</h2>

        <!-- Power Gauge Rating -->
        <div class="criteria-section" *ngIf="screenerInitialData">
          <h3>Power Gauge Rating</h3>
          <div class="criteria">
            <span class="label">ETF Rating</span>
            <app-checkbox-select
              [data]="screenerInitialData['ETF Rating'].factor"
              [isFactor]="true"
              [headerName]="'ETF Rating'"
            >
            </app-checkbox-select>
          </div>
          <div class="criteria mb-2">
            <span class="label">Factors</span>
            <div
              class="factor-input-section mt-2"
              *ngFor="let rankFactor of FACTORS_LIST"
            >
              <p>{{ rankFactor.label }}</p>
              <app-native-select
                (onChangeSelection)="updateValueOnChange($event)"
                [data]="screenerInitialData[rankFactor.headerName].factor"
                [headerName]="rankFactor.headerName"
                [isFactor]="true"
                class="factor-input-field"
              >
              </app-native-select>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>

        <!-- Performance -->
        <div class="criteria-section pt-2" *ngIf="screenerInitialData">
          <h3>Preformance</h3>
          <div class="criteria" *ngFor="let performance of PERFORMANCE_LIST">
            <span class="label">{{ performance.label }}</span>
            <div class="mt-2">
              <span class="me-2">
                <app-native-select
                  (onChangeSelection)="updateValueOnChange($event)"
                  [data]="screenerInitialData[performance.headerName]?.factor"
                  [headerName]="performance.headerName"
                  [isFactor]="true"
                >
                </app-native-select>
              </span>
              <span>
                <app-native-select
                  (onChangeSelection)="updateValueOnChange($event)"
                  [data]="screenerInitialData[performance.headerName]?.value"
                  [headerName]="performance.headerName"
                  [isFactor]="false"
                >
                </app-native-select>
              </span>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>

        <!-- Technicals -->
        <div class="criteria-section pt-2" *ngIf="screenerInitialData">
          <h3>Technicals</h3>
          <div class="criteria" *ngFor="let technicals of TECHNICALS_LIST">
            <span class="label">{{ technicals.label }}</span>
            <span class="me-2">
              <app-native-select
                (onChangeSelection)="updateValueOnChange($event)"
                [data]="screenerInitialData[technicals.headerName]?.factor"
                [headerName]="technicals.headerName"
                [isFactor]="true"
              >
              </app-native-select>
            </span>
          </div>
          <mat-divider></mat-divider>
        </div>

        <!-- ETF Characterstics -->
        <div class="criteria-section pt-2" *ngIf="screenerInitialData">
          <h3>ETF Characterstics</h3>
          <div
            class="criteria"
            *ngFor="let characterstic of ETF_CHARACTERISTICS_LIST"
          >
            <span class="label">{{ characterstic.label }}</span>
            <span class="me-2">
              <app-native-select
                (onChangeSelection)="updateValueOnChange($event)"
                [data]="screenerInitialData[characterstic.headerName]?.factor"
                [headerName]="characterstic.headerName"
                [isFactor]="true"
              >
              </app-native-select>
            </span>
          </div>
        </div>

        <!-- Signals -->
        <div class="criteria-section pt-2" *ngIf="screenerInitialData">
          <h3>Signals</h3>
          <div class="criteria mb-2">
            <span class="label">Stocks has had</span>
            <span class="me-2">
              <app-native-select
                [data]="screenerInitialData['Stock has triggered'].factor"
                [isFactor]="true"
                [headerName]="'Stock has triggered'"
                (onChangeSelection)="updateValueOnChange($event)"
              >
              </app-native-select>
            </span>

            <span class="label">Within</span>
            <span class="me-2">
              <app-native-select
                (onChangeSelection)="updateValueOnChange($event)"
                [data]="screenerInitialData['Stock has triggered'].value"
                [headerName]="'Stock has triggered'"
                [isFactor]="false"
              >
              </app-native-select>
            </span>
          </div>
        </div>

        <span class="d-flex flex-row" style="margin-top: 75px"></span>
      </div>

      <app-form-actions
        (getResult)="getResult()"
        (resetFilters)="resetFilters()"
        (saveScreen)="saveScreen()"
        (updateScreen)="updateScreen()"
        [selectedListName]="selectedListName"
        class="form-actions border-top p-3 px-2"
      ></app-form-actions>
    </div>
    <app-screener-results
      [screenerResultData]="screenerResultData"
      class="col bg-light screener-results-wrapper"
    ></app-screener-results>
  </div>
</section>
