@import 'src/styles/variables';

// SECTION -- Alerts Panel list

#component-alerts-panel { 
	.toggle-toolbar--alerts {
		.nav {
			min-width:100%;
			width:100%;
		}
	}
}
.component-alerts-panel {
	.panel-list-wrapper {
		padding-top:2px;
	}
	.panel-list {
		.list-item {
			align-items: center;
			padding: 0 4px 0 2px;

			.alert-icon {
				width:34px;
				font-size:20px;
				line-height:1;
			}
			.alert-symbol {
				font-size:18px;
				font-weight:700;
				cursor: pointer;
			}
			.alert-date {
				font-size:10px;
				font-weight:300;
				margin-left:8px;
			}
			.alert-type {
				font-size:15px;
				font-weight:400;
				margin-bottom:4px;
			}
			.alert-data {
				font-size:12px;
				font-weight:300;

				.estimate, .old, .actual, .new {
					margin-right:10px;
					white-space:nowrap;
					b {
						font-weight:700;
					}
				}
				.change {
					white-space:nowrap;
					b {
						font-weight:700;
					}
				}
			}
		}
		.none-label {
			margin-bottom:8px;
		}
	}
}