<!-- SECTION: Alerts Panel -->
<section id="component-alerts-panel" class="component-alerts-panel">

    <!-- Panel: C -->
    <div class="panel c-panel">
        <div class="d-flex flex-column align-items-center position-relative">

            <!-- ROW: Panel Header -->
            <div class="d-flex flex-row align-items-center w-100 panel-header">
                <span class="header-icon"><i class="bi bi-bell mx-2"></i></span>
                <h3>Alerts</h3>
                <span class="flex-spacer"></span>
                <div class="form-check form-switch me-1" >
                    <label class="form-check-label" for="flexSwitchCheckDefault">Get email alerts</label>
                    <input  #flexSwitchCheckDefault class="form-check-input"  [checked]="saveUsername"   (change)="addListForEnableAlert(flexSwitchCheckDefault.checked)" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>

            <!-- ROW: List Toggle -->
            <div class="p-2 toggle-toolbar">
                <nav class="nav nav-pills w-100" id="alerts-tab" role="tablist">
                    <a class="nav-link"   [ngClass]="(isBullishSelected) ? 'active' : ''" id="pills-bullish" data-bs-toggle="pill" (click)="selectAlertType('bullishAlerts')" href="#bullish-alerts" role="tab" aria-controls="alerts-bullish" aria-selected="true">
                        <span class="">Bullish ({{alertModel.count.bullish}})</span>
                    </a>
                    <a class="nav-link" [ngClass]="(!isBullishSelected) ? 'active' : ''" id="pills-bearish" data-bs-toggle="pill"  (click)="selectAlertType('bearishAlerts')" href="#bearish-alerts" role="tab" aria-controls="alerts-bearish" aria-selected="false">
                       <span class="">Bearish ({{alertModel.count.bearish}})</span>
                    </a>
                </nav>
            </div>

            <!-- ROW: Panel List -->
            <div class="panel-list-wrapper w-100" id="alerts-tabContent">
                <!-- Bullish Alerts -->
                <div class="d-flex flex-column w-100 panel-list panel-list--alerts" *ngIf="isBullishSelected"  id="alerts-bullish" role="tabpanel" aria-labelledby="pills-bullish">
                    <!-- No Alerts Text -->
                    <div class="d-flex flex-row justify-content-center p-2" *ngIf = "alertModel.count.bullish == 0">
                        <span class="none-label">No Bullish Alerts</span>
                    </div>
                    <!-- Alerts List -->
                    <div *ngFor="let alert of alertsData;let i=index">
                        <!-- Alert -- RATING -->
                        <div class="d-flex flex-row list-item position-relative" *ngIf="alert.alertName=='Rating Change'">
                            <span class="d-flex cell">
                                <span class="d-flex flex-column" style="width:100px;">
                                    <span class="d-flex flex-row align-items-center">
                                        <!-- Alert Icon -->
                                        <span class="d-flex justify-content-center alert-icon">
                                            <i class="bi bi-arrow-repeat green"></i>
                                        </span>
                                        <!-- Alert Symbol -->
                                        <span class="alert-symbol" (click)="redirectOnPgr(alert.symbol)">{{alert.symbol}}</span>
                                    </span>
                                    <span class="d-flex flex-row align-items-center py-1">
                                        <!-- Alert Date -->
                                        <span class="alert-date">{{alert.formattedDate}}</span>
                                    </span>
                                </span>
                            </span>
                            <span class="d-flex flex-grow-1 cell"  >
                                <span class="d-flex flex-column">
                                    <!-- Alert Type -->
                                    <span class="alert-type">Rating Change</span>
                                    <!-- Alert Data -->
                                    <span class="alert-data"><span [ngClass] = 'alert.ratingClass[0]'>{{alert.alertInfo[0]}} </span> <i class="bi bi-arrow-right mx-2"></i> <span [ngClass] = 'alert.ratingClass[1]'> {{alert.alertInfo[1]}}</span></span>
                                </span>
                            </span>
                            <span class="panel-id-stripe up-bg"></span>
                        </div>
                        <!-- Alert -- EARN SURPRISE -->
                        <div class="d-flex flex-row list-item position-relative" *ngIf="alert.alertName=='Earnings Surprise'">
                            <span class="d-flex cell">
                                <span class="d-flex flex-column" style="width:100px;">
                                    <span class="d-flex flex-row align-items-center">

                                        <!-- Alert Icon -->
                                        <span class="d-flex justify-content-center alert-icon">
                                            <i class="bi bi-exclamation-lg green"></i>
                                        </span>
                                        <!-- Alert Symbol -->
                                        <span class="alert-symbol" (click)="redirectOnPgr(alert.symbol)">{{alert.symbol}}</span>
                                    </span>
                                    <span class="d-flex flex-row align-items-center py-1">
                                        <!-- Alert Date -->
                                        <span class="alert-date"> {{alert.formattedDate}}</span>
                                    </span>
                                </span>
                            </span>
                            <span class="d-flex flex-grow-1 cell"  >
                                <span class="d-flex flex-column">
                                    <!-- Alert Type -->
                                    <span class="alert-type">Earnings Surprise</span>
                                    <!-- Alert Data -->
                                    <span class="alert-data">
                                        <span class="estimate">Est: <b>{{alert.estimateEps}}</b></span>
                                        <span class="actual">Act: <b class="green">{{alert.actualEps}}</b></span>
                                    </span>
                                </span>
                            </span>
                            <span class="panel-id-stripe up-bg"></span>
                        </div>
                        <!-- Alert -- ESIMATE REV -->
                        <div class="d-flex flex-row list-item position-relative" *ngIf="alert.alertName=='Estimate Revision'">
                            <span class="d-flex cell">
                                <span class="d-flex flex-column" style="width:100px;">
                                    <span class="d-flex flex-row align-items-center">
                                        <!-- Alert Icon -->
                                        <span class="d-flex justify-content-center alert-icon">
                                            <i class="bi bi-pencil-fill green"></i>
                                        </span>
                                        <!-- Alert Symbol -->
                                        <span class="alert-symbol" (click)="redirectOnPgr(alert.symbol)">{{alert.symbol}}</span>
                                    </span>
                                    <span class="d-flex flex-row align-items-center py-1">
                                        <!-- Alert Date -->
                                        <span class="alert-date">{{alert.formattedDate}}</span>
                                    </span>
                                </span>
                            </span>
                            <span class="d-flex flex-grow-1 cell"  >
                                <span class="d-flex flex-column">
                                    <!-- Alert Type -->
                                    <span class="alert-type">Estimate Revision</span>
                                    <!-- Alert Data -->
                                    <span class="alert-data">
                                        <span class="old">Old: <b>{{alert.oldValue}}</b></span>
                                        <span class="new">New: <b>{{alert.newValue}}</b></span>
                                        <span class="change"><b class="green">{{alert.changeInPerFormatted}}</b></span>
                                    </span>
                                </span>
                            </span>
                            <span class="panel-id-stripe up-bg"></span>
                        </div>
                    </div>
                </div>
                <!-- Bearish Alerts -->
                <div class="d-flex flex-column w-100 panel-list panel-list--alerts" id="alerts-bearish" role="tabpanel" aria-labelledby="pills-bearish" *ngIf="!isBullishSelected">
                    <!-- No Alerts Text -->
                    <div class="d-flex flex-row justify-content-center p-2" *ngIf = "alertModel.count.bearish == 0">
                        <span class="none-label">No Bearish Alerts</span>
                    </div>
                    <!-- Alerts List -->
                    <div *ngFor="let alert of alertsData;let i=index">
                        <!-- Alert -- RATING -->
                        <div class="d-flex flex-row list-item position-relative" *ngIf="alert.alertName=='Rating Change'">
                            <span class="d-flex cell">
                                <span class="d-flex flex-column" style="width:100px;">
                                    <span class="d-flex flex-row align-items-center">
                                        <!-- Alert Icon -->
                                        <span class="d-flex justify-content-center alert-icon">
                                            <i class="bi bi-arrow-repeat red" style="transform: scaleX(-1);"></i>
                                        </span>
                                        <!-- Alert Symbol -->
                                        <span class="alert-symbol"  (click)="redirectOnPgr(alert.symbol)">{{alert.symbol}}</span>
                                    </span>
                                    <span class="d-flex flex-row align-items-center py-1">
                                        <!-- Alert Date -->
                                        <span class="alert-date">{{alert.formattedDate}}</span>
                                    </span>
                                </span>
                            </span>
                            <span class="d-flex flex-grow-1 cell">
                                <span class="d-flex flex-column">
                                    <!-- Alert Type -->
                                    <span class="alert-type">Rating Change</span>
                                    <!-- Alert Data -->
                                    <span class="alert-data"><span [ngClass] = 'alert.ratingClass[0]'>{{alert.alertInfo[0]}} </span> &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; <span [ngClass] = 'alert.ratingClass[1]'> {{alert.alertInfo[1]}}</span></span>
                 
                                    <!-- <span class="alert-data" *ngIf="element.alertName=='Rating Change'">{{element.alertInfo[0]}} <i class="fa fa-arrow-right" aria-hidden="true"></i> {{element.alertInfo[1]}}</span>
                   -->
                                    <!-- <span class="alert-data">{{alert.alertInfo}}</span> -->
                                </span>
                            </span>
                            <span class="panel-id-stripe down-bg"></span>
                        </div>
                        <!-- Alert -- ESIMATE REV -->
                        <div class="d-flex flex-row list-item position-relative" *ngIf="alert.alertName=='Estimate Revision'" >
                            <span class="d-flex cell">
                                <span class="d-flex flex-column" style="width:100px;">
                                    <span class="d-flex flex-row align-items-center">
                                        <!-- Alert Icon -->
                                        <span class="d-flex justify-content-center alert-icon">
                                            <i class="bi bi-pencil-fill red"></i>
                                        </span>
                                        <!-- Alert Symbol -->
                                        <span class="alert-symbol" (click)="redirectOnPgr(alert.symbol)">{{alert.symbol}}</span>
                                    </span>
                                    <span class="d-flex flex-row align-items-center py-1">
                                        <!-- Alert Date -->
                                        <span class="alert-date">{{alert.formattedDate}}</span>
                                    </span>
                                </span>
                            </span>
                            <span class="d-flex flex-grow-1 cell">
                                <span class="d-flex flex-column">
                                    <!-- Alert Type -->
                                    <span class="alert-type">Estimate Revision</span>
                                    <!-- Alert Data -->
                                    <span class="alert-data">
                                        <span class="old">Old: <b>{{alert.oldValue}}</b></span>
                                        <span class="new">New: <b>{{alert.newValue}}</b></span>
                                        <span class="change"><b class="red">{{alert.changeInPerFormatted}}</b></span>
                                    </span>
                                </span>
                            </span>
                            <span class="panel-id-stripe down-bg"></span>
                        </div>
                        <!-- Alert -- EARN SURPRISE -->
                        <div class="d-flex flex-row list-item position-relative" *ngIf="alert.alertName=='Earnings Surprise'">
                            <span class="d-flex cell">
                                <span class="d-flex flex-column" style="width:100px;">
                                    <span class="d-flex flex-row align-items-center">
                                        <!-- Alert Icon -->
                                        <span class="d-flex justify-content-center alert-icon">
                                            <i class="bi bi-exclamation-lg red"></i>
                                        </span>
                                        <!-- Alert Symbol -->
                                        <span class="alert-symbol" (click)="redirectOnPgr(alert.symbol)">{{alert.symbol}}</span>
                                    </span>
                                    <span class="d-flex flex-row align-items-center py-1">
                                        <!-- Alert Date -->
                                        <span class="alert-date">{{alert.formattedDate}}</span>
                                    </span>
                                </span>
                            </span>
                            <span class="d-flex flex-grow-1 cell">
                                <span class="d-flex flex-column">
                                    <!-- Alert Type -->
                                    <span class="alert-type">Earnings Surprise</span>
                                    <!-- Alert Data -->
                                    <span class="alert-data">
                                        <span class="estimate">Est: <b>{{alert.estimateEps}}</b></span>
                                        <span class="actual">Act: <b class="red">{{alert.actualEps}}</b></span>
                                        <span class="change"><b class="red">{{alert.changeInPerFormatted}}</b></span>
                                    </span>
                                </span>
                            </span>
                            <span class="panel-id-stripe down-bg"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Expand List Button -->
            <!-- <div class="d-flex flex-row w-100" *ngIf="showExpandText && hideExpandCollapseOption">
                <button class="btn border-0" type="button" (click)="expandAlertList()">
                  <i class="bi bi-arrows-angle-expand me-2"></i>Expand to show all
               </button>
            </div>
            <div class="d-flex flex-row w-100" *ngIf="!showExpandText && hideExpandCollapseOption">
                <button class="btn border-0" type="button" (click)="collapseAlertList(); smoothScroll()">
                  <i class="bi bi-arrows-angle-expand me-2"></i>Collapse
               </button>
            </div> -->
        </div>
    </div>
</section>