<mat-form-field appearance="fill">
  <mat-label>{{ headerName }}</mat-label>
  <mat-select
    [formControl]="selectedList"
    multiple
    (selectionChange)="onChange($event.value)"
  >
    <mat-select-trigger>
      {{
        selectedObject.length > 0 ? selectedObject[0].name.split(" -")[0] : ""
      }}
      <span
        *ngIf="selectedObject.length > 1"
        class="example-additional-selection"
      >
        (+{{ selectedObject.length - 1 }}
        {{ selectedObject.length === 2 ? "other" : "others" }})
      </span>
    </mat-select-trigger>
    <mat-option
      *ngFor="let option of data"
      [value]="option.id"
      [checked]="option.defaultStatus == 1 ? 'checked' : unchecked"
      >{{ option.name }}</mat-option
    >
  </mat-select>
</mat-form-field>
