<!-- SECTION: Earnings Calendar -->
<section class="component-earnings-calendar" id="component-earnings-calendar">

   <!-- Panel: B -->
   <div class="panel b-panel pb-0">

      <!-- ROW: Panel Header -->
      <div class="panel-header pb-0">
         <h1 class="mb-2">Companies reporting earnings&nbsp;by:</h1>

         <!-- Calendar Toggle -->
         <div class="earnings-calendar-toggle">
            <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate"  [sentToEarningCalendar]="sentToEarningCalendar">
            </mwl-demo-utils-calendar-header>
         </div>
      </div>
   </div>

   <!-- Panel: C -->
   <div class="panel c-panel">

      <!-- ROW: Calendar -->
      <div class="earnings-calendar-panel">
         <!-- Panel Header -->
         <div class="d-flex flex-row align-items-center w-100 panel-header">
            <span class="header-icon"><i class="bi bi-cash-coin mx-2" style="vertical-align: sub;"></i></span>
            <h3>Earnings Calendar</h3>
            <span class="flex-spacer"></span>
            <!-- <span class="time-stamp me-2">Report data as of:</span> -->
         </div>
         <!-- Month Cell Template -->
         <ng-template #customCellTemplate let-day="day" let-locale="locale">
            <div class="cal-cell-top position-relative overflow-hidden">
               <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
               <div class="cal-caret-wrapper">
                  <span class="cal-caret"></span>
              </div>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-center" (click)="setEarningTableDataOnSelatedDate(day.date,day.badgeTotal , 'month')">
               <span class="earnings-count-container" *ngIf="day.badgeTotal > 0">
                   <span class="earnings-count">{{ day.badgeTotal }}</span>
               </span>
            </div>
         </ng-template>
         <!-- Week Event Template -->
         <ng-template
           #customEventTemplate
           let-weekEvent="weekEvent"
           let-column="column"
         >
            <ng-template #groupedEventsTemplate>
               <div>
                  <div *ngFor="let event of weekEvent.event.meta.groupedEvents">
                     <mwl-calendar-event-title [event]="event" view="week">
                     </mwl-calendar-event-title>
                  </div>
               </div>
            </ng-template>

            <div class="cal-event" (click)="setEarningTableDataOnSelatedDate(weekEvent.event.start, weekEvent , 'week')" [ngClass]="weekEvent.event.start === selectedDateOnCalender ? 'weekday-selected' : ''">
               <ng-container *ngIf="!weekEvent.event.meta.groupedEvents">
               </ng-container>
               <mwl-calendar-event-title [event]="weekEvent.event" view="week">
               </mwl-calendar-event-title>
               <div class="cal-caret-wrapper">
                  <span class="cal-caret"></span>
              </div>
            </div>
         </ng-template>
         
         <!-- Calendar Component -->
         <div [ngSwitch]="view" class="w-100 pointer">
            <mwl-calendar-month-view
               *ngSwitchCase="'month'"
               [@.disabled]="true"
               [viewDate]="viewDate"
               [events]="events"
               [activeDayIsOpen]="false"
               (dayClicked)="dayClicked($event)"
               [cellTemplate]="customCellTemplate"
               (beforeViewRender)="beforeMonthViewRender($event)"
             >
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
               *ngSwitchCase="'week'"
               [viewDate]="viewDate"
               [hourSegments]="1"
               [events]="groupedSimilarEvents"
               [eventTemplate]="customEventTemplate"
               (beforeViewRender)="beforeWeekViewRender($event)"
               (dayHeaderClicked)="hourSegmentClicked($event)">
            </mwl-calendar-week-view>
         </div>
      </div>
   </div>

   <!-- Panel: B -->
   <div class="panel b-panel pt-0">
      
      <!-- ROW: Earnings Table List -->
      <div class="d-flex flex-column list-details-table">
         <!-- <div class="position-absolute scroll-shadow scroll-shadow--right"></div> -->
        
         <!-- Estimate Table List -->
         <div class="d-flex align-items-center" *ngIf="dataSourceEstimateCalendar.filteredData.length===0 && dataSourceSurpriseCalendar.filteredData.length===0">
            <h3>There are<span class="bold ms-1 text-dark">{{dataSourceEstimateCalendar.filteredData.length}}</span> companies reporting on <span class="bold mobile-line-break">{{selectedDateOnCalenderFormatted}}</span></h3>
         </div>
         <div class="d-flex align-items-center" *ngIf="dataSourceEstimateCalendar.filteredData.length>1">
            <h3>There are<span class="boldest ms-1">{{dataSourceEstimateCalendar.filteredData.length}}</span> companies reporting on <span class="bold mobile-line-break">{{selectedDateOnCalenderFormatted}}</span></h3>
         </div>
         <div class="d-flex align-items-center" *ngIf="dataSourceEstimateCalendar.filteredData.length == 1">
            <h3>There is<span class="boldest ms-1">{{dataSourceEstimateCalendar.filteredData.length}}</span> company reporting on <span class="bold mobile-line-break">{{selectedDateOnCalenderFormatted}}</span></h3>
         </div>
         <div class="mat-table-wrapper overflow-scroll "  *ngIf="dataSourceEstimateCalendar.filteredData.length>0">
            <table mat-table [dataSource]="dataSourceEstimateCalendar" matSort  class="w-100">

               <!-- Rating Column -->
               <ng-container matColumnDef="rating">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
                  <td mat-cell *matCellDef="let element"> 
                     <span class="d-flex justify-content-center">
                        <img class="rating-arc" [src]="element.imageSrc">
                     </span>
                  </td>
               </ng-container>
               <!-- Symbol Column -->
               <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                  <td mat-cell *matCellDef="let element"> 
                     <span class="symbol pointer" (click)="redirectOnPgr(element.symbol)">{{element.symbol}}</span>
                  </td>
               </ng-container>

               <!-- Company Column -->
               <ng-container matColumnDef="company">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
                  <td mat-cell *matCellDef="let element">
                     <span class="company pointer" (click)="redirectOnPgr(element.symbol)">{{element.company}}</span>
                  </td>
               </ng-container>

               <!-- Last Column -->
               <ng-container matColumnDef="lastPrice">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> Last </th>
                  <td mat-cell *matCellDef="let element" align="center"> {{element.lastPriceFormatted}} </td>
               </ng-container>

               <!-- Change Column -->
               <ng-container matColumnDef="change">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> Change </th>
                  <td mat-cell *matCellDef="let element" align="center"> 
                     <span [ngClass]="element.changeFormattedClass?'up':'down'">{{element.changeFormatted}}</span>
                    
                  </td>
               </ng-container>

               <!-- Report Time Column -->
               <ng-container matColumnDef="reportingTime">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> Report<br>Time </th>
                  <td mat-cell *matCellDef="let element" align="center">
                     <span class="report-time-icon morning" *ngIf="element.reportingTime==2">
                        <i class="bi bi-sunrise-fill"></i>
                     </span> 
                     <span class="report-time-icon night" *ngIf="element.reportingTime==1">
                        <i class="bi bi-sunset"></i>
                     </span>
                     <span class="" *ngIf="element.reportingTime==0">
                        --
                     </span> 
                  </td>
               </ng-container>

               <!-- EPS Estimate Column -->
               <ng-container matColumnDef="epsEstimateCurrent">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> EPS&nbsp;Est. </th>
                  <td mat-cell *matCellDef="let element" align="center"> 
                     <span *ngIf = "element.epsEstimateCurrentFormatted" class="">{{element.epsEstimateCurrentFormatted}}</span>
                     <span *ngIf = "!element.epsEstimateCurrentFormatted" class="">--</span>
                  </td>
               </ng-container>

               <!-- 1 Year Ago Column -->
               <ng-container matColumnDef="epsYearAgo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> 1Y&nbsp;Ago </th>
                  <td mat-cell *matCellDef="let element" align="center">
                     <span class="">{{element.epsYearAgo}}</span>
                  </td>
               </ng-container>
             
               <!-- Reported EPS Column -->
               <ng-container matColumnDef="actualEPS">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Reported<br>EPS </th>
                  <td mat-cell *matCellDef="let element" align="center">
                     <span *ngIf = "element.actualEPS" class="">${{element.actualEPS}}</span>
                     <span *ngIf = "!element.actualEPS" class="">--</span>
                  </td>
               </ng-container>

               <!-- Surprise Column -->
               <ng-container matColumnDef="percentageSurprise">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Surprise&nbsp;% </th>
                  <td mat-cell *matCellDef="let element" align="center">
                     <span *ngIf = "element.percentageSurprise" [ngClass]="changeFormattedClass?'up':'down'">+{{element.percentageSurprise}}%</span>
                     <span *ngIf = "!element.percentageSurprise" class="">--</span>
                  </td>
               </ng-container> 

               <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

               <tr mat-header-row *matHeaderRowDef="displayEstimateColumn"></tr>
               <tr mat-row *matRowDef="let row; columns: displayEstimateColumn;"  (click)="selection.toggle(row)"></tr>
            </table>
         </div>
         <!-- Surprise Table List -->
         <div class="d-flex" *ngIf="dataSourceSurpriseCalendar.filteredData.length>1 ">
            <h2><span class="boldest ms-1">{{dataSourceSurpriseCalendar.filteredData.length}}</span> companies reporting on <span class="bold mobile-line-break">{{selectedDateOnCalenderFormatted}}</span></h2>
         </div>
         <div class="d-flex" *ngIf="dataSourceSurpriseCalendar.filteredData.length == 1">
            <h2><span class="boldest ms-1">{{dataSourceSurpriseCalendar.filteredData.length}}</span> company reporting on <span class="bold mobile-line-break">{{selectedDateOnCalenderFormatted}}</span></h2>
         </div>
         <div class="mat-table-wrapper overflow-scroll "  *ngIf="dataSourceSurpriseCalendar.filteredData.length>0">
            <table mat-table [dataSource]="dataSourceSurpriseCalendar" matSort  class="w-100">

               <!-- Rating Column -->
               <ng-container matColumnDef="rating">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
                  <td mat-cell *matCellDef="let element"> <img class="rating-arc" [src]="element.imageSrc"></td>
               </ng-container>
               <!-- Symbol Column -->
               <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                  <td mat-cell *matCellDef="let element"> 
                     <span class="symbol pointer" (click)="redirectOnPgr(element.symbol)">{{element.symbol}}</span>
                  </td>
               </ng-container>

               <!-- Company Column -->
               <ng-container matColumnDef="company">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
                  <td mat-cell *matCellDef="let element">
                     <span class="company pointer" (click)="redirectOnPgr(element.symbol)">{{element.company}}</span>
                  </td>
               </ng-container>

               <!-- Last Column -->
               <ng-container matColumnDef="lastPrice">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> Last </th>
                  <td mat-cell *matCellDef="let element" align="center"> {{element.lastPriceFormatted}} </td>
               </ng-container>

               <!-- Change Column -->
               <ng-container matColumnDef="change">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> Change </th>
                  <td mat-cell *matCellDef="let element" align="center"> 
                     <span [ngClass]="element.changeFormattedClass?'up':'down'">{{element.changeFormatted}}</span>
                  </td>
               </ng-container>

               <!-- EPS Estimate Column -->
               <ng-container matColumnDef="consensusEstimate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> EPS&nbsp;Est. </th>
                  <td mat-cell *matCellDef="let element" align="center"> 
                     <span *ngIf = "element.consensusEstimate" class="">{{element.consensusEstimate}}</span>
                     <span *ngIf = "!element.consensusEstimate" class="">--</span>
                  </td>
               </ng-container>

               <!-- 1 Year Ago Column -->
               <ng-container matColumnDef="epsYearAgo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> 1Y&nbsp;Ago </th>
                  <td mat-cell *matCellDef="let element" align="center">
                     <span class="">{{element.epsYearAgo}}</span>
                  </td>
               </ng-container>

               <!-- Reported EPS Column -->
               <ng-container matColumnDef="actualEPS">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Reported<br>EPS </th>
                  <td mat-cell *matCellDef="let element" align="center">
                     <span class="">${{element.actualEPSFormatted}}</span>
                  </td>
               </ng-container>

               <!-- Report Time Column -->
               <ng-container matColumnDef="reportingTime">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> Report<br>Time </th>
                  <td mat-cell *matCellDef="let element" align="center">
                     <span class="report-time-icon morning" *ngIf="element.reportingTime==2">
                        <i class="bi bi-sunrise-fill"></i>
                     </span> 
                     <span class="report-time-icon night" *ngIf="element.reportingTime==1">
                        <i class="bi bi-sunset"></i>
                     </span>
                     <span class="report-time-icon" *ngIf="element.reportingTime==0">
                        --
                     </span> 
                  </td>
               </ng-container>

               <!-- Surprise Column -->
               <ng-container matColumnDef="percentageSurprise">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Surprise&nbsp;% </th>
                  <td mat-cell *matCellDef="let element" align="center">
                     <span  *ngIf = "element.percentageSurprise" [ngClass]="element.percentChangeFormattedClass === true?'up':'down'">{{element.percentageSurprise}}% </span>
                     <span *ngIf = "!element.percentageSurprise" > -- </span>
                  </td>
               </ng-container> 

               <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

               <tr mat-header-row *matHeaderRowDef="displaySurpriseColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: displaySurpriseColumn;"  (click)="selection.toggle(row)">
                </tr>
            </table>
         </div>
      </div>
   </div>
</section>


