@import 'src/styles/variables';

//********** EARNINGS CALENDAR OVERWRITE **********//

#component-earnings-calendar {
	// Panel -- Calendar Date Picker
	.earnings-calendar-toggle {
		.toggle-toolbar {
			.nav {
				min-width:250px;
			}
			.btn {
				&.btn-border-toggleStyle {
					align-items: center;
			  		justify-content: center;
					height: 37px;
			  		border-radius: 6px;
			  		line-height: 1;
			  		padding: 0;
			  		font-size: 16px;
			  		width: 86px;

					.label {
			    		font-size:16px;
			    		color:$button-color;
				    }
				    &:hover {
						background-color: $bg-lightest;
					}
				}
			}
		}
		.btn-border-xlarge {
			@media (max-width: 576px) {
				width: 40px;

				.label {
					display: none;
				}
			}
		}
	}
	// Panel -- Angular Calendar
	.earnings-calendar-panel {
		display:flex;
		flex-direction:column;
		align-items:center;
		.cal-week-view {
			border-radius: 3px;
			overflow:hidden;
			.cal-day-headers {
				padding: 0;
				border-left:0;
				border-bottom-color:#ffffff;

				span {
					opacity: 1;
					cursor: default;
				}
				.cal-header {
					text-overflow: unset;
					&:hover {
						background-color: transparent;
					}
					@media (max-width: 576px) {
						&:nth-child(2) {
							border-left:1px solid $border-color;
						}
						&:nth-child(6) {
							border-right:0px ;
						}
					}
				}
			}
			.cal-header {
				&.cal-today {
					background-image: linear-gradient(180deg, #EDFCFF 0%, #FFFFFF 100%);

					b {
						// color:$text-color !important;
						font-weight:700 !important;
					}
				}
				&.cal-weekend {
					span {
						color:$text-color-a50;
						cursor: default;
					}
					@media (max-width: 576px) {
						display: none;
					}
				}
				&.bg-pink {
					box-shadow: inset 0 0 0px 2px $text-color !important;
					background-color: $bg-lighter !important;

					span {
						font-weight:700 !important;
					}
					b {
						color:$text-color !important;
					}
				}
				b {
					display: inline-flex;
					font-weight: 400;
    				margin: 4px 0 6px;
    				color:$button-color;
    				cursor: default;

    				@media (max-width: 400px) {
						font-size: 12px;
					}
				}
			}
			.cal-time-events {
				border-left:0;
				height: 75px;
				margin-top: -3px;
    			background: white;
				.cal-events-container {
					height: 75px;
					.cal-event-container {
						height:100% !important;
						.cal-event {
						    display: flex;
						    justify-content: center;
						    align-items: center;
						    border-radius:0;
						    border:0;
						    margin: 0;
    						background-color: white;

							.cal-event-title {
								font-size: 24px;
								width: 50px;
						    	height: 50px;
						    	margin: 5px auto;
						    	display: flex;
						   		justify-content: center;
						    	align-items: center;
						    	line-height: 1;
						    	border-radius: 26px !important;
						    	background-color: $chart-color-2;
						    	border:3px solid $chart-color-2;
	    						color: white;
							}
							.cal-caret-wrapper {
								visibility: hidden;
    							display: flex;
    							position: absolute;
    							overflow: hidden;
    							top: -67px;
							    left: 0;
							    width: 16px;
							    height: 30px;

								.cal-caret {
									height:24px;
									width:24px;
									background-color:$bg-darker;
									transform: rotate(45deg);
									margin-left:-12px;
								}
							}
							&.weekday-selected {
							  	background-color: $bg-lighter;
		    					border:2px solid $text-color;
		    					border-top:0;
		    					border-radius:0;
		    					width: 100%;
		    					height: 100%;

		    					.cal-event-title {
									background-color: white;
		    						border:3px solid $chart-color-2;
		    						color: $text-color;
									font-weight:700;
								}

		    					.cal-caret-wrapper {
									// visibility:visible;
								}
							}
						}
					}
				}
				.cal-day-column {
					&:last-child {
						@media (max-width: 576px) {
							display: none;
						}
					}
					&:first-child {
						@media (max-width: 576px) {
							display: none;
						}
					}
				}
			}
			.cal-current-time-marker {
				display: none;
			}
			.cal-time-label-column {
				display: none;
			}
		}
		.cal-month-view {
			.cal-header {
				.cal-cell {
					font-weight: 400;
    				margin: 4px 0 6px;
    				color:$button-color;

    				@media (max-width: 400px) {
						font-size: 12px;
					}

    				&.cal-weekend {
    					@media (max-width: 576px) {
							display: none;
						}
    				}
				}
			}
			.cal-cell-row {
				&:hover {
					background-color: transparent;
				}
				.cal-cell {
					&:hover {
						background-color: $bg-lightest;
					}
					&.bg-pink {
						box-shadow: inset 0px 0px 1px 1px $text-color;
						background-color: $bg-lighter;
						.cal-day-number {
							opacity: 1;
							font-weight: 700;
						}
						.earnings-count-container {
							border-color:$chart-color-2;
							background-color: white;

							.earnings-count {
								color:$text-color;
								font-weight:700;
							}
						}
						.cal-caret-wrapper {
							// visibility: visible;
						}
					}
				}
			}
			.cal-days {
				border-radius:3px;
				.cal-day-cell {
					min-height: 80px;
					.cal-cell-top {
						min-height: 30px;
					}
					&.cal-weekend {
						@media (max-width: 576px) {
							display: none;
						}
						.cal-day-number {
							color:$text-color-a50; 
						}
					}
					&.cal-today {
						background-image: linear-gradient(180deg, #EDFCFF 0%, #FFFFFF 75%);

						.cal-day-number {
							font-weight: 500;
						    color:$text-color;
						    opacity:1;
						}
					}
				}
				.cal-day-number {
					font-size: 1em;
					font-weight: 400;
				    margin-top: 5px;
				    margin-right: 12px;
				    float: right;
				    margin-bottom: 0px;
				    cursor: default;
				}
			}
			.cal-open-day-events {
				display:none;
			}
			.earnings-count-container {
				margin:0 0 10px;
				height:40px;
				width:40px;
				border:3px solid $chart-color-2;
				background-color: $chart-color-2;
				border-radius:20px;

				.earnings-count {
					color:$white;
					font-size:18px;
					font-weight:400;
				}
			}
		}
		.earnings-count-container {
			display:flex;
			justify-content:center;
			align-items:center;
			background-color: $button-color;
			text-align:center;
			cursor:pointer;

			.earnings-count {
				color:$white;
			}
		}
		.cal-caret-wrapper {
			visibility:hidden;
			display:flex;
			justify-content:center;
			position:absolute;
			top: 1px;
    		left: -11px;
			.cal-caret {
				height:24px;
				width:24px;
				background-color:$bg-darker;
				transform: rotate(45deg);
				margin-top:-12px;
			}
		}
	}
}

.component-earnings-calendar {
	// Panel -- Earnings Table
	.list-details-table {
		@media (max-width: 576px) {
			h2 {
				font-size: 24px;
			    line-height: 1.5;
			    padding-top: 0;
			    text-align: center;
			}
			h3 {
				text-align: center;
				line-height: 1.4;
			}
			.scroll-shadow {
				display: block;
			}
			.mat-table-wrapper {
				margin-left:-6px;
				margin-right:-6px;
			}
		}
		h2 {
			.boldest {
				color:$chart-color-2;
			}
		}
		.scroll-shadow {
			top:84px;
			z-index: 20;
			height: calc(100% - 84px);
			display:none;
			margin-right: -12px;
		}
		.mat-table {
			.mat-sort-header {
				.mat-sort-header-container {
					justify-content: center;
				}
			}
			.mat-column-rating {
				text-align: center;
				.rating-arc {
					height: 18px;
					width: 36px;
					margin-top: -2px;
				}
			}
			.mat-column-symbol {
				&.mat-sort-header {
					.mat-sort-header-container {
						justify-content: flex-start;
					}
				}
				.symbol {
					font-weight:700;
					font-size: 18px;
				}
			}
			.mat-column-company {
				max-width: 130px;
				&.mat-sort-header {
					.mat-sort-header-container {
						justify-content: flex-start;
					}
				}
				.company {
					font-weight: 300;
					font-size: 13px;
				}
				@media (max-width: 575px) {
					// display: none;
					max-width: 100px;
				}
				@media (max-width: 415px) {
					// display: none;
					display: none;
				}
			}
			.mat-column-lastPrice {
				@media (max-width: 575px) {
					display: none;
				}
			}
			.mat-column-change {
				@media (max-width: 575px) {
					display: none;
				}
			}
			.mat-column-reportingTime {
				.report-time-icon {
					font-size:24px;
					line-height:1;
				}
			}
			.mat-column-epsYearAgo {
				@media (max-width: 575px) {
					display: none;
				}
			}
		}
	}
}