<button mat-button color="primary" (click)="getResult.emit()">Result</button>
<button
  mat-button
  color="primary"
  *ngIf="selectedListName === 'Select a screen'"
  (click)="saveScreen.emit()"
>
  Save Screen
</button>
<button
  mat-button
  color="primary"
  *ngIf="selectedListName !== 'Select a screen'"
  (click)="updateScreen.emit()"
>
  Update Screen
</button>
<button mat-button color="primary" (click)="resetFilters.emit()">Reset</button>
