<div class="row section-rating-breakdown my-5">
    <div class="col">
      <div class="panel c-panel">
        <!-- Panel Header -->
        <!-- <div class="d-flex flex-row align-items-center w-100 panel-header">
          <span class="header-icon"><i class="bi bi-sliders mx-2"></i></span><h3> Technical Component Summary</h3>
          <span class="flex-spacer"></span>
          <a href="" class="text-link me-2">Learn More »</a>
        </div> -->
        <!-- Panel Object -->
        <div class="d-flex flex-row panel-object">
          <div class="row g-0">
            <!-- COL -- Rating Statement -->
            <div class="col-lg-3 col-md-6 col-sm-12 border-sm-right-0 border-md-right">
              <div class="d-flex align-items-center h-100 position-relative ps-3 ps-md-4 ps-lg-3 ps-xl-4" style="min-height:80px;">
                <div class="panel-id-stripe" [ngClass]="priceVolumeContextSummary.priceVolumeRatingBgColorClass"></div>
                <button type="button"  id="techDescription" class="btn border-0 info-icon" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-bs-original-title="" title="" (click)="openQuickDescriptionPopup(wordpressIdMapping.Technicals,'Technicals',$event);">
                  <i class="bi bi-question-circle"></i>
                </button>
                <div #qickDescriptionPopup *ngIf="showQuickScanDescription" class="info-tool-tip" [style.top.px]="createQickDescriptionYPosition" [style.left.px]="createQickDescriptionXPosition" [style.position]="'absolute'">
                  <app-quick-description [id]='quickDescriptionId' [defaultTextForPopup]="quickDescriptionDefaultText" (messageToClose)="onCloseQuickDescriptionPopupEvent();">
                  </app-quick-description>
                 </div>
                <h2>Technicals: <span class="bold" [ngClass]="priceVolumeContextSummary.priceVolumeRatingLableColorClass">{{priceVolumeContextSummary.status}}</span></h2>
              </div>
            </div>
            <!-- COL -- Rating Factor Bars -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 bg-lighter border-md-right-0 border-lg-right border-top border-md-top-0">
              <div class="d-flex flex-column h-100">
                <div class="factor-row">
                  <span class="factor-label">Rel Strength vs Market</span>
                  <div class="sliderProgress" *ngIf="headerDataModel.technicalRelativeStrengthVsMarket==1">
                    <div class="slider-disc slider-veryBearish"></div>
                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalRelativeStrengthVsMarket==2">
                    <div class="slider-disc slider-bearish"></div>
                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalRelativeStrengthVsMarket==3">
                    <div class="slider-disc slider-neutral"></div>
                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalRelativeStrengthVsMarket==4">
                    <div class="slider-disc slider-bullish"></div>
                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalRelativeStrengthVsMarket==5">
                    <div class="slider-disc slider-veryBullish"></div>
                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                        role="progressbar"></div>
                </div>
                </div>
                <div class="factor-row">
                  <span class="factor-label">Chaikin Money Flow</span>
                  <div class="sliderProgress" *ngIf="headerDataModel.technicalChaikinMoneyFlow==1">
                    <div class="slider-disc slider-veryBearish"></div>
                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalChaikinMoneyFlow==2">
                    <div class="slider-disc slider-bearish"></div>
                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalChaikinMoneyFlow==3">
                    <div class="slider-disc slider-neutral"></div>
                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalChaikinMoneyFlow==4">
                    <div class="slider-disc slider-bullish"></div>
                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalChaikinMoneyFlow==5">
                    <div class="slider-disc slider-veryBullish"></div>
                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                        role="progressbar"></div>
                </div>
                </div>
                <div class="factor-row">
                  <span class="factor-label">Price Strength</span>
                  <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceStrength==1">
                    <div class="slider-disc slider-veryBearish"></div>
                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceStrength==2">
                    <div class="slider-disc slider-bearish"></div>
                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceStrength==3">
                    <div class="slider-disc slider-neutral"></div>
                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceStrength==4">
                    <div class="slider-disc slider-bullish"></div>
                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceStrength==5">
                    <div class="slider-disc slider-veryBullish"></div>
                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                        role="progressbar"></div>
                </div>
                </div>
                <div class="factor-row">
                  <span class="factor-label">Price Trend ROC</span>
                  <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceTrendRoc==1">
                    <div class="slider-disc slider-veryBearish"></div>
                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceTrendRoc==2">
                    <div class="slider-disc slider-bearish"></div>
                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceTrendRoc==3">
                    <div class="slider-disc slider-neutral"></div>
                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceTrendRoc==4">
                    <div class="slider-disc slider-bullish"></div>
                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalPriceTrendRoc==5">
                    <div class="slider-disc slider-veryBullish"></div>
                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                        role="progressbar"></div>
                </div>
                </div>
                <div class="factor-row">
                  <span class="factor-label">Volume Trend</span>
                  <div class="sliderProgress" *ngIf="headerDataModel.technicalVolumeTrend==1">
                    <div class="slider-disc slider-veryBearish"></div>
                    <div aria-valuemax="0" aria-valuemin="0" class="sliderBar sliderbar-veryBearish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalVolumeTrend==2">
                    <div class="slider-disc slider-bearish"></div>
                    <div aria-valuemax="25" aria-valuemin="0" class="sliderBar sliderbar-bearish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalVolumeTrend==3">
                    <div class="slider-disc slider-neutral"></div>
                    <div aria-valuemax="50" aria-valuemin="0" class="sliderBar sliderbar-neutral"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalVolumeTrend==4">
                    <div class="slider-disc slider-bullish"></div>
                    <div aria-valuemax="75" aria-valuemin="0" class="sliderBar sliderbar-bullish"
                        role="progressbar"></div>
                </div>
                <div class="sliderProgress" *ngIf="headerDataModel.technicalVolumeTrend==5">
                    <div class="slider-disc slider-veryBullish"></div>
                    <div aria-valuemax="100" aria-valuemin="0" class="sliderBar sliderbar-veryBullish"
                        role="progressbar"></div>
                </div>
                </div>
              </div>
            </div>
            <!-- COL -- Rating Description -->
            <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 border-top border-lg-top-0 bg-medium">
              <div class="d-flex flex-column p-block p-4 p-lg-3 ">
                <span class="text">{{priceVolumeContextSummary.generalSentence}}</span>
                <span class="text">{{priceVolumeContextSummary.explanatorySentence}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Panel Details -->
        <div class="row my-3 g-0">
          <div class="col-12 col-lg-3 col-md-6 py-3 ps-3 pe-1">
            <div class="d-flex flex-column border-sm-right-0 border-md-right border-bottom border-md-bottom-0">
              <h4>Price Activity</h4>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th class="label ps-0" scope="row">52 Week High</th>
                    <td class="data text-end pe-3">{{technicalDataModel.high52WeekFormatted}}</td>
                  </tr>
                  <tr>
                    <th class="label ps-0" scope="row">52 Week Low</th>
                    <td class="data text-end pe-3">{{technicalDataModel.low52WeekFormatted}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-6 py-3 ps-3 pe-1">
            <div class="d-flex flex-column border-md-right-0 border-lg-right border-bottom border-md-bottom-0">
              <h4>Price % Chg</h4>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th class="label ps-0" scope="row">%Chg 4wk vs S&P</th>
                    <td class="data text-end pe-3">{{technicalDataModel.chg4weekRelativeToSPYFormatted}}</td>
                  </tr>
                  <tr>
                    <th class="label ps-0" scope="row">%Chg 24wk vs S&P</th>
                    <td class="data text-end pe-3">{{technicalDataModel.chg24weekRelativeToSPYFormatted}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-6 py-3 ps-3 pe-1">
            <div class="d-flex flex-column border-sm-right-0 border-md-right border-bottom border-md-bottom-0">
              <h4>Volume Activity</h4>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th class="label ps-0" scope="row">Avg. Vol 20 Day</th>
                    <td class="data text-end pe-3">{{technicalDataModel.avgVolume20DaysFormatted}}</td>
                  </tr>
                  <tr>
                    <th class="label ps-0" scope="row">Avg. Vol 90 Day</th>
                    <td class="data text-end pe-3">{{technicalDataModel.avgVolume90DaysFormatted}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-6 py-3 ps-3 pe-1">
            <div class="d-flex flex-column">
              <h4>Volatility Rel to Mkt</h4>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th class="label ps-0" scope="row">Beta</th>
                    <td class="data text-end pe-3">{{technicalDataModel.betaFormatted}}</td>
                  </tr>
                  <tr>
                    <th class="label ps-0" scope="row">Rel. Volatility</th>
                    <td class="data text-end pe-3">{{technicalDataModel.volatilityFormatted}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>