@use "~@angular/material" as mat;

/************  Main Style Sheet   ************/

/*** SASS IMPORTS ***/
@import "styles/variables";
@import "styles/ip";
@import "styles/panels";
@import "angular-calendar/css/angular-calendar.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/*** MATERIAL ***/
@import "~@angular/material/theming";
@include mat.core();
$chaikinsimplified-primary: mat.define-palette(mat.$indigo-palette);
$chaikinsimplified-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);
$chaikinsimplified-warn: mat.define-palette(mat.$red-palette);
$chaikinsimplified-theme: mat.define-light-theme(
  (
    color: (
      primary: $chaikinsimplified-primary,
      accent: $chaikinsimplified-accent,
      warn: $chaikinsimplified-warn,
    ),
  )
);
@include mat.all-component-themes($chaikinsimplified-theme);

//********** SCSS START **********//

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: $white;
  color: $text-color;
}
body {
  overflow: auto !important;
}
div, span {
	&::-webkit-scrollbar { 
	    display: none;  /* Chrome Safari */
	}
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  cursor: default;
}
h1 {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  color: $text-color;
  margin: 0;
}
// h2 {
// 	font-size: 1.25em;
//   font-weight: 400;
//   color: $text-color;
// }
h3 {
  font-size: 1.125em;
  font-weight: 400;
  color: $text-color;
  margin-bottom: 0.5rem;
}
h4 {
  font-size: 1em;
  color: $text-color-light;
  line-height: 1;
  font-weight: 400;
}
h5 {
  font-size: 0.775em;
  text-transform: uppercase;
  font-weight: 700;
  color: $text-color-a75;
  margin-bottom: 0.5rem;
}
h6 {
  font-weight: 700;
  font-size: 0.625em;
  color: $text-color-medium;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
@page {
  size: letter;
}
* {
  -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
  color-adjust: exact !important; /*Firefox*/
}

// Colors
.white {
  color: $white !important;
}
.black {
  color: $black !important;
}
.up,
.positive,
.green {
  color: $ui-green !important;
}
.up-bg,
.positive-bg,
.green-bg,
.strong-bg {
  background-color: $ui-green !important;
}
.down,
.negative,
.red {
  color: $ui-red !important;
}
.down-bg,
.negative-bg,
.red-bg,
.weak-bg {
  background-color: $ui-red !important;
}
.grey,
.inactive,
.grey-label {
  color: $ui-inactive;
}
.grey-bg,
.inactive-bg {
  background-color: $ui-inactive;
}
.chart-color {
  color: $chart-color !important;
}
.chart-color-1 {
  color: $chart-color-1 !important;
}
.chart-color-2 {
  color: $chart-color-2 !important;
}
.chart-color-3 {
  color: $chart-color-3 !important;
}
.chart-color-4 {
  color: $chart-color-4 !important;
}
.morning,
.market-open {
  color: #ffea00;
}
.night,
.market-closed {
  color: #75bce1;
}
.bg-lighter {
  background-color: rgba(74, 81, 100, 0.02);
}
.bg-medium {
  background-color: rgba(74, 81, 100, 0.05);
}
.bg-dark {
  background-color: rgba(74, 81, 100, 1);
}
.text-dark {
  color: rgba(74, 81, 100, 1);
}
.svg-greencolor-set {
  filter: invert(34%) sepia(75%) saturate(4032%) hue-rotate(107deg)
    brightness(97%) contrast(102%);
}
.svg-redcolor-set {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(0.8);
}
.svg-blackcolor-set {
  filter: brightness(0) invert(0);
}

// Font
.thin {
  font-weight: 300 !important;
}
.medium-weight {
  font-weight: 400;
}
.bold {
  font-weight: 500 !important;
}
.boldest {
  font-weight: 700 !important;
}
.pointer {
  cursor: pointer !important;
}

//********** MULTI USE **********//

// Text
.text-link {
  color: $link-color;
  cursor: pointer;
}
.p-block {
  .text {
    font-size: 0.875em;
    line-height: 1.4;
    margin-bottom: 1em;

    a {
      color: $button-color;
      &:hover {
        color: $link-color;
        text-decoration: underline;
      }
    }

    &.fine-print {
      font-size: 0.75em;
      line-height: 1.35;
      color: $text-color-a50;
    }
    &.solo-text {
      margin-bottom: 0em;
    }
    &:last-child {
      margin-bottom: 0.25em;
    }
  }
}
.summary {
  .text {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;

    b {
      font-weight: 700;
    }
  }
}
.time-stamp {
  color: $grey;
  font-weight: 300;
  font-size: 0.8125em;
}
.footnote {
  font-size: 0.75em;
  color: $text-color-a75;
}
.none-label {
  font-size: 1.25em;
  color: $text-color-a75;
  font-style: italic;
}

// Misc
.flex-spacer {
  display: inline-flex;
  flex-grow: 1;
}
.section-separator {
  width: 75%;
  border-top: 1px solid $border-color;
  margin: 25px auto;
}
.panel-id-stripe {
  position: absolute;
  top: 0;
  left: -1px;
  bottom: 0;
  height: 100%;
  min-width: 3px;
  background-color: $ltgrey;
  border-radius: 3px 0 0 3px;
}

//********** BUTTONS **********//

.btn {
  display: flex;
  white-space: nowrap;
  align-items: center;
  font-size: 0.875em;
  color: $button-color;

  i {
    color: $link-color;
    font-size: 1.25em;
    line-height: 1;
  }
  &:hover {
    color: $text-color;
    i {
      color: $button-color;
    }
  }
  &:focus {
    box-shadow: none;
    outline: none;
  }
  &.btn-outline-primary {
    i {
      color: $button-color;
    }
    &:hover {
      i {
        color: $link-color;
      }
    }
  }
  &.btn-primary {
    color: white;
  }
  &.btn-large {
    height: 40px;
    width: 40px;
    padding: 0;
    align-items: center;
    justify-content: center;
    .icon-large {
      font-size: 20px;
      line-height: 1;
    }
  }
  &.border {
    &:hover {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
  &.btn-border-large {
    width: 40px;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 40px;

    i {
      color: $button-color;
    }
    &:hover {
      // background-color:$bg-lightest;
      i {
        color: $link-color;
      }
    }
    &:active {
      background-color: $button-color;
      i {
        color: $white !important;
      }
    }
    &:focus {
      background-color: $bg-lightest;
    }
  }
  &.btn-border-xlarge {
    width: 56px;
    padding: 4px 0 0;
    align-items: center;
    justify-content: center;
    height: 56px;

    i {
      font-size: 22px;
      line-height: 1.1;
    }
    .label {
      font-size: 12px;
      color: $button-color;
    }
    &:hover {
      background-color: $bg-lightest;
    }
  }
  &.btn-label-large {
    text-align: center;
    flex-flow: column nowrap;
    max-width: 95px;
    height: 72px;

    .icon-large {
      font-size: 24px;
      line-height: 1.25;
    }
    .button-label {
      font-size: 0.8125em;
      line-height: 1.4;
      margin-top: 6px;
      white-space: nowrap;
    }
  }
  &.icon-button {
    line-height: 1;
    padding: 0;
    i {
      font-size: 20px;
    }
  }
}
.btn-group {
  // Large Full-wwidth Dropdown Button
  &.btn-group--fullWidth {
    width: 100%;
    .btn-lg {
      font-size: 22px;
      font-weight: 300;

      &.dropdown-toggle {
        justify-content: center;
        color: $text-color;

        &:focus {
          background-color: $bg-lightest;
        }
        &::after {
          margin-left: 15px;
        }
      }
    }
  }
}
// Simple Check Box
.form-check-input {
  &:checked {
    background-color: $button-color;
    border-color: $border-color;
  }
  &:active {
    background-color: $link-color;
    border-color: $border-color;
  }
  &:focus {
    box-shadow: none;
  }
}
// Single Button Toggle
.toggle-checkbox-button {
  .btn {
    margin: 0;
  }
  .btn-check {
    width: 40px;
    height: 40px;

    &:checked + .btn-outline-primary {
      background-color: $button-color;
      border-color: $border-color;
      .icon-large {
        color: $white !important;
      }
      .icon-large--on {
        display: inline;
      }
      .icon-large--off {
        display: none;
      }
    }
    &:focus + .btn-outline-primary {
      box-shadow: none;
    }
  }
  .btn-outline-primary {
    .icon-large--on {
      display: none;
    }
    &:focus {
      box-shadow: none;
    }
    &:not(:disabled):not(.disabled):active {
      color: $white;
      background-color: $link-color;
    }
  }
}
.mat-flat-button.mat-primary {
  background-color: $button-color;
}

//********** UI **********//

// Dialogs
.dialog-wrapper {
  max-width: 600px;
  min-width: 320px;
  &.dialog-wrapper--confirm {
    max-width: 400px;
  }
  &.dialog-wrapper--short-single {
    max-width: 450px;
  }
  &.dialog-wrapper--stepper {
    max-width: 500px;
    .stepper-buttons-wrapper {
    }
    .mat-vertical-content {
      padding-bottom: 15px;
    }
    .mat-stepper-vertical {
      @media (max-width: 575px) {
        padding: 0 !important;

        .mat-vertical-stepper-header {
          padding: 24px 12px;
        }
      }
    }
  }
  .dialog-container {
    .dialog-header {
      h3 {
        margin-bottom: 0;
        font-size: 1.5em;
        color: $steel-blue;
      }
    }
    .dialog-body {
      h4 {
        font-size: 1em;
        &.error {
          color: red;
        }
      }
    }
    .watchlist-error {
      color: red;
    }
    .text-input-area {
      padding: 0.5em;
    }
  }
  .dialog-buttons-wrapper {
  }
  .close-window-button {
    .mat-button-focus-overlay {
      visibility: hidden;
    }
  }
}
.cdk-overlay-container {
  z-index: 2000;
}
.cdk-overlay-pane {
  @media (max-width: 575px) {
    max-width: 100% !important;
    height: 100% !important;
  }
}
.mat-dialog-container {
  @media (max-width: 575px) {
    padding: 24px 10px !important;
    border-radius: 0 !important;
    width: 100vw !important;
  }
}

// Custom Modal
.overlay-wrapper {
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @media screen and (max-width: 576px) {
    align-items: top;
  }
}
.modal-close-button {
  position: absolute;
  right: 0;
  top: 10px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  color: $text-color;
  z-index: 100;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
.modal-container {
  width: 100%;
  max-width: 600px;
  min-width: 400px;
  background: white;
  border-radius: 8px;
  position: relative;
  padding: 4px;
  color: $text-color;

  @media screen and (max-width: 576px) {
    min-width: 100%;
    height: 100%;
    border-radius: 0px;
  }

  &.modal-container--onboard {
    max-width: 720px;
  }

  .modal-content {
    padding: 5px 10px;

    .modal-header {
      .logo-container {
        display: flex;
        flex-grow: 1;
        flex-flow: row nowrap;
        justify-content: center;

        img {
          width: 100%;
          height: auto;
          max-width: 300px;
          max-height: 80px;
        }
        #logo-pga {
          max-width: 300px;
          max-height: 80px;
        }
      }
    }
    .modal-body {
      @media screen and (max-width: 576px) {
        padding-left: 0px;
        padding-right: 0px;
      }
      h1 {
        font-size: 28px;
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 0.5em;
      }
      ol {
        li {
          margin-bottom: 12px;
        }
      }
    }
    .modal-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .btn-primary {
        color: white;
        font-size: 18px;
        i {
          color: white;
        }
      }
    }
    .modal-footer {
      padding: 0.5em 0.5em 0;
      label {
        font-size: 15px;
      }
    }
  }
}

// Menu Dropdown
.dropdown {
  &.list-dropdown {
    .dropdown-menu {
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
      padding: 0;
      .dropdown-item {
        display: flex;
        padding: 1em 1.25em 1em 1em;
        cursor: pointer;
        align-items: center;
        border-bottom: 1px solid $border-color;
        i {
          font-size: 24px;
          display: inline-flex;
          color: $button-color !important;
        }
        &:hover {
          background-color: $bg-lightest;
          i {
            color: $link-color;
          }
        }
        &:active {
          color: $button-color !important;
        }
      }
      .dropdown-divider {
      }
    }
  }
}
.list-select-dropdown {
}
.dropdown-menu {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  .dropdown-header {
    border-radius: 3px;
    background-color: $bg-dark;
    flex-grow: 1;
    margin: 3px;
    padding: 0.75em;
    cursor: default;

    h3 {
      margin: 0;
      color: white;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.075em;
    }
  }
  .list-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    padding: 0.3em 0.25em 0.3em 1em;
    border-top: 1px solid $border-color;
    h2 {
      font-weight: 400;
    }
    &:hover {
      background-color: $bg-lightest;
    }
    &.active {
      background-color: $button-color;
      color: $white;
      h2 {
        font-weight: 500;
      }
      &:hover {
        background-color: $button-color;
      }
    }
  }
}
.dropdown-menu--list-selection {
  padding: 0;
  max-height: 500px;
  overflow-y: scroll;

  @media screen and (max-width: 576px) {
    max-height: calc(100vh - 278px);
    min-width: 100vw;
    border-radius: 0;
  }
  .dropdown-item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0.3em 0.25em 0.3em 0.75em;
    border-top: 1px solid $border-color;
    cursor: pointer;
    .list-name {
      white-space: normal;
      display: flex;
      flex-grow: 1;
      color: $text-color;
      min-width: 320px;
      max-width: 500px;
      &:hover {
        color: $text-color;
      }
      @media (max-width: 576px) {
        min-width: 160px;
      }
    }
    i {
      color: $button-color;
    }
    .dropdown-item-actions {
      min-width: 83px;
      min-height: 40px;
      .btn {
        opacity: 0.75;
        &:hover {
          opacity: 1;
        }
      }
    }
    &:hover {
      background-color: $bg-lightest;
    }
    &:active {
      color: $button-color;
    }
  }
}

// Loading Spinners
.loading-spinner-wrapper {
  justify-content: center;
  align-items: center;
  z-index: 100;
  .spinner-border {
  }
  .spinner-text {
    margin-top: 10px;
    font-size: 16px;
  }
}

// Anchors
.anchor-wrapper {
  position: relative;

  .anchor {
    position: absolute;
    top: -215px;
    left: 0;
  }
}

// UI Tooltips
.ui-tooltip-wrapper {
  // visibility: hidden;
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  z-index: 300;
  cursor: default;

  .ui-tooltip-container {
    display: flex;
    position: relative;
    align-items: center;
    background-color: $button-color;
    border-radius: 3px;
    padding: 8px 14px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.34);
    opacity: 0.95;
    .tooltip-body {
      .tooltip-text {
        color: #ffffff;
        font-size: 17px;
        line-height: 1.25;
        cursor: default;
      }
    }
    .tooltip-caret-wrapper {
      width: 24px;
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;

      &.tooltip-caret-right {
        right: -24px;
        .tooltip-caret {
          margin-left: -12px;
        }
      }
      &.tooltip-caret-left {
        left: -24px;
        .tooltip-caret {
          margin-right: -12px;
          margin-left: 12px;
        }
      }
      .tooltip-caret {
        height: 24px;
        width: 24px;
        background-color: $button-color;
        transform: rotate(45deg);
      }
    }
  }
}
.checklist-tooltip {
  font-size: 0.875em;
  display: none;
  @media (min-width: 993px) AND (max-width: 1199px) {
    display: block;
  }
}
.info-tool-tip {
  z-index: 500;
}
.action-tooltip {
  font-size: 0.875em;
}
.description-tooltip {
  font-size: 0.8125em;
  line-height: 1.4;
}

// Shadows
.scroll-shadow {
  width: 25px;
  top: 0;
  bottom: 0;
  height: 100%;

  &.scroll-shadow--left {
    left: 0;
    background: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.125) 100%
    );
  }
  &.scroll-shadow--right {
    right: 0px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.15) 100%
    );
  }
}
.sticky-header-shadow {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-size: 14px;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

//********** APP HEADERS OVERWRITE **********//

#app-header-top {
  .search-wrapper {
    height: 35px;

    .input-group-text {
      background-color: $white;
      line-height: 1;
      color: $text-color;
      border-radius: 2rem 0 0 2rem;
      padding: 0.25rem 0.625rem;
      border: 0px;
    }
    .form-control {
      background-color: $white;
      border-left: 0px solid #ffffff;
      line-height: 1;
      border-radius: 0 2rem 2rem 0;
      padding: 0.25rem 0.25rem 0.25rem 0rem;
      font-size: 0.875rem;
      border: 0px;
      color: $text-color;

      &::placeholder {
        color: $text-color;
        opacity: 0.75;
        font-weight: 300;
      }
      &:focus {
        border: 0;
        outline: none;
        box-shadow: none;
      }
    }
  }
  .search-dropdown {
    top: 40px;
  }
}
.app-header-middle {
  height: 64px;
  background-color: $bg-light;
  border-bottom: 1px solid $border-color;

  @media (max-width: 575px) {
    height: 115px;
  }
  .list-scroll-wrapper {
    @media (max-width: 575px) {
      border-top: 1px solid $border-color;
      flex: auto;
    }
    .list-scroll-nav {
      border-left: 1px solid $border-color;
      &#list-scroll-nav-left {
        border-right: 1px solid $border-color;
        box-shadow: 4px 0px 6px rgb(0 0 0 / 20%);
        z-index: 20;
      }
      &#list-scroll-nav-right {
        box-shadow: -4px 0px 6px rgb(0 0 0 / 20%);
        z-index: 20;
      }
      button {
        padding: 0.375em;

        i {
          color: $button-color;
        }
      }
    }
    .list-group {
      background-color: rgba(16, 22, 41, 0.05);
      padding-left: 3px;
      border-radius: 0;
      align-items: center;
      height: 100%;
      flex-grow: 1;
      .list-group-item {
        background-color: rgba(255, 255, 255, 0.8);
        min-width: 130px;
        padding: 0 8px 0 10px;
        height: 58px;
        margin-right: 3px;
        border-radius: 4px;
        border: 1px solid $border-color-darker;
        overflow: hidden;
        &.select {
          border: 2px solid $bg-dark;
          background-color: #ffffff !important;
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
          .cell-ticker,
          .cell-price {
            opacity: 1 !important;
          }
          .selected-tick {
            visibility: visible;
          }
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.9);
          .cell.cell-ticker,
          .cell.cell-price {
            opacity: 1 !important;
          }
        }
        .selected-tick {
          visibility: hidden;
          position: absolute;
          width: 20px;
          height: 20px;
          transform: rotate(45deg);
          top: -11px;
          right: -11px;
          background-color: $bg-dark;
        }
        .cell {
          padding: 0 2px;
          font-weight: 400;
          display: flex;
          color: $text-color;
          &.cell-rating {
            img {
              height: 14px;
              width: 28px;
            }
          }
          &.cell-ticker {
            font-weight: 700;
            font-size: 18px;
            opacity: 0.75;
          }
          &.cell-price {
            font-size: 14px;
            font-weight: 400;
            opacity: 0.75;
          }
          &.cell-change {
            font-weight: 700;
            font-size: 13px;
          }
          &.cell-company-name {
            display: block;
            font-size: 11px;
            font-weight: 300;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100px;

            .company-name {
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
        .panel-id-stripe {
          width: 4px;
        }
      }
    }
  }
  .list-dropdown-wrapper {
    @media (max-width: 575px) {
      flex: auto;
    }
  }
  .list-select-dropdown {
    flex-grow: 1;
    min-height: 40px;

    .dropdown-menu--list-selection {
      @media screen and (max-width: 576px) {
        max-height: calc(100vh - 200px);
      }
    }

    .list-selection-button {
      width: 100%;
      max-width: 24px;
      font-size: 16px;
      line-height: 1.25;
      min-height: 40px !important;
      min-width: 80px;
      max-width: 320px;
      text-align: left;
      white-space: nowrap;
      padding: 0 12px;
      text-overflow: ellipsis;
      color: black;

      &:focus {
        background-color: $bg-lightest;
      }

      @media (max-width: 575px) {
        max-width: 100%;
      }
    }
  }
  .search-wrapper {
    height: 36px;
    .input-group-text {
      background-color: $white;
      line-height: 1;
      color: $text-color;
      border-radius: 2rem 0 0 2rem;
      padding: 0.25rem 0.625rem;
      border: 1px solid $border-color;
      border-right: 0px solid #ffffff;
    }
    .form-control {
      background-color: $white;
      border: 1px solid $border-color;
      border-left: 0px solid #ffffff;
      line-height: 1;
      border-radius: 0 2rem 2rem 0;
      padding: 0.25rem 0.75rem 0.25rem 0rem;
      font-size: 1rem;
      color: $text-color;

      &::placeholder {
        color: $text-color-a75;
        font-weight: 300;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  .search-dropdown {
    top: 60px;
  }
}
.app-body-container {
  @media (max-width: 1200px) {
    max-width: 100%;
  }
}

//********** PANELS **********//

.panel {
  h1 {
    .bold {
      font-weight: 400;
    }
    @media (max-width: 576px) {
      font-size: 24px;
      margin-top: 15px;
    }
  }
  h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    padding: 12px 0;
    line-height: 1.25;
    .bolder {
      font-weight: 400;
    }
    .bold {
      font-weight: 700;
    }
    @media (max-width: 576px) {
      font-size: 18px;
    }
  }
  h4 {
    margin-top: 0.25em;
    margin-bottom: 0.8em;
  }
  &.c-panel {
    background: $white;
    border: 1px solid $border-color-darker;
    box-shadow: 0 2px 3px 0 rgba(74, 81, 100, 0.05);
    border-radius: 6px;
    padding: 3px;
    margin-bottom: 20px;

    h2 {
      font-size: 32px;
      margin-top: -4px;

      @media (max-width: 576px) {
        font-size: 30px;
      }
    }
    .panel-header {
      flex-direction: row;
      min-height: 36px;
      padding: 0 6px;
      margin-bottom: 3px;
      color: $white;
      border-radius: 3px;
      background-color: $bg-dark;

      h3 {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin: 0;
        line-height: 1;
        padding: 0;
        color: $white;
      }
      .text-link {
        color: $link-color;
        font-size: 0.75em;
        margin-right: 8px;
      }
      .header-icon {
        font-size: 16px;
      }
      .time-stamp {
        color: $white;
        font-size: 0.75em;
        text-align: right;
        line-height: 1.2;
      }
      .form-switch {
        display: flex;
        align-items: center;
        .form-check-label {
          font-size: 0.875em;
        }
        .form-check-input {
          margin-top: 0;
          &:checked {
            background-color: $link-color;
            border-color: $button-color;
          }
          &:focus {
            outline: none;
            border: 0;
          }
        }
        &.form-check {
          margin-bottom: 0;
        }
      }
      @media print {
        color: $black !important;
        background-color: transparent;

        .time-stamp {
          color: $black !important;
        }
      }
      @media (max-width: 576px) {
        h3 {
          white-space: nowrap;
        }
      }
    }
    .panel-body {
      .panel-body-header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        flex-grow: 1;
        padding: 0.75em 0.5em;

        h4 {
          margin: 0;
        }
      }
      .pub-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0px 10px;

        .pub-header {
          border-bottom: 1px solid $border-color-lighter;
          padding: 4px 0 8px;
          margin-bottom: 10px;

          h1 {
            font-size: 20px;
            font-weight: 400;
            color: $text-color;
            text-align: left;
            margin-bottom: 8px;
            line-height: 1.4;
          }
          h4 {
            font-size: 13px;
            color: $text-color-light;
            text-align: left;
            font-weight: 400;
            margin-bottom: 5px;
            line-height: 1.25;
          }
        }
        .pub-body {
          position: relative;
          border-bottom: 1px solid $border-color;
          p {
            font-size: 14px;
          }
          .fade-gradient {
            bottom: 0;
            right: 0;
            left: 0;
            position: absolute;
            height: 60px;
            background-image: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0) 0%,
              #ffffff 100%
            );
          }
        }
      }
    }
    .section-separator {
      margin: 10px auto;
    }
  }
  &.b-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px 20px;

    @media (max-width: 576px) {
      padding: 10px 0 20px;
    }
    .panel-header {
      flex-direction: column;
      padding-bottom: 1.5em;

      h1 {
        .boldest {
          color: $chart-color-2;
        }
      }
    }
  }
  .panel-header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .toggle-toolbar {
    .nav {
      min-width: 310px;
      background-color: $bg-light;
      border-radius: 20px;
      border: 1px solid $border-color-lighter;
    }
    .nav-pills {
      .nav-link {
        display: flex;
        padding: 0.35rem 1rem;
        color: $text-color-a75;
        text-align: center;
        justify-content: center;
        flex-grow: 1;

        .hide {
          display: none;
        }
        .alerts-badge {
          background-color: $bg-medium;
          color: white;
          font-weight: 700;
          height: 24px;
          min-width: 25px;
          border-radius: 13px;
          justify-content: center;
          margin-right: -3px;

          &.bullish {
            background-color: $ui-green;
          }
          &.bearish {
            background-color: $ui-red;
          }
          &.all {
            background-color: $chart-color-2;
          }
        }
        &.active {
          margin-top: -1px;
          margin-bottom: -1px;
          border-radius: 20px;
          color: $white;
          background-color: $bg-medium;
          font-weight: 700;
          border: 1px solid $border-color-darker;

          &#pills-bullish {
            background-color: $ui-green;
            .alerts-badge {
              background-color: #fff;
              color: $ui-green;
            }
          }
          &#pills-bearish {
            background-color: $ui-red;
            .alerts-badge {
              background-color: #fff;
              color: $ui-red;
            }
          }
          &#pills-all {
            background-color: $chart-color-2;
            .alerts-badge {
              background-color: #fff;
              color: $chart-color-2;
            }
          }
          .show {
            display: none;
          }
          .hide {
            display: block;
          }
        }
      }
    }
  }
  .panel-body {
    display: flex;
    flex-direction: column;
    width: 100%;

    .label {
      font-size: 0.8em;
      font-weight: 400;
      margin-right: 0.33em;
      color: $text-color-a75;
    }
  }
  .panel-object {
    display: flex;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 3px;

    .btn {
      &.info-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 100;
      }
    }
    .table {
      .table-header {
        font-size: 16px;
        padding: 10px 0;

        .table-name {
          font-weight: 400;
        }
      }
      .data {
        font-weight: 700;
      }
      .label {
        font-weight: 400;
      }
    }
  }
  .panel-list {
    .list-item {
      background-color: $white;
      border: 1px solid $border-color;
      border-radius: 3px;
      padding: 0 6px;
      margin-bottom: 4px;
      overflow: hidden;

      .cell {
        display: flex;
        padding: 5px;
      }
    }
    hr {
      background-color: $border-color;
      width: 100%;
      margin: 10px 0 14px;
    }
    &.selected-panel-list {
      .list-item {
        cursor: pointer;
        position: relative;
        background-color: $bg-lightest;
        h2 {
          font-size: 16px;
          font-weight: 400;
          margin: 3px 0;
          padding: 0;
          cursor: pointer;
        }
        .directional-icon {
          visibility: hidden;
        }
        .panel-id-stripe {
          background-color: $button-color;
        }
        &.active {
          background-color: $button-color;
          color: white;
          border: 1px solid $bg-dark;
          h2 {
            font-weight: 500;
            color: white;
          }
          .directional-icon {
            visibility: visible;
            color: white;
            font-size: 18px;
            line-height: 1;
            margin-right: -6px;
          }
          .panel-id-stripe {
            background-color: white;
          }
          &:hover {
            background-color: $button-color;
            .panel-id-stripe {
              background-color: white;
            }
          }
        }
        &:hover {
          background-color: white;
          .panel-id-stripe {
            background-color: $bg-dark;
          }
        }
      }
    }
  }
  .list-details-table {
    width: 100%;
    position: relative;
    .mat-table-wrapper {
      .mat-table {
        line-height: 1.33;
        .mat-row {
          .mat-cell {
            padding: 0.125em 0.365em;
          }
        }
        .mat-header-row {
          height: 48px;
        }
        .mat-header-cell {
          font-size: 10px;
          color: $text-color;
          text-transform: uppercase;
          font-weight: 400;
          padding: 0 0.365em 0 0.5em;
        }
        .mat-sort-header-arrow {
          margin: 0 0 0 2px;
        }
      }
    }
    @media (max-width: 390px) {
      .mat-table-wrapper {
        .mat-table {
          min-width: 565px;
        }
      }
    }
  }
  .vertical-list-wrapper {
    .list-group {
      .list-group-item {
        padding: 0px;
        border: 1px solid rgba(255, 255, 255, 1);
        border-bottom: 1px solid $border-color;
        &.list-sort-header {
          .list-item-row {
            &:hover {
              background-color: $white;
            }
            .cell {
              display: flex;
              padding: 10px 5px;
              cursor: pointer;
              font-size: 10px;
              color: $text-color;
              text-transform: uppercase;
              font-weight: 400;
            }
          }
        }
        .list-item-row {
          align-items: center;
          overflow: hidden;
          .cell {
            padding: 5px;
            display: flex;
          }
        }
        &:hover {
          background-color: $bg-lightest;
        }
      }
    }
    @media (max-width: 575px) {
      margin-left: -12px;
      margin-right: -12px;
    }
  }
  .chart-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .chart-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 6px;
      position: relative;
      width: 100%;
      .form-check-label {
        font-size: 14px;
        opacity: 0.6;
      }
      .btn {
        &.info-icon {
          opacity: 0.5;
          padding-top: 0;
          padding-bottom: 0;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .chart-container {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
    }
  }
  .chart-legend {
    font-size: 13px;
    padding-right: 12px;
    white-space: nowrap;
    color: $text-color-a50;

    i {
      margin-left: 10px;
      margin-right: 4px;
    }
  }
  .table {
    font-size: 14px;
    margin-bottom: 0;

    thead {
      th {
        border-bottom-color: $border-color-darker !important;
        border-bottom-width: 1px;

        &.sorted {
          color: $text-color-medium;
          font-weight: 700;

          .bi {
            visibility: visible;
          }
        }
        .bi {
          visibility: hidden;
        }
      }
    }
    th,
    tr,
    td {
      vertical-align: middle;
    }
    tr {
      &:last-child {
        border-bottom: transparent;
      }
    }
    &.table-borderless {
      font-size: 14px;
      .data {
        font-weight: 700;
      }
      .label {
        font-weight: 300;
        // opacity:0.85;
      }
    }
  }
  .summary-sentence {
    font-weight: 300;
    font-size: 1em;
    margin-left: 6px;

    a {
      font-weight: 400;
      color: $button-color;

      &:hover {
        color: $link-color;
      }
    }
  }
  .breakdown {
    display: flex;
    flex-direction: column;

    .text {
      font-size: 0.875em;
      font-weight: 300;
      margin-bottom: 10px;
      line-height: 1.4;

      b {
        font-weight: 700;
      }
    }
    .text-link {
      color: $link-color;
      font-size: 0.875em;
    }
  }
  .panel-id-stripe {
    width: 5px;
  }
}

//**********    UI    **********//

//*** DIALOGS ***//

.dialog-wrapper {
  max-width: 600px;
  min-width: 320px;
  &.dialog-wrapper--confirm {
    max-width: 400px;
  }
  &.dialog-wrapper--short-single {
    max-width: 450px;
  }
  &.dialog-wrapper--stepper {
    max-width: 500px;
    .stepper-buttons-wrapper {
    }
    .mat-vertical-content {
      padding-bottom: 15px;
    }
    .mat-stepper-vertical {
      @media (max-width: 575px) {
        padding: 0 !important;

        .mat-vertical-stepper-header {
          padding: 24px 12px;
        }
      }
    }
  }
  .dialog-container {
    .dialog-header {
      h3 {
        margin-bottom: 0;
        font-size: 1.5em;
        color: $steel-blue;
      }
    }
    .dialog-body {
      h4 {
        font-size: 1em;
        &.error {
          color: red;
        }
      }
    }
    .watchlist-error {
      color: red;
    }
    .text-input-area {
      padding: 0.5em;
    }
  }
  .dialog-buttons-wrapper {
  }
  .close-window-button {
    .mat-button-focus-overlay {
      visibility: hidden;
    }
  }
}
.cdk-overlay-container {
  z-index: 2000;
}
.cdk-overlay-pane {
  @media (max-width: 575px) {
    max-width: 100% !important;
    height: 100% !important;
  }
}
.mat-dialog-container {
  @media (max-width: 575px) {
    padding: 24px 10px !important;
    border-radius: 0 !important;
    width: 100vw !important;
  }
}

// Custom Modal
.overlay-wrapper {
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @media screen and (max-width: 576px) {
    align-items: top;
  }
}
.modal-close-button {
  position: absolute;
  right: 0;
  top: 10px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  color: $text-color;
  z-index: 100;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
.modal-container {
  width: 100%;
  max-width: 600px;
  min-width: 400px;
  background: white;
  border-radius: 8px;
  position: relative;
  padding: 4px;
  color: $text-color;

  @media screen and (max-width: 576px) {
    min-width: 100%;
    height: 100%;
    border-radius: 0px;
  }

  &.modal-container--onboard {
    max-width: 720px;
  }

  .modal-content {
    padding: 5px 10px;

    .modal-header {
      .logo-container {
        display: flex;
        flex-grow: 1;
        flex-flow: row nowrap;
        justify-content: center;

        img {
          width: 100%;
          height: auto;
          max-width: 300px;
          max-height: 80px;
        }
        #logo-pga {
          max-width: 300px;
          max-height: 80px;
        }
      }
    }
    .modal-body {
      @media screen and (max-width: 576px) {
        padding-left: 0px;
        padding-right: 0px;
      }
      h1 {
        font-size: 28px;
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 0.5em;
      }
      ol {
        li {
          margin-bottom: 12px;
        }
      }
    }
    .modal-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .btn-primary {
        color: white;
        font-size: 18px;
        i {
          color: white;
        }
      }
    }
    .modal-footer {
      padding: 0.5em 0.5em 0;
      label {
        font-size: 15px;
      }
    }
  }
}

// Menu Dropdown
.dropdown {
  &.list-dropdown {
    .dropdown-menu {
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
      padding: 0;
      .dropdown-item {
        display: flex;
        padding: 1em 1.25em 1em 1em;
        cursor: pointer;
        align-items: center;
        border-bottom: 1px solid $border-color;
        i {
          font-size: 24px;
          display: inline-flex;
          color: $button-color !important;
        }
        &:hover {
          background-color: $bg-lightest;
          i {
            color: $link-color;
          }
        }
        &:active {
          color: $button-color !important;
        }
      }
      .dropdown-divider {
      }
    }
  }
}
.list-select-dropdown {
}
.dropdown-menu {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  .dropdown-header {
    border-radius: 3px;
    background-color: $bg-dark;
    flex-grow: 1;
    margin: 3px;
    padding: 0.75em;
    cursor: default;

    h3 {
      margin: 0;
      color: white;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.075em;
    }
  }
  .list-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    padding: 0.3em 0.25em 0.3em 1em;
    border-top: 1px solid $border-color;
    h2 {
      font-weight: 400;
    }
    &:hover {
      background-color: $bg-lightest;
    }
    &.active {
      background-color: $button-color;
      color: $white;
      h2 {
        font-weight: 500;
      }
      &:hover {
        background-color: $button-color;
      }
    }
  }
}
.dropdown-menu--list-selection {
  padding: 0;
  max-height: 500px;
  overflow-y: scroll;

  @media screen and (max-width: 576px) {
    max-height: calc(100vh - 278px);
    min-width: 100vw;
    border-radius: 0;
  }
  .dropdown-item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0.3em 0.25em 0.3em 0.75em;
    border-top: 1px solid $border-color;
    cursor: pointer;
    .list-name {
      white-space: normal;
      display: flex;
      flex-grow: 1;
      color: $text-color;
      min-width: 320px;
      max-width: 500px;
      &:hover {
        color: $text-color;
      }
      @media (max-width: 576px) {
        min-width: 160px;
      }
    }
    i {
      color: $button-color;
    }
    .dropdown-item-actions {
      min-width: 83px;
      min-height: 40px;
      .btn {
        opacity: 0.75;
        &:hover {
          opacity: 1;
        }
      }
    }
    &:hover {
      background-color: $bg-lightest;
    }
    &:active {
      color: $button-color;
    }
  }
}

// Loading Spinners
.loading-spinner-wrapper {
  justify-content: center;
  align-items: center;
  z-index: 100;
  .spinner-border {
  }
  .spinner-text {
    margin-top: 10px;
    font-size: 16px;
  }
}

// Anchors
.anchor-wrapper {
  position: relative;

  .anchor {
    position: absolute;
    top: -215px;
    left: 0;
  }
}

// UI Tooltips
.ui-tooltip-wrapper {
  // visibility: hidden;
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  z-index: 300;
  cursor: default;

  .ui-tooltip-container {
    display: flex;
    position: relative;
    align-items: center;
    background-color: $button-color;
    border-radius: 3px;
    padding: 8px 14px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.34);
    opacity: 0.95;
    .tooltip-body {
      .tooltip-text {
        color: #ffffff;
        font-size: 17px;
        line-height: 1.25;
        cursor: default;
      }
    }
    .tooltip-caret-wrapper {
      width: 24px;
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;

      &.tooltip-caret-right {
        right: -24px;
        .tooltip-caret {
          margin-left: -12px;
        }
      }
      &.tooltip-caret-left {
        left: -24px;
        .tooltip-caret {
          margin-right: -12px;
          margin-left: 12px;
        }
      }
      .tooltip-caret {
        height: 24px;
        width: 24px;
        background-color: $button-color;
        transform: rotate(45deg);
      }
    }
  }
}
.checklist-tooltip {
  font-size: 0.875em;
  display: none;
  @media (min-width: 993px) AND (max-width: 1199px) {
    display: block;
  }
}
.action-tooltip {
  font-size: 0.875em;
}
.description-tooltip {
  font-size: 0.8125em;
  line-height: 1.4;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-size: 14px;
}

.scroll-shadow {
  width: 25px;
  top: 0;
  bottom: 0;
  height: 100%;

  &.scroll-shadow--left {
    left: 0;
    background: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.125) 100%
    );
  }
  &.scroll-shadow--right {
    right: 0px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.15) 100%
    );
  }
}

//********** MOBILE OVERWRITE **********//

.mobile-only {
  display: none;
}

@media screen and (max-width: 576px) {
  .mobile-hide {
    display: none;
  }
  .mobile-only.mobile-only--flex {
    display: flex;
  }
  .mobile-line-break {
    white-space: pre;
  }
}

//********** HARD OVERWRITE **********//

// SECTION -- Publication Panel
#component-pub-panel {
  .pub-panel {
    .pub-body {
      .post-copy {
        a {
          display: none;
        }
        p {
          margin-bottom: 0.875em;
          &:first-of-type {
            display: none;
          }
          &:nth-last-child(2) {
            display: none;
          }
        }
      }
    }
  }
}

// SECTION -- Rating Overview
.section-rating-overview {
  .factor-row {
    padding: 6px 10px 6px 12px;
    @media (max-width: 576px) {
      padding: 8px 16px;
    }
  }
  .factor-label {
    font-size: 16px;
    margin-top: 1px;
    min-width: 105px;
  }
  .sliderProgress {
    height: 14px;
    border-radius: 16px;
    border: 0px solid white;
  }
  .slider-disc {
    z-index: 1;
    height: 18px;
    width: 18px;
    border-radius: 15px;
    border: 2px solid white;
    margin-top: -2px;
    position: absolute;
  }
  .slider-veryBullish {
    margin-left: -17px;
  }
}

// SECTION -- Rating Breakdown
.section-rating-breakdown {
  .factor-row {
    padding: 6px 1em;
  }
  .factor-label {
    width: 135px;
    font-size: 0.8125em;
    line-height: 1.25;
  }
}

//********** MAT OVERWRITE **********//

#admin-component-screenForm {
  .mat-form-field-appearance-fill {
    .mat-form-field-flex {
      border-radius: 0 !important;
      padding: 0em 0.75em 0 0.75em !important;
    }
  }
  .mat-button.mat-primary {
    color: $button-color;
  }
  .mat-stroked-button.mat-primary {
    color: $button-color;
  }
}

//********** BOOTSTRAP OVERWRITE **********//

@media (max-width: 576px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

// Responsive Borders

@media (min-width: 576px) {
  .border-sm-top {
    border-top: 1px solid #e3e7eb !important;
  }
  .border-sm-right {
    border-right: 1px solid #e3e7eb !important;
  }
  .border-sm-bottom {
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-sm-left {
    border-left: 1px solid #e3e7eb !important;
  }
  .border-sm-top-0 {
    border-top: 0 !important;
  }
  .border-sm-right-0 {
    border-right: 0 !important;
  }
  .border-sm-bottom-0 {
    border-bottom: 0 !important;
  }
  .border-sm-left-0 {
    border-left: 0 !important;
  }
  .border-sm-x {
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-sm-y {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-sm {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-sm-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
}

@media (min-width: 768px) {
  .border-md-top {
    border-top: 1px solid #e3e7eb !important;
  }
  .border-md-right {
    border-right: 1px solid #e3e7eb !important;
  }
  .border-md-bottom {
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-md-left {
    border-left: 1px solid #e3e7eb !important;
  }
  .border-md-top-0 {
    border-top: 0 !important;
  }
  .border-md-right-0 {
    border-right: 0 !important;
  }
  .border-md-bottom-0 {
    border-bottom: 0 !important;
  }
  .border-md-left-0 {
    border-left: 0 !important;
  }
  .border-md-x {
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-md-y {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-md {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-md-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
}

@media (min-width: 992px) {
  .border-lg-top {
    border-top: 1px solid #e3e7eb !important;
  }
  .border-lg-right {
    border-right: 1px solid #e3e7eb !important;
  }
  .border-lg-bottom {
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-lg-left {
    border-left: 1px solid #e3e7eb !important;
  }
  .border-lg-top-0 {
    border-top: 0 !important;
  }
  .border-lg-right-0 {
    border-right: 0 !important;
  }
  .border-lg-bottom-0 {
    border-bottom: 0 !important;
  }
  .border-lg-left-0 {
    border-left: 0 !important;
  }
  .border-lg-x {
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-lg-y {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-lg {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-lg-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
}

@media (min-width: 1200px) {
  .border-xl-top {
    border-top: 1px solid #e3e7eb !important;
  }
  .border-xl-right {
    border-right: 1px solid #e3e7eb !important;
  }
  .border-xl-bottom {
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-xl-left {
    border-left: 1px solid #e3e7eb !important;
  }
  .border-xl-top-0 {
    border-top: 0 !important;
  }
  .border-xl-right-0 {
    border-right: 0 !important;
  }
  .border-xl-bottom-0 {
    border-bottom: 0 !important;
  }
  .border-xl-left-0 {
    border-left: 0 !important;
  }
  .border-xl-x {
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-xl-y {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-xl {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-xl-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
}

//********** PRINT OVERWRITE **********//

.d-print {
  display: none;
}
.d-print-block {
  display: none;
}
.d-print-flex {
  display: none;
}

// Overall Print
@media print {
  .print-break {
    page-break-before: always !important;
  }
  .page-break-before {
    page-break-before: always;
  }
  .print-hide {
    visibility: hidden;
  }
  .print-none {
    display: none;
  }
  .sticky-header {
    visibility: hidden;
    display: none;
  }
  .app-header-bottom {
    box-shadow: none !important;
  }
  #app-header-top {
    display: none;
  }
  .app-header-middle {
    display: none;
  }
  .app-body-wrapper {
    width: 1024px;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .border-md-right {
    border-right: 1px solid #e3e7eb !important;
  }
  .border-md-top-0 {
    border-top: 0 !important;
  }
  .border-md-bottom-0 {
    border-bottom: 0 !important;
  }
  .border-lg-top {
    border-top: 1px solid #e3e7eb !important;
  }
  .border-lg-right {
    border-right: 1px solid #e3e7eb !important;
  }
  .border-lg-bottom {
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-lg-left {
    border-left: 1px solid #e3e7eb !important;
  }
  .border-lg-top-0 {
    border-top: 0 !important;
  }
  .border-lg-right-0 {
    border-right: 0 !important;
  }
  .border-lg-bottom-0 {
    border-bottom: 0 !important;
  }
  .border-lg-left-0 {
    border-left: 0 !important;
  }
  .border-lg-x {
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-lg-y {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-lg {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-lg-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .panel {
    &.c-panel {
      box-shadow: none !important;
    }
  }
  .bg-lighter,
  .bg-medium {
    background-color: transparent;
  }
  .bi-question-circle,
  .info-icon {
    visibility: hidden;
  }
  .d-print-none {
    display: none;
  }
  .d-print-block {
    display: block;
  }
  .d-print-flex {
    display: flex;
  }
  // Report Print
  .section-rating-breakdown {
    margin-top: 15px !important;
    margin-bottom: 0 !important;
  }
  .section-rating-checklist {
    .col-md-6 {
      width: 50% !important;
    }
  }
  .section-company-info {
    .col-md-6 {
      width: 50% !important;
    }
  }
  .section-peformanceChart {
    .panel-header {
      margin-bottom: 20px;
      flex-direction: row !important;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
    }
    .statement-header {
      padding: 0 !important;
      h1 {
        font-size: 18px;
      }
    }
    .toggle-toolbar {
      .nav-pills {
        background-color: transparent;
        border: 0;
        min-width: 0;
        .nav-link {
          display: none;
          &.active {
            color: black;
            display: flex;
            white-space: nowrap;
            font-size: 18px;
            background-color: transparent;
            font-weight: 700;
            border: 0;
            text-decoration: none;
            // margin-bottom: -22px;
            margin-left: -10px;
          }
        }
      }
    }
  }
  .component-checklist {
    .table {
      .table-header {
        .table-name {
          font-size: 14px !important;
          margin-left: 0 !important;
        }
        th {
          font-size: 14px !important;
        }
      }
      .label {
        font-size: 12px !important;
        line-height: 1 !important;
        margin-left: 0 !important;
      }
    }
    .p-block {
      .text {
        font-size: 12px;
      }
    }
  }
}

:host {
  position: fixed;
  top: auto !important;
  bottom: 0 !important;
  right: auto !important;
  left: 0 !important;
  margin: 0.5em;
  z-index: 1200;
}

.gfg {
  position: fixed;
  top: auto !important;
  bottom: 0 !important;
  right: auto !important;
  left: 0 !important;
  margin: 0.5em;
  z-index: 1200;
}

.red-cell {
  background-color: #e1e1d5 !important;
}
.blue-cell {
  background-color: #e1e1d5 !important;
}

.my-custom-class span {
  color: #ff3d7f !important;
}

//  .cal-day-selected,
//  .cal-day-selected:hover {
// background-color: deeppink !important;
//  }

.bearishBullish_PowerBar {
  min-width: 26px;
  width: auto !important;
  flex-grow: 0 !important;
}

.yellow {
  color: #ffbe00;
}
.green {
  color: green;
}
.red {
  color: red;
}
