<div class="sticky-header sticky-header-shadow sticky-top">

	<app-top-header (openSubscriptionPopup)="openLogoutPopup($event)"></app-top-header>

    <!-- HEADER CRAWL -->
    <app-crawl-header></app-crawl-header>  

    <!-- PRODUCT MENU -->
    <app-products [productPopUpShow]="productPopUpShow"></app-products>
    
</div>

<section id="market-scanner-body" class="container-fluid app-body-wrapper">
    <div class="container app-body-container">
        <div class="row">
        	 <!-- COLUMN LEFT -->
            <div class="col pt-0 pt-sm-3">
            	<app-market-chart  (marketScannerChartData)="getMarketScannerChartData($event)"  (sendChartClickEvent)="getChartClickEvent($event)"></app-market-chart>
            </div>
            <!-- COLUMN RIGHT -->
            <div class="col-12 col-lg-auto pt-0 pt-sm-3">
            	<app-sectors-panel [marketScannerDataDataModel]="marketScannerDataDataModel"  [chartClickSelectedData]="chartClickSelectedData"></app-sectors-panel>
            </div>
        </div>
        <!-- DISCLAIMER -->
        <div class="row mt-4">
            <div class="col-12">
                <app-disclaimer></app-disclaimer>
            </div>
        </div>
    </div>
</section>