@import 'src/styles/variables';

//********** APP HEADERS **********//
.app-header-bottom {
	min-height:96px;
	background-color:$white;
	border-bottom:1px solid $border-color;
	

	@media (max-width: 960px) {
			display:none;
	}
	
}

// COMPONENT -- Stock Details
.page-details-component {
	@media (max-width: 1120px) {
		max-width:100%;
	}
	.overflow-scroll {
		.detail-block {
			&.block--powerbar {
				@media (max-width:576px) {
					padding:5px 15px 0;
				}
			}
			&.block--ticker {
				padding-left:5px;
				max-width:250px;
				min-width:120px;
			}
		}
	}
	.detail-block {
		padding:13px 15px 0;
		min-width:175px;
		border-left:1px solid rgba(74,81,100,0.15);
		color: #101629;
		min-height: 96px;

		h4 {
			font-weight:700;
			font-size: .625em;
			color: #4A5164;
			line-height:1.25;
			text-transform:uppercase;
			margin-bottom: .5rem;
		}
		.btn {
			&.info-icon {
				position: absolute;
			    top: 8px;
			    right: 8px;
			    z-index: 100;
			    border-radius: 24px;
			    padding: 0 4px;

				i {
					font-size:1.2em;
				}
			}
			&:focus {
		    	background-color:$bg-lighter;
		    }
		}
		&.block--ticker {
			border-right:1px solid $border-color;
			border-left:0;
			padding-top:0;
			padding-left:10px;
			padding-right:10px;
			justify-content:center;
			height:100%;
			max-width:340px;
			min-width:110px;

			.ticker {
				font-size:2.15em;
				font-weight:700;
				line-height:1.05;
				margin-right:5px;

				@media (max-width:576px) {
					font-size:2em;
				}
			}
			.company-name-wrapper {
				max-width:220px;

				@media (max-width:576px) {
					max-width:180px;
				}
			}
			.company-name {
				font-size:1em;
				line-height:1.15;
				font-weight:300;

				@media (max-width:576px) {
					font-size:.875em;
				}
			}
			.btn-large {
				padding:.375rem .5rem;
				border-radius:25px;
			}
		}
		&.block--rating {
			border-left:0px;
			padding-right:10px;
			padding-top:0;
			.power-gauge-arc {
				height:38px;
				margin-bottom:4px;
				@media (max-width:576px) {
					height:34px;
				}
			}
			.power-gauge-label {
				color:#4A5164;
				font-weight:700;
				font-size: 15px;
				text-align: center;	
				text-transform:uppercase;
				line-height:1.2;
				@media (max-width:576px) {
					font-size: 14px;
					white-space: nowrap;
				}		
			}			
		}
		&.block--powerbar {
			min-height: auto;
			@media (max-width:576px) {
				padding:0px 10px 10px;
				.info-icon {
					display: none;
				}
			}
			.powerbar-wrapper {
    			min-width: 220px;
    			padding-top:5px;
			}
		}
		&.block--list-dropdown {
			border-left:0;
			min-height: auto;

			@media (max-width:576px) {
				padding:10px 10px 5px;
			}
			.list-select-dropdown {
				flex-grow:1;
				min-height:40px;
				.list-selection-button {
					width: 100%;
					font-size:16px;
					line-height:1.25;
					min-height:40px;
    				min-width: 250px;
    				text-align: left;
    				white-space: normal;

    				.count {
    					font-weight:700;
    					padding:0 6px;
    				}
    				&:focus {
				    	background-color:rgba(115,153,184,0.1);
				    	// color:#ffffff;
				    }
				}
				.dropdown-menu--list-selection {
					.dropdown-item {
						.dropdown-item-actions {
							min-width:83px;
						}
					}
					@media screen and (max-width: 576px){
						max-height: calc(100vh - 250px);
					}
				}
			}
		}
		&.block--list-actions {
			width:236px;
			padding: 10px 0;
			.btn {
				i {
					line-height:1;
				}
				width:112px;
				align-items: center;
				margin-right:4px;
				font-size:.8125em;
			}
		}
		&.block--earnings {
			min-width:190px;
		}
		&.block--auto {
			min-width:auto;
		}
		.price {
			font-size:1.4em;
			font-weight:400;
			line-height:1.15;
		}
		.change {
			font-size:1em;
			margin-right:1.15em;
			font-weight:400;
			line-height:1.5;
			white-space:nowrap;
		}
		.time-stamp {
			opacity: 0.75;
			font-weight:300;
			font-size: .625em;
			line-height:1.25;
		}
		.detail-icon {
			font-size:20px;
			padding:0 8px 0 0px;
			line-height:1;
			padding-bottom:0.25em;
		}
		.industry-icon {
			margin-right:8px;
		}
		.detail-data {
			font-size:.85em;
			font-weight:400;
			line-height:1.4;
			padding-bottom:0.25em;
		}
		.no-value {
			font-size: .875em;
			color:$text-color-a50;
			font-style: italic;
		}
	}
	.list-select-dropdown {
		.dropdown-menu--list-selection {
			@media screen and (max-width: 576px){
				max-height: calc(100vh - 256px);
			}
		}
	}
}

#createPortfolioListContainer .list-container{
	display: inherit!important;
	padding: 0px 2px 2px 2px !important;
  }
  .pointer {
	cursor: pointer;
  }

  .popup-component {
    padding: 0 1px;
    border-radius: 3px;
   // background-color: $navy--alpha-90;
    z-index: 9000;
    max-width: 340px;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    &.popup-component--addto {
        width: 300px;
        .list-container {
            flex-flow: column;
            padding: 0px 2px 2px 2px;
        }
    }
    &.popup-component--info {
        .text-area {
            font-size: 14px;
            p {
                font-size: 14px;
            }
            a {
                display: inline-block;
                padding-top: 10px;
            }
        }
    }
    .text-area {
        background-color: white;
        padding: 10px 15px 15px;
        font-size: 12px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p {
            font-size: 12px;
            text-align: left;
            font-weight: 400;
        }
    }
    .dialog-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        height: 30px;
        h6 {
           // color: $pw-accent;
            margin-left: 15px;
            font-size: 12px;
            margin-top: 0;
        }
        .mat-icon {
          //  color: $white;
            cursor: pointer;
            font-size: 18px;
            height: 19px;
            right: 0;
        }
    }
    .dialog-body {
        background-color: white;
        margin-bottom: 1px;
        border-radius: 2px;
        .sub-text {
            font-size: 10px;
            text-transform: italic;
            font-weight: 300;
           // color: $font-color-tertiary;
        }
    }
    .popup-body {
        padding: 0px 2px 2px 2px;
    }
    .list-container {
        padding: 0px 2px 2px 2px;
        overflow: hidden;
        .action-options {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            padding: 0 2px 0 15px;
            height: 40px;
            font-size: 14px;
           // color: $link-primary;
          //  border-bottom: 1px solid $card-border;
            cursor: pointer;
          //  background-color: $white;
        }
        .watchlist-options {
            height: 220px;
            overflow-x: hidden;
            overflow-y: scroll;
           // color: $font-color-main;
           // background-color: $white;
            .search-list-item {
                padding: 1px 0;
              //  border-bottom: 1px solid $card-border;
                cursor: pointer;
                font-size: 14px;
                font-weight: 400;
                padding: 0;
                height: 40px;
                text-align: left;
              //  background-color: $white;
                &:nth-child(even) {
                 //   background-color: $striped;
                }
                &:hover {
               //     background-color: $bg-light;
                }
                .mat-list-item-content {
                    padding: 0;
                }
                .item-container {
                    padding: 0 2px 0 15px;
                    text-align: left;
                    justify-content: flex-start;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    height: 100%;
                    cursor: pointer;
                }
            }
        }
    }
}

.backgroundRed {
background: red;
}
.backgroundGreen {
	background: green;
}

