<section
  class="container-fluid d-flex p-0 align-items-center app-header-bottom"
>
  <div class="container px-0 page-details-component">
    <div class="row g-0">
      <!------- *IF --------- Report --------------->
      <!-- COL --- Static Cols -->
      <div class="col-auto d-flex" *ngIf="!showDashboardHeader">
        <!-- Detail Block - RATING -->
        <div
          class="d-none d-sm-flex flex-column justify-content-center align-items-center detail-block block--rating block--auto"
        >
          <img class="power-gauge-arc" [src]="headerDataModel.pgrImageSrc" />
          <span class="power-gauge-label">{{
            headerDataModel.ratingType
          }}</span>
        </div>
        <!-- Detail Block - STOCK TICKER/COMPANY -->
        <div
          class="d-none d-sm-flex flex-column detail-block block--ticker block--auto"
        >
          <div class="d-flex flex-row">
            <span class="ticker me-1">{{ headerDataModel.symbol }}</span>
            <!-- Add ticker to list Button + Dropdown -->
            <div
              class="d-flex dropdown list-select-dropdown"
              *ngIf="userAccess.userPermission.dashboard"
            >
              <!-- Add to list button -->
              <button
                class="btn btn-large d-inline-flex print-hide"
                id="dropdownAddToListButton"
                *ngIf="selectedListIdData != undefined"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-reference="parent"
              >
                <i class="bi bi-plus-circle icon-large"></i>
              </button>
              <!-- Dropdown List -->
              <ul
                class="dropdown-menu dropdown-menu--list-selection"
                aria-labelledby="dropdownAddToListButton"
              >
                <li class="d-flex dropdown-header">
                  <h3>Add symbol to...</h3>
                </li>
                <li
                  class="d-flex dropdown-item"
                  (click)="createNewList($event, headerDataModel.symbol)"
                >
                  <i class="bi bi-file-earmark-plus me-2"></i
                  ><span class="list-name" href="#">Create new list...</span>
                </li>
                <li
                  class="d-flex dropdown-item"
                  *ngFor="
                    let watchlistData of watchlistDataModel.data;
                    let i = index
                  "
                >
                  <span
                    class="list-name"
                    href="#"
                    (click)="
                      addTickerIntoList(headerDataModel.symbol, watchlistData)
                    "
                    >{{ watchlistData.listName }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex flex-row company-name-wrapper pt-1">
            <span class="company-name">{{ headerDataModel.name }}</span>
          </div>
        </div>
        <!-- Add ticker to list Button + Dropdown -->
        <div
          class="d-flex d-sm-none dropdown list-select-dropdown align-items-center"
          *ngIf="userAccess.userPermission.dashboard"
        >
          <!-- Add to list button -->
          <button
            class="btn btn-large d-inline-flex print-hide"
            id="dropdownAddToListButton"
            *ngIf="selectedListIdData != undefined"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-bs-reference="parent"
          >
            <i class="bi bi-plus-circle icon-large"></i>
          </button>
          <!-- Dropdown List -->
          <ul
            class="dropdown-menu dropdown-menu--list-selection"
            aria-labelledby="dropdownAddToListButton"
          >
            <li class="d-flex dropdown-header">
              <h3>Add symbol to...</h3>
            </li>
            <li
              class="d-flex dropdown-item"
              (click)="createNewList($event, headerDataModel.symbol)"
            >
              <i class="bi bi-file-earmark-plus me-2"></i
              ><span class="list-name" href="#">Create new list...</span>
            </li>
            <li
              class="d-flex dropdown-item"
              *ngFor="
                let watchlistData of watchlistDataModel.data;
                let i = index
              "
            >
              <span
                class="list-name"
                href="#"
                (click)="
                  addTickerIntoList(headerDataModel.symbol, watchlistData)
                "
                >{{ watchlistData.listName }}</span
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- COL --- Scrolling Cols -->
      <div
        class="col d-flex position-relative overflow-hidden"
        *ngIf="!showDashboardHeader"
      >
        <!-- MOBILE TOOLTIP FLAG -->
        <div
          class="ui-tooltip-wrapper d-sm-none d-print-none"
          id="tooltip-flag--scrollRight"
          style="right: 17px"
          *ngIf="mobileTooltipFlag"
          (clickOutside)="onClickedOutside($event)"
        >
          <div class="ui-tooltip-container">
            <div class="tooltip-body">
              <span class="tooltip-text"
                >Scroll right for<br />more details.</span
              >
            </div>
            <div class="tooltip-caret-wrapper tooltip-caret-right">
              <span class="tooltip-caret"></span>
            </div>
          </div>
        </div>
        <div
          class="position-absolute scroll-shadow scroll-shadow--left d-lg-none d-print-none"
        ></div>
        <div
          class="position-absolute scroll-shadow scroll-shadow--right d-lg-none d-print-none"
        ></div>
        <div class="d-flex flex-row overflow-scroll flex-grow-1">
          <!-- Detail Block - RATING -->
          <div
            class="d-flex d-sm-none flex-column justify-content-center align-items-center detail-block block--rating block--auto"
          >
            <img class="power-gauge-arc" [src]="headerDataModel.pgrImageSrc" />
            <span class="power-gauge-label">{{
              headerDataModel.ratingType
            }}</span>
          </div>
          <!-- Detail Block - STOCK TICKER/COMPANY -->
          <div class="d-flex d-sm-none flex-column detail-block block--ticker">
            <div class="d-flex flex-row">
              <span class="ticker">{{ headerDataModel.symbol }}</span>
            </div>
            <div class="d-flex flex-row company-name-wrapper pt-1">
              <span class="company-name">{{ headerDataModel.name }}</span>
            </div>
          </div>
          <!-- Detail Block - PRICE -->
          <div class="d-flex flex-column detail-block border-0">
            <div class="d-flex flex-row">
              <span class="price">{{
                headerDataModel.lastFormattedString
              }}</span>
            </div>
            <div class="d-flex flex-row pt-1">
              <span
                class="change"
                [ngClass]="headerDataModel.percentageChangeColor"
                >{{ headerDataModel.changeFormattedString }}</span
              >
              <span
                class="change"
                [ngClass]="headerDataModel.percentageChangeColor"
                ><em>
                  {{ headerDataModel.percentageChangeFormattedString }}</em
                ></span
              >
            </div>
            <div class="d-flex flex-row pt-1">
              <span class="time-stamp">{{ headerDataModel.reportDate }}</span>
            </div>
          </div>
          <!-- Detail Block - INDUSTRY -->
          <div
            class="d-flex flex-column detail-block position-relative"
            *ngIf="!headerDataModel.isEtf"
          >
            <div class="d-flex flex-row">
              <h6>Industry</h6>
            </div>
            <div class="d-flex flex-row align-items-center">
              <span class="d-inline-flex industry-icon">
                <img
                  height="22px"
                  width="22px"
                  [ngClass]="headerDataModel.svgColorSet"
                  src="{{ headerDataModel.imgSrcBind }}"
                />
                <!-- <i class="bi bi-building"></i> -->
              </span>
              <span class="d-inline-flex">
                <span class="detail-data">{{ headerDataModel.industry }}</span>
              </span>
            </div>
            <button
              type="button"
              class="btn border-0 info-icon"
              data-bs-container="body"
              data-bs-toggle="popover"
              data-bs-placement="bottom"
              id="industryDescription"
              (click)="
                openQuickDescriptionPopup(
                  wordpressIdMapping.Industry,
                  'industry',
                  $event
                )
              "
            >
              <i class="bi bi-question-circle"></i>
            </button>
            <div
              #qickDescriptionPopup
              *ngIf="showQuickScanDescription"
              class="info-tool-tip"
              [style.top.px]="createQickDescriptionYPosition"
              [style.left.px]="createQickDescriptionXPosition"
              [style.position]="'fixed'"
            >
              <app-quick-description
                [id]="quickDescriptionId"
                [defaultTextForPopup]="quickDescriptionDefaultText"
                (messageToClose)="onCloseQuickDescriptionPopupEvent()"
              >
              </app-quick-description>
            </div>
          </div>
          <!-- Detail Block - EARNINGS -->
          <div
            class="d-flex flex-column detail-block flex-grow-1 block--earnings"
            *ngIf="!headerDataModel.isEtf"
          >
            <div class="d-flex flex-row">
              <h6>Earnings</h6>
            </div>
            <div
              class="d-flex flex-row align-items-center"
              *ngIf="epsInfoDialogueValue == 4 || !epsInfoDialogueValue"
            >
              <span class="d-flex flex-row">
                <span class="no-value"> No Earnings Data</span>
              </span>
            </div>
            <div class="d-flex flex-row align-items-center">
              <span
                class="d-inline-flex detail-icon"
                *ngIf="epsInfoDialogueValue != 1 && epsInfoDialogueValue != 4"
              >
                <i class="bi bi-cash-coin"></i>
              </span>
              <span
                class="d-inline-flex detail-icon"
                *ngIf="epsInfoDialogueValue == 1 && epsInfoDialogueValue != 4"
                [ngClass]="{
                  down: splittedText[0] == 'missed',
                  up: splittedText[0] == 'beat'
                }"
              >
                <i class="bi bi-cash-coin"></i>
              </span>
              <span
                class="d-inline-flex flex-column"
                *ngIf="epsInfoDialogueValue != 1 && epsInfoDialogueValue != 4"
              >
                <span class="detail-data"
                  >Reports: <b>{{ headerDataModel.nextReportDate }}</b></span
                >
                <span class="detail-data"
                  >Q{{ headerDataModel.currentQuarter }} Est.
                  <b class="">{{
                    headerDataModel.currentQuarterConsensusEstimate
                  }}</b></span
                >
              </span>
              <span
                class="d-inline-flex flex-column"
                *ngIf="epsInfoDialogueValue == 1 && epsInfoDialogueValue != 4"
              >
                <span class="detail-data"
                  >Reported: <b>{{ headerDataModel.lastReportDate }}</b></span
                >
                <span class="detail-data">
                  Estimate:
                  <b
                    [ngClass]="{
                      down: splittedText[0] == 'missed',
                      up: splittedText[0] == 'beat'
                    }"
                    >{{ headerDataModel.epsDiffDescription }}</b
                  ></span
                >
              </span>
            </div>
          </div>
          <!-- Detail Block - POWERBAR -->
          <div
            class="d-flex flex-column detail-block block--powerbar w-100 position-relative"
            *ngIf="headerDataModel.isEtf && headerDataModel.pgr > 0"
          >
            <div class="d-flex flex-row">
              <h6>Chaikin Power Bar</h6>
            </div>
            <div class="d-flex flex-row align-items-center powerbar-wrapper">
              <span
                class="d-inline-flex powerbar-cell powerbar-cell--bearish"
                [style.width.%]="headerDataModel.bearishPerCountStyle"
              >
                <span class="powerbar-count">{{ headerDataModel.red }}</span>
                <span class="powerbar-label">Bearish</span>
              </span>
              <span
                class="d-inline-flex powerbar-cell powerbar-cell--neutral"
                [style.width.%]="headerDataModel.neutralPerCountStyle"
              >
                <span class="powerbar-count">{{ headerDataModel.yellow }}</span>
              </span>
              <span
                class="d-inline-flex powerbar-cell powerbar-cell--bullish"
                [style.width.%]="headerDataModel.bullishPerCountStyle"
              >
                <span class="powerbar-count">{{ headerDataModel.green }}</span>
                <span class="powerbar-label">Bullish</span>
              </span>
            </div>
            <button
              type="button"
              class="btn border-0 info-icon"
              data-bs-container="body"
              data-bs-toggle="popover"
              data-bs-placement="bottom"
              data-bs-content=""
              data-bs-original-title=""
              title=""
              id="powerBarDescription"
              (click)="
                openQuickDescriptionPopup(
                  wordpressIdMapping.Chaikin_Power_Bar,
                  'chaikin_power_bar',
                  $event
                )
              "
            >
              <i class="bi bi-question-circle"></i>
            </button>
            <div
              #qickDescriptionPopup
              style="z-index: 100"
              *ngIf="showQuickScanDescription"
              class="info-tool-tip"
              [style.top.px]="createQickDescriptionYPosition"
              [style.left.px]="createQickDescriptionXPosition"
              [style.position]="'fixed'"
            >
              <app-quick-description
                [id]="quickDescriptionId"
                [defaultTextForPopup]="quickDescriptionDefaultText"
                (messageToClose)="onCloseQuickDescriptionPopupEvent()"
              >
              </app-quick-description>
            </div>
          </div>
          <!-- Detail Block - ALERTS -->
          <!-- <div class="d-flex flex-column detail-block" *ngIf="false">
                  <div class="d-flex flex-row">
                     <h6>Alerts</h6>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                     <span class="d-inline-flex detail-icon grey">
                        <i class="bi bi-bell"></i>
                     </span> 
                     <span class="d-inline-flex">
                        <span class="detail-data"><em>No recent alerts</em></span>
                     </span>
                  </div>
               </div> -->
          <!-- Detail Block - PRINT -->
          <div
            class="d-none d-sm-flex flex-row justify-content-center px-1 detail-block block--auto print-hide"
          >
            <button class="btn btn-label-large" onclick="window.print()">
              <span class="d-inline-flex icon-large"
                ><i class="bi bi-printer"></i
              ></span>
              <span class="d-inline-flex button-label">Print Report</span>
            </button>
          </div>
        </div>
      </div>

      <!------- *IF -------- Dashboard ---------------->
      <!-- COL - List Details -->
      <div class="col d-flex p-sm-3 p-md-0" *ngIf="showDashboardHeader">
        <!-- Detail Block - LIST DROPDOWN -->
        <div class="d-flex flex-column w-100 detail-block block--list-dropdown">
          <div class="d-none d-sm-flex flex-row ps-1">
            <h6>My List Selection</h6>
          </div>
          <div class="d-flex flex-row align-items-center">
            <!-- List Select Dropdown -->
            <div class="btn-group list-select-dropdown">
              <button
                type="button"
                class="btn border list-selection-button justify-content-between dropdown-toggle"
                *ngIf="selectedListIdData != undefined"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-reference="parent"
              >
                <span
                  class="d-flex me-1"
                  style="margin-right: auto !important"
                  >{{ selectedListIdData.listName }}</span
                ><span class="d-flex count"
                  >({{ selectedListIdData.symbolCount }})</span
                >
              </button>
              <ul
                class="dropdown-menu dropdown-menu--list-selection"
                aria-labelledby="dropdownMenuReference"
              >
                <li class="d-flex dropdown-header">
                  <h3>Chaikin Lists</h3>
                </li>
                <li
                  class="d-flex dropdown-item"
                  (click)="redirectOnPgr('Recently Viewed')"
                  *ngIf="recentSearchs !== null"
                >
                  <i class="bi bi-arrow-up-right-square me-2"></i
                  ><a class="list-name">Recently Viewed</a>
                  <span class="flex-spacer"></span>
                  <span class="d-flex flex-row dropdown-item-actions">
                    <button
                      class="btn border-0"
                      type="button"
                      matTooltip="Clear recents"
                      matTooltipClass="action-tooltip"
                      matTooltipPosition="left"
                      (click)="clearRecentSearch($event)"
                    >
                      <i class="bi bi-arrow-clockwise"></i>
                    </button>
                  </span>
                </li>
                <li
                  class="d-flex dropdown-item"
                  *ngFor="
                    let watchlistData of pulseChaikinDataModel.data;
                    let i = index
                  "
                >
                  <span
                    class="list-name"
                    (click)="loadWatchlistData(watchlistData)"
                    >{{ watchlistData.listName }}</span
                  >
                  <span class="flex-spacer"></span>
                  <span
                    class="count px-2 fw-bold"
                    matTooltip="List assets"
                    matTooltipClass="action-tooltip"
                    matTooltipPosition="left"
                    >({{ watchlistData.symbolCount }})</span
                  >
                  <span class="d-flex flex-row dropdown-item-actions"></span>
                </li>
                <li class="d-flex dropdown-header">
                  <h3>{{ watchlistDataModel.title }}</h3>
                </li>
                <li
                  class="d-flex dropdown-item"
                  *ngFor="
                    let watchlistData of watchlistDataModel.data;
                    let i = index
                  "
                >
                  <span
                    class="list-name"
                    (click)="loadWatchlistData(watchlistData)"
                    >{{ watchlistData.listName }}</span
                  >
                  <span class="flex-spacer"></span>
                  <span
                    class="count px-2 fw-bold"
                    matTooltip="List assets"
                    matTooltipClass="action-tooltip"
                    matTooltipPosition="left"
                    >({{ watchlistData.symbolCount }})</span
                  >
                  <span class="d-flex flex-row dropdown-item-actions">
                    <button
                      class="btn border-0"
                      type="button"
                      (click)="editList($event, watchlistData)"
                      matTooltip="Edit list name"
                      matTooltipClass="action-tooltip"
                      matTooltipPosition="left"
                    >
                      <i
                        class="bi bi-pencil"
                        *ngIf="
                          watchlistData.listName != 'My Stocks' &&
                          !watchlistData.priorityList
                        "
                      ></i>
                    </button>
                    <button
                      class="btn border-0"
                      type="button"
                      (click)="deleteList($event, watchlistData)"
                      matTooltip="Delete this list"
                      matTooltipClass="action-tooltip"
                      matTooltipPosition="left"
                    >
                      <i
                        class="bi bi-trash"
                        *ngIf="
                          watchlistData.listName != 'My Stocks' &&
                          !watchlistData.priorityList
                        "
                      ></i>
                    </button>
                  </span>
                </li>
              </ul>
            </div>
            <!-- List Actions Menus -->
            <div class="dropdown list-dropdown">
              <button
                class="btn border btn-border-large ms-1"
                type="button"
                id="dropdownActionsButton"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-plus-lg"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownActionsButton">
                <li (click)="openPopupToAddSymbolsInList($event)">
                  <span class="dropdown-item" href="#"
                    ><i class="bi bi-plus-circle me-2"></i>Add a symbol to this
                    list</span
                  >
                </li>
                <li (click)="createNewList($event)">
                  <span class="dropdown-item" href="#"
                    ><i class="bi bi-file-earmark-plus me-2"></i>Create a new
                    list</span
                  >
                </li>
                <li (click)="openCreateDuplicateWP(watchlistData)">
                  <span class="dropdown-item" href="#"
                    ><i class="bi bi-files me-2"></i>Duplicate this list</span
                  >
                </li>
              </ul>
            </div>
            <!-- Email Alerts On/Off Tggle -->
            <span
              class="ms-1 toggle-checkbox-button"
              for="flexSwitchCheckDefault"
            >
              <input
                #flexSwitchCheckDefault
                type="checkbox"
                class="btn-check"
                id="btn-check-outlined"
                [checked]="saveUsername"
                (change)="addListForEnableAlert(flexSwitchCheckDefault.checked)"
              />
              <label
                class="btn border btn-large btn-outline-primary"
                for="btn-check-outlined"
              >
                <i
                  class="icon-large icon-large--off bi bi-envelope"
                  matTooltip="Email Alerts Off"
                  matTooltipClass="action-tooltip"
                  matTooltipPosition="below"
                ></i>
                <i
                  class="icon-large icon-large--on bi bi-envelope-fill"
                  matTooltip="Email Alerts On"
                  matTooltipClass="action-tooltip"
                  matTooltipPosition="below"
                ></i>
              </label>
            </span>
          </div>
        </div>
      </div>
      <!-- COL - PowerBar -->
      <div class="col d-flex p-sm-3 p-md-0" *ngIf="showDashboardHeader">
        <!-- Detail Block - POWERBAR -->
        <div
          class="d-flex flex-column position-relative w-100 detail-block block--powerbar"
        >
          <div class="d-none d-sm-flex flex-row">
            <h6>Chaikin Power Bar</h6>
          </div>
          <div class="d-flex flex-row align-items-center powerbar-wrapper">
            <span
              class="d-inline-flex powerbar-cell powerbar-cell--bearish"
              [ngClass]="
                arrayOfPowerBar[0].count === 0 ? 'bearishBullish_PowerBar' : ''
              "
              *ngIf="arrayOfPowerBar[0]"
              [style.width.%]="bearishPerCountStyle"
            >
              <span class="powerbar-count">{{ arrayOfPowerBar[0].count }}</span>
              <span
                class="powerbar-label"
                *ngIf="arrayOfPowerBar[0].count !== 0"
                >Bearish</span
              >
            </span>
            <span
              class="d-inline-flex powerbar-cell powerbar-cell--neutral"
              *ngIf="arrayOfPowerBar[0]"
            >
              <span class="powerbar-count">{{ arrayOfPowerBar[2].count }}</span>
            </span>
            <span
              class="d-inline-flex powerbar-cell powerbar-cell--bullish"
              [ngClass]="
                arrayOfPowerBar[1].count === 0 ? 'bearishBullish_PowerBar' : ''
              "
              *ngIf="arrayOfPowerBar[0]"
              [style.width.%]="bullishPerCountStyle"
            >
              <span class="powerbar-count">{{ arrayOfPowerBar[1].count }}</span>
              <span
                *ngIf="arrayOfPowerBar[1].count !== 0"
                class="powerbar-label"
                >Bullish</span
              >
            </span>
            <button
              type="button"
              class="btn border-0 info-icon"
              data-bs-container="body"
              data-bs-toggle="popover"
              data-bs-placement="bottom"
              data-bs-content=""
              data-bs-original-title=""
              title=""
              id="powerBarDescription"
              (click)="
                openQuickDescriptionPopup(
                  wordpressIdMapping.Chaikin_Power_Bar,
                  'chaikin_power_bar',
                  $event
                )
              "
            >
              <i class="bi bi-question-circle"></i>
            </button>
            <div
              #qickDescriptionPopup
              style="z-index: 100"
              *ngIf="showQuickScanDescription"
              class="quickDescription"
              [style.top.px]="createQickDescriptionYPosition"
              [style.left.px]="createQickDescriptionXPosition"
              [style.position]="'fixed'"
            >
              <app-quick-description
                [id]="quickDescriptionId"
                [defaultTextForPopup]="quickDescriptionDefaultText"
                (messageToClose)="onCloseQuickDescriptionPopupEvent()"
              >
              </app-quick-description>
            </div>
          </div>
        </div>
      </div>
      <!-- COL - List Actions -->
      <div
        class="col-auto d-flex justify-content-center align-items-center"
        *ngIf="showDashboardHeader"
      >
        <div
          class="d-none d-lg-flex flex-row flex-wrap detail-block block--list-actions"
        >
          <button
            class="btn border-0"
            type="button"
            (click)="editList($event, selectedListIdData)"
          >
            <i class="bi bi-pencil me-2"></i>Edit name
          </button>
          <button
            class="btn border-0"
            type="button"
            (click)="deleteList($event, selectedListIdData)"
          >
            <i class="bi bi-trash me-2"></i>Delete list
          </button>
          <button
            class="btn border-0"
            type="button"
            (click)="createNewList($event)"
          >
            <i class="bi bi-file-earmark-plus me-2"></i>Create a list
          </button>
          <button
            class="btn border-0"
            type="button"
            (click)="getListSymbolsData('export')"
          >
            <i class="bi bi-download me-2"></i>Export list
          </button>
        </div>
        <!-- Detail Block - Export -->
        <div
          class="d-none d-md-flex d-lg-none flex-row justify-content-center align-items-center px-1 py-0 detail-block block--auto"
        >
          <button class="btn btn-label-large">
            <span class="d-inline-flex icon-large"
              ><i class="bi bi-download"></i
            ></span>
            <span class="d-inline-flex button-label">Export List</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
