@import 'src/styles/variables';

#component-pub-panel {
	.pub-wrapper {
		.pub-header {
		}
		.pub-body {
			.post-copy {
				font-size: 14px;
				line-height: 1.4;
				p {
					// SEE HARD OVERWRITE CSS
				}
				a {
					// SEE HARD OVERWRITE CSS
				}
			}
		}
	}
}

.component-pub-panel {

}