<!-- SECTION: Publication Panel -->
<section id="component-pub-panel" class="component-pub-panel">
  <!-- Panel: C -->
  <div class="panel c-panel">
    <div class="d-flex flex-column align-items-center">
      <!-- ROW: Panel Header -->
      <div class="panel-header">
        <span class="header-icon"><i class="bi bi-rss mx-2"></i></span>
        <h3>PowerFeed</h3>
        <span class="flex-spacer"></span>
        <a
          href="https://chaikinpowerfeed.com/category/archive/"
          target="_blank"
          class="text-link link-lighter me-2"
          >See all articles »</a
        >
      </div>

      <!-- ROW: Panel Body -->
      <!-- <div class="panel-body">
        <div class="pub-wrapper">
          <div class="pub-header">
            <h1 class="mt-2">
              {{ powerFeedData?.postTitle }}
            </h1>
            <h4 class="mb-2"> -->
      <!-- {{ powerFeedData?.postAuthor }}&nbsp; // &nbsp; -->
      <!-- <i><b>PowerFeed</b></i
              >&nbsp; // &nbsp;{{ powerFeedData?.postDate }}
            </h4>
          </div>
        </div>
      </div> -->

      <!-- ROW: Panel Body -->
      <div class="panel-body">
        <div class="pub-wrapper">
          <div class="pub-header">
            <h1 class="mt-2" style="text-decoration: none;">
              {{ powerFeedData?.postTitle }}
            </h1>
            <p
              [innerHTML]="convertStringToHTML(powerFeedData?.postContent)"
            ></p>
            <h4 class="mb-2">
              <!-- {{ powerFeedData?.postAuthor }}&nbsp; // &nbsp; -->
              <i><b>PowerFeed</b></i
              >&nbsp; // &nbsp;{{ powerFeedData?.postDate }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Panel: C -->
  <div class="panel c-panel" *ngIf="userAccess.userPermission.issuesAndUpdates">
    <div class="d-flex flex-column align-items-center">
      <!-- ROW: Panel Header -->
      <div class="panel-header">
        <span class="header-icon"><i class="bi bi-newspaper mx-2"></i></span>
        <h3>Issues & Updates</h3>
        <span class="flex-spacer"></span>
        <span class="time-stamp me-2">{{
          powerFeedInsightDataObject.formattedDate
        }}</span>
      </div>

      <!-- ROW: Panel Body -->
      <div class="panel-body">
        <div
          *ngFor="let issuesAndUpdatesData of issuesAndUpdatesDataList;"
          class="pub-wrapper"
        >
          <div class="pub-header">
            <h4>
              <i
                ><b *ngIf="issuesAndUpdatesData?.publicationName === 'Market Insights'">{{
                  issuesAndUpdatesData?.publicationName
                }}</b>
                
                <b *ngIf="issuesAndUpdatesData?.publicationName !== 'Market Insights'">{{
                  getPublicationFullName(issuesAndUpdatesData?.publicationName)
                }}</b>
                </i
              >
              &nbsp;&nbsp;//&nbsp;&nbsp;
              {{ issuesAndUpdatesData?.publicationDate }}
            </h4>
            <h2>
              <a [href]="issuesAndUpdatesData?.publicationLink" [innerHTML]="issuesAndUpdatesData?.publicationTitle">
              </a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
