<mat-form-field appearance="fill">
    <!-- <mat-label>Choose an option</mat-label> -->
    <select matNativeControl (change)="onChange($event.target.value)">
      <option *ngFor="let option of data" [value]="option.id" [selected]="option.defaultStatus === 1">{{option.name}}</option>
    </select>
</mat-form-field>